<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcitc.mapper.expenses.ExpensesBillsItemMapper">
  <resultMap id="BaseResultMap" type="com.pcitc.base.stp.expenses.ExpensesBillsItem">
    <id column="data_id" jdbcType="VARCHAR" property="dataId" />
    <result column="billCode" jdbcType="VARCHAR" property="billcode" />
    <result column="expTypeCode" jdbcType="VARCHAR" property="exptypecode" />
    <result column="expTypeName" jdbcType="VARCHAR" property="exptypename" />
    <result column="expTypeFourth" jdbcType="VARCHAR" property="exptypefourth" />
    <result column="expTypeFourthName" jdbcType="VARCHAR" property="exptypefourthname" />
    <result column="suppCode" jdbcType="VARCHAR" property="suppcode" />
    <result column="suppName" jdbcType="VARCHAR" property="suppname" />
    <result column="expAmount" jdbcType="VARCHAR" property="expamount" />
    <result column="currentAmount" jdbcType="VARCHAR" property="currentamount" />
    <result column="data_code" jdbcType="VARCHAR" property="dataCode" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_user_id" jdbcType="VARCHAR" property="createUserId" />
    <result column="create_date" jdbcType="VARCHAR" property="createDate" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_date" jdbcType="VARCHAR" property="updateDate" />
    <result column="sts" jdbcType="VARCHAR" property="sts" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="bak1" jdbcType="VARCHAR" property="bak1" />
    <result column="bak2" jdbcType="VARCHAR" property="bak2" />
    <result column="bak3" jdbcType="VARCHAR" property="bak3" />
    <result column="bak4" jdbcType="VARCHAR" property="bak4" />
    <result column="bak5" jdbcType="VARCHAR" property="bak5" />
    <result column="bak6" jdbcType="VARCHAR" property="bak6" />
    <result column="bak7" jdbcType="VARCHAR" property="bak7" />
    <result column="bak8" jdbcType="VARCHAR" property="bak8" />
    <result column="bak9" jdbcType="VARCHAR" property="bak9" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    data_id, billCode, expTypeCode, expTypeName, expTypeFourth, expTypeFourthName, suppCode, 
    suppName, expAmount, currentAmount, data_code, create_user, create_user_id, create_date, 
    update_user, update_date, sts, remarks, bak1, bak2, bak3, bak4, bak5, bak6, bak7, 
    bak8, bak9
  </sql>
  <select id="selectByExample" parameterType="com.pcitc.base.stp.expenses.ExpensesBillsItemExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from expenses_bills_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from expenses_bills_item
    where data_id = #{dataId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from expenses_bills_item
    where data_id = #{dataId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pcitc.base.stp.expenses.ExpensesBillsItemExample">
    delete from expenses_bills_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pcitc.base.stp.expenses.ExpensesBillsItem">
    insert into expenses_bills_item (data_id, billCode, expTypeCode, 
      expTypeName, expTypeFourth, expTypeFourthName, 
      suppCode, suppName, expAmount, 
      currentAmount, data_code, create_user, 
      create_user_id, create_date, update_user, 
      update_date, sts, remarks, 
      bak1, bak2, bak3, bak4, 
      bak5, bak6, bak7, bak8, 
      bak9)
    values (#{dataId,jdbcType=VARCHAR}, #{billcode,jdbcType=VARCHAR}, #{exptypecode,jdbcType=VARCHAR}, 
      #{exptypename,jdbcType=VARCHAR}, #{exptypefourth,jdbcType=VARCHAR}, #{exptypefourthname,jdbcType=VARCHAR}, 
      #{suppcode,jdbcType=VARCHAR}, #{suppname,jdbcType=VARCHAR}, #{expamount,jdbcType=VARCHAR}, 
      #{currentamount,jdbcType=VARCHAR}, #{dataCode,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, 
      #{createUserId,jdbcType=VARCHAR}, #{createDate,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=VARCHAR}, #{sts,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, 
      #{bak1,jdbcType=VARCHAR}, #{bak2,jdbcType=VARCHAR}, #{bak3,jdbcType=VARCHAR}, #{bak4,jdbcType=VARCHAR}, 
      #{bak5,jdbcType=VARCHAR}, #{bak6,jdbcType=VARCHAR}, #{bak7,jdbcType=VARCHAR}, #{bak8,jdbcType=VARCHAR}, 
      #{bak9,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pcitc.base.stp.expenses.ExpensesBillsItem">
    insert into expenses_bills_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dataId != null">
        data_id,
      </if>
      <if test="billcode != null">
        billCode,
      </if>
      <if test="exptypecode != null">
        expTypeCode,
      </if>
      <if test="exptypename != null">
        expTypeName,
      </if>
      <if test="exptypefourth != null">
        expTypeFourth,
      </if>
      <if test="exptypefourthname != null">
        expTypeFourthName,
      </if>
      <if test="suppcode != null">
        suppCode,
      </if>
      <if test="suppname != null">
        suppName,
      </if>
      <if test="expamount != null">
        expAmount,
      </if>
      <if test="currentamount != null">
        currentAmount,
      </if>
      <if test="dataCode != null">
        data_code,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="sts != null">
        sts,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="bak1 != null">
        bak1,
      </if>
      <if test="bak2 != null">
        bak2,
      </if>
      <if test="bak3 != null">
        bak3,
      </if>
      <if test="bak4 != null">
        bak4,
      </if>
      <if test="bak5 != null">
        bak5,
      </if>
      <if test="bak6 != null">
        bak6,
      </if>
      <if test="bak7 != null">
        bak7,
      </if>
      <if test="bak8 != null">
        bak8,
      </if>
      <if test="bak9 != null">
        bak9,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dataId != null">
        #{dataId,jdbcType=VARCHAR},
      </if>
      <if test="billcode != null">
        #{billcode,jdbcType=VARCHAR},
      </if>
      <if test="exptypecode != null">
        #{exptypecode,jdbcType=VARCHAR},
      </if>
      <if test="exptypename != null">
        #{exptypename,jdbcType=VARCHAR},
      </if>
      <if test="exptypefourth != null">
        #{exptypefourth,jdbcType=VARCHAR},
      </if>
      <if test="exptypefourthname != null">
        #{exptypefourthname,jdbcType=VARCHAR},
      </if>
      <if test="suppcode != null">
        #{suppcode,jdbcType=VARCHAR},
      </if>
      <if test="suppname != null">
        #{suppname,jdbcType=VARCHAR},
      </if>
      <if test="expamount != null">
        #{expamount,jdbcType=VARCHAR},
      </if>
      <if test="currentamount != null">
        #{currentamount,jdbcType=VARCHAR},
      </if>
      <if test="dataCode != null">
        #{dataCode,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=VARCHAR},
      </if>
      <if test="sts != null">
        #{sts,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="bak1 != null">
        #{bak1,jdbcType=VARCHAR},
      </if>
      <if test="bak2 != null">
        #{bak2,jdbcType=VARCHAR},
      </if>
      <if test="bak3 != null">
        #{bak3,jdbcType=VARCHAR},
      </if>
      <if test="bak4 != null">
        #{bak4,jdbcType=VARCHAR},
      </if>
      <if test="bak5 != null">
        #{bak5,jdbcType=VARCHAR},
      </if>
      <if test="bak6 != null">
        #{bak6,jdbcType=VARCHAR},
      </if>
      <if test="bak7 != null">
        #{bak7,jdbcType=VARCHAR},
      </if>
      <if test="bak8 != null">
        #{bak8,jdbcType=VARCHAR},
      </if>
      <if test="bak9 != null">
        #{bak9,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pcitc.base.stp.expenses.ExpensesBillsItemExample" resultType="java.lang.Long">
    select count(*) from expenses_bills_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update expenses_bills_item
    <set>
      <if test="record.dataId != null">
        data_id = #{record.dataId,jdbcType=VARCHAR},
      </if>
      <if test="record.billcode != null">
        billCode = #{record.billcode,jdbcType=VARCHAR},
      </if>
      <if test="record.exptypecode != null">
        expTypeCode = #{record.exptypecode,jdbcType=VARCHAR},
      </if>
      <if test="record.exptypename != null">
        expTypeName = #{record.exptypename,jdbcType=VARCHAR},
      </if>
      <if test="record.exptypefourth != null">
        expTypeFourth = #{record.exptypefourth,jdbcType=VARCHAR},
      </if>
      <if test="record.exptypefourthname != null">
        expTypeFourthName = #{record.exptypefourthname,jdbcType=VARCHAR},
      </if>
      <if test="record.suppcode != null">
        suppCode = #{record.suppcode,jdbcType=VARCHAR},
      </if>
      <if test="record.suppname != null">
        suppName = #{record.suppname,jdbcType=VARCHAR},
      </if>
      <if test="record.expamount != null">
        expAmount = #{record.expamount,jdbcType=VARCHAR},
      </if>
      <if test="record.currentamount != null">
        currentAmount = #{record.currentamount,jdbcType=VARCHAR},
      </if>
      <if test="record.dataCode != null">
        data_code = #{record.dataCode,jdbcType=VARCHAR},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserId != null">
        create_user_id = #{record.createUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null">
        update_date = #{record.updateDate,jdbcType=VARCHAR},
      </if>
      <if test="record.sts != null">
        sts = #{record.sts,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks != null">
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.bak1 != null">
        bak1 = #{record.bak1,jdbcType=VARCHAR},
      </if>
      <if test="record.bak2 != null">
        bak2 = #{record.bak2,jdbcType=VARCHAR},
      </if>
      <if test="record.bak3 != null">
        bak3 = #{record.bak3,jdbcType=VARCHAR},
      </if>
      <if test="record.bak4 != null">
        bak4 = #{record.bak4,jdbcType=VARCHAR},
      </if>
      <if test="record.bak5 != null">
        bak5 = #{record.bak5,jdbcType=VARCHAR},
      </if>
      <if test="record.bak6 != null">
        bak6 = #{record.bak6,jdbcType=VARCHAR},
      </if>
      <if test="record.bak7 != null">
        bak7 = #{record.bak7,jdbcType=VARCHAR},
      </if>
      <if test="record.bak8 != null">
        bak8 = #{record.bak8,jdbcType=VARCHAR},
      </if>
      <if test="record.bak9 != null">
        bak9 = #{record.bak9,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update expenses_bills_item
    set data_id = #{record.dataId,jdbcType=VARCHAR},
      billCode = #{record.billcode,jdbcType=VARCHAR},
      expTypeCode = #{record.exptypecode,jdbcType=VARCHAR},
      expTypeName = #{record.exptypename,jdbcType=VARCHAR},
      expTypeFourth = #{record.exptypefourth,jdbcType=VARCHAR},
      expTypeFourthName = #{record.exptypefourthname,jdbcType=VARCHAR},
      suppCode = #{record.suppcode,jdbcType=VARCHAR},
      suppName = #{record.suppname,jdbcType=VARCHAR},
      expAmount = #{record.expamount,jdbcType=VARCHAR},
      currentAmount = #{record.currentamount,jdbcType=VARCHAR},
      data_code = #{record.dataCode,jdbcType=VARCHAR},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      create_user_id = #{record.createUserId,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=VARCHAR},
      update_user = #{record.updateUser,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=VARCHAR},
      sts = #{record.sts,jdbcType=VARCHAR},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      bak1 = #{record.bak1,jdbcType=VARCHAR},
      bak2 = #{record.bak2,jdbcType=VARCHAR},
      bak3 = #{record.bak3,jdbcType=VARCHAR},
      bak4 = #{record.bak4,jdbcType=VARCHAR},
      bak5 = #{record.bak5,jdbcType=VARCHAR},
      bak6 = #{record.bak6,jdbcType=VARCHAR},
      bak7 = #{record.bak7,jdbcType=VARCHAR},
      bak8 = #{record.bak8,jdbcType=VARCHAR},
      bak9 = #{record.bak9,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pcitc.base.stp.expenses.ExpensesBillsItem">
    update expenses_bills_item
    <set>
      <if test="billcode != null">
        billCode = #{billcode,jdbcType=VARCHAR},
      </if>
      <if test="exptypecode != null">
        expTypeCode = #{exptypecode,jdbcType=VARCHAR},
      </if>
      <if test="exptypename != null">
        expTypeName = #{exptypename,jdbcType=VARCHAR},
      </if>
      <if test="exptypefourth != null">
        expTypeFourth = #{exptypefourth,jdbcType=VARCHAR},
      </if>
      <if test="exptypefourthname != null">
        expTypeFourthName = #{exptypefourthname,jdbcType=VARCHAR},
      </if>
      <if test="suppcode != null">
        suppCode = #{suppcode,jdbcType=VARCHAR},
      </if>
      <if test="suppname != null">
        suppName = #{suppname,jdbcType=VARCHAR},
      </if>
      <if test="expamount != null">
        expAmount = #{expamount,jdbcType=VARCHAR},
      </if>
      <if test="currentamount != null">
        currentAmount = #{currentamount,jdbcType=VARCHAR},
      </if>
      <if test="dataCode != null">
        data_code = #{dataCode,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=VARCHAR},
      </if>
      <if test="sts != null">
        sts = #{sts,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="bak1 != null">
        bak1 = #{bak1,jdbcType=VARCHAR},
      </if>
      <if test="bak2 != null">
        bak2 = #{bak2,jdbcType=VARCHAR},
      </if>
      <if test="bak3 != null">
        bak3 = #{bak3,jdbcType=VARCHAR},
      </if>
      <if test="bak4 != null">
        bak4 = #{bak4,jdbcType=VARCHAR},
      </if>
      <if test="bak5 != null">
        bak5 = #{bak5,jdbcType=VARCHAR},
      </if>
      <if test="bak6 != null">
        bak6 = #{bak6,jdbcType=VARCHAR},
      </if>
      <if test="bak7 != null">
        bak7 = #{bak7,jdbcType=VARCHAR},
      </if>
      <if test="bak8 != null">
        bak8 = #{bak8,jdbcType=VARCHAR},
      </if>
      <if test="bak9 != null">
        bak9 = #{bak9,jdbcType=VARCHAR},
      </if>
    </set>
    where data_id = #{dataId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pcitc.base.stp.expenses.ExpensesBillsItem">
    update expenses_bills_item
    set billCode = #{billcode,jdbcType=VARCHAR},
      expTypeCode = #{exptypecode,jdbcType=VARCHAR},
      expTypeName = #{exptypename,jdbcType=VARCHAR},
      expTypeFourth = #{exptypefourth,jdbcType=VARCHAR},
      expTypeFourthName = #{exptypefourthname,jdbcType=VARCHAR},
      suppCode = #{suppcode,jdbcType=VARCHAR},
      suppName = #{suppname,jdbcType=VARCHAR},
      expAmount = #{expamount,jdbcType=VARCHAR},
      currentAmount = #{currentamount,jdbcType=VARCHAR},
      data_code = #{dataCode,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=VARCHAR},
      sts = #{sts,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      bak1 = #{bak1,jdbcType=VARCHAR},
      bak2 = #{bak2,jdbcType=VARCHAR},
      bak3 = #{bak3,jdbcType=VARCHAR},
      bak4 = #{bak4,jdbcType=VARCHAR},
      bak5 = #{bak5,jdbcType=VARCHAR},
      bak6 = #{bak6,jdbcType=VARCHAR},
      bak7 = #{bak7,jdbcType=VARCHAR},
      bak8 = #{bak8,jdbcType=VARCHAR},
      bak9 = #{bak9,jdbcType=VARCHAR}
    where data_id = #{dataId,jdbcType=VARCHAR}
  </update>
</mapper>