<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcitc.mapper.system.CustomQueryConditionMapper">
  <resultMap id="BaseResultMap" type="com.pcitc.base.system.CustomQueryCondition">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="table_name" jdbcType="VARCHAR" property="tableName" />
    <result column="column_name" jdbcType="VARCHAR" property="columnName" />
    <result column="column_type" jdbcType="VARCHAR" property="columnType" />
    <result column="option_code" jdbcType="VARCHAR" property="optionCode" />
    <result column="notes" jdbcType="VARCHAR" property="notes" />
    <result column="attribute_name" jdbcType="VARCHAR" property="attributeName" />
    
    <result column="option_type" jdbcType="VARCHAR" property="optionType" />
    
  </resultMap>
  <sql id="Base_Column_List">
    id, table_name, `column_name`, column_type, option_code, notes,attribute_name,option_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_custom_query_condition
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_custom_query_condition
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.pcitc.base.system.CustomQueryCondition" useGeneratedKeys="true">
    insert into t_custom_query_condition 
    (
      id,table_name, 
      `column_name`,
      column_type, 
      option_code, 
      notes,
      attribute_name,option_type)
      values 
      (
      #{id,jdbcType=VARCHAR},#{tableName,jdbcType=VARCHAR}, 
      #{columnName,jdbcType=VARCHAR}, 
      #{columnType,jdbcType=VARCHAR}, 
      #{optionCode,jdbcType=VARCHAR}, 
      #{notes,jdbcType=VARCHAR}, 
      #{attributeName,jdbcType=VARCHAR},#{optionType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.pcitc.base.system.CustomQueryCondition" useGeneratedKeys="true">
    insert into t_custom_query_condition
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tableName != null">
        table_name,
      </if>
      <if test="columnName != null">
        `column_name`,
      </if>
      <if test="columnType != null">
        column_type,
      </if>
      <if test="optionCode != null">
        option_code,
      </if>
      <if test="notes != null">
        notes,
      </if>
      <if test="attributeName != null">
        attribute_name,
      </if>
      <if test="optionType != null">
        option_type,
      </if>
      
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tableName != null">
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="columnName != null">
        #{columnName,jdbcType=VARCHAR},
      </if>
      <if test="columnType != null">
        #{columnType,jdbcType=VARCHAR},
      </if>
      <if test="optionCode != null">
        #{optionCode,jdbcType=VARCHAR},
      </if>
      <if test="notes != null">
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="attributeName != null">
        #{attributeName,jdbcType=VARCHAR},
      </if>
      <if test="optionType != null">
        #{optionType,jdbcType=VARCHAR},
      </if>
      
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pcitc.base.system.CustomQueryCondition">
    update t_custom_query_condition
    <set>
      <if test="tableName != null">
        table_name = #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="columnName != null">
        `column_name` = #{columnName,jdbcType=VARCHAR},
      </if>
      <if test="columnType != null">
        column_type = #{columnType,jdbcType=VARCHAR},
      </if>
      <if test="optionCode != null">
        option_code = #{optionCode,jdbcType=VARCHAR},
      </if>
      <if test="notes != null">
        notes = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="attributeName != null">
        attribute_name = #{attributeName,jdbcType=VARCHAR},
      </if>
      <if test="optionType != null">
        option_type = #{optionType,jdbcType=VARCHAR},
      </if>
      
      
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pcitc.base.system.CustomQueryCondition">
    update t_custom_query_condition
    set table_name = #{tableName,jdbcType=VARCHAR},
      `column_name` = #{columnName,jdbcType=VARCHAR},
      column_type = #{columnType,jdbcType=VARCHAR},
      attribute_name = #{attributeName,jdbcType=VARCHAR},
      option_code = #{optionCode,jdbcType=VARCHAR},
      option_type = #{optionType,jdbcType=VARCHAR},
      notes = #{notes,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  
  
  
  
  
  
  
   <sql id="selectCondition">
	   <trim prefix="WHERE" prefixOverrides="AND|OR"> 
	     <if test="tableName != null and tableName  !='' ">                     AND t.table_name like CONCAT('%',#{tableName},'%')</if>
	     <if test="columnName != null            and columnName !=''  ">      AND t.column_name = #{columnName}</if>
	     <if test="attributeName != null            and attributeName !=''  ">      AND t.attribute_name = #{attributeName}</if>
	     <if test="columnType != null            and columnType !=''  ">            AND t.column_type = #{columnType}</if>
	     <if test="optionType != null            and optionType !=''  ">            AND t.option_type = #{optionType}</if>
	 
	 
	 </trim>
	</sql>
	
	
   <select id="getList" resultMap="BaseResultMap" parameterType="Map" >
     select * from  t_custom_query_condition  t <include refid="selectCondition" />
     <if test="pageSize != null and pageSize !=''"> limit #{start},#{pageSize} </if>   
   </select>
   
    
   
    <select id="getCount" resultType="java.lang.Integer" parameterType="Map" >
      SELECT count(*) FROM t_custom_query_condition t <include refid="selectCondition"/>
    </select>
  
  
  
  
  
  
  
</mapper>