<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pcitc.mapper.cockpit.KjptCockpitMapper">

    <!--知识产权-专利数量按专利类型占比分析-->
    <select id="knowledgeNumOrType" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
             call sp_knowledge_patent_info_by_patentType(#{param_secret_level,jdbcType=INTEGER})
        ]]>
    </select>

    <!--知识产权-专利数量年度趋势分析-->
    <select id="knowledgeNumYearTrend" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
             call sp_knowledge_patent_info_by_appType(#{param_secret_level,jdbcType=INTEGER})
        ]]>
    </select>

    <!--知识产权-专利数量按单位同比分析-->
    <select id="knowledgeNumOrUnit" parameterType="java.util.Map" resultType="java.util.Map">
         <![CDATA[
            call sp_knowledge_patent_info_by_unit(#{param_secret_level,jdbcType=INTEGER})
        ]]>
    </select>

    <!--科研平台-4大类别-->
    <select id="numScientificType" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
            call sp_scientific_research_numScientificType(#{param_secret_level,jdbcType=INTEGER})
        ]]>
    </select>

    <!--科研平台-科研平台数量按技术领域-->
    <select id="numScientificTechnology" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
            call sp_scientific_research_numScientificTechnology(#{param_secret_level,jdbcType=INTEGER})
        ]]>
    </select>

    <!--首页-知识产权-->
    <select id="knowledgeRightCount" parameterType="java.util.Map" resultType="java.util.Map">
         <![CDATA[
             call sp_index_knowledge_right_count(#{param_secret_level,jdbcType=INTEGER})
        ]]>
    </select>

    <!--首页-4大汇总-->
    <select id="allSummaryCount" parameterType="java.util.Map" resultType="java.util.Map">
         <![CDATA[
             call kjpt_bi.sp_index_count_allSummaryCount(#{inType,jdbcType=INTEGER})
        ]]>
    </select>

    <!--科技人才-数量按年龄-->
    <select id="personCountAge" parameterType="java.util.Map" resultType="java.util.Map">
         <![CDATA[
             call kjpt_bi.sp_person_count_age()
        ]]>
    </select>

    <!--科技人才-数量按职称-->
    <select id="personCountTitle" parameterType="java.util.Map" resultType="java.util.Map">
         <![CDATA[
             call kjpt_bi.sp_person_count_title()
        ]]>
    </select>

    <!--科技人才-数量按学历-->
    <select id="personCountEducation" parameterType="java.util.Map" resultType="java.util.Map">
         <![CDATA[
             call kjpt_bi.sp_person_count_education()
        ]]>
    </select>

    <!--科技人才-数量按技术领域-->
    <select id="personCountCompany" parameterType="java.util.Map" resultType="java.util.Map">
         <![CDATA[
             call kjpt_bi.sp_person_count_company()
        ]]>
    </select>

    <!--成果信息-成果转化-各单位成果转化激励人数-->
    <select id="numberIncentive" parameterType="java.util.Map" resultType="java.util.Map">
         <![CDATA[
             call sp_results_conversion_numberIncentive(#{param_secret_level,jdbcType=INTEGER})
        ]]>
    </select>

    <!--成果信息-成果转化-成果转化数量按成果类型分析-->
    <select id="numByResultsType" parameterType="java.util.Map" resultType="java.util.Map">
         <![CDATA[
             call sp_results_conversion_numByResultsType(#{param_secret_level,jdbcType=INTEGER})
        ]]>
    </select>

    <!--成果信息-成果转化-各单位成果转化金额/激励金额-->
    <select id="numByIncentiveAmount" parameterType="java.util.Map" resultType="java.util.Map">
         <![CDATA[
             call sp_results_onversion_numByIncentiveAmount(#{param_secret_level,jdbcType=INTEGER})
        ]]>
    </select>

    <select id="getConfig" parameterType="java.lang.String" resultType="java.util.Map">
        select kind,table_name tableName from kjpt_bi.bi_data_config where kind = #{type}
    </select>

    <select id="queryBiData" parameterType="java.util.Map" resultType="java.util.Map">
        select * from kjpt_bi.${tableName} where 1=1
        and DATE_SUB(CURDATE(), INTERVAL 1 DAY) <![CDATA[<=]]> date(date)
        <if test="userSecretLevel !=null and userSecretLevel != ''">
            and secretLevel = #{userSecretLevel}
        </if>
        <if test="secondLevelUnit !=null and secondLevelUnit != ''">
            and unitId = #{secondLevelUnit}
        </if>
    </select>

    <select id="queryBiDataWithUnit" parameterType="java.util.Map" resultType="java.util.Map">
        select * from kjpt_bi.${tableName} where 1=1
        and DATE_SUB(CURDATE(), INTERVAL 1 DAY) <![CDATA[<=]]> date(date)
        <if test="userSecretLevel !=null and userSecretLevel != ''">
            and secretLevel = #{userSecretLevel}
        </if>
        <choose>
            <when test="secondLevelUnit !=null and secondLevelUnit != ''">
                and unitId = #{secondLevelUnit}
            </when>
            <otherwise>
                and unitId = ''
            </otherwise>
        </choose>
    </select>

    <select id="dataToBi">
            call sp_data_to_bi()
    </select>

    <select id ="querySecondLevelUnit" resultType="java.util.Map">
        select unit_id as unitId,unit_name as unitName from sys_unit where length(unit_path) = 12 and (unit_path like '10010001%' or unit_path like '10010003%')and unit_delflag != '1'
    </select>

</mapper>
