<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pcitc.mapper.scientificplan.ScienceEvolveDynamicMapper">

    <resultMap id="BaseResultMap" type="com.pcitc.base.scientificplan.ScienceEvolveDynamic">

        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="AUTHENTICATE_UTIL" jdbcType="VARCHAR" property="authenticateUtil"/>
        <result column="RESEARCH_FIELD" jdbcType="VARCHAR" property="researchField"/>
        <result column="RELEASE_TIME" jdbcType="DATE" property="releaseTime"/>
        <result column="deleted" jdbcType="VARCHAR" property="deleted"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="updator" jdbcType="VARCHAR" property="updator"/>

    </resultMap>

    <sql id="Base_Column_List">
     ID,
    `NAME`,
     AUTHENTICATE_UTIL,
     RESEARCH_FIELD,
     RELEASE_TIME,
      DELETED,
      create_date,
      create_user,
      update_date,
      update_user
  </sql>

    <select id="load" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from science_evolve_dynamic where id = #{id} and deleted != '1'
    </select>


    <update id="delete" parameterType="java.lang.String">
            update science_evolve_dynamic set deleted = '1' where id = #{id}
    </update>


    <insert id="add" parameterType="com.pcitc.base.scientificplan.ScienceEvolveDynamic">
    insert into science_evolve_dynamic (
      ID,
     `NAME`,
      AUTHENTICATE_UTIL,
      RESEARCH_FIELD,
      RELEASE_TIME,
      DELETED,
      create_date,
      create_user,
      update_date,
      update_user
      )
    values (
      #{id},
      #{name},
      #{authenticateUtil},
      #{researchField},
      #{releaseTime},
       #{deleted},
       #{createDate},
       #{creator},
       #{updateDate},
       #{updator}
       )
  </insert>


    <select id="query" parameterType="java.util.Map" resultMap="BaseResultMap">

        select * from science_evolve_dynamic where 1=1

        <if test="name != null and name !='' ">
            and `NAME` like CONCAT('%',#{name},'%')
        </if>

        <if test="authenticateUtil != null  and authenticateUtil !='' ">
            and AUTHENTICATE_UTIL = #{authenticateUtil}
        </if>
        <if test="researchField != null and researchField !='' ">
            and RESEARCH_FIELD = #{researchField}
        </if>
        <if test="releaseTime != null and releaseTime !='' ">
            and RELEASE_TIME = #{releaseTime}
        </if>

        and deleted != '1'

    </select>


    <update id="update" parameterType="com.pcitc.base.scientificplan.ScienceEvolveDynamic">
        update science_evolve_dynamic
        <trim prefix="SET" suffixOverrides=",">

            <if test="name != null and name != '' ">
                `NAME` = #{name},
            </if>
            <if test="authenticateUtil != null and  authenticateUtil != ''">
                AUTHENTICATE_UTIL = #{authenticateUtil},
            </if>
            <if test="researchField != null and researchField != ''">
                RESEARCH_FIELD = #{researchField},
            </if>
            <if test="releaseTime != null and releaseTime != '' ">
                RELEASE_TIME = #{releaseTime},
            </if>
            <if test="updateDate != null and updateDate != ''">
                update_date = #{updateDate},
            </if>
            <if test="updator != null and updator != ''">
                updator = #{updator,jdbcType=VARCHAR},
            </if>
            <if test="deleted != null and deleted != ''">
                deleted = #{deleted,jdbcType=VARCHAR}
            </if>
        </trim>
        where id = #{id}
    </update>


</mapper>