<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pcitc.mapper.scientificplan.ScienceEvolveDynamicMapper">

  <resultMap id="BaseResultMap" type="com.pcitc.base.scientificplan.ScienceEvolveDynamic">

    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="AUTHENTICATE_UTIL" jdbcType="VARCHAR" property="authenticateUtil" />
    <result column="RESEARCH_FIELD" jdbcType="VARCHAR" property="researchField" />
    <result column="RELEASE_TIME" jdbcType="DATE" property="releaseTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, `NAME`, AUTHENTICATE_UTIL, RESEARCH_FIELD, RELEASE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from science_evolve_dynamic
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from science_evolve_dynamic
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="com.pcitc.base.scientificplan.ScienceEvolveDynamic" useGeneratedKeys="true">
    insert into science_evolve_dynamic (`NAME`, AUTHENTICATE_UTIL, RESEARCH_FIELD, 
      RELEASE_TIME)
    values (#{name,jdbcType=VARCHAR}, #{authenticateUtil,jdbcType=VARCHAR}, #{researchField,jdbcType=VARCHAR}, 
      #{releaseTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="com.pcitc.base.scientificplan.ScienceEvolveDynamic" useGeneratedKeys="true">
    insert into science_evolve_dynamic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `NAME`,
      </if>
      <if test="authenticateUtil != null">
        AUTHENTICATE_UTIL,
      </if>
      <if test="researchField != null">
        RESEARCH_FIELD,
      </if>
      <if test="releaseTime != null">
        RELEASE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="authenticateUtil != null">
        #{authenticateUtil,jdbcType=VARCHAR},
      </if>
      <if test="researchField != null">
        #{researchField,jdbcType=VARCHAR},
      </if>
      <if test="releaseTime != null">
        #{releaseTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pcitc.base.scientificplan.ScienceEvolveDynamic">
    update science_evolve_dynamic
    <set>
      <if test="name != null">
        `NAME` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="authenticateUtil != null">
        AUTHENTICATE_UTIL = #{authenticateUtil,jdbcType=VARCHAR},
      </if>
      <if test="researchField != null">
        RESEARCH_FIELD = #{researchField,jdbcType=VARCHAR},
      </if>
      <if test="releaseTime != null">
        RELEASE_TIME = #{releaseTime,jdbcType=DATE},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pcitc.base.scientificplan.ScienceEvolveDynamic">
    update science_evolve_dynamic
    set `NAME` = #{name,jdbcType=VARCHAR},
      AUTHENTICATE_UTIL = #{authenticateUtil,jdbcType=VARCHAR},
      RESEARCH_FIELD = #{researchField,jdbcType=VARCHAR},
      RELEASE_TIME = #{releaseTime,jdbcType=DATE}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>