<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pcitc.mapper.scientificplan.SciencePlanMapper">

    <resultMap id="BaseResultMap" type="com.pcitc.base.scientificplan.SciencePlan">

        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="AUTHENTICATE_UTIL" jdbcType="VARCHAR" property="authenticateUtil"/>
        <result column="RESEARCH_FIELD" jdbcType="VARCHAR" property="researchField"/>
        <result column="PROFESSIONAL_FIELD" jdbcType="VARCHAR" property="professionalField"/>
        <result column="SPECIALTY_CATEGORY" jdbcType="VARCHAR" property="specialtyCategory"/>
        <result column="RELEASE_TIME" jdbcType="DATE" property="releaseTime"/>
    </resultMap>


    <sql id="Base_Column_List">
     ID,
    `NAME`,
     AUTHENTICATE_UTIL,
     RESEARCH_FIELD,
     PROFESSIONAL_FIELD,
     SPECIALTY_CATEGORY,
     RELEASE_TIME
  </sql>


    <select id="load" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from science_plan
        where id = #{id} and deleted != '1'
    </select>


    <update id="delete" parameterType="java.lang.String">
            update science_plan set deleted = '1' where id = #{id}
    </update>


    <insert id="add"  parameterType="com.pcitc.base.scientificplan.SciencePlan">
    insert into science_plan (
       ID,
      `NAME`,
       AUTHENTICATE_UTIL,
       RESEARCH_FIELD,
       PROFESSIONAL_FIELD,
       SPECIALTY_CATEGORY,
       RELEASE_TIME
      )
    values (
        #{id},
        #{name},
        #{authenticateUtil},
        #{researchField},
        #{professionalField},
        #{specialtyCategory},
        #{releaseTime}
      )
  </insert>


    <select id="query"  parameterType="java.util.Map" resultMap="BaseResultMap" >
        select * from science_plan where 1=1
        <if test="name != null  and name ！= '' ">
            and `NAME` = #{NAME}
        </if>
        <if test="authenticateUtil != null and authenticateUtil != '' ">
            and AUTHENTICATE_UTIL = #{AUTHENTICATE_UTIL}
        </if>
        <if test="researchField != null and researchField != '' ">
            and RESEARCH_FIELD = #{RESEARCH_FIELD}
        </if>
        <if test="professionalField != null and professionalField != '' ">
            and PROFESSIONAL_FIELD = #{PROFESSIONAL_FIELD}
        </if>
        <if test="specialtyCategory != null and specialtyCategory != ''  ">
            and SPECIALTY_CATEGORY = #{SPECIALTY_CATEGORY}
        </if>
        <if test="releaseTime != null  and releaseTime != '' ">
            and RELEASE_TIME = #{RELEASE_TIME}
        </if>
        and deleted != '1'

    </select>


    <update id="update" parameterType="com.pcitc.base.scientificplan.SciencePlan">
        update science_plan
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != '' ">
                `NAME` = #{NAME},
            </if>
            <if test="authenticateUtil != null and authenticateUtil != '' ">
                AUTHENTICATE_UTIL = #{AUTHENTICATE_UTIL},
            </if>
            <if test="researchField != null and researchField != '' ">
                RESEARCH_FIELD = #{RESEARCH_FIELD},
            </if>
            <if test="professionalField != null and professionalField != '' ">
                PROFESSIONAL_FIELD = #{PROFESSIONAL_FIELD},
            </if>
            <if test="specialtyCategory != null and specialtyCategory != '' ">
                SPECIALTY_CATEGORY = #{SPECIALTY_CATEGORY},
            </if>
            <if test="releaseTime != null and releaseTime != '' ">
                RELEASE_TIME = #{RELEASE_TIME}
            </if>
            <if test="updateDate != null and updateDate != ''" >
                update_date = #{updateDate},
            </if>
            <if test="updator != null and updator != ''" >
                updator = #{updator,jdbcType=VARCHAR},
            </if>
            <if test="deleted != null and deleted != ''" >
                deleted = #{deleted,jdbcType=VARCHAR}
            </if>
            <if test="updateDate != null and updateDate != ''" >
                update_date = #{updateDate},
            </if>
            <if test="updator != null and updator != ''" >
                updator = #{updator,jdbcType=VARCHAR},
            </if>
            <if test="deleted != null and deleted != ''" >
                deleted = #{deleted,jdbcType=VARCHAR}
            </if>
        </trim>
        where id = #{id}
    </update>







</mapper>