<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pcitc.mapper.scientificplan.SciencePlanMapper">

    <resultMap id="BaseResultMap" type="com.pcitc.base.scientificplan.SciencePlan">

        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="AUTHENTICATE_UTIL" jdbcType="VARCHAR" property="authenticateUtil"/>
        <result column="RESEARCH_FIELD" jdbcType="VARCHAR" property="researchField"/>
        <result column="PROFESSIONAL_FIELD" jdbcType="VARCHAR" property="professionalField"/>
        <result column="SPECIALTY_CATEGORY" jdbcType="VARCHAR" property="specialtyCategory"/>
        <result column="RELEASE_TIME" jdbcType="DATE" property="releaseTime"/>

        <result column="accessory" jdbcType="DATE" property="accessory"/>
        <result column="deleted" jdbcType="VARCHAR" property="deleted"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="updator" jdbcType="VARCHAR" property="updator"/>
        <result column="annual" jdbcType="VARCHAR" property="annual"/>
        <result column="name_text" jdbcType="VARCHAR" property="nameText"/>
        <result column="report_type" jdbcType="VARCHAR" property="reportType"/>

        <result column="RESEARCH_FIELD_text" jdbcType="VARCHAR" property="researchFieldText"/>



    </resultMap>


    <sql id="Base_Column_List">
     ID,
    `NAME`,
     AUTHENTICATE_UTIL,
     RESEARCH_FIELD,
     PROFESSIONAL_FIELD,
     SPECIALTY_CATEGORY,
     accessory,
     RELEASE_TIME,
     deleted,
     create_date,
     create_user,
     update_date,
     update_user,
     annual,
     report_type
  </sql>


    <select id="load" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from view_science_plan where id = #{id} and deleted != '1'
    </select>

    <update id="delete" parameterType="java.lang.String">
            update science_plan set deleted = '1' where id = #{id}
    </update>


    <insert id="add" parameterType="com.pcitc.base.scientificplan.SciencePlan">
    insert into science_plan (
       ID,
      `NAME`,
       AUTHENTICATE_UTIL,
       RESEARCH_FIELD,
       PROFESSIONAL_FIELD,
       SPECIALTY_CATEGORY,
       accessory,
       RELEASE_TIME,
       deleted,
       create_date,
       create_user,
       update_date,
       update_user,
       annual,
       report_type
      )
    values (
        #{id},
        #{name},
        #{authenticateUtil},
        #{researchField},
        #{professionalField},
        #{specialtyCategory},
        #{accessory},
        #{releaseTime},
        #{deleted},
        #{createDate},
        #{creator},
        #{updateDate},
        #{updator},
        #{annual},
        #{reportType}
      )
  </insert>


    <select id="query" parameterType="java.util.Map" resultMap="BaseResultMap">
        select * from view_science_plan where 1=1
        and deleted != '1'
        <include refid="selectByParam" />

    </select>

    <select id="query_COUNT" parameterType="java.util.Map" resultType="Long">
        select count(*) from science_plan where 1=1
        and deleted != '1'
        <include refid="selectByParam" />
    </select>

    <sql id="selectByParam">
            <if test="name != null and name != '' ">
                and `NAME` like CONCAT('%',#{name},'%')
            </if>

            <if test="authenticateUtil != null and authenticateUtil != '' ">
                and AUTHENTICATE_UTIL = #{authenticateUtil}
            </if>

            <if test="researchField != null and researchField != '' ">
                and RESEARCH_FIELD = #{researchField}
            </if>

            <if test="professionalField != null and professionalField != '' ">
                and PROFESSIONAL_FIELD = #{professionalField}
            </if>

            <if test="specialtyCategory != null and specialtyCategory != '' ">
                and SPECIALTY_CATEGORY = #{specialtyCategory}
            </if>

            <if test="releaseTime != null and releaseTime != '' ">
                and RELEASE_TIME = #{releaseTime}
            </if>

            <if test="accessory != null and accessory != '' ">
                and accessory = #{accessory}
            </if>

            <if test="annual != null  ">
                and substring(annual,1,7) = #{annual}
            </if>

            <if test="reportType != null  and reportType != ''  ">
                and report_type = #{reportType}
            </if>

    </sql>


    <update id="update" parameterType="com.pcitc.base.scientificplan.SciencePlan">
        update science_plan
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != '' ">
                `NAME` = #{name},
            </if>
            <if test="authenticateUtil != null and authenticateUtil != '' ">
                AUTHENTICATE_UTIL = #{authenticateUtil},
            </if>

            <if test="researchField != null and researchField != '' ">
                RESEARCH_FIELD = #{researchField},
            </if>

            <if test="professionalField != null and professionalField != '' ">
                PROFESSIONAL_FIELD = #{professionalField},
            </if>

            <if test="specialtyCategory != null and specialtyCategory != '' ">
                SPECIALTY_CATEGORY = #{specialtyCategory},
            </if>

            <if test="releaseTime != null  ">
                RELEASE_TIME = #{releaseTime},
            </if>

            <if test=" accessory != null  ">
                accessory = #{ accessory},
            </if>

            <if test="deleted != null and deleted != ''">
                deleted = #{deleted,jdbcType=VARCHAR},
            </if>

            <if test="updator != null and updator != ''">
                create_user = #{updator,jdbcType=VARCHAR},
            </if>

            <if test="updateDate != null">
                update_date = #{updateDate},
            </if>

            <if test="annual != null  ">
                annual = #{annual},
            </if>

            <if test="reportType != null  and reportType != ''  ">
                 report_type = #{reportType}
            </if>

        </trim>
        where id = #{id}
    </update>

</mapper>