<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pcitc.mapper.computersoftware.ComputerSoftwareMapper">

    <resultMap id="BaseResultMap" type="com.pcitc.base.computersoftware.ComputerSoftware">

        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="UNIT_NAME" jdbcType="VARCHAR" property="unitName"/>
        <result column="REGISTER_NUMBER" jdbcType="VARCHAR" property="registerNumber"/>
        <result column="SOFTWARE_NAME" jdbcType="VARCHAR" property="softwareName"/>
        <result column="SOFTWARE_INTRODUCE" jdbcType="VARCHAR" property="softwareIntroduce"/>
        <result column="COPYRIGHT_OWNER" jdbcType="VARCHAR" property="copyrightOwner"/>
        <result column="VERSION_NUMBER" jdbcType="VARCHAR" property="versionNumber"/>
        <result column="RECORD_DATE" jdbcType="TIMESTAMP" property="recordDate"/>
        <result column="DEVELOP_FINISH_DATE" jdbcType="TIMESTAMP" property="developFinishDate"/>
        <result column="SOFTWARE_INTRO" jdbcType="VARCHAR" property="softwareIntro"/>
        <result column="ENTRY_PEOPLE" jdbcType="VARCHAR" property="entryPeople"/>
        <result column="ENTRY_TIME" jdbcType="TIMESTAMP" property="entryTime"/>
        <result column="NOTES" jdbcType="VARCHAR" property="notes"/>

        <!--<result column="ACCESSORY_UPLOAD" jdbcType="VARCHAR" property="accessoryUpload"/>-->

        <result column="file" jdbcType="VARCHAR" property="fileIds"/>

        <result column="DELETED" jdbcType="VARCHAR" property="deleted"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>

        <result column="unit_name_text" jdbcType="VARCHAR" property="unitNameText"/>

        <result column="updator" jdbcType="VARCHAR" property="updator"/>
    </resultMap>

    <sql id="Base_Column_List">
      ID,
      UNIT_NAME,
      REGISTER_NUMBER,
      SOFTWARE_NAME,
      SOFTWARE_INTRODUCE,
      COPYRIGHT_OWNER,
      VERSION_NUMBER,
      RECORD_DATE,
      DEVELOP_FINISH_DATE,
      SOFTWARE_INTRO,
      ENTRY_PEOPLE,
      ENTRY_TIME,
      NOTES,
      file,
      DELETED,
      create_date,
      create_user,
      update_date,
      update_user

  </sql>

    <select id="load" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from view_computer_software where id = #{id} and deleted != '1'
    </select>

    <update id="delete" parameterType="java.lang.String">
            update computer_software set deleted = '1' where id = #{id}
    </update>


    <insert id="add" parameterType="com.pcitc.base.computersoftware.ComputerSoftware">
    insert into computer_software (
      ID,
      UNIT_NAME,
      REGISTER_NUMBER,
      SOFTWARE_NAME,
      SOFTWARE_INTRODUCE,
      COPYRIGHT_OWNER,
      VERSION_NUMBER,
      RECORD_DATE,
      DEVELOP_FINISH_DATE,
      SOFTWARE_INTRO,
      ENTRY_PEOPLE,
      ENTRY_TIME,
      NOTES,
      file,
      DELETED,
      create_date,
      create_user,
      update_date,
      update_user
      )
    values (
       #{id},
       #{unitName},
       #{registerNumber},
       #{softwareName},
       #{softwareIntroduce},
       #{copyrightOwner},
       #{versionNumber},
       #{recordDate},
       #{developFinishDate},
       #{softwareIntro},
       #{entryPeople},
       #{entryTime},
       #{notes},
       #{fileIds},
       #{deleted},
       #{createDate},
       #{creator},
       #{updateDate},
       #{updator}
      )
  </insert>


    <update id="update" parameterType="com.pcitc.base.computersoftware.ComputerSoftware">
        update computer_software
        <trim prefix="SET" suffixOverrides=",">

--              and unitName != ''
            <if test="unitName != null ">
                UNIT_NAME = #{unitName},
            </if>
            <if test="registerNumber != null and registerNumber != '' ">
                REGISTER_NUMBER = #{registerNumber},
            </if>
            <if test="softwareName != null and softwareName != ''">
                SOFTWARE_NAME = #{softwareName},
            </if>

            <if test="softwareIntroduce != null and softwareIntroduce != ''">
                SOFTWARE_INTRODUCE = #{softwareIntroduce}
            </if>

            <if test="copyrightOwner != null and copyrightOwner != ''">
                COPYRIGHT_OWNER = #{copyrightOwner},
            </if>
            <if test="versionNumber != null and versionNumber != ''">
                VERSION_NUMBER = #{versionNumber},
            </if>

            <if test="recordDate != null ">
                RECORD_DATE = #{recordDate},
            </if>

            <if test="developFinishDate != null ">
                DEVELOP_FINISH_DATE = #{developFinishDate},
            </if>
            <if test="softwareIntro != null and softwareIntro != ''">
                SOFTWARE_INTRO = #{softwareIntro},
            </if>
            <if test="entryPeople != null and entryPeople != ''">
                ENTRY_PEOPLE = #{entryPeople},
            </if>
            <if test="entryTime != null" >
                ENTRY_TIME = #{entryTime},
            </if>
            <if test="notes != null and notes != ''">
                NOTES = #{notes},
            </if>
            <if test="fileIds != null and fileIds != ''">
                file = #{fileIds},
            </if>

            <!--<if test="deleted != null and deleted != ''">-->
                <!--deleted = #{deleted,jdbcType=VARCHAR},-->
            <!--</if>-->

            <!--<if test="updator != null and updator != ''">-->
                <!--create_user = #{updator,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="updateDate != null">-->
                <!--update_date = #{updateDate}-->
            <!--</if>-->

        </trim>
        where id = #{id}
    </update>


    <select id="query" parameterType="java.util.Map" resultMap="BaseResultMap">

        select * from view_computer_software where 1=1

        <if test="unitName != null and unitName != '' ">
            and UNIT_NAME like CONCAT('%',#{unitName},'%')
        </if>
        <if test="registerNumber != null and registerNumber != ''">
            and REGISTER_NUMBER = #{registerNumber}
        </if>
        <if test="softwareName != null and softwareName != ''">
            and SOFTWARE_NAME = #{softwareName}
        </if>

        <if test="softwareIntroduce != null and softwareIntroduce != ''">
            and SOFTWARE_INTRODUCE = #{softwareIntroduce}
        </if>

        <if test="copyrightOwner != null and copyrightOwner != ''">
            and COPYRIGHT_OWNER = #{copyrightOwner}
        </if>
        <if test="versionNumber != null and versionNumber != ''">
            and VERSION_NUMBER = #{versionNumber}
        </if>


        <if test="recordDate != null and recordDate != '' ">
            and RECORD_DATE = #{recordDate}
        </if>

        <!--<if test="recordDate != null ">-->
            <!--and RECORD_DATE = #{recordDate}-->
        <!--</if>-->



        <!--<if test="recordDateStart != null ">-->
            <!--and DATE_FORMAT(`RECORD_DATE`, '%Y-%m-%d') &gt;= DATE_FORMAT(#{recordDateStart}, '%Y-%m-%d')-->
        <!--</if>-->
        <!--<if test="recordDateEnd != null  ">-->
            <!--and DATE_FORMAT(`RECORD_DATE`, '%Y-%m-%d') &lt;= DATE_FORMAT(#{recordDateEnd}, '%Y-%m-%d')-->
        <!--</if>-->

        <if test="developFinishDate != null  and developFinishDate != '' ">
            and DEVELOP_FINISH_DATE = #{developFinishDate}
        </if>
        <if test="softwareIntro != null and softwareIntro != ''">
            and SOFTWARE_INTRO = #{softwareIntro}
        </if>
        <if test="entryPeople != null and entryPeople != ''">
            and ENTRY_PEOPLE = #{entryPeople}
        </if>
        <if test="entryTime != null and entryTime != '' ">
            and ENTRY_TIME = #{entryTime}
        </if>
        <if test="notes != null and notes != ''">
            and NOTES = #{notes}
        </if>
        <if test="fileIds != null and fileIds != ''">
            and file = #{fileIds}
        </if>

        and deleted != '1'
    </select>


</mapper>
