<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pcitc.mapper.expert.ZjkPatentMapper">

<resultMap id="BaseResultMap" type="com.pcitc.base.expert.ZjkPatent">

    <id column="data_id" jdbcType="VARCHAR" property="dataId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="expert_id" jdbcType="VARCHAR" property="expertId" />
    <result column="patent_name" jdbcType="VARCHAR" property="patentName" />
    <result column="patent_code" jdbcType="VARCHAR" property="patentCode" />
    <result column="patent_desc" jdbcType="VARCHAR" property="patentDesc" />
    <result column="patent_keys" jdbcType="VARCHAR" property="patentKeys" />
    <result column="patente_people_name" jdbcType="VARCHAR" property="patentePeopleName" />
    <result column="patente_people_id" jdbcType="VARCHAR" property="patentePeopleId" />
    <result column="invent_people_id" jdbcType="VARCHAR" property="inventPeopleId" />
    <result column="invent_people_name" jdbcType="VARCHAR" property="inventPeopleName" />
    <result column="apply_people" jdbcType="VARCHAR" property="applyPeople" />
    <result column="public_date" jdbcType="VARCHAR" property="publicDate" />
    <result column="apply_date" jdbcType="VARCHAR" property="applyDate" />
    <result column="bak1" jdbcType="VARCHAR" property="bak1" />
    <result column="bak2" jdbcType="VARCHAR" property="bak2" />
    <result column="bak3" jdbcType="VARCHAR" property="bak3" />
    <result column="bak4" jdbcType="VARCHAR" property="bak4" />
    <result column="bak5" jdbcType="VARCHAR" property="bak5" />
    <result column="bak6" jdbcType="VARCHAR" property="bak6" />
    <result column="modify_user_disp" jdbcType="VARCHAR" property="modifyUserDisp" />
    <result column="owner_tech_type" jdbcType="VARCHAR" property="ownerTechType" />
    <result column="patente_background" jdbcType="LONGVARCHAR" property="patenteBackground" />
    <result column="owner_project_name" jdbcType="VARCHAR" property="ownerProjectName" />
    <result column="expert_nationality" jdbcType="VARCHAR" property="expertNationality" />
    <result column="owner_project_id" jdbcType="VARCHAR" property="ownerProjectId" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="compan_id" jdbcType="VARCHAR" property="companId" />
    <result column="sys_flag" jdbcType="VARCHAR" property="sysFlag" />
    <result column="data_order" jdbcType="INTEGER" property="dataOrder" />
    <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
    <result column="create_date" jdbcType="VARCHAR" property="createDate" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_user_disp" jdbcType="VARCHAR" property="createUserDisp" />
    <result column="modify_date" jdbcType="VARCHAR" property="modifyDate" />
    <result column="modify_user" jdbcType="VARCHAR" property="modifyUser" />
</resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                    #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                    #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
<sql id="Base_Column_List">
        data_id,
        user_id,
        expert_id,
        patent_name,
        patent_code,
        patent_desc,
        patent_keys,
        patente_people_name,
        patente_people_id,
        invent_people_id,
        invent_people_name,
        apply_people,
        public_date,
        apply_date,
        bak1,
        bak2,
        bak3,
        bak4,
        bak5,
        bak6,
        modify_user_disp,
        owner_tech_type,
        patente_background,
        owner_project_name,
        expert_nationality,
        owner_project_id,
        company,
        compan_id,
        sys_flag,
        data_order,
        del_flag,
        create_date,
        create_user,
        create_user_disp,
        modify_date,
        modify_user
</sql>

    <select id="selectByExample" parameterType="com.pcitc.base.expert.ZjkPatentExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
        from zjk_patent
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="limit != null">
            <if test="offset != null">
                limit ${offset}, ${limit}
            </if>
            <if test="offset == null">
                limit ${limit}
            </if>
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from zjk_patent
        where data_id = #{dataId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from zjk_patent
        where data_id = #{dataId,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteByExample" parameterType="com.pcitc.base.expert.ZjkPatentExample">
        delete from zjk_patent
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    <insert id="insert" parameterType="com.pcitc.base.expert.ZjkPatent">
        insert into zjk_patent (
            data_id,
            user_id,
            expert_id,
            patent_name,
            patent_code,
            patent_desc,
            patent_keys,
            patente_people_name,
            patente_people_id,
            invent_people_id,
            invent_people_name,
            apply_people,
            public_date,
            apply_date,
            bak1,
            bak2,
            bak3,
            bak4,
            bak5,
            bak6,
            modify_user_disp,
            owner_tech_type,
            patente_background,
            owner_project_name,
            expert_nationality,
            owner_project_id,
            company,
            compan_id,
            sys_flag,
            data_order,
            del_flag,
            create_date,
            create_user,
            create_user_disp,
            modify_date,
            modify_user
        )
        values (

    #{dataId,jdbcType=VARCHAR},
    #{userId,jdbcType=VARCHAR},
    #{expertId,jdbcType=VARCHAR},
    #{patentName,jdbcType=VARCHAR},
    #{patentCode,jdbcType=VARCHAR},
    #{patentDesc,jdbcType=VARCHAR},
    #{patentKeys,jdbcType=VARCHAR},
    #{patentePeopleName,jdbcType=VARCHAR},
    #{patentePeopleId,jdbcType=VARCHAR},
    #{inventPeopleId,jdbcType=VARCHAR},
    #{inventPeopleName,jdbcType=VARCHAR},
    #{applyPeople,jdbcType=VARCHAR},
    #{publicDate,jdbcType=VARCHAR},
    #{applyDate,jdbcType=VARCHAR},
    #{bak1,jdbcType=VARCHAR},
    #{bak2,jdbcType=VARCHAR},
    #{bak3,jdbcType=VARCHAR},
    #{bak4,jdbcType=VARCHAR},
    #{bak5,jdbcType=VARCHAR},
    #{bak6,jdbcType=VARCHAR},
    #{modifyUserDisp,jdbcType=VARCHAR},
    #{ownerTechType,jdbcType=VARCHAR},
    #{patenteBackground,jdbcType=LONGVARCHAR},
    #{ownerProjectName,jdbcType=VARCHAR},
    #{expertNationality,jdbcType=VARCHAR},
    #{ownerProjectId,jdbcType=VARCHAR},
    #{company,jdbcType=VARCHAR},
    #{companId,jdbcType=VARCHAR},
    #{sysFlag,jdbcType=VARCHAR},
    #{dataOrder,jdbcType=INTEGER},
    #{delFlag,jdbcType=INTEGER},
    #{createDate,jdbcType=VARCHAR},
    #{createUser,jdbcType=VARCHAR},
    #{createUserDisp,jdbcType=VARCHAR},
    #{modifyDate,jdbcType=VARCHAR},
    #{modifyUser,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.pcitc.base.expert.ZjkPatent">
        insert into zjk_patent
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="dataId != null">
            data_id,
            </if>
            <if test="userId != null">
            user_id,
            </if>
            <if test="expertId != null">
            expert_id,
            </if>
            <if test="patentName != null">
            patent_name,
            </if>
            <if test="patentCode != null">
            patent_code,
            </if>
            <if test="patentDesc != null">
            patent_desc,
            </if>
            <if test="patentKeys != null">
            patent_keys,
            </if>
            <if test="patentePeopleName != null">
            patente_people_name,
            </if>
            <if test="patentePeopleId != null">
            patente_people_id,
            </if>
            <if test="inventPeopleId != null">
            invent_people_id,
            </if>
            <if test="inventPeopleName != null">
            invent_people_name,
            </if>
            <if test="applyPeople != null">
            apply_people,
            </if>
            <if test="publicDate != null">
            public_date,
            </if>
            <if test="applyDate != null">
            apply_date,
            </if>
            <if test="bak1 != null">
            bak1,
            </if>
            <if test="bak2 != null">
            bak2,
            </if>
            <if test="bak3 != null">
            bak3,
            </if>
            <if test="bak4 != null">
            bak4,
            </if>
            <if test="bak5 != null">
            bak5,
            </if>
            <if test="bak6 != null">
            bak6,
            </if>
            <if test="modifyUserDisp != null">
            modify_user_disp,
            </if>
            <if test="ownerTechType != null">
            owner_tech_type,
            </if>
            <if test="patenteBackground != null">
            patente_background,
            </if>
            <if test="ownerProjectName != null">
            owner_project_name,
            </if>
            <if test="expertNationality != null">
            expert_nationality,
            </if>
            <if test="ownerProjectId != null">
            owner_project_id,
            </if>
            <if test="company != null">
            company,
            </if>
            <if test="companId != null">
            compan_id,
            </if>
            <if test="sysFlag != null">
            sys_flag,
            </if>
            <if test="dataOrder != null">
            data_order,
            </if>
            <if test="delFlag != null">
            del_flag,
            </if>
            <if test="createDate != null">
            create_date,
            </if>
            <if test="createUser != null">
            create_user,
            </if>
            <if test="createUserDisp != null">
            create_user_disp,
            </if>
            <if test="modifyDate != null">
            modify_date,
            </if>
            <if test="modifyUser != null">
            modify_user
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">


            <if test="dataId != null">
            #{dataId ,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
            #{userId ,jdbcType=VARCHAR},
            </if>
            <if test="expertId != null">
            #{expertId ,jdbcType=VARCHAR},
            </if>
            <if test="patentName != null">
            #{patentName ,jdbcType=VARCHAR},
            </if>
            <if test="patentCode != null">
            #{patentCode ,jdbcType=VARCHAR},
            </if>
            <if test="patentDesc != null">
            #{patentDesc ,jdbcType=VARCHAR},
            </if>
            <if test="patentKeys != null">
            #{patentKeys ,jdbcType=VARCHAR},
            </if>
            <if test="patentePeopleName != null">
            #{patentePeopleName ,jdbcType=VARCHAR},
            </if>
            <if test="patentePeopleId != null">
            #{patentePeopleId ,jdbcType=VARCHAR},
            </if>
            <if test="inventPeopleId != null">
            #{inventPeopleId ,jdbcType=VARCHAR},
            </if>
            <if test="inventPeopleName != null">
            #{inventPeopleName ,jdbcType=VARCHAR},
            </if>
            <if test="applyPeople != null">
            #{applyPeople ,jdbcType=VARCHAR},
            </if>
            <if test="publicDate != null">
            #{publicDate ,jdbcType=VARCHAR},
            </if>
            <if test="applyDate != null">
            #{applyDate ,jdbcType=VARCHAR},
            </if>
            <if test="bak1 != null">
            #{bak1 ,jdbcType=VARCHAR},
            </if>
            <if test="bak2 != null">
            #{bak2 ,jdbcType=VARCHAR},
            </if>
            <if test="bak3 != null">
            #{bak3 ,jdbcType=VARCHAR},
            </if>
            <if test="bak4 != null">
            #{bak4 ,jdbcType=VARCHAR},
            </if>
            <if test="bak5 != null">
            #{bak5 ,jdbcType=VARCHAR},
            </if>
            <if test="bak6 != null">
            #{bak6 ,jdbcType=VARCHAR},
            </if>
            <if test="modifyUserDisp != null">
            #{modifyUserDisp ,jdbcType=VARCHAR},
            </if>
            <if test="ownerTechType != null">
            #{ownerTechType ,jdbcType=VARCHAR},
            </if>
            <if test="patenteBackground != null">
            #{patenteBackground ,jdbcType=LONGVARCHAR},
            </if>
            <if test="ownerProjectName != null">
            #{ownerProjectName ,jdbcType=VARCHAR},
            </if>
            <if test="expertNationality != null">
            #{expertNationality ,jdbcType=VARCHAR},
            </if>
            <if test="ownerProjectId != null">
            #{ownerProjectId ,jdbcType=VARCHAR},
            </if>
            <if test="company != null">
            #{company ,jdbcType=VARCHAR},
            </if>
            <if test="companId != null">
            #{companId ,jdbcType=VARCHAR},
            </if>
            <if test="sysFlag != null">
            #{sysFlag ,jdbcType=VARCHAR},
            </if>
            <if test="dataOrder != null">
            #{dataOrder ,jdbcType=INTEGER},
            </if>
            <if test="delFlag != null">
            #{delFlag ,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
            #{createDate ,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
            #{createUser ,jdbcType=VARCHAR},
            </if>
            <if test="createUserDisp != null">
            #{createUserDisp ,jdbcType=VARCHAR},
            </if>
            <if test="modifyDate != null">
            #{modifyDate ,jdbcType=VARCHAR},
            </if>
            <if test="modifyUser != null">
            #{modifyUser ,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.pcitc.base.expert.ZjkPatentExample" resultType="java.lang.Long">
        select count(*) from zjk_patent
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update zjk_patent
        <set>

            <if test="record.dataId != null">
                data_id=#{record.dataId,jdbcType=VARCHAR},
            </if>
            <if test="record.userId != null">
                user_id=#{record.userId,jdbcType=VARCHAR},
            </if>
            <if test="record.expertId != null">
                expert_id=#{record.expertId,jdbcType=VARCHAR},
            </if>
            <if test="record.patentName != null">
                patent_name=#{record.patentName,jdbcType=VARCHAR},
            </if>
            <if test="record.patentCode != null">
                patent_code=#{record.patentCode,jdbcType=VARCHAR},
            </if>
            <if test="record.patentDesc != null">
                patent_desc=#{record.patentDesc,jdbcType=VARCHAR},
            </if>
            <if test="record.patentKeys != null">
                patent_keys=#{record.patentKeys,jdbcType=VARCHAR},
            </if>
            <if test="record.patentePeopleName != null">
                patente_people_name=#{record.patentePeopleName,jdbcType=VARCHAR},
            </if>
            <if test="record.patentePeopleId != null">
                patente_people_id=#{record.patentePeopleId,jdbcType=VARCHAR},
            </if>
            <if test="record.inventPeopleId != null">
                invent_people_id=#{record.inventPeopleId,jdbcType=VARCHAR},
            </if>
            <if test="record.inventPeopleName != null">
                invent_people_name=#{record.inventPeopleName,jdbcType=VARCHAR},
            </if>
            <if test="record.applyPeople != null">
                apply_people=#{record.applyPeople,jdbcType=VARCHAR},
            </if>
            <if test="record.publicDate != null">
                public_date=#{record.publicDate,jdbcType=VARCHAR},
            </if>
            <if test="record.applyDate != null">
                apply_date=#{record.applyDate,jdbcType=VARCHAR},
            </if>
            <if test="record.bak1 != null">
                bak1=#{record.bak1,jdbcType=VARCHAR},
            </if>
            <if test="record.bak2 != null">
                bak2=#{record.bak2,jdbcType=VARCHAR},
            </if>
            <if test="record.bak3 != null">
                bak3=#{record.bak3,jdbcType=VARCHAR},
            </if>
            <if test="record.bak4 != null">
                bak4=#{record.bak4,jdbcType=VARCHAR},
            </if>
            <if test="record.bak5 != null">
                bak5=#{record.bak5,jdbcType=VARCHAR},
            </if>
            <if test="record.bak6 != null">
                bak6=#{record.bak6,jdbcType=VARCHAR},
            </if>
            <if test="record.modifyUserDisp != null">
                modify_user_disp=#{record.modifyUserDisp,jdbcType=VARCHAR},
            </if>
            <if test="record.ownerTechType != null">
                owner_tech_type=#{record.ownerTechType,jdbcType=VARCHAR},
            </if>
            <if test="record.patenteBackground != null">
                patente_background=#{record.patenteBackground,jdbcType=LONGVARCHAR},
            </if>
            <if test="record.ownerProjectName != null">
                owner_project_name=#{record.ownerProjectName,jdbcType=VARCHAR},
            </if>
            <if test="record.expertNationality != null">
                expert_nationality=#{record.expertNationality,jdbcType=VARCHAR},
            </if>
            <if test="record.ownerProjectId != null">
                owner_project_id=#{record.ownerProjectId,jdbcType=VARCHAR},
            </if>
            <if test="record.company != null">
                company=#{record.company,jdbcType=VARCHAR},
            </if>
            <if test="record.companId != null">
                compan_id=#{record.companId,jdbcType=VARCHAR},
            </if>
            <if test="record.sysFlag != null">
                sys_flag=#{record.sysFlag,jdbcType=VARCHAR},
            </if>
            <if test="record.dataOrder != null">
                data_order=#{record.dataOrder,jdbcType=INTEGER},
            </if>
            <if test="record.delFlag != null">
                del_flag=#{record.delFlag,jdbcType=INTEGER},
            </if>
            <if test="record.createDate != null">
                create_date=#{record.createDate,jdbcType=VARCHAR},
            </if>
            <if test="record.createUser != null">
                create_user=#{record.createUser,jdbcType=VARCHAR},
            </if>
            <if test="record.createUserDisp != null">
                create_user_disp=#{record.createUserDisp,jdbcType=VARCHAR},
            </if>
            <if test="record.modifyDate != null">
                modify_date=#{record.modifyDate,jdbcType=VARCHAR},
            </if>
            <if test="record.modifyUser != null">
                modify_user=#{record.modifyUser,jdbcType=VARCHAR}
            </if>

        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update zjk_patent
        set
        data_id=#{record.dataId,jdbcType=VARCHAR},
        user_id=#{record.userId,jdbcType=VARCHAR},
        expert_id=#{record.expertId,jdbcType=VARCHAR},
        patent_name=#{record.patentName,jdbcType=VARCHAR},
        patent_code=#{record.patentCode,jdbcType=VARCHAR},
        patent_desc=#{record.patentDesc,jdbcType=VARCHAR},
        patent_keys=#{record.patentKeys,jdbcType=VARCHAR},
        patente_people_name=#{record.patentePeopleName,jdbcType=VARCHAR},
        patente_people_id=#{record.patentePeopleId,jdbcType=VARCHAR},
        invent_people_id=#{record.inventPeopleId,jdbcType=VARCHAR},
        invent_people_name=#{record.inventPeopleName,jdbcType=VARCHAR},
        apply_people=#{record.applyPeople,jdbcType=VARCHAR},
        public_date=#{record.publicDate,jdbcType=VARCHAR},
        apply_date=#{record.applyDate,jdbcType=VARCHAR},
        bak1=#{record.bak1,jdbcType=VARCHAR},
        bak2=#{record.bak2,jdbcType=VARCHAR},
        bak3=#{record.bak3,jdbcType=VARCHAR},
        bak4=#{record.bak4,jdbcType=VARCHAR},
        bak5=#{record.bak5,jdbcType=VARCHAR},
        bak6=#{record.bak6,jdbcType=VARCHAR},
        modify_user_disp=#{record.modifyUserDisp,jdbcType=VARCHAR},
        owner_tech_type=#{record.ownerTechType,jdbcType=VARCHAR},
        patente_background=#{record.patenteBackground,jdbcType=LONGVARCHAR},
        owner_project_name=#{record.ownerProjectName,jdbcType=VARCHAR},
        expert_nationality=#{record.expertNationality,jdbcType=VARCHAR},
        owner_project_id=#{record.ownerProjectId,jdbcType=VARCHAR},
        company=#{record.company,jdbcType=VARCHAR},
        compan_id=#{record.companId,jdbcType=VARCHAR},
        sys_flag=#{record.sysFlag,jdbcType=VARCHAR},
        data_order=#{record.dataOrder,jdbcType=INTEGER},
        del_flag=#{record.delFlag,jdbcType=INTEGER},
        create_date=#{record.createDate,jdbcType=VARCHAR},
        create_user=#{record.createUser,jdbcType=VARCHAR},
        create_user_disp=#{record.createUserDisp,jdbcType=VARCHAR},
        modify_date=#{record.modifyDate,jdbcType=VARCHAR},
        modify_user=#{record.modifyUser,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.pcitc.base.expert.ZjkPatent">
        update zjk_patent
        <set>

            <if test="userId != null">
            user_id=#{userId ,jdbcType=VARCHAR},
            </if>
            <if test="expertId != null">
            expert_id=#{expertId ,jdbcType=VARCHAR},
            </if>
            <if test="patentName != null">
            patent_name=#{patentName ,jdbcType=VARCHAR},
            </if>
            <if test="patentCode != null">
            patent_code=#{patentCode ,jdbcType=VARCHAR},
            </if>
            <if test="patentDesc != null">
            patent_desc=#{patentDesc ,jdbcType=VARCHAR},
            </if>
            <if test="patentKeys != null">
            patent_keys=#{patentKeys ,jdbcType=VARCHAR},
            </if>
            <if test="patentePeopleName != null">
            patente_people_name=#{patentePeopleName ,jdbcType=VARCHAR},
            </if>
            <if test="patentePeopleId != null">
            patente_people_id=#{patentePeopleId ,jdbcType=VARCHAR},
            </if>
            <if test="inventPeopleId != null">
            invent_people_id=#{inventPeopleId ,jdbcType=VARCHAR},
            </if>
            <if test="inventPeopleName != null">
            invent_people_name=#{inventPeopleName ,jdbcType=VARCHAR},
            </if>
            <if test="applyPeople != null">
            apply_people=#{applyPeople ,jdbcType=VARCHAR},
            </if>
            <if test="publicDate != null">
            public_date=#{publicDate ,jdbcType=VARCHAR},
            </if>
            <if test="applyDate != null">
            apply_date=#{applyDate ,jdbcType=VARCHAR},
            </if>
            <if test="bak1 != null">
            bak1=#{bak1 ,jdbcType=VARCHAR},
            </if>
            <if test="bak2 != null">
            bak2=#{bak2 ,jdbcType=VARCHAR},
            </if>
            <if test="bak3 != null">
            bak3=#{bak3 ,jdbcType=VARCHAR},
            </if>
            <if test="bak4 != null">
            bak4=#{bak4 ,jdbcType=VARCHAR},
            </if>
            <if test="bak5 != null">
            bak5=#{bak5 ,jdbcType=VARCHAR},
            </if>
            <if test="bak6 != null">
            bak6=#{bak6 ,jdbcType=VARCHAR},
            </if>
            <if test="modifyUserDisp != null">
            modify_user_disp=#{modifyUserDisp ,jdbcType=VARCHAR},
            </if>
            <if test="ownerTechType != null">
            owner_tech_type=#{ownerTechType ,jdbcType=VARCHAR},
            </if>
            <if test="patenteBackground != null">
            patente_background=#{patenteBackground ,jdbcType=LONGVARCHAR},
            </if>
            <if test="ownerProjectName != null">
            owner_project_name=#{ownerProjectName ,jdbcType=VARCHAR},
            </if>
            <if test="expertNationality != null">
            expert_nationality=#{expertNationality ,jdbcType=VARCHAR},
            </if>
            <if test="ownerProjectId != null">
            owner_project_id=#{ownerProjectId ,jdbcType=VARCHAR},
            </if>
            <if test="company != null">
            company=#{company ,jdbcType=VARCHAR},
            </if>
            <if test="companId != null">
            compan_id=#{companId ,jdbcType=VARCHAR},
            </if>
            <if test="sysFlag != null">
            sys_flag=#{sysFlag ,jdbcType=VARCHAR},
            </if>
            <if test="dataOrder != null">
            data_order=#{dataOrder ,jdbcType=INTEGER},
            </if>
            <if test="delFlag != null">
            del_flag=#{delFlag ,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
            create_date=#{createDate ,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
            create_user=#{createUser ,jdbcType=VARCHAR},
            </if>
            <if test="createUserDisp != null">
            create_user_disp=#{createUserDisp ,jdbcType=VARCHAR},
            </if>
            <if test="modifyDate != null">
            modify_date=#{modifyDate ,jdbcType=VARCHAR},
            </if>
            <if test="modifyUser != null">
            modify_user=#{modifyUser ,jdbcType=VARCHAR}
            </if>
        </set>
        where data_id = #{dataId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.pcitc.base.expert.ZjkPatent">
        update zjk_patent
        set
            user_id=#{userId,jdbcType=VARCHAR},
            expert_id=#{expertId,jdbcType=VARCHAR},
            patent_name=#{patentName,jdbcType=VARCHAR},
            patent_code=#{patentCode,jdbcType=VARCHAR},
            patent_desc=#{patentDesc,jdbcType=VARCHAR},
            patent_keys=#{patentKeys,jdbcType=VARCHAR},
            patente_people_name=#{patentePeopleName,jdbcType=VARCHAR},
            patente_people_id=#{patentePeopleId,jdbcType=VARCHAR},
            invent_people_id=#{inventPeopleId,jdbcType=VARCHAR},
            invent_people_name=#{inventPeopleName,jdbcType=VARCHAR},
            apply_people=#{applyPeople,jdbcType=VARCHAR},
            public_date=#{publicDate,jdbcType=VARCHAR},
            apply_date=#{applyDate,jdbcType=VARCHAR},
            bak1=#{bak1,jdbcType=VARCHAR},
            bak2=#{bak2,jdbcType=VARCHAR},
            bak3=#{bak3,jdbcType=VARCHAR},
            bak4=#{bak4,jdbcType=VARCHAR},
            bak5=#{bak5,jdbcType=VARCHAR},
            bak6=#{bak6,jdbcType=VARCHAR},
            modify_user_disp=#{modifyUserDisp,jdbcType=VARCHAR},
            owner_tech_type=#{ownerTechType,jdbcType=VARCHAR},
            patente_background=#{patenteBackground,jdbcType=LONGVARCHAR},
            owner_project_name=#{ownerProjectName,jdbcType=VARCHAR},
            expert_nationality=#{expertNationality,jdbcType=VARCHAR},
            owner_project_id=#{ownerProjectId,jdbcType=VARCHAR},
            company=#{company,jdbcType=VARCHAR},
            compan_id=#{companId,jdbcType=VARCHAR},
            sys_flag=#{sysFlag,jdbcType=VARCHAR},
            data_order=#{dataOrder,jdbcType=INTEGER},
            del_flag=#{delFlag,jdbcType=INTEGER},
            create_date=#{createDate,jdbcType=VARCHAR},
            create_user=#{createUser,jdbcType=VARCHAR},
            create_user_disp=#{createUserDisp,jdbcType=VARCHAR},
            modify_date=#{modifyDate,jdbcType=VARCHAR},
            modify_user=#{modifyUser,jdbcType=VARCHAR}
        where data_id = #{dataId,jdbcType=VARCHAR}
    </update>
    <!-- 分页查询 -->
        <select id="findSysFileKindByPage" parameterType="com.pcitc.base.expert.ZjkPatent"  resultMap="BaseResultMap">

        select
                    data_id,
                    user_id,
                    expert_id,
                    patent_name,
                    patent_code,
                    patent_desc,
                    patent_keys,
                    patente_people_name,
                    patente_people_id,
                    invent_people_id,
                    invent_people_name,
                    apply_people,
                    public_date,
                    apply_date,
                    bak1,
                    bak2,
                    bak3,
                    bak4,
                    bak5,
                    bak6,
                    modify_user_disp,
                    owner_tech_type,
                    patente_background,
                    owner_project_name,
                    expert_nationality,
                    owner_project_id,
                    company,
                    compan_id,
                    sys_flag,
                    data_order,
                    del_flag,
                    create_date,
                    create_user,
                    create_user_disp,
                    modify_date,
                    modify_user
        from zjk_patent
        where 1=1
                        <if test="dataId!=null and dataId!=''.toString()">
                            and data_id like '%${dataId}%'
                        </if>
                        <if test="userId!=null and userId!=''.toString()">
                            and user_id like '%${userId}%'
                        </if>
                        <if test="expertId!=null and expertId!=''.toString()">
                            and expert_id like '%${expertId}%'
                        </if>
                        <if test="patentName!=null and patentName!=''.toString()">
                            and patent_name like '%${patentName}%'
                        </if>
                        <if test="patentCode!=null and patentCode!=''.toString()">
                            and patent_code like '%${patentCode}%'
                        </if>
                        <if test="patentDesc!=null and patentDesc!=''.toString()">
                            and patent_desc like '%${patentDesc}%'
                        </if>
                        <if test="patentKeys!=null and patentKeys!=''.toString()">
                            and patent_keys like '%${patentKeys}%'
                        </if>
                        <if test="patentePeopleName!=null and patentePeopleName!=''.toString()">
                            and patente_people_name like '%${patentePeopleName}%'
                        </if>
                        <if test="patentePeopleId!=null and patentePeopleId!=''.toString()">
                            and patente_people_id like '%${patentePeopleId}%'
                        </if>
                        <if test="inventPeopleId!=null and inventPeopleId!=''.toString()">
                            and invent_people_id like '%${inventPeopleId}%'
                        </if>
                        <if test="inventPeopleName!=null and inventPeopleName!=''.toString()">
                            and invent_people_name like '%${inventPeopleName}%'
                        </if>
                        <if test="applyPeople!=null and applyPeople!=''.toString()">
                            and apply_people like '%${applyPeople}%'
                        </if>
                        <if test="publicDate!=null and publicDate!=''.toString()">
                            and public_date like '%${publicDate}%'
                        </if>
                        <if test="applyDate!=null and applyDate!=''.toString()">
                            and apply_date like '%${applyDate}%'
                        </if>
                        <if test="bak1!=null and bak1!=''.toString()">
                            and bak1 like '%${bak1}%'
                        </if>
                        <if test="bak2!=null and bak2!=''.toString()">
                            and bak2 like '%${bak2}%'
                        </if>
                        <if test="bak3!=null and bak3!=''.toString()">
                            and bak3 like '%${bak3}%'
                        </if>
                        <if test="bak4!=null and bak4!=''.toString()">
                            and bak4 like '%${bak4}%'
                        </if>
                        <if test="bak5!=null and bak5!=''.toString()">
                            and bak5 like '%${bak5}%'
                        </if>
                        <if test="bak6!=null and bak6!=''.toString()">
                            and bak6 like '%${bak6}%'
                        </if>
                        <if test="modifyUserDisp!=null and modifyUserDisp!=''.toString()">
                            and modify_user_disp like '%${modifyUserDisp}%'
                        </if>
                        <if test="ownerTechType!=null and ownerTechType!=''.toString()">
                            and owner_tech_type like '%${ownerTechType}%'
                        </if>
                        <if test="patenteBackground!=null and patenteBackground!=''.toString()">
                            and patente_background like '%${patenteBackground}%'
                        </if>
                        <if test="ownerProjectName!=null and ownerProjectName!=''.toString()">
                            and owner_project_name like '%${ownerProjectName}%'
                        </if>
                        <if test="expertNationality!=null and expertNationality!=''.toString()">
                            and expert_nationality like '%${expertNationality}%'
                        </if>
                        <if test="ownerProjectId!=null and ownerProjectId!=''.toString()">
                            and owner_project_id like '%${ownerProjectId}%'
                        </if>
                        <if test="company!=null and company!=''.toString()">
                            and company like '%${company}%'
                        </if>
                        <if test="companId!=null and companId!=''.toString()">
                            and compan_id like '%${companId}%'
                        </if>
                        <if test="sysFlag!=null and sysFlag!=''.toString()">
                            and sys_flag like '%${sysFlag}%'
                        </if>
                        <if test="dataOrder!=null and dataOrder!=''.toString()">
                            and data_order like '%${dataOrder}%'
                        </if>
                        <if test="delFlag!=null and delFlag!=''.toString()">
                            and del_flag like '%${delFlag}%'
                        </if>
                        <if test="createDate!=null and createDate!=''.toString()">
                            and create_date like '%${createDate}%'
                        </if>
                        <if test="createUser!=null and createUser!=''.toString()">
                            and create_user like '%${createUser}%'
                        </if>
                        <if test="createUserDisp!=null and createUserDisp!=''.toString()">
                            and create_user_disp like '%${createUserDisp}%'
                        </if>
                        <if test="modifyDate!=null and modifyDate!=''.toString()">
                            and modify_date like '%${modifyDate}%'
                        </if>
                        <if test="modifyUser!=null and modifyUser!=''.toString()">
                            and modify_user like '%${modifyUser}%'
                        </if>

        <if test="iSortCol!=null and iSortCol!=''.toString()">
            order by ${iSortCol} ${sSortDir_0}
        </if>
    </select>
    <!-- 查询列表 -->
    <select id="findZjkPatentList" parameterType="com.pcitc.base.expert.ZjkPatent" resultMap="BaseResultMap">
        select
                    data_id,
                    user_id,
                    expert_id,
                    patent_name,
                    patent_code,
                    patent_desc,
                    patent_keys,
                    patente_people_name,
                    patente_people_id,
                    invent_people_id,
                    invent_people_name,
                    apply_people,
                    public_date,
                    apply_date,
                    bak1,
                    bak2,
                    bak3,
                    bak4,
                    bak5,
                    bak6,
                    modify_user_disp,
                    owner_tech_type,
                    patente_background,
                    owner_project_name,
                    expert_nationality,
                    owner_project_id,
                    company,
                    compan_id,
                    sys_flag,
                    data_order,
                    del_flag,
                    create_date,
                    create_user,
                    create_user_disp,
                    modify_date,
                    modify_user
        from zjk_patent
        where 1=1
                        <if test="dataId!=null">
                            and data_id = #{dataId,jdbcType=VARCHAR}
                        </if>
                        <if test="userId!=null">
                            and user_id = #{userId,jdbcType=VARCHAR}
                        </if>
                        <if test="expertId!=null">
                            and expert_id = #{expertId,jdbcType=VARCHAR}
                        </if>
                        <if test="patentName!=null">
                            and patent_name = #{patentName,jdbcType=VARCHAR}
                        </if>
                        <if test="patentCode!=null">
                            and patent_code = #{patentCode,jdbcType=VARCHAR}
                        </if>
                        <if test="patentDesc!=null">
                            and patent_desc = #{patentDesc,jdbcType=VARCHAR}
                        </if>
                        <if test="patentKeys!=null">
                            and patent_keys = #{patentKeys,jdbcType=VARCHAR}
                        </if>
                        <if test="patentePeopleName!=null">
                            and patente_people_name = #{patentePeopleName,jdbcType=VARCHAR}
                        </if>
                        <if test="patentePeopleId!=null">
                            and patente_people_id = #{patentePeopleId,jdbcType=VARCHAR}
                        </if>
                        <if test="inventPeopleId!=null">
                            and invent_people_id = #{inventPeopleId,jdbcType=VARCHAR}
                        </if>
                        <if test="inventPeopleName!=null">
                            and invent_people_name = #{inventPeopleName,jdbcType=VARCHAR}
                        </if>
                        <if test="applyPeople!=null">
                            and apply_people = #{applyPeople,jdbcType=VARCHAR}
                        </if>
                        <if test="publicDate!=null">
                            and public_date = #{publicDate,jdbcType=VARCHAR}
                        </if>
                        <if test="applyDate!=null">
                            and apply_date = #{applyDate,jdbcType=VARCHAR}
                        </if>
                        <if test="bak1!=null">
                            and bak1 = #{bak1,jdbcType=VARCHAR}
                        </if>
                        <if test="bak2!=null">
                            and bak2 = #{bak2,jdbcType=VARCHAR}
                        </if>
                        <if test="bak3!=null">
                            and bak3 = #{bak3,jdbcType=VARCHAR}
                        </if>
                        <if test="bak4!=null">
                            and bak4 = #{bak4,jdbcType=VARCHAR}
                        </if>
                        <if test="bak5!=null">
                            and bak5 = #{bak5,jdbcType=VARCHAR}
                        </if>
                        <if test="bak6!=null">
                            and bak6 = #{bak6,jdbcType=VARCHAR}
                        </if>
                        <if test="modifyUserDisp!=null">
                            and modify_user_disp = #{modifyUserDisp,jdbcType=VARCHAR}
                        </if>
                        <if test="ownerTechType!=null">
                            and owner_tech_type = #{ownerTechType,jdbcType=VARCHAR}
                        </if>
                        <if test="patenteBackground!=null">
                            and patente_background = #{patenteBackground,jdbcType=VARCHAR}
                        </if>
                        <if test="ownerProjectName!=null">
                            and owner_project_name = #{ownerProjectName,jdbcType=VARCHAR}
                        </if>
                        <if test="expertNationality!=null">
                            and expert_nationality = #{expertNationality,jdbcType=VARCHAR}
                        </if>
                        <if test="ownerProjectId!=null">
                            and owner_project_id = #{ownerProjectId,jdbcType=VARCHAR}
                        </if>
                        <if test="company!=null">
                            and company = #{company,jdbcType=VARCHAR}
                        </if>
                        <if test="companId!=null">
                            and compan_id = #{companId,jdbcType=VARCHAR}
                        </if>
                        <if test="sysFlag!=null">
                            and sys_flag = #{sysFlag,jdbcType=VARCHAR}
                        </if>
                        <if test="dataOrder!=null">
                            and data_order = #{dataOrder,jdbcType=VARCHAR}
                        </if>
                        <if test="delFlag!=null">
                            and del_flag = #{delFlag,jdbcType=VARCHAR}
                        </if>
                        <if test="createDate!=null">
                            and create_date = #{createDate,jdbcType=VARCHAR}
                        </if>
                        <if test="createUser!=null">
                            and create_user = #{createUser,jdbcType=VARCHAR}
                        </if>
                        <if test="createUserDisp!=null">
                            and create_user_disp = #{createUserDisp,jdbcType=VARCHAR}
                        </if>
                        <if test="modifyDate!=null">
                            and modify_date = #{modifyDate,jdbcType=VARCHAR}
                        </if>
                        <if test="modifyUser!=null">
                            and modify_user = #{modifyUser,jdbcType=VARCHAR}
                        </if>

        <if test="iSortCol!=null and iSortCol!=''.toString()">
            order by ${iSortCol} ${sSortDir_0}
        </if>
    </select>
</mapper>