<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pcitc.mapper.expert.ZjkTrainMapper">

    <resultMap id="BaseResultMap" type="com.pcitc.base.expert.ZjkTrain">

        <id column="data_id" jdbcType="VARCHAR" property="dataId"/>
        <result column="sys_flag" jdbcType="VARCHAR" property="sysFlag"/>
        <result column="data_order" jdbcType="INTEGER" property="dataOrder"/>
        <result column="del_flag" jdbcType="INTEGER" property="delFlag"/>
        <result column="create_date" jdbcType="VARCHAR" property="createDate"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="create_user_disp" jdbcType="VARCHAR" property="createUserDisp"/>
        <result column="modify_date" jdbcType="VARCHAR" property="modifyDate"/>
        <result column="modify_user" jdbcType="VARCHAR" property="modifyUser"/>
        <result column="modify_user_disp" jdbcType="VARCHAR" property="modifyUserDisp"/>
        <result column="form_code" jdbcType="VARCHAR" property="formCode"/>
        <result column="data_index" jdbcType="VARCHAR" property="dataIndex"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="audit_status" jdbcType="VARCHAR" property="auditStatus"/>
        <result column="company_code" jdbcType="VARCHAR" property="companyCode"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
        <result column="update_date" jdbcType="VARCHAR" property="updateDate"/>
        <result column="project_id" jdbcType="VARCHAR" property="projectId"/>
        <result column="project_name" jdbcType="VARCHAR" property="projectName"/>
        <result column="zjk_id" jdbcType="VARCHAR" property="zjkId"/>
        <result column="zjk_name" jdbcType="VARCHAR" property="zjkName"/>
        <result column="train_theme" jdbcType="VARCHAR" property="trainTheme"/>
        <result column="train_date" jdbcType="VARCHAR" property="trainDate"/>
        <result column="train_type" jdbcType="VARCHAR" property="trainType"/>
        <result column="train_user" jdbcType="VARCHAR" property="trainUser"/>
        <result column="train_desc" jdbcType="VARCHAR" property="trainDesc"/>
        <result column="do_desc" jdbcType="VARCHAR" property="doDesc"/>
        <result column="xm_steps" jdbcType="VARCHAR" property="xmSteps"/>
        <result column="xm_id" jdbcType="VARCHAR" property="xmId"/>
        <result column="xm_name" jdbcType="VARCHAR" property="xmName"/>
        <result column="bak1" jdbcType="VARCHAR" property="bak1"/>
        <result column="bak2" jdbcType="VARCHAR" property="bak2"/>
        <result column="bak3" jdbcType="VARCHAR" property="bak3"/>
        <result column="bak4" jdbcType="VARCHAR" property="bak4"/>
        <result column="bak5" jdbcType="VARCHAR" property="bak5"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        data_id,
        sys_flag,
        data_order,
        del_flag,
        create_date,
        create_user,
        create_user_disp,
        modify_date,
        modify_user,
        modify_user_disp,
        form_code,
        data_index,
        status,
        audit_status,
        company_code,
        update_user,
        update_date,
        project_id,
        project_name,
        zjk_id,
        zjk_name,
        train_theme,
        train_date,
        train_type,
        train_user,
        train_desc,
        do_desc,
        xm_steps,
        xm_id,
        xm_name,
        bak1,
        bak2,
        bak3,
        bak4,
        bak5
</sql>

    <select id="selectByExample" parameterType="com.pcitc.base.expert.ZjkTrainExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from zjk_train
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="limit != null">
            <if test="offset != null">
                limit ${offset}, ${limit}
            </if>
            <if test="offset == null">
                limit ${limit}
            </if>
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from zjk_train
        where data_id = #{dataId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from zjk_train
        where data_id = #{dataId,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteByExample" parameterType="com.pcitc.base.expert.ZjkTrainExample">
        delete from zjk_train
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.pcitc.base.expert.ZjkTrain">
        insert into zjk_train (
            data_id,
            sys_flag,
            data_order,
            del_flag,
            create_date,
            create_user,
            create_user_disp,
            modify_date,
            modify_user,
            modify_user_disp,
            form_code,
            data_index,
            status,
            audit_status,
            company_code,
            update_user,
            update_date,
            project_id,
            project_name,
            zjk_id,
            zjk_name,
            train_theme,
            train_date,
            train_type,
            train_user,
            train_desc,
            do_desc,
            xm_steps,
            xm_id,
            xm_name,
            bak1,
            bak2,
            bak3,
            bak4,
            bak5
        )
        values (

    #{dataId,jdbcType=VARCHAR},
    #{sysFlag,jdbcType=VARCHAR},
    #{dataOrder,jdbcType=INTEGER},
    #{delFlag,jdbcType=INTEGER},
    #{createDate,jdbcType=VARCHAR},
    #{createUser,jdbcType=VARCHAR},
    #{createUserDisp,jdbcType=VARCHAR},
    #{modifyDate,jdbcType=VARCHAR},
    #{modifyUser,jdbcType=VARCHAR},
    #{modifyUserDisp,jdbcType=VARCHAR},
    #{formCode,jdbcType=VARCHAR},
    #{dataIndex,jdbcType=VARCHAR},
    #{status,jdbcType=VARCHAR},
    #{auditStatus,jdbcType=VARCHAR},
    #{companyCode,jdbcType=VARCHAR},
    #{updateUser,jdbcType=VARCHAR},
    #{updateDate,jdbcType=VARCHAR},
    #{projectId,jdbcType=VARCHAR},
    #{projectName,jdbcType=VARCHAR},
    #{zjkId,jdbcType=VARCHAR},
    #{zjkName,jdbcType=VARCHAR},
    #{trainTheme,jdbcType=VARCHAR},
    #{trainDate,jdbcType=VARCHAR},
    #{trainType,jdbcType=VARCHAR},
    #{trainUser,jdbcType=VARCHAR},
    #{trainDesc,jdbcType=VARCHAR},
    #{doDesc,jdbcType=VARCHAR},
    #{xmSteps,jdbcType=VARCHAR},
    #{xmId,jdbcType=VARCHAR},
    #{xmName,jdbcType=VARCHAR},
    #{bak1,jdbcType=VARCHAR},
    #{bak2,jdbcType=VARCHAR},
    #{bak3,jdbcType=VARCHAR},
    #{bak4,jdbcType=VARCHAR},
    #{bak5,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.pcitc.base.expert.ZjkTrain">
        insert into zjk_train
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="dataId != null">
                data_id,
            </if>
            <if test="sysFlag != null">
                sys_flag,
            </if>
            <if test="dataOrder != null">
                data_order,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="createUserDisp != null">
                create_user_disp,
            </if>
            <if test="modifyDate != null">
                modify_date,
            </if>
            <if test="modifyUser != null">
                modify_user,
            </if>
            <if test="modifyUserDisp != null">
                modify_user_disp,
            </if>
            <if test="formCode != null">
                form_code,
            </if>
            <if test="dataIndex != null">
                data_index,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="auditStatus != null">
                audit_status,
            </if>
            <if test="companyCode != null">
                company_code,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
            <if test="projectId != null">
                project_id,
            </if>
            <if test="projectName != null">
                project_name,
            </if>
            <if test="zjkId != null">
                zjk_id,
            </if>
            <if test="zjkName != null">
                zjk_name,
            </if>
            <if test="trainTheme != null">
                train_theme,
            </if>
            <if test="trainDate != null">
                train_date,
            </if>
            <if test="trainType != null">
                train_type,
            </if>
            <if test="trainUser != null">
                train_user,
            </if>
            <if test="trainDesc != null">
                train_desc,
            </if>
            <if test="doDesc != null">
                do_desc,
            </if>
            <if test="xmSteps != null">
                xm_steps,
            </if>
            <if test="xmId != null">
                xm_id,
            </if>
            <if test="xmName != null">
                xm_name,
            </if>
            <if test="bak1 != null">
                bak1,
            </if>
            <if test="bak2 != null">
                bak2,
            </if>
            <if test="bak3 != null">
                bak3,
            </if>
            <if test="bak4 != null">
                bak4,
            </if>
            <if test="bak5 != null">
                bak5
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">


            <if test="dataId != null">
                #{dataId ,jdbcType=VARCHAR},
            </if>
            <if test="sysFlag != null">
                #{sysFlag ,jdbcType=VARCHAR},
            </if>
            <if test="dataOrder != null">
                #{dataOrder ,jdbcType=INTEGER},
            </if>
            <if test="delFlag != null">
                #{delFlag ,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                #{createDate ,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                #{createUser ,jdbcType=VARCHAR},
            </if>
            <if test="createUserDisp != null">
                #{createUserDisp ,jdbcType=VARCHAR},
            </if>
            <if test="modifyDate != null">
                #{modifyDate ,jdbcType=VARCHAR},
            </if>
            <if test="modifyUser != null">
                #{modifyUser ,jdbcType=VARCHAR},
            </if>
            <if test="modifyUserDisp != null">
                #{modifyUserDisp ,jdbcType=VARCHAR},
            </if>
            <if test="formCode != null">
                #{formCode ,jdbcType=VARCHAR},
            </if>
            <if test="dataIndex != null">
                #{dataIndex ,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status ,jdbcType=VARCHAR},
            </if>
            <if test="auditStatus != null">
                #{auditStatus ,jdbcType=VARCHAR},
            </if>
            <if test="companyCode != null">
                #{companyCode ,jdbcType=VARCHAR},
            </if>
            <if test="updateUser != null">
                #{updateUser ,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                #{updateDate ,jdbcType=VARCHAR},
            </if>
            <if test="projectId != null">
                #{projectId ,jdbcType=VARCHAR},
            </if>
            <if test="projectName != null">
                #{projectName ,jdbcType=VARCHAR},
            </if>
            <if test="zjkId != null">
                #{zjkId ,jdbcType=VARCHAR},
            </if>
            <if test="zjkName != null">
                #{zjkName ,jdbcType=VARCHAR},
            </if>
            <if test="trainTheme != null">
                #{trainTheme ,jdbcType=VARCHAR},
            </if>
            <if test="trainDate != null">
                #{trainDate ,jdbcType=VARCHAR},
            </if>
            <if test="trainType != null">
                #{trainType ,jdbcType=VARCHAR},
            </if>
            <if test="trainUser != null">
                #{trainUser ,jdbcType=VARCHAR},
            </if>
            <if test="trainDesc != null">
                #{trainDesc ,jdbcType=VARCHAR},
            </if>
            <if test="doDesc != null">
                #{doDesc ,jdbcType=VARCHAR},
            </if>
            <if test="xmSteps != null">
                #{xmSteps ,jdbcType=VARCHAR},
            </if>
            <if test="xmId != null">
                #{xmId ,jdbcType=VARCHAR},
            </if>
            <if test="xmName != null">
                #{xmName ,jdbcType=VARCHAR},
            </if>
            <if test="bak1 != null">
                #{bak1 ,jdbcType=VARCHAR},
            </if>
            <if test="bak2 != null">
                #{bak2 ,jdbcType=VARCHAR},
            </if>
            <if test="bak3 != null">
                #{bak3 ,jdbcType=VARCHAR},
            </if>
            <if test="bak4 != null">
                #{bak4 ,jdbcType=VARCHAR},
            </if>
            <if test="bak5 != null">
                #{bak5 ,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.pcitc.base.expert.ZjkTrainExample" resultType="java.lang.Long">
        select count(*) from zjk_train
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update zjk_train
        <set>

            <if test="record.dataId != null">
                data_id=#{record.dataId,jdbcType=VARCHAR},
            </if>
            <if test="record.sysFlag != null">
                sys_flag=#{record.sysFlag,jdbcType=VARCHAR},
            </if>
            <if test="record.dataOrder != null">
                data_order=#{record.dataOrder,jdbcType=INTEGER},
            </if>
            <if test="record.delFlag != null">
                del_flag=#{record.delFlag,jdbcType=INTEGER},
            </if>
            <if test="record.createDate != null">
                create_date=#{record.createDate,jdbcType=VARCHAR},
            </if>
            <if test="record.createUser != null">
                create_user=#{record.createUser,jdbcType=VARCHAR},
            </if>
            <if test="record.createUserDisp != null">
                create_user_disp=#{record.createUserDisp,jdbcType=VARCHAR},
            </if>
            <if test="record.modifyDate != null">
                modify_date=#{record.modifyDate,jdbcType=VARCHAR},
            </if>
            <if test="record.modifyUser != null">
                modify_user=#{record.modifyUser,jdbcType=VARCHAR},
            </if>
            <if test="record.modifyUserDisp != null">
                modify_user_disp=#{record.modifyUserDisp,jdbcType=VARCHAR},
            </if>
            <if test="record.formCode != null">
                form_code=#{record.formCode,jdbcType=VARCHAR},
            </if>
            <if test="record.dataIndex != null">
                data_index=#{record.dataIndex,jdbcType=VARCHAR},
            </if>
            <if test="record.status != null">
                status=#{record.status,jdbcType=VARCHAR},
            </if>
            <if test="record.auditStatus != null">
                audit_status=#{record.auditStatus,jdbcType=VARCHAR},
            </if>
            <if test="record.companyCode != null">
                company_code=#{record.companyCode,jdbcType=VARCHAR},
            </if>
            <if test="record.updateUser != null">
                update_user=#{record.updateUser,jdbcType=VARCHAR},
            </if>
            <if test="record.updateDate != null">
                update_date=#{record.updateDate,jdbcType=VARCHAR},
            </if>
            <if test="record.projectId != null">
                project_id=#{record.projectId,jdbcType=VARCHAR},
            </if>
            <if test="record.projectName != null">
                project_name=#{record.projectName,jdbcType=VARCHAR},
            </if>
            <if test="record.zjkId != null">
                zjk_id=#{record.zjkId,jdbcType=VARCHAR},
            </if>
            <if test="record.zjkName != null">
                zjk_name=#{record.zjkName,jdbcType=VARCHAR},
            </if>
            <if test="record.trainTheme != null">
                train_theme=#{record.trainTheme,jdbcType=VARCHAR},
            </if>
            <if test="record.trainDate != null">
                train_date=#{record.trainDate,jdbcType=VARCHAR},
            </if>
            <if test="record.trainType != null">
                train_type=#{record.trainType,jdbcType=VARCHAR},
            </if>
            <if test="record.trainUser != null">
                train_user=#{record.trainUser,jdbcType=VARCHAR},
            </if>
            <if test="record.trainDesc != null">
                train_desc=#{record.trainDesc,jdbcType=VARCHAR},
            </if>
            <if test="record.doDesc != null">
                do_desc=#{record.doDesc,jdbcType=VARCHAR},
            </if>
            <if test="record.xmSteps != null">
                xm_steps=#{record.xmSteps,jdbcType=VARCHAR},
            </if>
            <if test="record.xmId != null">
                xm_id=#{record.xmId,jdbcType=VARCHAR},
            </if>
            <if test="record.xmName != null">
                xm_name=#{record.xmName,jdbcType=VARCHAR},
            </if>
            <if test="record.bak1 != null">
                bak1=#{record.bak1,jdbcType=VARCHAR},
            </if>
            <if test="record.bak2 != null">
                bak2=#{record.bak2,jdbcType=VARCHAR},
            </if>
            <if test="record.bak3 != null">
                bak3=#{record.bak3,jdbcType=VARCHAR},
            </if>
            <if test="record.bak4 != null">
                bak4=#{record.bak4,jdbcType=VARCHAR},
            </if>
            <if test="record.bak5 != null">
                bak5=#{record.bak5,jdbcType=VARCHAR}
            </if>

        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update zjk_train
        set
        data_id=#{record.dataId,jdbcType=VARCHAR},
        sys_flag=#{record.sysFlag,jdbcType=VARCHAR},
        data_order=#{record.dataOrder,jdbcType=INTEGER},
        del_flag=#{record.delFlag,jdbcType=INTEGER},
        create_date=#{record.createDate,jdbcType=VARCHAR},
        create_user=#{record.createUser,jdbcType=VARCHAR},
        create_user_disp=#{record.createUserDisp,jdbcType=VARCHAR},
        modify_date=#{record.modifyDate,jdbcType=VARCHAR},
        modify_user=#{record.modifyUser,jdbcType=VARCHAR},
        modify_user_disp=#{record.modifyUserDisp,jdbcType=VARCHAR},
        form_code=#{record.formCode,jdbcType=VARCHAR},
        data_index=#{record.dataIndex,jdbcType=VARCHAR},
        status=#{record.status,jdbcType=VARCHAR},
        audit_status=#{record.auditStatus,jdbcType=VARCHAR},
        company_code=#{record.companyCode,jdbcType=VARCHAR},
        update_user=#{record.updateUser,jdbcType=VARCHAR},
        update_date=#{record.updateDate,jdbcType=VARCHAR},
        project_id=#{record.projectId,jdbcType=VARCHAR},
        project_name=#{record.projectName,jdbcType=VARCHAR},
        zjk_id=#{record.zjkId,jdbcType=VARCHAR},
        zjk_name=#{record.zjkName,jdbcType=VARCHAR},
        train_theme=#{record.trainTheme,jdbcType=VARCHAR},
        train_date=#{record.trainDate,jdbcType=VARCHAR},
        train_type=#{record.trainType,jdbcType=VARCHAR},
        train_user=#{record.trainUser,jdbcType=VARCHAR},
        train_desc=#{record.trainDesc,jdbcType=VARCHAR},
        do_desc=#{record.doDesc,jdbcType=VARCHAR},
        xm_steps=#{record.xmSteps,jdbcType=VARCHAR},
        xm_id=#{record.xmId,jdbcType=VARCHAR},
        xm_name=#{record.xmName,jdbcType=VARCHAR},
        bak1=#{record.bak1,jdbcType=VARCHAR},
        bak2=#{record.bak2,jdbcType=VARCHAR},
        bak3=#{record.bak3,jdbcType=VARCHAR},
        bak4=#{record.bak4,jdbcType=VARCHAR},
        bak5=#{record.bak5,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.pcitc.base.expert.ZjkTrain">
        update zjk_train
        <set>

            <if test="sysFlag != null">
                sys_flag=#{sysFlag ,jdbcType=VARCHAR},
            </if>
            <if test="dataOrder != null">
                data_order=#{dataOrder ,jdbcType=INTEGER},
            </if>
            <if test="delFlag != null">
                del_flag=#{delFlag ,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                create_date=#{createDate ,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                create_user=#{createUser ,jdbcType=VARCHAR},
            </if>
            <if test="createUserDisp != null">
                create_user_disp=#{createUserDisp ,jdbcType=VARCHAR},
            </if>
            <if test="modifyDate != null">
                modify_date=#{modifyDate ,jdbcType=VARCHAR},
            </if>
            <if test="modifyUser != null">
                modify_user=#{modifyUser ,jdbcType=VARCHAR},
            </if>
            <if test="modifyUserDisp != null">
                modify_user_disp=#{modifyUserDisp ,jdbcType=VARCHAR},
            </if>
            <if test="formCode != null">
                form_code=#{formCode ,jdbcType=VARCHAR},
            </if>
            <if test="dataIndex != null">
                data_index=#{dataIndex ,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status=#{status ,jdbcType=VARCHAR},
            </if>
            <if test="auditStatus != null">
                audit_status=#{auditStatus ,jdbcType=VARCHAR},
            </if>
            <if test="companyCode != null">
                company_code=#{companyCode ,jdbcType=VARCHAR},
            </if>
            <if test="updateUser != null">
                update_user=#{updateUser ,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                update_date=#{updateDate ,jdbcType=VARCHAR},
            </if>
            <if test="projectId != null">
                project_id=#{projectId ,jdbcType=VARCHAR},
            </if>
            <if test="projectName != null">
                project_name=#{projectName ,jdbcType=VARCHAR},
            </if>
            <if test="zjkId != null">
                zjk_id=#{zjkId ,jdbcType=VARCHAR},
            </if>
            <if test="zjkName != null">
                zjk_name=#{zjkName ,jdbcType=VARCHAR},
            </if>
            <if test="trainTheme != null">
                train_theme=#{trainTheme ,jdbcType=VARCHAR},
            </if>
            <if test="trainDate != null">
                train_date=#{trainDate ,jdbcType=VARCHAR},
            </if>
            <if test="trainType != null">
                train_type=#{trainType ,jdbcType=VARCHAR},
            </if>
            <if test="trainUser != null">
                train_user=#{trainUser ,jdbcType=VARCHAR},
            </if>
            <if test="trainDesc != null">
                train_desc=#{trainDesc ,jdbcType=VARCHAR},
            </if>
            <if test="doDesc != null">
                do_desc=#{doDesc ,jdbcType=VARCHAR},
            </if>
            <if test="xmSteps != null">
                xm_steps=#{xmSteps ,jdbcType=VARCHAR},
            </if>
            <if test="xmId != null">
                xm_id=#{xmId ,jdbcType=VARCHAR},
            </if>
            <if test="xmName != null">
                xm_name=#{xmName ,jdbcType=VARCHAR},
            </if>
            <if test="bak1 != null">
                bak1=#{bak1 ,jdbcType=VARCHAR},
            </if>
            <if test="bak2 != null">
                bak2=#{bak2 ,jdbcType=VARCHAR},
            </if>
            <if test="bak3 != null">
                bak3=#{bak3 ,jdbcType=VARCHAR},
            </if>
            <if test="bak4 != null">
                bak4=#{bak4 ,jdbcType=VARCHAR},
            </if>
            <if test="bak5 != null">
                bak5=#{bak5 ,jdbcType=VARCHAR}
            </if>
        </set>
        where data_id = #{dataId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.pcitc.base.expert.ZjkTrain">
        update zjk_train
        set
            sys_flag=#{sysFlag,jdbcType=VARCHAR},
            data_order=#{dataOrder,jdbcType=INTEGER},
            del_flag=#{delFlag,jdbcType=INTEGER},
            create_date=#{createDate,jdbcType=VARCHAR},
            create_user=#{createUser,jdbcType=VARCHAR},
            create_user_disp=#{createUserDisp,jdbcType=VARCHAR},
            modify_date=#{modifyDate,jdbcType=VARCHAR},
            modify_user=#{modifyUser,jdbcType=VARCHAR},
            modify_user_disp=#{modifyUserDisp,jdbcType=VARCHAR},
            form_code=#{formCode,jdbcType=VARCHAR},
            data_index=#{dataIndex,jdbcType=VARCHAR},
            status=#{status,jdbcType=VARCHAR},
            audit_status=#{auditStatus,jdbcType=VARCHAR},
            company_code=#{companyCode,jdbcType=VARCHAR},
            update_user=#{updateUser,jdbcType=VARCHAR},
            update_date=#{updateDate,jdbcType=VARCHAR},
            project_id=#{projectId,jdbcType=VARCHAR},
            project_name=#{projectName,jdbcType=VARCHAR},
            zjk_id=#{zjkId,jdbcType=VARCHAR},
            zjk_name=#{zjkName,jdbcType=VARCHAR},
            train_theme=#{trainTheme,jdbcType=VARCHAR},
            train_date=#{trainDate,jdbcType=VARCHAR},
            train_type=#{trainType,jdbcType=VARCHAR},
            train_user=#{trainUser,jdbcType=VARCHAR},
            train_desc=#{trainDesc,jdbcType=VARCHAR},
            do_desc=#{doDesc,jdbcType=VARCHAR},
            xm_steps=#{xmSteps,jdbcType=VARCHAR},
            xm_id=#{xmId,jdbcType=VARCHAR},
            xm_name=#{xmName,jdbcType=VARCHAR},
            bak1=#{bak1,jdbcType=VARCHAR},
            bak2=#{bak2,jdbcType=VARCHAR},
            bak3=#{bak3,jdbcType=VARCHAR},
            bak4=#{bak4,jdbcType=VARCHAR},
            bak5=#{bak5,jdbcType=VARCHAR}
        where data_id = #{dataId,jdbcType=VARCHAR}
    </update>
    <!-- 分页查询 -->
    <select id="findSysFileKindByPage" parameterType="com.pcitc.base.expert.ZjkTrain" resultMap="BaseResultMap">

        select
        data_id,
        sys_flag,
        data_order,
        del_flag,
        create_date,
        create_user,
        create_user_disp,
        modify_date,
        modify_user,
        modify_user_disp,
        form_code,
        data_index,
        status,
        audit_status,
        company_code,
        update_user,
        update_date,
        project_id,
        project_name,
        zjk_id,
        zjk_name,
        train_theme,
        train_date,
        train_type,
        train_user,
        train_desc,
        do_desc,
        xm_steps,
        xm_id,
        xm_name,
        bak1,
        bak2,
        bak3,
        bak4,
        bak5
        from zjk_train
        where 1=1
        <if test="dataId!=null and dataId!=''.toString()">
            and data_id like '%${dataId}%'
        </if>
        <if test="sysFlag!=null and sysFlag!=''.toString()">
            and sys_flag like '%${sysFlag}%'
        </if>
        <if test="dataOrder!=null and dataOrder!=''.toString()">
            and data_order like '%${dataOrder}%'
        </if>
        <if test="delFlag!=null and delFlag!=''.toString()">
            and del_flag like '%${delFlag}%'
        </if>
        <if test="createDate!=null and createDate!=''.toString()">
            and create_date like '%${createDate}%'
        </if>
        <if test="createUser!=null and createUser!=''.toString()">
            and create_user like '%${createUser}%'
        </if>
        <if test="createUserDisp!=null and createUserDisp!=''.toString()">
            and create_user_disp like '%${createUserDisp}%'
        </if>
        <if test="modifyDate!=null and modifyDate!=''.toString()">
            and modify_date like '%${modifyDate}%'
        </if>
        <if test="modifyUser!=null and modifyUser!=''.toString()">
            and modify_user like '%${modifyUser}%'
        </if>
        <if test="modifyUserDisp!=null and modifyUserDisp!=''.toString()">
            and modify_user_disp like '%${modifyUserDisp}%'
        </if>
        <if test="formCode!=null and formCode!=''.toString()">
            and form_code like '%${formCode}%'
        </if>
        <if test="dataIndex!=null and dataIndex!=''.toString()">
            and data_index like '%${dataIndex}%'
        </if>
        <if test="status!=null and status!=''.toString()">
            and status like '%${status}%'
        </if>
        <if test="auditStatus!=null and auditStatus!=''.toString()">
            and audit_status like '%${auditStatus}%'
        </if>
        <if test="companyCode!=null and companyCode!=''.toString()">
            and company_code like '%${companyCode}%'
        </if>
        <if test="updateUser!=null and updateUser!=''.toString()">
            and update_user like '%${updateUser}%'
        </if>
        <if test="updateDate!=null and updateDate!=''.toString()">
            and update_date like '%${updateDate}%'
        </if>
        <if test="projectId!=null and projectId!=''.toString()">
            and project_id like '%${projectId}%'
        </if>
        <if test="projectName!=null and projectName!=''.toString()">
            and project_name like '%${projectName}%'
        </if>
        <if test="zjkId!=null and zjkId!=''.toString()">
            and zjk_id like '%${zjkId}%'
        </if>
        <if test="zjkName!=null and zjkName!=''.toString()">
            and zjk_name like '%${zjkName}%'
        </if>
        <if test="trainTheme!=null and trainTheme!=''.toString()">
            and train_theme like '%${trainTheme}%'
        </if>
        <if test="trainDate!=null and trainDate!=''.toString()">
            and train_date like '%${trainDate}%'
        </if>
        <if test="trainType!=null and trainType!=''.toString()">
            and train_type like '%${trainType}%'
        </if>
        <if test="trainUser!=null and trainUser!=''.toString()">
            and train_user like '%${trainUser}%'
        </if>
        <if test="trainDesc!=null and trainDesc!=''.toString()">
            and train_desc like '%${trainDesc}%'
        </if>
        <if test="doDesc!=null and doDesc!=''.toString()">
            and do_desc like '%${doDesc}%'
        </if>
        <if test="xmSteps!=null and xmSteps!=''.toString()">
            and xm_steps like '%${xmSteps}%'
        </if>
        <if test="xmId!=null and xmId!=''.toString()">
            and xm_id like '%${xmId}%'
        </if>
        <if test="xmName!=null and xmName!=''.toString()">
            and xm_name like '%${xmName}%'
        </if>
        <if test="bak1!=null and bak1!=''.toString()">
            and bak1 like '%${bak1}%'
        </if>
        <if test="bak2!=null and bak2!=''.toString()">
            and bak2 like '%${bak2}%'
        </if>
        <if test="bak3!=null and bak3!=''.toString()">
            and bak3 like '%${bak3}%'
        </if>
        <if test="bak4!=null and bak4!=''.toString()">
            and bak4 like '%${bak4}%'
        </if>
        <if test="bak5!=null and bak5!=''.toString()">
            and bak5 like '%${bak5}%'
        </if>

        <if test="iSortCol!=null and iSortCol!=''.toString()">
            order by ${iSortCol} ${sSortDir_0}
        </if>
    </select>
    <!-- 查询列表 -->
    <select id="findZjkTrainList" parameterType="com.pcitc.base.expert.ZjkTrain" resultMap="BaseResultMap">
        select
        data_id,
        sys_flag,
        data_order,
        del_flag,
        create_date,
        create_user,
        create_user_disp,
        modify_date,
        modify_user,
        modify_user_disp,
        form_code,
        data_index,
        status,
        audit_status,
        company_code,
        update_user,
        update_date,
        project_id,
        project_name,
        zjk_id,
        zjk_name,
        train_theme,
        train_date,
        train_type,
        train_user,
        train_desc,
        do_desc,
        xm_steps,
        xm_id,
        xm_name,
        bak1,
        bak2,
        bak3,
        bak4,
        bak5
        from zjk_train
        where 1=1
        <if test="dataId!=null">
            and data_id = #{dataId,jdbcType=VARCHAR}
        </if>
        <if test="sysFlag!=null">
            and sys_flag = #{sysFlag,jdbcType=VARCHAR}
        </if>
        <if test="dataOrder!=null">
            and data_order = #{dataOrder,jdbcType=VARCHAR}
        </if>
        <if test="delFlag!=null">
            and del_flag = #{delFlag,jdbcType=VARCHAR}
        </if>
        <if test="createDate!=null">
            and create_date = #{createDate,jdbcType=VARCHAR}
        </if>
        <if test="createUser!=null">
            and create_user = #{createUser,jdbcType=VARCHAR}
        </if>
        <if test="createUserDisp!=null">
            and create_user_disp = #{createUserDisp,jdbcType=VARCHAR}
        </if>
        <if test="modifyDate!=null">
            and modify_date = #{modifyDate,jdbcType=VARCHAR}
        </if>
        <if test="modifyUser!=null">
            and modify_user = #{modifyUser,jdbcType=VARCHAR}
        </if>
        <if test="modifyUserDisp!=null">
            and modify_user_disp = #{modifyUserDisp,jdbcType=VARCHAR}
        </if>
        <if test="formCode!=null">
            and form_code = #{formCode,jdbcType=VARCHAR}
        </if>
        <if test="dataIndex!=null">
            and data_index = #{dataIndex,jdbcType=VARCHAR}
        </if>
        <if test="status!=null">
            and status = #{status,jdbcType=VARCHAR}
        </if>
        <if test="auditStatus!=null">
            and audit_status = #{auditStatus,jdbcType=VARCHAR}
        </if>
        <if test="companyCode!=null">
            and company_code = #{companyCode,jdbcType=VARCHAR}
        </if>
        <if test="updateUser!=null">
            and update_user = #{updateUser,jdbcType=VARCHAR}
        </if>
        <if test="updateDate!=null">
            and update_date = #{updateDate,jdbcType=VARCHAR}
        </if>
        <if test="projectId!=null">
            and project_id = #{projectId,jdbcType=VARCHAR}
        </if>
        <if test="projectName!=null">
            and project_name = #{projectName,jdbcType=VARCHAR}
        </if>
        <if test="zjkId!=null">
            and zjk_id = #{zjkId,jdbcType=VARCHAR}
        </if>
        <if test="zjkName!=null">
            and zjk_name = #{zjkName,jdbcType=VARCHAR}
        </if>
        <if test="trainTheme!=null">
            and train_theme = #{trainTheme,jdbcType=VARCHAR}
        </if>
        <if test="trainDate!=null">
            and train_date = #{trainDate,jdbcType=VARCHAR}
        </if>
        <if test="trainType!=null">
            and train_type = #{trainType,jdbcType=VARCHAR}
        </if>
        <if test="trainUser!=null">
            and train_user = #{trainUser,jdbcType=VARCHAR}
        </if>
        <if test="trainDesc!=null">
            and train_desc = #{trainDesc,jdbcType=VARCHAR}
        </if>
        <if test="doDesc!=null">
            and do_desc = #{doDesc,jdbcType=VARCHAR}
        </if>
        <if test="xmSteps!=null">
            and xm_steps = #{xmSteps,jdbcType=VARCHAR}
        </if>
        <if test="xmId!=null">
            and xm_id = #{xmId,jdbcType=VARCHAR}
        </if>
        <if test="xmName!=null">
            and xm_name = #{xmName,jdbcType=VARCHAR}
        </if>
        <if test="bak1!=null">
            and bak1 = #{bak1,jdbcType=VARCHAR}
        </if>
        <if test="bak2!=null">
            and bak2 = #{bak2,jdbcType=VARCHAR}
        </if>
        <if test="bak3!=null">
            and bak3 = #{bak3,jdbcType=VARCHAR}
        </if>
        <if test="bak4!=null">
            and bak4 = #{bak4,jdbcType=VARCHAR}
        </if>
        <if test="bak5!=null">
            and bak5 = #{bak5,jdbcType=VARCHAR}
        </if>

        <if test="iSortCol!=null and iSortCol!=''.toString()">
            order by ${iSortCol} ${sSortDir_0}
        </if>
    </select>
</mapper>