/target/
!.mvn/wrapper/maven-wrapper.jar
/logs/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# eclipse #
*.settings
*.project
*.classpath
*.log
*.metadata

# activiti #
*.model.png
*.model.bpmn


# compression file
*.jar
*.rar
*.zip
*.7z
*.tmp

# windows #
Thumbs.db

# Mac #
*.DS_Store

### STS ###
*.apt_generated
*.classpath
*.factorypath
*.project
*.settings
*.springBeans
*.sts4-cache


### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/bin/
./target/*
*.class
*/target/*
kjpt-system-provider/.gitignore
kjpt-base/.gitignore
kjpt-business-provider/.gitignore
kjpt-platform/.gitignore
