<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcitc.mapper.expert.ZjkAchievementMapper">
  <resultMap id="BaseResultMap" type="com.pcitc.base.expert.ZjkAchievement">
  
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="expert_id" jdbcType="VARCHAR" property="expertId" />
    <result column="source_type" jdbcType="VARCHAR" property="sourceType" />
    <result column="del_status" jdbcType="VARCHAR" property="delStatus" />
    <result column="achieve_name" jdbcType="VARCHAR" property="achieveName" />
    <result column="apply_year" jdbcType="VARCHAR" property="applyYear" />
    <result column="apply_unit" jdbcType="VARCHAR" property="applyUnit" />
    <result column="achieve_type" jdbcType="VARCHAR" property="achieveType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="out_system_id" jdbcType="VARCHAR" property="outSystemId" />
    <result column="achieve_type_str" jdbcType="VARCHAR" property="achieveTypeStr" />
    <result column="apply_unit_str" jdbcType="VARCHAR" property="applyUnitStr" />

    <result column="flag" jdbcType="VARCHAR" property="flag" />
      <result column="secret_level"              jdbcType="VARCHAR" property="secretLevel" />
     <result column="secret_level_str"          jdbcType="VARCHAR" property="secretLevelStr" />
     
    <result column="knowledge_scope"             jdbcType="VARCHAR" property="knowledgeScope" />
    <result column="knowledge_person"           jdbcType="VARCHAR" property="knowledgePerson" />
    <result column="create_user"              jdbcType="VARCHAR" property="createUser" />
    
     
  </resultMap>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from zjk_achievement
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.pcitc.base.expert.ZjkAchievement" useGeneratedKeys="true">
    insert into zjk_achievement (id,expert_id, source_type, del_status, 
      achieve_name, apply_year, apply_unit, 
      achieve_type, create_time, out_system_id,flag,
      secret_level,knowledge_scope,knowledge_person,create_user
      )
    values (
      #{id,jdbcType=VARCHAR},
      #{expertId,jdbcType=VARCHAR}, #{sourceType,jdbcType=VARCHAR}, #{delStatus,jdbcType=VARCHAR}, 
      #{achieveName,jdbcType=VARCHAR}, #{applyYear,jdbcType=VARCHAR}, #{applyUnit,jdbcType=VARCHAR}, 
      #{achieveType,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{outSystemId,jdbcType=VARCHAR},
      #{flag,jdbcType=VARCHAR},#{secretLevel,jdbcType=VARCHAR}
      
      ,#{knowledgeScope,jdbcType=VARCHAR}
      ,#{knowledgePerson,jdbcType=VARCHAR}
      ,#{createUser,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.pcitc.base.expert.ZjkAchievement" useGeneratedKeys="true">
    insert into zjk_achievement
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="expertId != null">
        expert_id,
      </if>
      <if test="sourceType != null">
        source_type,
      </if>
      <if test="delStatus != null">
        del_status,
      </if>
      <if test="achieveName != null">
        achieve_name,
      </if>
      <if test="applyYear != null">
        apply_year,
      </if>
      <if test="applyUnit != null">
        apply_unit,
      </if>
      <if test="achieveType != null">
        achieve_type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="outSystemId != null">
        out_system_id,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="secretLevel != null">
        secret_level,
      </if>
      <if test="knowledgeScope != null">
        knowledge_scope,
      </if>
      <if test="knowledgePerson != null">
        knowledge_person,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
    
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="expertId != null">
        #{expertId,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null">
        #{sourceType,jdbcType=VARCHAR},
      </if>
      <if test="delStatus != null">
        #{delStatus,jdbcType=VARCHAR},
      </if>
      <if test="achieveName != null">
        #{achieveName,jdbcType=VARCHAR},
      </if>
      <if test="applyYear != null">
        #{applyYear,jdbcType=VARCHAR},
      </if>
      <if test="applyUnit != null">
        #{applyUnit,jdbcType=VARCHAR},
      </if>
      <if test="achieveType != null">
        #{achieveType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="outSystemId != null">
        #{outSystemId,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=VARCHAR},
      </if>
      <if test="secretLevel != null">
        #{secretLevel,jdbcType=VARCHAR},
      </if>  
      <if test="knowledgeScope != null">
        #{knowledgeScope,jdbcType=VARCHAR},
      </if>
      <if test="knowledgePerson != null">
        #{knowledgePerson,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
     
    
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pcitc.base.expert.ZjkAchievement">
    update zjk_achievement
    <set>
      <if test="expertId != null">
        expert_id = #{expertId,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null">
        source_type = #{sourceType,jdbcType=VARCHAR},
      </if>
      <if test="delStatus != null">
        del_status = #{delStatus,jdbcType=VARCHAR},
      </if>
      <if test="achieveName != null">
        achieve_name = #{achieveName,jdbcType=VARCHAR},
      </if>
      <if test="applyYear != null">
        apply_year = #{applyYear,jdbcType=VARCHAR},
      </if>
      <if test="applyUnit != null">
        apply_unit = #{applyUnit,jdbcType=VARCHAR},
      </if>
      <if test="achieveType != null">
        achieve_type = #{achieveType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="outSystemId != null">
        out_system_id = #{outSystemId,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=VARCHAR},
      </if>
      <if test="secretLevel != null">
        secret_level = #{secretLevel,jdbcType=VARCHAR},
      </if>
      <if test="knowledgeScope != null">
        knowledge_scope = #{knowledgeScope,jdbcType=VARCHAR},
      </if>
      <if test="knowledgePerson != null">
        knowledge_person = #{knowledgePerson,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pcitc.base.expert.ZjkAchievement">
    update zjk_achievement
    set expert_id = #{expertId,jdbcType=VARCHAR},
      source_type = #{sourceType,jdbcType=VARCHAR},
      secret_level = #{secretLevel,jdbcType=VARCHAR},
      del_status = #{delStatus,jdbcType=VARCHAR},
      achieve_name = #{achieveName,jdbcType=VARCHAR},
      apply_year = #{applyYear,jdbcType=VARCHAR},
      apply_unit = #{applyUnit,jdbcType=VARCHAR},
      
      knowledge_scope = #{knowledgeScope,jdbcType=VARCHAR},
      knowledge_person = #{knowledgePerson,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      
      achieve_type = #{achieveType,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      out_system_id = #{outSystemId,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  
  
  
    <sql id="view_zjk_achievement">
      SELECT t1.*,
      ( 
         SELECT t2.`name` FROM sys_dictionary  t2 WHERE t2.`parent_code` ='ROOT_KJPT_CGLB'  AND t2.num_value= t1.`achieve_type`
      ) achieve_type_str
      ,
      ( 
         SELECT t2.`unit_name` FROM sys_unit  t2 WHERE  t2.unit_id =t1.`apply_unit`
      ) apply_unit_str
      ,
      ( 
         SELECT t2.`name` FROM sys_dictionary  t2 WHERE t2.`parent_code` ='ROOT_KJPT_XXMJ'
          AND t2.num_value =t1.`secret_level`
      )  secret_level_str
     FROM zjk_achievement t1
	</sql>
	
	
	
  
  
  
   <sql id="selectCondition">
	   <trim prefix="WHERE" prefixOverrides="AND|OR"> 
	     <if test="achieveName != null and achieveName  !='' ">        AND t.achieve_name like CONCAT('%',#{achieveName},'%')</if>
	     <if test="sourceType != null      and sourceType !=''  ">     AND t.source_type = #{sourceType}</if>
	     <if test="delStatus != null       and delStatus !=''  ">      AND t.del_status = #{delStatus}</if>
	     <if test="outSystemId != null     and outSystemId !=''  ">    AND t.out_system_id = #{outSystemId}</if>
	     <if test="expertId != null        and expertId !=''  ">       AND t.expert_id = #{expertId}</if>
	     <if test="createUser != null      and createUser !=''  ">     AND t.create_user = #{createUser}</if>
	     <if test="knowledgeScope != null  and knowledgeScope !=''  "> 
	            AND FIND_IN_SET(#{knowledgeScope},t.`knowledge_scope`) &lt; 0
	     </if>
	     <if test="userSecretLevel != null and userSecretLevel !=''  ">        
	         AND (t.secret_level &lt;= #{userSecretLevel} OR  t.secret_level ='0')
	     </if>
	 </trim>
	</sql>
	
   <select id="getList" resultMap="BaseResultMap" parameterType="Map" >
     select * from (<include refid="view_zjk_achievement" />) t <include refid="selectCondition" />    
     <choose>
      <when test="orderBySql != null and orderBySql !=''">${orderBySql}</when>
      <otherwise>
        ORDER BY  create_time desc
      </otherwise>
     </choose>
     <if test="pageSize != null and pageSize !=''"> limit #{start},#{pageSize} </if>   
   </select>
   
    <select id="getCount" resultType="java.lang.Integer" parameterType="Map" >
      SELECT count(*) FROM zjk_achievement t <include refid="selectCondition"/>
    </select>
  
   <select id="getList_COUNT" parameterType="java.util.Map" resultType="Long">
        select  count(*) from zjk_achievement t <include refid="selectCondition" />
     </select>
  
  
  <!-- 根据专家ID逻辑删除成果信息-->
   <update id="deleteLogicZjkAchievementByExpertId" parameterType="string">
    update zjk_achievement  set del_status = '1' where expert_id = #{expertId,jdbcType=VARCHAR}
  </update>
  
   <delete id="deleteZjkAchievementByExpertId" parameterType="java.lang.String">
    delete from zjk_achievement  where expert_id = #{expertId,jdbcType=VARCHAR}
  </delete>
  
  
  
  
  <!-- 根据专家ID逻辑删除成果信息-->
   <update id="deleteLogicZjkAchievementById" parameterType="string">
    update zjk_achievement  set del_status = '1' where id = #{id,jdbcType=VARCHAR}
  </update>
  
  
  
   <select id="getListByExpertId" resultMap="BaseResultMap" parameterType="java.lang.String">
     select * from (<include refid="view_zjk_achievement" />) t where  expert_id = #{expertId,jdbcType=VARCHAR}
   </select>
  
  
   <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
     select  * from (<include refid="view_zjk_achievement" />) t
     where id = #{id,jdbcType=VARCHAR}
   </select>

  <select id="query" parameterType="java.util.Map" resultMap="BaseResultMap">
    select  * from view_zjk_achievement where 1=1 and expertId = #{expertId}
    and deleted != '1'
    <if test="secretLevel != null and secretLevel != '' ">
      and secret_level = #{secretLevel}
    </if>
    and (secret_level = '0' or (
    secret_level <![CDATA[<=]]> #{userSecretLevel}
    <if test='skipKnowledgeScope=="0"'>
      and FIND_IN_SET(#{userName}, knowledge_scope) &lt; 0
    </if>
    ))
  </select>
</mapper>