<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcitc.mapper.expert.ZjkAchievementMapper">
  <resultMap id="BaseResultMap" type="com.pcitc.base.expert.ZjkAchievement">
  
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="expert_id" jdbcType="VARCHAR" property="expertId" />
    <result column="source_type" jdbcType="VARCHAR" property="sourceType" />
    <result column="del_status" jdbcType="VARCHAR" property="delStatus" />
    <result column="achieve_name" jdbcType="VARCHAR" property="achieveName" />
    <result column="apply_year" jdbcType="VARCHAR" property="applyYear" />
    <result column="apply_unit" jdbcType="VARCHAR" property="applyUnit" />
    <result column="achieve_type" jdbcType="VARCHAR" property="achieveType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="out_system_id" jdbcType="VARCHAR" property="outSystemId" />
    <result column="achieve_type_str" jdbcType="VARCHAR" property="achieveTypeStr" />
     
  </resultMap>
  <sql id="Base_Column_List">
    id, expert_id, source_type, del_status, achieve_name, apply_year, apply_unit, achieve_type, 
    create_time, out_system_id
  </sql>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from zjk_achievement
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.pcitc.base.expert.ZjkAchievement" useGeneratedKeys="true">
    insert into zjk_achievement (id,expert_id, source_type, del_status, 
      achieve_name, apply_year, apply_unit, 
      achieve_type, create_time, out_system_id
      )
    values (
      #{id,jdbcType=VARCHAR},
      #{expertId,jdbcType=VARCHAR}, #{sourceType,jdbcType=VARCHAR}, #{delStatus,jdbcType=VARCHAR}, 
      #{achieveName,jdbcType=VARCHAR}, #{applyYear,jdbcType=VARCHAR}, #{applyUnit,jdbcType=VARCHAR}, 
      #{achieveType,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{outSystemId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.pcitc.base.expert.ZjkAchievement" useGeneratedKeys="true">
    insert into zjk_achievement
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="expertId != null">
        expert_id,
      </if>
      <if test="sourceType != null">
        source_type,
      </if>
      <if test="delStatus != null">
        del_status,
      </if>
      <if test="achieveName != null">
        achieve_name,
      </if>
      <if test="applyYear != null">
        apply_year,
      </if>
      <if test="applyUnit != null">
        apply_unit,
      </if>
      <if test="achieveType != null">
        achieve_type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="outSystemId != null">
        out_system_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="expertId != null">
        #{expertId,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null">
        #{sourceType,jdbcType=VARCHAR},
      </if>
      <if test="delStatus != null">
        #{delStatus,jdbcType=VARCHAR},
      </if>
      <if test="achieveName != null">
        #{achieveName,jdbcType=VARCHAR},
      </if>
      <if test="applyYear != null">
        #{applyYear,jdbcType=VARCHAR},
      </if>
      <if test="applyUnit != null">
        #{applyUnit,jdbcType=VARCHAR},
      </if>
      <if test="achieveType != null">
        #{achieveType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="outSystemId != null">
        #{outSystemId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pcitc.base.expert.ZjkAchievement">
    update zjk_achievement
    <set>
      <if test="expertId != null">
        expert_id = #{expertId,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null">
        source_type = #{sourceType,jdbcType=VARCHAR},
      </if>
      <if test="delStatus != null">
        del_status = #{delStatus,jdbcType=VARCHAR},
      </if>
      <if test="achieveName != null">
        achieve_name = #{achieveName,jdbcType=VARCHAR},
      </if>
      <if test="applyYear != null">
        apply_year = #{applyYear,jdbcType=VARCHAR},
      </if>
      <if test="applyUnit != null">
        apply_unit = #{applyUnit,jdbcType=VARCHAR},
      </if>
      <if test="achieveType != null">
        achieve_type = #{achieveType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="outSystemId != null">
        out_system_id = #{outSystemId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pcitc.base.expert.ZjkAchievement">
    update zjk_achievement
    set expert_id = #{expertId,jdbcType=VARCHAR},
      source_type = #{sourceType,jdbcType=VARCHAR},
      del_status = #{delStatus,jdbcType=VARCHAR},
      achieve_name = #{achieveName,jdbcType=VARCHAR},
      apply_year = #{applyYear,jdbcType=VARCHAR},
      apply_unit = #{applyUnit,jdbcType=VARCHAR},
      achieve_type = #{achieveType,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      out_system_id = #{outSystemId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  
  
  
  
  
    <sql id="view_zjk_achievement">
     SELECT t1.*,
      ( 
         SELECT t2.`name` FROM sys_dictionary  t2 WHERE t2.`parent_code` ='ROOT_KJPT_ZLZL'
          AND t2.`code`=t1.`patent_type`
      ) patent_type_str
     FROM zjk_patent t1
	</sql>
	
	
	
  
  
  
   <sql id="selectCondition">
	   <trim prefix="WHERE" prefixOverrides="AND|OR"> 
	     <if test="achieveName != null and achieveName  !='' ">      AND t.achieve_name like CONCAT('%',#{achieveName},'%')</if>
	     <if test="sourceType != null      and sourceType !=''  ">    AND t.source_type = #{sourceType}</if>
	     <if test="delStatus != null       and delStatus !=''  ">      AND t.del_status = #{delStatus}</if>
	     <if test="outSystemId != null     and outSystemId !=''  ">  AND t.out_system_id = #{outSystemId}</if>
	     <if test="expertId != null        and expertId !=''  ">  AND t.expert_id = #{expertId}</if>
	 </trim>
	</sql>
	
   <select id="getList" resultMap="BaseResultMap" parameterType="Map" >
     select * from (<include refid="view_zjk_achievement" />) t <include refid="selectCondition" />    
     <choose>
      <when test="orderBySql != null and orderBySql !=''">${orderBySql}</when>
      <otherwise>
        ORDER BY  create_time desc
      </otherwise>
     </choose>
     <if test="pageSize != null and pageSize !=''"> limit #{start},#{pageSize} </if>   
   </select>
   
    <select id="getCount" resultType="java.lang.Integer" parameterType="Map" >
      SELECT count(*) FROM zjk_achievement t <include refid="selectCondition"/>
    </select>
  
  
  
  
  <!-- 根据专家ID逻辑删除成果信息-->
   <update id="deleteLogicZjkAchievementByExpertId" parameterType="string">
    update zjk_achievement  set del_status = '1' where expert_id = #{expertId,jdbcType=VARCHAR}
  </update>
  
   <delete id="deleteZjkAchievementByExpertId" parameterType="java.lang.String">
    delete from zjk_achievement  where expert_id = #{expertId,jdbcType=VARCHAR}
  </delete>
  
  
  
  
  <!-- 根据专家ID逻辑删除成果信息-->
   <update id="deleteLogicZjkAchievementById" parameterType="string">
    update zjk_achievement  set del_status = '1' where id = #{id,jdbcType=VARCHAR}
  </update>
  
  
  
   <select id="getListByExpertId" resultMap="BaseResultMap" parameterType="java.lang.String">
     select * from zjk_achievement t where  expert_id = #{expertId,jdbcType=VARCHAR}
   </select>
  
  
   <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
     select  * from (<include refid="view_zjk_achievement" />) t
     where id = #{id,jdbcType=VARCHAR}
   </select>
  
  
  
  
</mapper>