<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcitc.mapper.expert.ZjkBaseSyncMapper">
  <resultMap id="BaseResultMap" type="com.pcitc.base.expert.ZjkBaseSync">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="expert_num" jdbcType="VARCHAR" property="expertNum" />
    <result column="expert_id" jdbcType="VARCHAR" property="expertId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="birth_date" jdbcType="TIMESTAMP" property="birthDate" />
    <result column="id_card_no" jdbcType="VARCHAR" property="idCardNo" />
    <result column="education" jdbcType="VARCHAR" property="education" />
    <result column="unit_id" jdbcType="VARCHAR" property="unitId" />
    <result column="unit_name" jdbcType="VARCHAR" property="unitName" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="post" jdbcType="VARCHAR" property="post" />
    <result column="work_experience" jdbcType="VARCHAR" property="workExperience" />
    <result column="contact_way" jdbcType="VARCHAR" property="contactWay" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="brief" jdbcType="VARCHAR" property="brief" />
    <result column="head_pic" jdbcType="VARCHAR" property="headPic" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="expert_type" jdbcType="VARCHAR" property="expertType" />
    <result column="del_status" jdbcType="VARCHAR" property="delStatus" />
    <result column="orders" jdbcType="INTEGER" property="orders" />
  </resultMap>
  <sql id="Base_Column_List">
    id, expert_num, expert_id, `name`, sex, birth_date, id_card_no, education, unit_id, 
    unit_name, title, post, work_experience, contact_way, email, brief, head_pic, create_time, 
    update_time, expert_type, del_status, orders
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zjk_base_sync
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from zjk_base_sync
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.pcitc.base.expert.ZjkBaseSync" useGeneratedKeys="true">
    insert into zjk_base_sync (expert_num, expert_id, `name`, 
      sex, birth_date, id_card_no, 
      education, unit_id, unit_name, 
      title, post, work_experience, 
      contact_way, email, brief, 
      head_pic, create_time, update_time, 
      expert_type, del_status, orders
      )
    values (#{expertNum,jdbcType=VARCHAR}, #{expertId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{birthDate,jdbcType=TIMESTAMP}, #{idCardNo,jdbcType=VARCHAR}, 
      #{education,jdbcType=VARCHAR}, #{unitId,jdbcType=VARCHAR}, #{unitName,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{post,jdbcType=VARCHAR}, #{workExperience,jdbcType=VARCHAR}, 
      #{contactWay,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{brief,jdbcType=VARCHAR}, 
      #{headPic,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{expertType,jdbcType=VARCHAR}, #{delStatus,jdbcType=VARCHAR}, #{orders,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.pcitc.base.expert.ZjkBaseSync" useGeneratedKeys="true">
    insert into zjk_base_sync
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="expertNum != null">
        expert_num,
      </if>
      <if test="expertId != null">
        expert_id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="birthDate != null">
        birth_date,
      </if>
      <if test="idCardNo != null">
        id_card_no,
      </if>
      <if test="education != null">
        education,
      </if>
      <if test="unitId != null">
        unit_id,
      </if>
      <if test="unitName != null">
        unit_name,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="post != null">
        post,
      </if>
      <if test="workExperience != null">
        work_experience,
      </if>
      <if test="contactWay != null">
        contact_way,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="brief != null">
        brief,
      </if>
      <if test="headPic != null">
        head_pic,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="expertType != null">
        expert_type,
      </if>
      <if test="delStatus != null">
        del_status,
      </if>
      <if test="orders != null">
        orders,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="expertNum != null">
        #{expertNum,jdbcType=VARCHAR},
      </if>
      <if test="expertId != null">
        #{expertId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthDate != null">
        #{birthDate,jdbcType=TIMESTAMP},
      </if>
      <if test="idCardNo != null">
        #{idCardNo,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="unitId != null">
        #{unitId,jdbcType=VARCHAR},
      </if>
      <if test="unitName != null">
        #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="post != null">
        #{post,jdbcType=VARCHAR},
      </if>
      <if test="workExperience != null">
        #{workExperience,jdbcType=VARCHAR},
      </if>
      <if test="contactWay != null">
        #{contactWay,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="brief != null">
        #{brief,jdbcType=VARCHAR},
      </if>
      <if test="headPic != null">
        #{headPic,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expertType != null">
        #{expertType,jdbcType=VARCHAR},
      </if>
      <if test="delStatus != null">
        #{delStatus,jdbcType=VARCHAR},
      </if>
      <if test="orders != null">
        #{orders,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pcitc.base.expert.ZjkBaseSync">
    update zjk_base_sync
    <set>
      <if test="expertNum != null">
        expert_num = #{expertNum,jdbcType=VARCHAR},
      </if>
      <if test="expertId != null">
        expert_id = #{expertId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthDate != null">
        birth_date = #{birthDate,jdbcType=TIMESTAMP},
      </if>
      <if test="idCardNo != null">
        id_card_no = #{idCardNo,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="unitId != null">
        unit_id = #{unitId,jdbcType=VARCHAR},
      </if>
      <if test="unitName != null">
        unit_name = #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="post != null">
        post = #{post,jdbcType=VARCHAR},
      </if>
      <if test="workExperience != null">
        work_experience = #{workExperience,jdbcType=VARCHAR},
      </if>
      <if test="contactWay != null">
        contact_way = #{contactWay,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="brief != null">
        brief = #{brief,jdbcType=VARCHAR},
      </if>
      <if test="headPic != null">
        head_pic = #{headPic,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expertType != null">
        expert_type = #{expertType,jdbcType=VARCHAR},
      </if>
      <if test="delStatus != null">
        del_status = #{delStatus,jdbcType=VARCHAR},
      </if>
      <if test="orders != null">
        orders = #{orders,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pcitc.base.expert.ZjkBaseSync">
    update zjk_base_sync
    set expert_num = #{expertNum,jdbcType=VARCHAR},
      expert_id = #{expertId,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      birth_date = #{birthDate,jdbcType=TIMESTAMP},
      id_card_no = #{idCardNo,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      unit_id = #{unitId,jdbcType=VARCHAR},
      unit_name = #{unitName,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      post = #{post,jdbcType=VARCHAR},
      work_experience = #{workExperience,jdbcType=VARCHAR},
      contact_way = #{contactWay,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      brief = #{brief,jdbcType=VARCHAR},
      head_pic = #{headPic,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      expert_type = #{expertType,jdbcType=VARCHAR},
      del_status = #{delStatus,jdbcType=VARCHAR},
      orders = #{orders,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  
  
  
   <sql id="selectCondition">
	   <trim prefix="WHERE" prefixOverrides="AND|OR"> 
	     <if test="name != null and name  !='' ">                             AND t.name like CONCAT('%',#{name},'%')</if>
	     <if test="idCardNo != null            and idCardNo !=''  ">      AND t.id_card_no = #{idCardNo}</if>
	     <if test="delStatus != null             and delStatus !=''  ">       AND t.del_status = #{delStatus}</if>
	 </trim>
	</sql>
	
	
   <select id="getList" resultMap="BaseResultMap" parameterType="Map" >
     select * from  zjk_base_sync  t <include refid="selectCondition" />
     <if test="pageSize != null and pageSize !=''"> limit #{start},#{pageSize} </if>   
   </select>
   
   
    
    
   
    <select id="getCount" resultType="java.lang.Integer" parameterType="Map" >
      SELECT count(*) FROM zjk_base_sync t <include refid="selectCondition"/>
    </select>
    
    
    
    
    <!-- 批量插入数据 -->
	<insert id="insertBatch" parameterType="java.util.List">
			insert into zjk_base_sync 
			(
			  id,expert_num, expert_id, `name`, 
		      sex, birth_date, id_card_no, 
		      education, unit_id, unit_name, 
		      title, post, work_experience, 
		      contact_way, email, brief, 
		      head_pic, create_time, update_time, 
		      expert_type, del_status, orders
		      )
		    values 
		    <foreach collection="list" item="item" index="index" separator=",">
		      (
		      #{item.id,jdbcType=VARCHAR},
		      #{item.expertNum,jdbcType=VARCHAR}, 
		      #{item.expertId,jdbcType=VARCHAR}, 
		      #{item.name,jdbcType=VARCHAR}, 
		      #{item.sex,jdbcType=VARCHAR}, 
		      #{item.birthDate,jdbcType=TIMESTAMP}, 
		      #{item.idCardNo,jdbcType=VARCHAR}, 
		      #{item.education,jdbcType=VARCHAR}, 
		      #{item.unitId,jdbcType=VARCHAR}, 
		      #{item.unitName,jdbcType=VARCHAR}, 
		      #{item.title,jdbcType=VARCHAR}, 
		      #{item.post,jdbcType=VARCHAR}, 
		      #{item.workExperience,jdbcType=VARCHAR}, 
		      #{item.contactWay,jdbcType=VARCHAR}, 
		      #{item.email,jdbcType=VARCHAR}, 
		      #{item.brief,jdbcType=VARCHAR}, 
		      #{item.headPic,jdbcType=VARCHAR}, 
		      #{item.createTime,jdbcType=TIMESTAMP}, 
		      #{item.updateTime,jdbcType=TIMESTAMP}, 
		      #{item.expertType,jdbcType=VARCHAR}, 
		      #{item.delStatus,jdbcType=VARCHAR}, 
		      #{item.orders,jdbcType=INTEGER}
		      )
			</foreach>
	</insert>
	
	
  
   <delete id="deleteAllZjkSync" >
    delete from zjk_base_sync
  </delete>
</mapper>