<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcitc.mapper.expert.ZjkPatentMapper">
  <resultMap id="BaseResultMap" type="com.pcitc.base.expert.ZjkPatent">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="expert_id" jdbcType="VARCHAR" property="expertId" />
    <result column="source_type" jdbcType="VARCHAR" property="sourceType" />
    <result column="del_status" jdbcType="VARCHAR" property="delStatus" />
    <result column="patent_name" jdbcType="VARCHAR" property="patentName" />
    <result column="patent_type" jdbcType="VARCHAR" property="patentType" />
    <result column="describe" jdbcType="VARCHAR" property="describe" />
    <result column="get_patent_time" jdbcType="TIMESTAMP" property="getPatentTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
   
    
    <result column="out_system_id"       jdbcType="VARCHAR" property="outSystemId" />
    <result column="patent_type_str"     jdbcType="VARCHAR" property="patentTypeStr" />
    <result column="get_patent_time_str" jdbcType="VARCHAR" property="getPatentTimeStr" />
    
    
  </resultMap>
  <sql id="Base_Column_List">
    id, expert_id, source_type, del_status, patent_name, patent_type, `describe`, get_patent_time, 
    create_time, 
    out_system_id
  </sql>
 
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from zjk_patent
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.pcitc.base.expert.ZjkPatent" useGeneratedKeys="true">
    insert into zjk_patent (id,expert_id, source_type, del_status, 
      patent_name, patent_type, `describe`, 
      get_patent_time, create_time, out_system_id)
    values (
      #{id,jdbcType=VARCHAR},
      #{expertId,jdbcType=VARCHAR}, #{sourceType,jdbcType=VARCHAR}, #{delStatus,jdbcType=VARCHAR}, 
      #{patentName,jdbcType=VARCHAR}, #{patentType,jdbcType=VARCHAR}, #{describe,jdbcType=VARCHAR}, 
      #{getPatentTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{outSystemId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.pcitc.base.expert.ZjkPatent" useGeneratedKeys="true">
    insert into zjk_patent
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="expertId != null">
        expert_id,
      </if>
      <if test="sourceType != null">
        source_type,
      </if>
      <if test="delStatus != null">
        del_status,
      </if>
      <if test="patentName != null">
        patent_name,
      </if>
      <if test="patentType != null">
        patent_type,
      </if>
      <if test="describe != null">
        `describe`,
      </if>
      <if test="getPatentTime != null">
        get_patent_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="outSystemId != null">
        out_system_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
    
    
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="expertId != null">
        #{expertId,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null">
        #{sourceType,jdbcType=VARCHAR},
      </if>
      <if test="delStatus != null">
        #{delStatus,jdbcType=VARCHAR},
      </if>
      <if test="patentName != null">
        #{patentName,jdbcType=VARCHAR},
      </if>
      <if test="patentType != null">
        #{patentType,jdbcType=VARCHAR},
      </if>
      <if test="describe != null">
        #{describe,jdbcType=VARCHAR},
      </if>
      <if test="getPatentTime != null">
        #{getPatentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="outSystemId != null">
        #{outSystemId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pcitc.base.expert.ZjkPatent">
    update zjk_patent
    <set>
      <if test="id != null">
        id = #{id,jdbcType=VARCHAR},
      </if>
      <if test="expertId != null">
        expert_id = #{expertId,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null">
        source_type = #{sourceType,jdbcType=VARCHAR},
      </if>
      <if test="delStatus != null">
        del_status = #{delStatus,jdbcType=VARCHAR},
      </if>
      <if test="patentName != null">
        patent_name = #{patentName,jdbcType=VARCHAR},
      </if>
      <if test="patentType != null">
        patent_type = #{patentType,jdbcType=VARCHAR},
      </if>
      <if test="describe != null">
        `describe` = #{describe,jdbcType=VARCHAR},
      </if>
      <if test="getPatentTime != null">
        get_patent_time = #{getPatentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="outSystemId != null">
        out_system_id = #{outSystemId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pcitc.base.expert.ZjkPatent">
    update zjk_patent
    set expert_id = #{expertId,jdbcType=VARCHAR},
      source_type = #{sourceType,jdbcType=VARCHAR},
      del_status = #{delStatus,jdbcType=VARCHAR},
      patent_name = #{patentName,jdbcType=VARCHAR},
      patent_type = #{patentType,jdbcType=VARCHAR},
      `describe` = #{describe,jdbcType=VARCHAR},
      get_patent_time = #{getPatentTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      out_system_id = #{outSystemId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  
  
  
  
    <sql id="view_zjk_patent">
     SELECT t1.*, DATE_FORMAT(t1.`get_patent_time`,'%Y-%m-%d') get_patent_time_str,
      ( 
         SELECT t2.`name` FROM sys_dictionary  t2 WHERE t2.`parent_code` ='ROOT_KJPT_ZLZL'
          AND t2.`code`=t1.`patent_type`
      ) patent_type_str
     FROM zjk_patent t1
	</sql>
	
	
  
   <sql id="selectCondition">
	   <trim prefix="WHERE" prefixOverrides="AND|OR"> 
	     <if test="patentName != null and patentName  !='' ">             AND t.patent_name like CONCAT('%',#{patentName},'%')</if>
	     <if test="sourceType != null      and sourceType !=''  ">        AND t.source_type = #{sourceType}</if>
	     <if test="delStatus != null       and delStatus !=''  ">         AND t.del_status = #{delStatus}</if>
	     <if test="outSystemId != null     and outSystemId !=''  ">       AND t.out_system_id = #{outSystemId}</if>
	     <if test="expertId != null        and expertId !=''  ">          AND t.expert_id = #{expertId}</if>
	
	 </trim>
	</sql>
	
   <select id="getList" resultMap="BaseResultMap" parameterType="Map" >
     select * from (<include refid="view_zjk_patent" />)  t <include refid="selectCondition" />    
     <choose>
      <when test="orderBySql != null and orderBySql !=''">${orderBySql}</when>
      <otherwise>
        ORDER BY  create_time desc
      </otherwise>
     </choose>
     <if test="pageSize != null and pageSize !=''"> limit #{start},#{pageSize} </if>   
   </select>
   
    <select id="getCount" resultType="java.lang.Integer" parameterType="Map" >
      SELECT count(*) FROM zjk_patent t <include refid="selectCondition"/>
    </select>
  
  
  
  <!-- 根据专家ID逻辑删除专利信息-->
   <update id="deleteLogicZjkPatentByExpertId" parameterType="string">
    update zjk_patent  set del_status = '1' where expert_id = #{expertId,jdbcType=VARCHAR}
  </update>
  
   <update id="deleteLogicZjkPatentById" parameterType="string">
    update zjk_patent  set del_status = '1' where id = #{id,jdbcType=VARCHAR}
  </update>
  
  
  <delete id="deleteZjkPatentByExpertId" parameterType="java.lang.String">
    delete from zjk_patent  where expert_id = #{expertId,jdbcType=VARCHAR}
  </delete>
  
  
  
    <select id="getListByExpertId" resultMap="BaseResultMap" parameterType="java.lang.String">
     select * from (<include refid="view_zjk_patent" />) t where  expert_id = #{expertId,jdbcType=VARCHAR}
   </select>
   
   
   
   
   
     <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
	    select 
	     *
	    from (<include refid="view_zjk_patent" />)
	    where id = #{id,jdbcType=VARCHAR}
	  </select>
  
  
  
  
   
   
  
</mapper>