<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcitc.mapper.trademarkinfo.TrademarkInfoMapper">
  <resultMap id="BaseResultMap" type="com.pcitc.base.trademarkinfo.TrademarkInfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="unit_name" jdbcType="VARCHAR" property="unitName" />
    <result column="commodity_category" jdbcType="VARCHAR" property="commodityCategory" />
    <result column="application_number" jdbcType="VARCHAR" property="applicationNumber" />
    <result column="effective_date" jdbcType="TIMESTAMP" property="effectiveDate" />
    <result column="register_notice_date" jdbcType="TIMESTAMP" property="registerNoticeDate" />
    <result column="entry_person" jdbcType="VARCHAR" property="entryPerson" />
    <result column="trademark_name" jdbcType="VARCHAR" property="trademarkName" />
    <result column="applicant" jdbcType="VARCHAR" property="applicant" />
    <result column="register_date" jdbcType="TIMESTAMP" property="registerDate" />
    <result column="law_status" jdbcType="VARCHAR" property="lawStatus" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="entry_date" jdbcType="TIMESTAMP" property="entryDate" />
    <result column="file" jdbcType="VARCHAR" property="files" />
    <result column="deleted" jdbcType="VARCHAR" property="deleted" />

    <result column="commodity_category_text" jdbcType="VARCHAR" property="commodityCategoryText" />
    <result column="legal_status_text" jdbcType="VARCHAR" property="legalStatusText" />
    <result column="unit_name_text" jdbcType="VARCHAR" property="unitNameText" />
    <result column="create_unit_id" jdbcType="VARCHAR" property="createUnitId" />
    <result column="create_unit_name" jdbcType="VARCHAR" property="createUnitName" />

    <result column="secret_level" jdbcType="VARCHAR" property="secretLevel"/>
    <result column="secret_level_text" jdbcType="VARCHAR" property="secretLevelText"/>

    <result column="knowledge_scope" jdbcType="VARCHAR" property="knowledgeScope"/>
    <result column="knowledge_person" jdbcType="VARCHAR" property="knowledgePerson"/>
    
    
    <result column="extension_period" jdbcType="TIMESTAMP" property="extensionPeriod"/>
    <result column="is_well_known"    jdbcType="VARCHAR" property="isWellKnown"/>
    <result column="is_well_known_text"    jdbcType="VARCHAR" property="isWellKnownText"/>
    <result column="is_registered"    jdbcType="VARCHAR" property="isRegistered"/>
    <result column="is_registered_text"    jdbcType="VARCHAR" property="isRegisteredText"/>
    <result column="country_type"     jdbcType="VARCHAR" property="countryType"/>

    <result column="trademark_type"   jdbcType="VARCHAR" property="tradeMarkType"/>
    <result column="trademark_type_text"   jdbcType="VARCHAR" property="tradeMarkTypeText"/>
    <result column="well_known_date" jdbcType="TIMESTAMP" property="wellKnownDate"/>
    <result column="famous_date" jdbcType="TIMESTAMP" property="famousDate"/>
    <result column="well_known_org"   jdbcType="VARCHAR" property="wellKnownOrg"/>
    <result column="famous_org"   jdbcType="VARCHAR" property="famousOrg"/>
    <result column="register_org"   jdbcType="VARCHAR" property="registerOrg"/>

  </resultMap>
  <sql id="Base_Column_List">
     id,
     unit_name,
     commodity_category,
     application_number,
     effective_date,
     register_notice_date,
     entry_person,
     trademark_name,
     applicant,
     register_date,
     law_status,
     remark,
     entry_date,
     file,deleted,
     commodity_category_text,
     legal_status_text,
     unit_name_text,
     create_unit_id,
     create_unit_name,
     secret_level,
     secret_level_text,
     knowledge_scope,
     knowledge_person,
     extension_period,
     is_well_known,
     is_registered,
     country_type,
     trademark_type,
     trademark_type_text,
     well_known_date,
     famous_date,
     well_known_org,
     famous_org,
     register_org
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from view_trademark_info
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    update trademark_info set deleted = '1'
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.pcitc.base.trademarkinfo.TrademarkInfo">
    insert into trademark_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="unitName != null">
        unit_name,
      </if>
      <if test="commodityCategory != null">
        commodity_category,
      </if>
      <if test="applicationNumber != null">
        application_number,
      </if>
      <if test="effectiveDate != null">
        effective_date,
      </if>
      <if test="registerNoticeDate != null">
        register_notice_date,
      </if>
      <if test="entryPerson != null">
        entry_person,
      </if>
      <if test="trademarkName != null">
        trademark_name,
      </if>
      <if test="applicant != null">
        applicant,
      </if>
      <if test="registerDate != null">
        register_date,
      </if>
      <if test="lawStatus != null">
        law_status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="entryDate != null">
        entry_date,
      </if>
      <if test="files != null">
        file,
      </if>
      <if test="deleted != null">
       deleted,
      </if>
      <if test="createUnitId != null">
        create_unit_id,
      </if>
      <if test="createUnitName != null">
        create_unit_name,
      </if>

      <if test="secretLevel != null">
        secret_level,
      </if>
      <if test="knowledgeScope != null">
        knowledge_scope,
      </if>
      <if test="knowledgePerson != null">
        knowledge_person,
      </if>
      <if test="extensionPeriod != null">
        extension_period,
      </if>
      <if test="isWellKnown != null">
        is_well_known,
      </if>
      <if test="isRegistered != null">
        is_registered,
      </if>
      <if test="countryType != null">
        country_type,
      </if>
      <if test="tradeMarkType != null">
        trademark_type,
      </if>
      <if test="wellKnownDate != null">
        well_known_date,
      </if>
      <if test="famousDate != null">
        famous_date,
      </if>
      <if test="wellKnownOrg != null">
        well_known_org,
      </if>
      <if test="famousOrg != null">
        famous_org,
      </if>
      <if test="registerOrg != null">
        register_org
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="unitName != null">
        #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="commodityCategory != null">
        #{commodityCategory,jdbcType=VARCHAR},
      </if>
      <if test="applicationNumber != null">
        #{applicationNumber,jdbcType=VARCHAR},
      </if>
      <if test="effectiveDate != null">
        #{effectiveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="registerNoticeDate != null">
        #{registerNoticeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="entryPerson != null">
        #{entryPerson,jdbcType=VARCHAR},
      </if>
      <if test="trademarkName != null">
        #{trademarkName,jdbcType=VARCHAR},
      </if>
      <if test="applicant != null">
        #{applicant,jdbcType=VARCHAR},
      </if>
      <if test="registerDate != null">
        #{registerDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lawStatus != null">
        #{lawStatus,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="entryDate != null">
        #{entryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="files != null">
        #{files,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="createUnitId != null">
        #{createUnitId,jdbcType=VARCHAR},
      </if>
      <if test="createUnitName != null">
        #{createUnitName,jdbcType=VARCHAR},
      </if>
      <if test="secretLevel != null">
        #{secretLevel,jdbcType=VARCHAR},
      </if>
      <if test="knowledgeScope != null">
        #{knowledgeScope,jdbcType=VARCHAR},
      </if>
      <if test="knowledgePerson != null">
        #{knowledgePerson,jdbcType=VARCHAR},
      </if>
      <if test="extensionPeriod != null">
        #{extensionPeriod,jdbcType=TIMESTAMP},
      </if>
      <if test="isWellKnown != null">
        #{isWellKnown,jdbcType=VARCHAR},
      </if>
      <if test="isRegistered != null">
        #{isRegistered,jdbcType=VARCHAR},
      </if>
      <if test="countryType != null">
        #{countryType,jdbcType=VARCHAR},
      </if>
      <if test="tradeMarkType != null">
        #{tradeMarkType,jdbcType=VARCHAR},
      </if>
      <if test="wellKnownDate != null">
        #{wellKnownDate,jdbcType=TIMESTAMP},
      </if>
      <if test="famousDate != null">
        #{famousDate,jdbcType=TIMESTAMP},
      </if>
      <if test="wellKnownOrg != null">
        #{wellKnownOrg,jdbcType=VARCHAR},
      </if>
      <if test="famousOrg != null">
        #{famousOrg,jdbcType=VARCHAR},
      </if>
      <if test="registerOrg != null">
        #{registerOrg,jdbcType=VARCHAR}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.pcitc.base.trademarkinfo.TrademarkInfo">
    update trademark_info
    set unit_name = #{unitName,jdbcType=VARCHAR},
      commodity_category = #{commodityCategory,jdbcType=VARCHAR},
      application_number = #{applicationNumber,jdbcType=VARCHAR},
      effective_date = #{effectiveDate,jdbcType=TIMESTAMP},
      register_notice_date = #{registerNoticeDate,jdbcType=TIMESTAMP},
      entry_person = #{entryPerson,jdbcType=VARCHAR},
      trademark_name = #{trademarkName,jdbcType=VARCHAR},
      applicant = #{applicant,jdbcType=VARCHAR},
      register_date = #{registerDate,jdbcType=TIMESTAMP},
      law_status = #{lawStatus,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      entry_date = #{entryDate,jdbcType=TIMESTAMP},
      file = #{files,jdbcType=VARCHAR},
      create_unit_id = #{createUnitId,jdbcType=VARCHAR},
	  create_unit_name = #{createUnitName,jdbcType=VARCHAR},
	  secret_level =  #{secretLevel,jdbcType=VARCHAR},
	  knowledge_scope =  #{knowledgeScope,jdbcType=VARCHAR},
	  extension_period =  #{extensionPeriod,jdbcType=TIMESTAMP},
	  is_well_known =  #{isWellKnown,jdbcType=VARCHAR},
	  is_registered =  #{isRegistered,jdbcType=VARCHAR},
	  country_type =   #{countryType,jdbcType=VARCHAR},
	  knowledge_person =  #{knowledgePerson,jdbcType=VARCHAR},
	  trademark_type =  #{tradeMarkType,jdbcType=VARCHAR},
      well_known_date =  #{wellKnownDate,jdbcType=TIMESTAMP},
      famous_date =  #{famousDate,jdbcType=TIMESTAMP},
      well_known_org =  #{wellKnownOrg,jdbcType=VARCHAR},
      famous_org =  #{famousOrg,jdbcType=VARCHAR},
      register_org =  #{registerOrg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="queryTrademarkList" parameterType="java.util.Map" resultMap="BaseResultMap">
    select  <include refid="Base_Column_List"/> from view_trademark_info where 1=1
    <include refid="selectByParam" />
    and deleted != '1'
  </select>
  <select id="queryTrademarkList_COUNT" parameterType="java.util.Map" resultType="Long">
    select  count(*) from trademark_info where 1=1
    and deleted != '1'
    <include refid="selectByParam" />

  </select>

  <sql id="selectByParam">
    <if test="unitName != null and unitName != '' " >
      and unit_name like CONCAT('%',#{unitName},'%')
    </if>
    <if test="trademarkName != null and trademarkName != '' " >
      and trademark_name like CONCAT('%',#{trademarkName},'%')
    </if>
    <if test="lawStatus != null and lawStatus != '' " >
      and law_status = #{lawStatus}
    </if>
    <if test="applicant != null and applicant != '' " >
      and applicant like CONCAT('%',#{applicant},'%')
    </if>
    <if test="registerDateStart != null and registerDateStart != '' " >
      and register_date &gt;= #{registerDateStart}
    </if>
    <if test="registerDateEnd != null and registerDateEnd != '' " >
      and register_date &lt;= #{registerDateEnd}
    </if>
    <if test="childUnitIds != null          and childUnitIds !=''  ">
      AND create_unit_id in
      <foreach item="item"  collection="childUnitIds.split(',')"  open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
    <if test="secretLevel != null and secretLevel != '' " >
      and secret_level = #{secretLevel}
    </if>
    <if test="isWellKnown != null and isWellKnown != '' " >
      and is_well_known = #{isWellKnown}
    </if>
    <if test="isRegistered != null and isRegistered != '' " >
      and is_registered = #{isRegistered}
    </if>
    <if test="countryType != null and countryType != '' " >
      and country_type = #{countryType}
    </if>
    <if test="extensionPeriod != null and extensionPeriod != '' " >
      and extension_period = #{extensionPeriod}
    </if>
    <if test="tradeMarkType != null and tradeMarkType != '' " >
      and trademark_type = #{tradeMarkType}
    </if>
    <if test="wellKnownDate != null and wellKnownDate != '' " >
      and well_known_date = #{wellKnownDate}
    </if>
    <if test="famousDate != null and famousDate != '' " >
      and famous_date = #{famousDate}
    </if>
    <if test="wellKnownOrg != null and wellKnownOrg != '' " >
      and well_known_org = #{wellKnownOrg}
    </if>
    <if test="famousOrg != null and famousOrg != '' " >
      and famous_org = #{famousOrg}
    </if>
    <if test="registerOrg != null and registerOrg != '' " >
      and register_org = #{registerOrg}
    </if>

    <!--
         and (secret_level = '0' or (
         secret_level <![CDATA[<=]]> #{userSecretLevel}
         <if test='skipKnowledgeScope=="0"'>
           and FIND_IN_SET(#{userName}, knowledge_scope) &lt; 0
         </if>
         ))
     -->
    and (secret_level = '0' or (
    secret_level <![CDATA[<=]]> #{userSecretLevel}
    <if test='skipKnowledgeScope=="0"'>
      and FIND_IN_SET(#{userName}, knowledge_scope) &lt; 0
    </if>
    ))



  </sql>


  <select id="countByLawType" parameterType="java.util.Map" resultType="java.util.Map">
    select  b.name,count(1) as num from trademark_info a  left join sys_dictionary b on a.law_status = b.num_value and b.parent_code = 'ROOT_KJPT_FLZT(SB)'
    where a.deleted != '1' <include refid="selectByParam" />
    GROUP BY  a.law_status
    union all
    select '全部' as name,count(1) as num from trademark_info where deleted != '1' <include refid="selectByParam" />
  </select>
</mapper>