<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pcitc.mapper.index.IndexHomeBIMapper">
    <select id="selectNummary"  resultType="java.util.Map">
        <![CDATA[
             call home_index_summary(#{param_secret_level,jdbcType=INTEGER})
        ]]>
    </select>

    <select id="distribution"  parameterType="java.util.Map" resultType="java.util.Map">
        SELECT count(1) value,b.unit_id unitId,b.unit_name unitName,a.level,c.name
            FROM kypt_info a LEFT JOIN sys_unit b ON a.supporting_institutions = b.unit_id  LEFT JOIN sys_dictionary c ON a.LEVEL = c.num_value
                AND c.parent_code = 'ROOT_KJPT_PTJB' WHERE b.is_common = '1'
                AND  PERIOD_DIFF( date_format(now(),'%Y%m'), date_format(create_date, '%Y%m')) >1
                <if test="level != null and level != '' " >
                    AND a.level = #{level}
                </if>
            GROUP BY b.unit_id,b.unit_name,a.LEVEL,c.NAME
    </select>
</mapper>
