<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcitc.mapper.budget.BudgetMoneyMecomposeMapper">
  <resultMap id="BaseResultMap" type="com.pcitc.base.stp.budget.BudgetMoneyMecompose">
    <id column="data_id" jdbcType="INTEGER" property="dataId" />
    <result column="nd" jdbcType="VARCHAR" property="nd" />
    <result column="xh" jdbcType="VARCHAR" property="xh" />
    <result column="cb" jdbcType="VARCHAR" property="cb" />
    <result column="jfyszjys" jdbcType="VARCHAR" property="jfyszjys" />
    <result column="jfyszjlht" jdbcType="VARCHAR" property="jfyszjlht" />
    <result column="jfyszjxq" jdbcType="VARCHAR" property="jfyszjxq" />
    <result column="jtyshjys" jdbcType="VARCHAR" property="jtyshjys" />
    <result column="jtyshjlht" jdbcType="VARCHAR" property="jtyshjlht" />
    <result column="jtyshxq" jdbcType="VARCHAR" property="jtyshxq" />
    <result column="zcyshjys" jdbcType="VARCHAR" property="zcyshjys" />
    <result column="zcyshjlht" jdbcType="VARCHAR" property="zcyshjlht" />
    <result column="zcyshjxq" jdbcType="VARCHAR" property="zcyshjxq" />
    <result column="gfyshjys" jdbcType="VARCHAR" property="gfyshjys" />
    <result column="gfyshjlht" jdbcType="VARCHAR" property="gfyshjlht" />
    <result column="gfyshjxq" jdbcType="VARCHAR" property="gfyshjxq" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    data_id, nd, xh, cb, jfyszjys, jfyszjlht, jfyszjxq, jtyshjys, jtyshjlht, jtyshxq, 
    zcyshjys, zcyshjlht, zcyshjxq, gfyshjys, gfyshjlht, gfyshjxq
  </sql>
  <select id="selectByExample" parameterType="com.pcitc.base.stp.budget.BudgetMoneyMecomposeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from out_tem_money_decompose
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from out_tem_money_decompose
    where data_id = #{dataId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from out_tem_money_decompose
    where data_id = #{dataId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pcitc.base.stp.budget.BudgetMoneyMecomposeExample">
    delete from out_tem_money_decompose
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pcitc.base.stp.budget.BudgetMoneyMecompose">
    insert into out_tem_money_decompose (data_id, nd, xh, 
      cb, jfyszjys, jfyszjlht, 
      jfyszjxq, jtyshjys, jtyshjlht, 
      jtyshxq, zcyshjys, zcyshjlht, 
      zcyshjxq, gfyshjys, gfyshjlht, 
      gfyshjxq)
    values (#{dataId,jdbcType=INTEGER}, #{nd,jdbcType=VARCHAR}, #{xh,jdbcType=VARCHAR}, 
      #{cb,jdbcType=VARCHAR}, #{jfyszjys,jdbcType=VARCHAR}, #{jfyszjlht,jdbcType=VARCHAR}, 
      #{jfyszjxq,jdbcType=VARCHAR}, #{jtyshjys,jdbcType=VARCHAR}, #{jtyshjlht,jdbcType=VARCHAR}, 
      #{jtyshxq,jdbcType=VARCHAR}, #{zcyshjys,jdbcType=VARCHAR}, #{zcyshjlht,jdbcType=VARCHAR}, 
      #{zcyshjxq,jdbcType=VARCHAR}, #{gfyshjys,jdbcType=VARCHAR}, #{gfyshjlht,jdbcType=VARCHAR}, 
      #{gfyshjxq,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pcitc.base.stp.budget.BudgetMoneyMecompose">
    insert into out_tem_money_decompose
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dataId != null">
        data_id,
      </if>
      <if test="nd != null">
        nd,
      </if>
      <if test="xh != null">
        xh,
      </if>
      <if test="cb != null">
        cb,
      </if>
      <if test="jfyszjys != null">
        jfyszjys,
      </if>
      <if test="jfyszjlht != null">
        jfyszjlht,
      </if>
      <if test="jfyszjxq != null">
        jfyszjxq,
      </if>
      <if test="jtyshjys != null">
        jtyshjys,
      </if>
      <if test="jtyshjlht != null">
        jtyshjlht,
      </if>
      <if test="jtyshxq != null">
        jtyshxq,
      </if>
      <if test="zcyshjys != null">
        zcyshjys,
      </if>
      <if test="zcyshjlht != null">
        zcyshjlht,
      </if>
      <if test="zcyshjxq != null">
        zcyshjxq,
      </if>
      <if test="gfyshjys != null">
        gfyshjys,
      </if>
      <if test="gfyshjlht != null">
        gfyshjlht,
      </if>
      <if test="gfyshjxq != null">
        gfyshjxq,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dataId != null">
        #{dataId,jdbcType=INTEGER},
      </if>
      <if test="nd != null">
        #{nd,jdbcType=VARCHAR},
      </if>
      <if test="xh != null">
        #{xh,jdbcType=VARCHAR},
      </if>
      <if test="cb != null">
        #{cb,jdbcType=VARCHAR},
      </if>
      <if test="jfyszjys != null">
        #{jfyszjys,jdbcType=VARCHAR},
      </if>
      <if test="jfyszjlht != null">
        #{jfyszjlht,jdbcType=VARCHAR},
      </if>
      <if test="jfyszjxq != null">
        #{jfyszjxq,jdbcType=VARCHAR},
      </if>
      <if test="jtyshjys != null">
        #{jtyshjys,jdbcType=VARCHAR},
      </if>
      <if test="jtyshjlht != null">
        #{jtyshjlht,jdbcType=VARCHAR},
      </if>
      <if test="jtyshxq != null">
        #{jtyshxq,jdbcType=VARCHAR},
      </if>
      <if test="zcyshjys != null">
        #{zcyshjys,jdbcType=VARCHAR},
      </if>
      <if test="zcyshjlht != null">
        #{zcyshjlht,jdbcType=VARCHAR},
      </if>
      <if test="zcyshjxq != null">
        #{zcyshjxq,jdbcType=VARCHAR},
      </if>
      <if test="gfyshjys != null">
        #{gfyshjys,jdbcType=VARCHAR},
      </if>
      <if test="gfyshjlht != null">
        #{gfyshjlht,jdbcType=VARCHAR},
      </if>
      <if test="gfyshjxq != null">
        #{gfyshjxq,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pcitc.base.stp.budget.BudgetMoneyMecomposeExample" resultType="java.lang.Long">
    select count(*) from out_tem_money_decompose
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update out_tem_money_decompose
    <set>
      <if test="record.dataId != null">
        data_id = #{record.dataId,jdbcType=INTEGER},
      </if>
      <if test="record.nd != null">
        nd = #{record.nd,jdbcType=VARCHAR},
      </if>
      <if test="record.xh != null">
        xh = #{record.xh,jdbcType=VARCHAR},
      </if>
      <if test="record.cb != null">
        cb = #{record.cb,jdbcType=VARCHAR},
      </if>
      <if test="record.jfyszjys != null">
        jfyszjys = #{record.jfyszjys,jdbcType=VARCHAR},
      </if>
      <if test="record.jfyszjlht != null">
        jfyszjlht = #{record.jfyszjlht,jdbcType=VARCHAR},
      </if>
      <if test="record.jfyszjxq != null">
        jfyszjxq = #{record.jfyszjxq,jdbcType=VARCHAR},
      </if>
      <if test="record.jtyshjys != null">
        jtyshjys = #{record.jtyshjys,jdbcType=VARCHAR},
      </if>
      <if test="record.jtyshjlht != null">
        jtyshjlht = #{record.jtyshjlht,jdbcType=VARCHAR},
      </if>
      <if test="record.jtyshxq != null">
        jtyshxq = #{record.jtyshxq,jdbcType=VARCHAR},
      </if>
      <if test="record.zcyshjys != null">
        zcyshjys = #{record.zcyshjys,jdbcType=VARCHAR},
      </if>
      <if test="record.zcyshjlht != null">
        zcyshjlht = #{record.zcyshjlht,jdbcType=VARCHAR},
      </if>
      <if test="record.zcyshjxq != null">
        zcyshjxq = #{record.zcyshjxq,jdbcType=VARCHAR},
      </if>
      <if test="record.gfyshjys != null">
        gfyshjys = #{record.gfyshjys,jdbcType=VARCHAR},
      </if>
      <if test="record.gfyshjlht != null">
        gfyshjlht = #{record.gfyshjlht,jdbcType=VARCHAR},
      </if>
      <if test="record.gfyshjxq != null">
        gfyshjxq = #{record.gfyshjxq,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update out_tem_money_decompose
    set data_id = #{record.dataId,jdbcType=INTEGER},
      nd = #{record.nd,jdbcType=VARCHAR},
      xh = #{record.xh,jdbcType=VARCHAR},
      cb = #{record.cb,jdbcType=VARCHAR},
      jfyszjys = #{record.jfyszjys,jdbcType=VARCHAR},
      jfyszjlht = #{record.jfyszjlht,jdbcType=VARCHAR},
      jfyszjxq = #{record.jfyszjxq,jdbcType=VARCHAR},
      jtyshjys = #{record.jtyshjys,jdbcType=VARCHAR},
      jtyshjlht = #{record.jtyshjlht,jdbcType=VARCHAR},
      jtyshxq = #{record.jtyshxq,jdbcType=VARCHAR},
      zcyshjys = #{record.zcyshjys,jdbcType=VARCHAR},
      zcyshjlht = #{record.zcyshjlht,jdbcType=VARCHAR},
      zcyshjxq = #{record.zcyshjxq,jdbcType=VARCHAR},
      gfyshjys = #{record.gfyshjys,jdbcType=VARCHAR},
      gfyshjlht = #{record.gfyshjlht,jdbcType=VARCHAR},
      gfyshjxq = #{record.gfyshjxq,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pcitc.base.stp.budget.BudgetMoneyMecompose">
    update out_tem_money_decompose
    <set>
      <if test="nd != null">
        nd = #{nd,jdbcType=VARCHAR},
      </if>
      <if test="xh != null">
        xh = #{xh,jdbcType=VARCHAR},
      </if>
      <if test="cb != null">
        cb = #{cb,jdbcType=VARCHAR},
      </if>
      <if test="jfyszjys != null">
        jfyszjys = #{jfyszjys,jdbcType=VARCHAR},
      </if>
      <if test="jfyszjlht != null">
        jfyszjlht = #{jfyszjlht,jdbcType=VARCHAR},
      </if>
      <if test="jfyszjxq != null">
        jfyszjxq = #{jfyszjxq,jdbcType=VARCHAR},
      </if>
      <if test="jtyshjys != null">
        jtyshjys = #{jtyshjys,jdbcType=VARCHAR},
      </if>
      <if test="jtyshjlht != null">
        jtyshjlht = #{jtyshjlht,jdbcType=VARCHAR},
      </if>
      <if test="jtyshxq != null">
        jtyshxq = #{jtyshxq,jdbcType=VARCHAR},
      </if>
      <if test="zcyshjys != null">
        zcyshjys = #{zcyshjys,jdbcType=VARCHAR},
      </if>
      <if test="zcyshjlht != null">
        zcyshjlht = #{zcyshjlht,jdbcType=VARCHAR},
      </if>
      <if test="zcyshjxq != null">
        zcyshjxq = #{zcyshjxq,jdbcType=VARCHAR},
      </if>
      <if test="gfyshjys != null">
        gfyshjys = #{gfyshjys,jdbcType=VARCHAR},
      </if>
      <if test="gfyshjlht != null">
        gfyshjlht = #{gfyshjlht,jdbcType=VARCHAR},
      </if>
      <if test="gfyshjxq != null">
        gfyshjxq = #{gfyshjxq,jdbcType=VARCHAR},
      </if>
    </set>
    where data_id = #{dataId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pcitc.base.stp.budget.BudgetMoneyMecompose">
    update out_tem_money_decompose
    set nd = #{nd,jdbcType=VARCHAR},
      xh = #{xh,jdbcType=VARCHAR},
      cb = #{cb,jdbcType=VARCHAR},
      jfyszjys = #{jfyszjys,jdbcType=VARCHAR},
      jfyszjlht = #{jfyszjlht,jdbcType=VARCHAR},
      jfyszjxq = #{jfyszjxq,jdbcType=VARCHAR},
      jtyshjys = #{jtyshjys,jdbcType=VARCHAR},
      jtyshjlht = #{jtyshjlht,jdbcType=VARCHAR},
      jtyshxq = #{jtyshxq,jdbcType=VARCHAR},
      zcyshjys = #{zcyshjys,jdbcType=VARCHAR},
      zcyshjlht = #{zcyshjlht,jdbcType=VARCHAR},
      zcyshjxq = #{zcyshjxq,jdbcType=VARCHAR},
      gfyshjys = #{gfyshjys,jdbcType=VARCHAR},
      gfyshjlht = #{gfyshjlht,jdbcType=VARCHAR},
      gfyshjxq = #{gfyshjxq,jdbcType=VARCHAR}
    where data_id = #{dataId,jdbcType=INTEGER}
  </update>
</mapper>