<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcitc.mapper.budget.BudgetB2cSplitMapper">
  <resultMap id="BaseResultMap" type="com.pcitc.base.stp.budget.BudgetB2cSplit">
    <id column="data_id" jdbcType="VARCHAR" property="dataId" />
    <result column="parent_data_id" jdbcType="VARCHAR" property="parentDataId" />
    <result column="nd" jdbcType="VARCHAR" property="nd" />
    <result column="data_version" jdbcType="VARCHAR" property="dataVersion" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
    <result column="creater_name" jdbcType="VARCHAR" property="createrName" />
    <result column="creater_id" jdbcType="VARCHAR" property="createrId" />
    <result column="no" jdbcType="INTEGER" property="no" />
    <result column="display_name" jdbcType="VARCHAR" property="displayName" />
    <result column="simple_name" jdbcType="VARCHAR" property="simpleName" />
    <result column="display_code" jdbcType="VARCHAR" property="displayCode" />
    <result column="simple_code" jdbcType="VARCHAR" property="simpleCode" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="ly_jz" jdbcType="DOUBLE" property="lyJz" />
    <result column="ly_xq" jdbcType="DOUBLE" property="lyXq" />
    <result column="ly_total" jdbcType="DOUBLE" property="lyTotal" />
    <result column="hg_jz" jdbcType="DOUBLE" property="hgJz" />
    <result column="hg_xq" jdbcType="DOUBLE" property="hgXq" />
    <result column="hg_total" jdbcType="DOUBLE" property="hgTotal" />
    <result column="item_type" jdbcType="INTEGER" property="itemType" />
    <result column="company_code" jdbcType="VARCHAR" property="companyCode" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="budget_info_id" jdbcType="VARCHAR" property="budgetInfoId" />
    <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
    <result column="append_files" jdbcType="VARCHAR" property="appendFiles" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    data_id, parent_data_id, nd, data_version, create_time, update_time, creater_name, 
    creater_id, no, display_name, simple_name, display_code, simple_code, level, ly_jz, 
    ly_xq, ly_total, hg_jz, hg_xq, hg_total, item_type, company_code, remark, budget_info_id, 
    del_flag, append_files
  </sql>
  <select id="selectByExample" parameterType="com.pcitc.base.stp.budget.BudgetB2cSplitExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from out_tem_money_b2c_split
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from out_tem_money_b2c_split
    where data_id = #{dataId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from out_tem_money_b2c_split
    where data_id = #{dataId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pcitc.base.stp.budget.BudgetB2cSplitExample">
    delete from out_tem_money_b2c_split
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pcitc.base.stp.budget.BudgetB2cSplit">
    insert into out_tem_money_b2c_split (data_id, parent_data_id, nd, 
      data_version, create_time, update_time, 
      creater_name, creater_id, no, 
      display_name, simple_name, display_code, 
      simple_code, level, ly_jz, 
      ly_xq, ly_total, hg_jz, hg_xq, 
      hg_total, item_type, company_code, 
      remark, budget_info_id, del_flag, 
      append_files)
    values (#{dataId,jdbcType=VARCHAR}, #{parentDataId,jdbcType=VARCHAR}, #{nd,jdbcType=VARCHAR}, 
      #{dataVersion,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}, 
      #{createrName,jdbcType=VARCHAR}, #{createrId,jdbcType=VARCHAR}, #{no,jdbcType=INTEGER}, 
      #{displayName,jdbcType=VARCHAR}, #{simpleName,jdbcType=VARCHAR}, #{displayCode,jdbcType=VARCHAR}, 
      #{simpleCode,jdbcType=VARCHAR}, #{level,jdbcType=INTEGER}, #{lyJz,jdbcType=DOUBLE}, 
      #{lyXq,jdbcType=DOUBLE}, #{lyTotal,jdbcType=DOUBLE}, #{hgJz,jdbcType=DOUBLE}, #{hgXq,jdbcType=DOUBLE}, 
      #{hgTotal,jdbcType=DOUBLE}, #{itemType,jdbcType=INTEGER}, #{companyCode,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{budgetInfoId,jdbcType=VARCHAR}, #{delFlag,jdbcType=INTEGER}, 
      #{appendFiles,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pcitc.base.stp.budget.BudgetB2cSplit">
    insert into out_tem_money_b2c_split
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dataId != null">
        data_id,
      </if>
      <if test="parentDataId != null">
        parent_data_id,
      </if>
      <if test="nd != null">
        nd,
      </if>
      <if test="dataVersion != null">
        data_version,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createrName != null">
        creater_name,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
      <if test="no != null">
        no,
      </if>
      <if test="displayName != null">
        display_name,
      </if>
      <if test="simpleName != null">
        simple_name,
      </if>
      <if test="displayCode != null">
        display_code,
      </if>
      <if test="simpleCode != null">
        simple_code,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="lyJz != null">
        ly_jz,
      </if>
      <if test="lyXq != null">
        ly_xq,
      </if>
      <if test="lyTotal != null">
        ly_total,
      </if>
      <if test="hgJz != null">
        hg_jz,
      </if>
      <if test="hgXq != null">
        hg_xq,
      </if>
      <if test="hgTotal != null">
        hg_total,
      </if>
      <if test="itemType != null">
        item_type,
      </if>
      <if test="companyCode != null">
        company_code,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="budgetInfoId != null">
        budget_info_id,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="appendFiles != null">
        append_files,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dataId != null">
        #{dataId,jdbcType=VARCHAR},
      </if>
      <if test="parentDataId != null">
        #{parentDataId,jdbcType=VARCHAR},
      </if>
      <if test="nd != null">
        #{nd,jdbcType=VARCHAR},
      </if>
      <if test="dataVersion != null">
        #{dataVersion,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="createrName != null">
        #{createrName,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=VARCHAR},
      </if>
      <if test="no != null">
        #{no,jdbcType=INTEGER},
      </if>
      <if test="displayName != null">
        #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="simpleName != null">
        #{simpleName,jdbcType=VARCHAR},
      </if>
      <if test="displayCode != null">
        #{displayCode,jdbcType=VARCHAR},
      </if>
      <if test="simpleCode != null">
        #{simpleCode,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="lyJz != null">
        #{lyJz,jdbcType=DOUBLE},
      </if>
      <if test="lyXq != null">
        #{lyXq,jdbcType=DOUBLE},
      </if>
      <if test="lyTotal != null">
        #{lyTotal,jdbcType=DOUBLE},
      </if>
      <if test="hgJz != null">
        #{hgJz,jdbcType=DOUBLE},
      </if>
      <if test="hgXq != null">
        #{hgXq,jdbcType=DOUBLE},
      </if>
      <if test="hgTotal != null">
        #{hgTotal,jdbcType=DOUBLE},
      </if>
      <if test="itemType != null">
        #{itemType,jdbcType=INTEGER},
      </if>
      <if test="companyCode != null">
        #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="budgetInfoId != null">
        #{budgetInfoId,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="appendFiles != null">
        #{appendFiles,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pcitc.base.stp.budget.BudgetB2cSplitExample" resultType="java.lang.Long">
    select count(*) from out_tem_money_b2c_split
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update out_tem_money_b2c_split
    <set>
      <if test="record.dataId != null">
        data_id = #{record.dataId,jdbcType=VARCHAR},
      </if>
      <if test="record.parentDataId != null">
        parent_data_id = #{record.parentDataId,jdbcType=VARCHAR},
      </if>
      <if test="record.nd != null">
        nd = #{record.nd,jdbcType=VARCHAR},
      </if>
      <if test="record.dataVersion != null">
        data_version = #{record.dataVersion,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createrName != null">
        creater_name = #{record.createrName,jdbcType=VARCHAR},
      </if>
      <if test="record.createrId != null">
        creater_id = #{record.createrId,jdbcType=VARCHAR},
      </if>
      <if test="record.no != null">
        no = #{record.no,jdbcType=INTEGER},
      </if>
      <if test="record.displayName != null">
        display_name = #{record.displayName,jdbcType=VARCHAR},
      </if>
      <if test="record.simpleName != null">
        simple_name = #{record.simpleName,jdbcType=VARCHAR},
      </if>
      <if test="record.displayCode != null">
        display_code = #{record.displayCode,jdbcType=VARCHAR},
      </if>
      <if test="record.simpleCode != null">
        simple_code = #{record.simpleCode,jdbcType=VARCHAR},
      </if>
      <if test="record.level != null">
        level = #{record.level,jdbcType=INTEGER},
      </if>
      <if test="record.lyJz != null">
        ly_jz = #{record.lyJz,jdbcType=DOUBLE},
      </if>
      <if test="record.lyXq != null">
        ly_xq = #{record.lyXq,jdbcType=DOUBLE},
      </if>
      <if test="record.lyTotal != null">
        ly_total = #{record.lyTotal,jdbcType=DOUBLE},
      </if>
      <if test="record.hgJz != null">
        hg_jz = #{record.hgJz,jdbcType=DOUBLE},
      </if>
      <if test="record.hgXq != null">
        hg_xq = #{record.hgXq,jdbcType=DOUBLE},
      </if>
      <if test="record.hgTotal != null">
        hg_total = #{record.hgTotal,jdbcType=DOUBLE},
      </if>
      <if test="record.itemType != null">
        item_type = #{record.itemType,jdbcType=INTEGER},
      </if>
      <if test="record.companyCode != null">
        company_code = #{record.companyCode,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.budgetInfoId != null">
        budget_info_id = #{record.budgetInfoId,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null">
        del_flag = #{record.delFlag,jdbcType=INTEGER},
      </if>
      <if test="record.appendFiles != null">
        append_files = #{record.appendFiles,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update out_tem_money_b2c_split
    set data_id = #{record.dataId,jdbcType=VARCHAR},
      parent_data_id = #{record.parentDataId,jdbcType=VARCHAR},
      nd = #{record.nd,jdbcType=VARCHAR},
      data_version = #{record.dataVersion,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=VARCHAR},
      creater_name = #{record.createrName,jdbcType=VARCHAR},
      creater_id = #{record.createrId,jdbcType=VARCHAR},
      no = #{record.no,jdbcType=INTEGER},
      display_name = #{record.displayName,jdbcType=VARCHAR},
      simple_name = #{record.simpleName,jdbcType=VARCHAR},
      display_code = #{record.displayCode,jdbcType=VARCHAR},
      simple_code = #{record.simpleCode,jdbcType=VARCHAR},
      level = #{record.level,jdbcType=INTEGER},
      ly_jz = #{record.lyJz,jdbcType=DOUBLE},
      ly_xq = #{record.lyXq,jdbcType=DOUBLE},
      ly_total = #{record.lyTotal,jdbcType=DOUBLE},
      hg_jz = #{record.hgJz,jdbcType=DOUBLE},
      hg_xq = #{record.hgXq,jdbcType=DOUBLE},
      hg_total = #{record.hgTotal,jdbcType=DOUBLE},
      item_type = #{record.itemType,jdbcType=INTEGER},
      company_code = #{record.companyCode,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      budget_info_id = #{record.budgetInfoId,jdbcType=VARCHAR},
      del_flag = #{record.delFlag,jdbcType=INTEGER},
      append_files = #{record.appendFiles,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pcitc.base.stp.budget.BudgetB2cSplit">
    update out_tem_money_b2c_split
    <set>
      <if test="parentDataId != null">
        parent_data_id = #{parentDataId,jdbcType=VARCHAR},
      </if>
      <if test="nd != null">
        nd = #{nd,jdbcType=VARCHAR},
      </if>
      <if test="dataVersion != null">
        data_version = #{dataVersion,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="createrName != null">
        creater_name = #{createrName,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        creater_id = #{createrId,jdbcType=VARCHAR},
      </if>
      <if test="no != null">
        no = #{no,jdbcType=INTEGER},
      </if>
      <if test="displayName != null">
        display_name = #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="simpleName != null">
        simple_name = #{simpleName,jdbcType=VARCHAR},
      </if>
      <if test="displayCode != null">
        display_code = #{displayCode,jdbcType=VARCHAR},
      </if>
      <if test="simpleCode != null">
        simple_code = #{simpleCode,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="lyJz != null">
        ly_jz = #{lyJz,jdbcType=DOUBLE},
      </if>
      <if test="lyXq != null">
        ly_xq = #{lyXq,jdbcType=DOUBLE},
      </if>
      <if test="lyTotal != null">
        ly_total = #{lyTotal,jdbcType=DOUBLE},
      </if>
      <if test="hgJz != null">
        hg_jz = #{hgJz,jdbcType=DOUBLE},
      </if>
      <if test="hgXq != null">
        hg_xq = #{hgXq,jdbcType=DOUBLE},
      </if>
      <if test="hgTotal != null">
        hg_total = #{hgTotal,jdbcType=DOUBLE},
      </if>
      <if test="itemType != null">
        item_type = #{itemType,jdbcType=INTEGER},
      </if>
      <if test="companyCode != null">
        company_code = #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="budgetInfoId != null">
        budget_info_id = #{budgetInfoId,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="appendFiles != null">
        append_files = #{appendFiles,jdbcType=VARCHAR},
      </if>
    </set>
    where data_id = #{dataId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pcitc.base.stp.budget.BudgetB2cSplit">
    update out_tem_money_b2c_split
    set parent_data_id = #{parentDataId,jdbcType=VARCHAR},
      nd = #{nd,jdbcType=VARCHAR},
      data_version = #{dataVersion,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR},
      creater_name = #{createrName,jdbcType=VARCHAR},
      creater_id = #{createrId,jdbcType=VARCHAR},
      no = #{no,jdbcType=INTEGER},
      display_name = #{displayName,jdbcType=VARCHAR},
      simple_name = #{simpleName,jdbcType=VARCHAR},
      display_code = #{displayCode,jdbcType=VARCHAR},
      simple_code = #{simpleCode,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER},
      ly_jz = #{lyJz,jdbcType=DOUBLE},
      ly_xq = #{lyXq,jdbcType=DOUBLE},
      ly_total = #{lyTotal,jdbcType=DOUBLE},
      hg_jz = #{hgJz,jdbcType=DOUBLE},
      hg_xq = #{hgXq,jdbcType=DOUBLE},
      hg_total = #{hgTotal,jdbcType=DOUBLE},
      item_type = #{itemType,jdbcType=INTEGER},
      company_code = #{companyCode,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      budget_info_id = #{budgetInfoId,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=INTEGER},
      append_files = #{appendFiles,jdbcType=VARCHAR}
    where data_id = #{dataId,jdbcType=VARCHAR}
  </update>
</mapper>