<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pcitc.mapper.equipment.SreEquipmentMapper" >
  <resultMap id="BaseResultMap" type="com.pcitc.base.stp.equipment.SreEquipment" >
    <id column="equipment_id" property="equipmentId" jdbcType="VARCHAR" />
    <result column="equipment_code" property="equipmentCode" jdbcType="VARCHAR" />
    <result column="is_linked_project" property="isLinkedProject" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="unit_price" property="unitPrice" jdbcType="DECIMAL" />
    <result column="all_price" property="allPrice" jdbcType="DECIMAL" />
    <result column="apply_acount" property="applyAcount" jdbcType="INTEGER" />
    <result column="specification" property="specification" jdbcType="VARCHAR" />
    <result column="notes" property="notes" jdbcType="VARCHAR" />
    <result column="special_notes" property="specialNotes" jdbcType="VARCHAR" />
    <result column="attachment_doc" property="attachmentDoc" jdbcType="VARCHAR" />
    <result column="apply_depart_name" property="applyDepartName" jdbcType="VARCHAR" />
    <result column="apply_depart_code" property="applyDepartCode" jdbcType="VARCHAR" />
    <result column="first_apply_user" property="firstApplyUser" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="audit_status" property="auditStatus" jdbcType="VARCHAR" />
    <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="erp_no" property="erpNo" jdbcType="VARCHAR" />
    <result column="supplier_id" property="supplierId" jdbcType="VARCHAR" />
    <result column="supplier_name" property="supplierName" jdbcType="VARCHAR" />
    <result column="supplier_link_man" property="supplierLinkMan" jdbcType="VARCHAR" />
    <result column="supplier_mobile_email" property="supplierMobileEmail" jdbcType="VARCHAR" />
    <result column="origin_place" property="originPlace" jdbcType="VARCHAR" />
    <result column="vote_count" property="voteCount" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    equipment_id, equipment_code, is_linked_project, name, type, unit_price, all_price, 
    apply_acount, specification, notes, special_notes, attachment_doc, apply_depart_name, 
    apply_depart_code, first_apply_user, create_user_id, create_date, audit_status, update_user_id, 
    update_date, erp_no, supplier_id, supplier_name, supplier_link_man, supplier_mobile_email, 
    origin_place, vote_count
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pcitc.base.stp.equipment.SreEquipmentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from sre_equipment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sre_equipment
    where equipment_id = #{equipmentId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sre_equipment
    where equipment_id = #{equipmentId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pcitc.base.stp.equipment.SreEquipmentExample" >
    delete from sre_equipment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pcitc.base.stp.equipment.SreEquipment" >
    insert into sre_equipment (equipment_id, equipment_code, is_linked_project, 
      name, type, unit_price, 
      all_price, apply_acount, specification, 
      notes, special_notes, attachment_doc, 
      apply_depart_name, apply_depart_code, first_apply_user, 
      create_user_id, create_date, audit_status, 
      update_user_id, update_date, erp_no, 
      supplier_id, supplier_name, supplier_link_man, 
      supplier_mobile_email, origin_place, vote_count
      )
    values (#{equipmentId,jdbcType=VARCHAR}, #{equipmentCode,jdbcType=VARCHAR}, #{isLinkedProject,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{unitPrice,jdbcType=DECIMAL}, 
      #{allPrice,jdbcType=DECIMAL}, #{applyAcount,jdbcType=INTEGER}, #{specification,jdbcType=VARCHAR}, 
      #{notes,jdbcType=VARCHAR}, #{specialNotes,jdbcType=VARCHAR}, #{attachmentDoc,jdbcType=VARCHAR}, 
      #{applyDepartName,jdbcType=VARCHAR}, #{applyDepartCode,jdbcType=VARCHAR}, #{firstApplyUser,jdbcType=VARCHAR}, 
      #{createUserId,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{auditStatus,jdbcType=VARCHAR}, 
      #{updateUserId,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{erpNo,jdbcType=VARCHAR}, 
      #{supplierId,jdbcType=VARCHAR}, #{supplierName,jdbcType=VARCHAR}, #{supplierLinkMan,jdbcType=VARCHAR}, 
      #{supplierMobileEmail,jdbcType=VARCHAR}, #{originPlace,jdbcType=VARCHAR}, #{voteCount,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pcitc.base.stp.equipment.SreEquipment" >
    insert into sre_equipment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="equipmentId != null" >
        equipment_id,
      </if>
      <if test="equipmentCode != null" >
        equipment_code,
      </if>
      <if test="isLinkedProject != null" >
        is_linked_project,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="unitPrice != null" >
        unit_price,
      </if>
      <if test="allPrice != null" >
        all_price,
      </if>
      <if test="applyAcount != null" >
        apply_acount,
      </if>
      <if test="specification != null" >
        specification,
      </if>
      <if test="notes != null" >
        notes,
      </if>
      <if test="specialNotes != null" >
        special_notes,
      </if>
      <if test="attachmentDoc != null" >
        attachment_doc,
      </if>
      <if test="applyDepartName != null" >
        apply_depart_name,
      </if>
      <if test="applyDepartCode != null" >
        apply_depart_code,
      </if>
      <if test="firstApplyUser != null" >
        first_apply_user,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="auditStatus != null" >
        audit_status,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="erpNo != null" >
        erp_no,
      </if>
      <if test="supplierId != null" >
        supplier_id,
      </if>
      <if test="supplierName != null" >
        supplier_name,
      </if>
      <if test="supplierLinkMan != null" >
        supplier_link_man,
      </if>
      <if test="supplierMobileEmail != null" >
        supplier_mobile_email,
      </if>
      <if test="originPlace != null" >
        origin_place,
      </if>
      <if test="voteCount != null" >
        vote_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="equipmentId != null" >
        #{equipmentId,jdbcType=VARCHAR},
      </if>
      <if test="equipmentCode != null" >
        #{equipmentCode,jdbcType=VARCHAR},
      </if>
      <if test="isLinkedProject != null" >
        #{isLinkedProject,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="unitPrice != null" >
        #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="allPrice != null" >
        #{allPrice,jdbcType=DECIMAL},
      </if>
      <if test="applyAcount != null" >
        #{applyAcount,jdbcType=INTEGER},
      </if>
      <if test="specification != null" >
        #{specification,jdbcType=VARCHAR},
      </if>
      <if test="notes != null" >
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="specialNotes != null" >
        #{specialNotes,jdbcType=VARCHAR},
      </if>
      <if test="attachmentDoc != null" >
        #{attachmentDoc,jdbcType=VARCHAR},
      </if>
      <if test="applyDepartName != null" >
        #{applyDepartName,jdbcType=VARCHAR},
      </if>
      <if test="applyDepartCode != null" >
        #{applyDepartCode,jdbcType=VARCHAR},
      </if>
      <if test="firstApplyUser != null" >
        #{firstApplyUser,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="auditStatus != null" >
        #{auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="erpNo != null" >
        #{erpNo,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null" >
        #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="supplierName != null" >
        #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="supplierLinkMan != null" >
        #{supplierLinkMan,jdbcType=VARCHAR},
      </if>
      <if test="supplierMobileEmail != null" >
        #{supplierMobileEmail,jdbcType=VARCHAR},
      </if>
      <if test="originPlace != null" >
        #{originPlace,jdbcType=VARCHAR},
      </if>
      <if test="voteCount != null" >
        #{voteCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pcitc.base.stp.equipment.SreEquipmentExample" resultType="java.lang.Integer" >
    select count(*) from sre_equipment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sre_equipment
    <set >
      <if test="record.equipmentId != null" >
        equipment_id = #{record.equipmentId,jdbcType=VARCHAR},
      </if>
      <if test="record.equipmentCode != null" >
        equipment_code = #{record.equipmentCode,jdbcType=VARCHAR},
      </if>
      <if test="record.isLinkedProject != null" >
        is_linked_project = #{record.isLinkedProject,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.unitPrice != null" >
        unit_price = #{record.unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.allPrice != null" >
        all_price = #{record.allPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.applyAcount != null" >
        apply_acount = #{record.applyAcount,jdbcType=INTEGER},
      </if>
      <if test="record.specification != null" >
        specification = #{record.specification,jdbcType=VARCHAR},
      </if>
      <if test="record.notes != null" >
        notes = #{record.notes,jdbcType=VARCHAR},
      </if>
      <if test="record.specialNotes != null" >
        special_notes = #{record.specialNotes,jdbcType=VARCHAR},
      </if>
      <if test="record.attachmentDoc != null" >
        attachment_doc = #{record.attachmentDoc,jdbcType=VARCHAR},
      </if>
      <if test="record.applyDepartName != null" >
        apply_depart_name = #{record.applyDepartName,jdbcType=VARCHAR},
      </if>
      <if test="record.applyDepartCode != null" >
        apply_depart_code = #{record.applyDepartCode,jdbcType=VARCHAR},
      </if>
      <if test="record.firstApplyUser != null" >
        first_apply_user = #{record.firstApplyUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserId != null" >
        create_user_id = #{record.createUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.auditStatus != null" >
        audit_status = #{record.auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUserId != null" >
        update_user_id = #{record.updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.erpNo != null" >
        erp_no = #{record.erpNo,jdbcType=VARCHAR},
      </if>
      <if test="record.supplierId != null" >
        supplier_id = #{record.supplierId,jdbcType=VARCHAR},
      </if>
      <if test="record.supplierName != null" >
        supplier_name = #{record.supplierName,jdbcType=VARCHAR},
      </if>
      <if test="record.supplierLinkMan != null" >
        supplier_link_man = #{record.supplierLinkMan,jdbcType=VARCHAR},
      </if>
      <if test="record.supplierMobileEmail != null" >
        supplier_mobile_email = #{record.supplierMobileEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.originPlace != null" >
        origin_place = #{record.originPlace,jdbcType=VARCHAR},
      </if>
      <if test="record.voteCount != null" >
        vote_count = #{record.voteCount,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sre_equipment
    set equipment_id = #{record.equipmentId,jdbcType=VARCHAR},
      equipment_code = #{record.equipmentCode,jdbcType=VARCHAR},
      is_linked_project = #{record.isLinkedProject,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      unit_price = #{record.unitPrice,jdbcType=DECIMAL},
      all_price = #{record.allPrice,jdbcType=DECIMAL},
      apply_acount = #{record.applyAcount,jdbcType=INTEGER},
      specification = #{record.specification,jdbcType=VARCHAR},
      notes = #{record.notes,jdbcType=VARCHAR},
      special_notes = #{record.specialNotes,jdbcType=VARCHAR},
      attachment_doc = #{record.attachmentDoc,jdbcType=VARCHAR},
      apply_depart_name = #{record.applyDepartName,jdbcType=VARCHAR},
      apply_depart_code = #{record.applyDepartCode,jdbcType=VARCHAR},
      first_apply_user = #{record.firstApplyUser,jdbcType=VARCHAR},
      create_user_id = #{record.createUserId,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      audit_status = #{record.auditStatus,jdbcType=VARCHAR},
      update_user_id = #{record.updateUserId,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      erp_no = #{record.erpNo,jdbcType=VARCHAR},
      supplier_id = #{record.supplierId,jdbcType=VARCHAR},
      supplier_name = #{record.supplierName,jdbcType=VARCHAR},
      supplier_link_man = #{record.supplierLinkMan,jdbcType=VARCHAR},
      supplier_mobile_email = #{record.supplierMobileEmail,jdbcType=VARCHAR},
      origin_place = #{record.originPlace,jdbcType=VARCHAR},
      vote_count = #{record.voteCount,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pcitc.base.stp.equipment.SreEquipment" >
    update sre_equipment
    <set >
      <if test="equipmentCode != null" >
        equipment_code = #{equipmentCode,jdbcType=VARCHAR},
      </if>
      <if test="isLinkedProject != null" >
        is_linked_project = #{isLinkedProject,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="unitPrice != null" >
        unit_price = #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="allPrice != null" >
        all_price = #{allPrice,jdbcType=DECIMAL},
      </if>
      <if test="applyAcount != null" >
        apply_acount = #{applyAcount,jdbcType=INTEGER},
      </if>
      <if test="specification != null" >
        specification = #{specification,jdbcType=VARCHAR},
      </if>
      <if test="notes != null" >
        notes = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="specialNotes != null" >
        special_notes = #{specialNotes,jdbcType=VARCHAR},
      </if>
      <if test="attachmentDoc != null" >
        attachment_doc = #{attachmentDoc,jdbcType=VARCHAR},
      </if>
      <if test="applyDepartName != null" >
        apply_depart_name = #{applyDepartName,jdbcType=VARCHAR},
      </if>
      <if test="applyDepartCode != null" >
        apply_depart_code = #{applyDepartCode,jdbcType=VARCHAR},
      </if>
      <if test="firstApplyUser != null" >
        first_apply_user = #{firstApplyUser,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="auditStatus != null" >
        audit_status = #{auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="erpNo != null" >
        erp_no = #{erpNo,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null" >
        supplier_id = #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="supplierName != null" >
        supplier_name = #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="supplierLinkMan != null" >
        supplier_link_man = #{supplierLinkMan,jdbcType=VARCHAR},
      </if>
      <if test="supplierMobileEmail != null" >
        supplier_mobile_email = #{supplierMobileEmail,jdbcType=VARCHAR},
      </if>
      <if test="originPlace != null" >
        origin_place = #{originPlace,jdbcType=VARCHAR},
      </if>
      <if test="voteCount != null" >
        vote_count = #{voteCount,jdbcType=INTEGER},
      </if>
    </set>
    where equipment_id = #{equipmentId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pcitc.base.stp.equipment.SreEquipment" >
    update sre_equipment
    set equipment_code = #{equipmentCode,jdbcType=VARCHAR},
      is_linked_project = #{isLinkedProject,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      unit_price = #{unitPrice,jdbcType=DECIMAL},
      all_price = #{allPrice,jdbcType=DECIMAL},
      apply_acount = #{applyAcount,jdbcType=INTEGER},
      specification = #{specification,jdbcType=VARCHAR},
      notes = #{notes,jdbcType=VARCHAR},
      special_notes = #{specialNotes,jdbcType=VARCHAR},
      attachment_doc = #{attachmentDoc,jdbcType=VARCHAR},
      apply_depart_name = #{applyDepartName,jdbcType=VARCHAR},
      apply_depart_code = #{applyDepartCode,jdbcType=VARCHAR},
      first_apply_user = #{firstApplyUser,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      audit_status = #{auditStatus,jdbcType=VARCHAR},
      update_user_id = #{updateUserId,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      erp_no = #{erpNo,jdbcType=VARCHAR},
      supplier_id = #{supplierId,jdbcType=VARCHAR},
      supplier_name = #{supplierName,jdbcType=VARCHAR},
      supplier_link_man = #{supplierLinkMan,jdbcType=VARCHAR},
      supplier_mobile_email = #{supplierMobileEmail,jdbcType=VARCHAR},
      origin_place = #{originPlace,jdbcType=VARCHAR},
      vote_count = #{voteCount,jdbcType=INTEGER}
    where equipment_id = #{equipmentId,jdbcType=VARCHAR}
  </update>
</mapper>