<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pcitc.mapper.equipment.SreEquipmentMapper" >
  <resultMap id="BaseResultMap" type="com.pcitc.base.stp.equipment.SreEquipment" >
    <id column="equipment_id" property="equipmentId" jdbcType="VARCHAR" />
    <result column="equipment_code" property="equipmentCode" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="apply_order" property="applyOrder" jdbcType="VARCHAR" />
    <result column="apply_money" property="applyMoney" jdbcType="DECIMAL" />
    <result column="plan_money" property="planMoney" jdbcType="DECIMAL" />
    <result column="prior_money" property="priorMoney" jdbcType="DECIMAL" />
    <result column="apply_acount" property="applyAcount" jdbcType="INTEGER" />
    <result column="type_model" property="typeModel" jdbcType="VARCHAR" />
    <result column="notes" property="notes" jdbcType="VARCHAR" />
    <result column="supplier_id" property="supplierId" jdbcType="VARCHAR" />
    <result column="report_id" property="reportId" jdbcType="VARCHAR" />
    <result column="special_notes" property="specialNotes" jdbcType="VARCHAR" />
    <result column="attachment_doc" property="attachmentDoc" jdbcType="VARCHAR" />
    <result column="apply_depart" property="applyDepart" jdbcType="VARCHAR" />
    <result column="apply_user" property="applyUser" jdbcType="VARCHAR" />
    <result column="is_del" property="isDel" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="audit_status" property="auditStatus" jdbcType="VARCHAR" />
    <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="meeting_id" property="meetingId" jdbcType="BIGINT" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="key_word" property="keyWord" jdbcType="VARCHAR" />
    <result column="begin_year" property="beginYear" jdbcType="VARCHAR" />
    <result column="end_year" property="endYear" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    equipment_id, equipment_code, status, name, type, apply_order, apply_money, plan_money, 
    prior_money, apply_acount, type_model, notes, supplier_id, report_id, special_notes, 
    attachment_doc, apply_depart, apply_user, is_del, create_user_id, create_date, audit_status, 
    update_user_id, update_date, meeting_id, remarks, key_word, begin_year, end_year
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pcitc.base.stp.equipment.SreEquipmentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from sre_equipment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sre_equipment
    where equipment_id = #{equipmentId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sre_equipment
    where equipment_id = #{equipmentId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pcitc.base.stp.equipment.SreEquipmentExample" >
    delete from sre_equipment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pcitc.base.stp.equipment.SreEquipment" useGeneratedKeys="true" keyProperty="equipmentId" >
    insert into sre_equipment (equipment_id, equipment_code, status, 
      name, type, apply_order, 
      apply_money, plan_money, prior_money, 
      apply_acount, type_model, notes, 
      supplier_id, report_id, special_notes, 
      attachment_doc, apply_depart, apply_user, 
      is_del, create_user_id, create_date, 
      audit_status, update_user_id, update_date, 
      meeting_id, remarks, key_word, 
      begin_year, end_year)
    values (#{equipmentId,jdbcType=VARCHAR}, #{equipmentCode,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{applyOrder,jdbcType=VARCHAR}, 
      #{applyMoney,jdbcType=DECIMAL}, #{planMoney,jdbcType=DECIMAL}, #{priorMoney,jdbcType=DECIMAL}, 
      #{applyAcount,jdbcType=INTEGER}, #{typeModel,jdbcType=VARCHAR}, #{notes,jdbcType=VARCHAR}, 
      #{supplierId,jdbcType=VARCHAR}, #{reportId,jdbcType=VARCHAR}, #{specialNotes,jdbcType=VARCHAR}, 
      #{attachmentDoc,jdbcType=VARCHAR}, #{applyDepart,jdbcType=VARCHAR}, #{applyUser,jdbcType=VARCHAR}, 
      #{isDel,jdbcType=VARCHAR}, #{createUserId,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{auditStatus,jdbcType=VARCHAR}, #{updateUserId,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{meetingId,jdbcType=BIGINT}, #{remarks,jdbcType=VARCHAR}, #{keyWord,jdbcType=VARCHAR}, 
      #{beginYear,jdbcType=VARCHAR}, #{endYear,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pcitc.base.stp.equipment.SreEquipment" useGeneratedKeys="true" keyProperty="equipmentId"  >
    insert into sre_equipment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="equipmentId != null" >
        equipment_id,
      </if>
      <if test="equipmentCode != null" >
        equipment_code,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="applyOrder != null" >
        apply_order,
      </if>
      <if test="applyMoney != null" >
        apply_money,
      </if>
      <if test="planMoney != null" >
        plan_money,
      </if>
      <if test="priorMoney != null" >
        prior_money,
      </if>
      <if test="applyAcount != null" >
        apply_acount,
      </if>
      <if test="typeModel != null" >
        type_model,
      </if>
      <if test="notes != null" >
        notes,
      </if>
      <if test="supplierId != null" >
        supplier_id,
      </if>
      <if test="reportId != null" >
        report_id,
      </if>
      <if test="specialNotes != null" >
        special_notes,
      </if>
      <if test="attachmentDoc != null" >
        attachment_doc,
      </if>
      <if test="applyDepart != null" >
        apply_depart,
      </if>
      <if test="applyUser != null" >
        apply_user,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="auditStatus != null" >
        audit_status,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="meetingId != null" >
        meeting_id,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="keyWord != null" >
        key_word,
      </if>
      <if test="beginYear != null" >
        begin_year,
      </if>
      <if test="endYear != null" >
        end_year,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="equipmentId != null" >
        #{equipmentId,jdbcType=VARCHAR},
      </if>
      <if test="equipmentCode != null" >
        #{equipmentCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="applyOrder != null" >
        #{applyOrder,jdbcType=VARCHAR},
      </if>
      <if test="applyMoney != null" >
        #{applyMoney,jdbcType=DECIMAL},
      </if>
      <if test="planMoney != null" >
        #{planMoney,jdbcType=DECIMAL},
      </if>
      <if test="priorMoney != null" >
        #{priorMoney,jdbcType=DECIMAL},
      </if>
      <if test="applyAcount != null" >
        #{applyAcount,jdbcType=INTEGER},
      </if>
      <if test="typeModel != null" >
        #{typeModel,jdbcType=VARCHAR},
      </if>
      <if test="notes != null" >
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null" >
        #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="reportId != null" >
        #{reportId,jdbcType=VARCHAR},
      </if>
      <if test="specialNotes != null" >
        #{specialNotes,jdbcType=VARCHAR},
      </if>
      <if test="attachmentDoc != null" >
        #{attachmentDoc,jdbcType=VARCHAR},
      </if>
      <if test="applyDepart != null" >
        #{applyDepart,jdbcType=VARCHAR},
      </if>
      <if test="applyUser != null" >
        #{applyUser,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="auditStatus != null" >
        #{auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="meetingId != null" >
        #{meetingId,jdbcType=BIGINT},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="keyWord != null" >
        #{keyWord,jdbcType=VARCHAR},
      </if>
      <if test="beginYear != null" >
        #{beginYear,jdbcType=VARCHAR},
      </if>
      <if test="endYear != null" >
        #{endYear,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pcitc.base.stp.equipment.SreEquipmentExample" resultType="java.lang.Integer" >
    select count(*) from sre_equipment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sre_equipment
    <set >
      <if test="record.equipmentId != null" >
        equipment_id = #{record.equipmentId,jdbcType=VARCHAR},
      </if>
      <if test="record.equipmentCode != null" >
        equipment_code = #{record.equipmentCode,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.applyOrder != null" >
        apply_order = #{record.applyOrder,jdbcType=VARCHAR},
      </if>
      <if test="record.applyMoney != null" >
        apply_money = #{record.applyMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.planMoney != null" >
        plan_money = #{record.planMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.priorMoney != null" >
        prior_money = #{record.priorMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.applyAcount != null" >
        apply_acount = #{record.applyAcount,jdbcType=INTEGER},
      </if>
      <if test="record.typeModel != null" >
        type_model = #{record.typeModel,jdbcType=VARCHAR},
      </if>
      <if test="record.notes != null" >
        notes = #{record.notes,jdbcType=VARCHAR},
      </if>
      <if test="record.supplierId != null" >
        supplier_id = #{record.supplierId,jdbcType=VARCHAR},
      </if>
      <if test="record.reportId != null" >
        report_id = #{record.reportId,jdbcType=VARCHAR},
      </if>
      <if test="record.specialNotes != null" >
        special_notes = #{record.specialNotes,jdbcType=VARCHAR},
      </if>
      <if test="record.attachmentDoc != null" >
        attachment_doc = #{record.attachmentDoc,jdbcType=VARCHAR},
      </if>
      <if test="record.applyDepart != null" >
        apply_depart = #{record.applyDepart,jdbcType=VARCHAR},
      </if>
      <if test="record.applyUser != null" >
        apply_user = #{record.applyUser,jdbcType=VARCHAR},
      </if>
      <if test="record.isDel != null" >
        is_del = #{record.isDel,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserId != null" >
        create_user_id = #{record.createUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.auditStatus != null" >
        audit_status = #{record.auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUserId != null" >
        update_user_id = #{record.updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.meetingId != null" >
        meeting_id = #{record.meetingId,jdbcType=BIGINT},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.keyWord != null" >
        key_word = #{record.keyWord,jdbcType=VARCHAR},
      </if>
      <if test="record.beginYear != null" >
        begin_year = #{record.beginYear,jdbcType=VARCHAR},
      </if>
      <if test="record.endYear != null" >
        end_year = #{record.endYear,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sre_equipment
    set equipment_id = #{record.equipmentId,jdbcType=VARCHAR},
      equipment_code = #{record.equipmentCode,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      apply_order = #{record.applyOrder,jdbcType=VARCHAR},
      apply_money = #{record.applyMoney,jdbcType=DECIMAL},
      plan_money = #{record.planMoney,jdbcType=DECIMAL},
      prior_money = #{record.priorMoney,jdbcType=DECIMAL},
      apply_acount = #{record.applyAcount,jdbcType=INTEGER},
      type_model = #{record.typeModel,jdbcType=VARCHAR},
      notes = #{record.notes,jdbcType=VARCHAR},
      supplier_id = #{record.supplierId,jdbcType=VARCHAR},
      report_id = #{record.reportId,jdbcType=VARCHAR},
      special_notes = #{record.specialNotes,jdbcType=VARCHAR},
      attachment_doc = #{record.attachmentDoc,jdbcType=VARCHAR},
      apply_depart = #{record.applyDepart,jdbcType=VARCHAR},
      apply_user = #{record.applyUser,jdbcType=VARCHAR},
      is_del = #{record.isDel,jdbcType=VARCHAR},
      create_user_id = #{record.createUserId,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      audit_status = #{record.auditStatus,jdbcType=VARCHAR},
      update_user_id = #{record.updateUserId,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      meeting_id = #{record.meetingId,jdbcType=BIGINT},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      key_word = #{record.keyWord,jdbcType=VARCHAR},
      begin_year = #{record.beginYear,jdbcType=VARCHAR},
      end_year = #{record.endYear,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pcitc.base.stp.equipment.SreEquipment" >
    update sre_equipment
    <set >
      <if test="equipmentCode != null" >
        equipment_code = #{equipmentCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="applyOrder != null" >
        apply_order = #{applyOrder,jdbcType=VARCHAR},
      </if>
      <if test="applyMoney != null" >
        apply_money = #{applyMoney,jdbcType=DECIMAL},
      </if>
      <if test="planMoney != null" >
        plan_money = #{planMoney,jdbcType=DECIMAL},
      </if>
      <if test="priorMoney != null" >
        prior_money = #{priorMoney,jdbcType=DECIMAL},
      </if>
      <if test="applyAcount != null" >
        apply_acount = #{applyAcount,jdbcType=INTEGER},
      </if>
      <if test="typeModel != null" >
        type_model = #{typeModel,jdbcType=VARCHAR},
      </if>
      <if test="notes != null" >
        notes = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null" >
        supplier_id = #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="reportId != null" >
        report_id = #{reportId,jdbcType=VARCHAR},
      </if>
      <if test="specialNotes != null" >
        special_notes = #{specialNotes,jdbcType=VARCHAR},
      </if>
      <if test="attachmentDoc != null" >
        attachment_doc = #{attachmentDoc,jdbcType=VARCHAR},
      </if>
      <if test="applyDepart != null" >
        apply_depart = #{applyDepart,jdbcType=VARCHAR},
      </if>
      <if test="applyUser != null" >
        apply_user = #{applyUser,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="auditStatus != null" >
        audit_status = #{auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="meetingId != null" >
        meeting_id = #{meetingId,jdbcType=BIGINT},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="keyWord != null" >
        key_word = #{keyWord,jdbcType=VARCHAR},
      </if>
      <if test="beginYear != null" >
        begin_year = #{beginYear,jdbcType=VARCHAR},
      </if>
      <if test="endYear != null" >
        end_year = #{endYear,jdbcType=VARCHAR},
      </if>
    </set>
    where equipment_id = #{equipmentId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pcitc.base.stp.equipment.SreEquipment" >
    update sre_equipment
    set equipment_code = #{equipmentCode,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      apply_order = #{applyOrder,jdbcType=VARCHAR},
      apply_money = #{applyMoney,jdbcType=DECIMAL},
      plan_money = #{planMoney,jdbcType=DECIMAL},
      prior_money = #{priorMoney,jdbcType=DECIMAL},
      apply_acount = #{applyAcount,jdbcType=INTEGER},
      type_model = #{typeModel,jdbcType=VARCHAR},
      notes = #{notes,jdbcType=VARCHAR},
      supplier_id = #{supplierId,jdbcType=VARCHAR},
      report_id = #{reportId,jdbcType=VARCHAR},
      special_notes = #{specialNotes,jdbcType=VARCHAR},
      attachment_doc = #{attachmentDoc,jdbcType=VARCHAR},
      apply_depart = #{applyDepart,jdbcType=VARCHAR},
      apply_user = #{applyUser,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      audit_status = #{auditStatus,jdbcType=VARCHAR},
      update_user_id = #{updateUserId,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      meeting_id = #{meetingId,jdbcType=BIGINT},
      remarks = #{remarks,jdbcType=VARCHAR},
      key_word = #{keyWord,jdbcType=VARCHAR},
      begin_year = #{beginYear,jdbcType=VARCHAR},
      end_year = #{endYear,jdbcType=VARCHAR}
    where equipment_id = #{equipmentId,jdbcType=VARCHAR}
  </update>
</mapper>