<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcitc.mapper.equipment.SreInformationDeliveryMapper">
  <resultMap id="BaseResultMap" type="com.pcitc.base.stp.equipment.SreInformationDelivery">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="researchInstitute" jdbcType="VARCHAR" property="researchinstitute" />
    <result column="information_title" jdbcType="VARCHAR" property="informationTitle" />
    <result column="information_type" jdbcType="VARCHAR" property="informationType" />
    <result column="information_publisher" jdbcType="VARCHAR" property="informationPublisher" />
    <result column="information_text" jdbcType="VARCHAR" property="informationText" />
    <result column="information_month" jdbcType="TIMESTAMP" property="informationMonth" />
    <result column="information_state" jdbcType="VARCHAR" property="informationState" />
    <result column="son_id" jdbcType="VARCHAR" property="sonId" />
    <result column="level_id" jdbcType="VARCHAR" property="levelId" />
    <result column="creation_time" jdbcType="TIMESTAMP" property="creationTime" />
    <result column="level_name" jdbcType="VARCHAR" property="levelName" />
    <result column="number_compliments" jdbcType="VARCHAR" property="numberCompliments" />
  </resultMap>
  <sql id="Base_Column_List">
    id, researchInstitute, information_title, information_type, information_publisher, 
    information_text, information_month, information_state, son_id, level_id, creation_time, 
    level_name, number_compliments
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sre_information_delivery
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sre_information_delivery
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pcitc.base.stp.equipment.SreInformationDelivery">
    insert into sre_information_delivery (id, researchInstitute, information_title, 
      information_type, information_publisher, 
      information_text, information_month, information_state, 
      son_id, level_id, creation_time, 
      level_name, number_compliments)
    values (#{id,jdbcType=VARCHAR}, #{researchinstitute,jdbcType=VARCHAR}, #{informationTitle,jdbcType=VARCHAR}, 
      #{informationType,jdbcType=VARCHAR}, #{informationPublisher,jdbcType=VARCHAR}, 
      #{informationText,jdbcType=VARCHAR}, #{informationMonth,jdbcType=TIMESTAMP}, #{informationState,jdbcType=VARCHAR}, 
      #{sonId,jdbcType=VARCHAR}, #{levelId,jdbcType=VARCHAR}, #{creationTime,jdbcType=TIMESTAMP}, 
      #{levelName,jdbcType=VARCHAR}, #{numberCompliments,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pcitc.base.stp.equipment.SreInformationDelivery">
    insert into sre_information_delivery
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="researchinstitute != null">
        researchInstitute,
      </if>
      <if test="informationTitle != null">
        information_title,
      </if>
      <if test="informationType != null">
        information_type,
      </if>
      <if test="informationPublisher != null">
        information_publisher,
      </if>
      <if test="informationText != null">
        information_text,
      </if>
      <if test="informationMonth != null">
        information_month,
      </if>
      <if test="informationState != null">
        information_state,
      </if>
      <if test="sonId != null">
        son_id,
      </if>
      <if test="levelId != null">
        level_id,
      </if>
      <if test="creationTime != null">
        creation_time,
      </if>
      <if test="levelName != null">
        level_name,
      </if>
      <if test="numberCompliments != null">
        number_compliments,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="researchinstitute != null">
        #{researchinstitute,jdbcType=VARCHAR},
      </if>
      <if test="informationTitle != null">
        #{informationTitle,jdbcType=VARCHAR},
      </if>
      <if test="informationType != null">
        #{informationType,jdbcType=VARCHAR},
      </if>
      <if test="informationPublisher != null">
        #{informationPublisher,jdbcType=VARCHAR},
      </if>
      <if test="informationText != null">
        #{informationText,jdbcType=VARCHAR},
      </if>
      <if test="informationMonth != null">
        #{informationMonth,jdbcType=TIMESTAMP},
      </if>
      <if test="informationState != null">
        #{informationState,jdbcType=VARCHAR},
      </if>
      <if test="sonId != null">
        #{sonId,jdbcType=VARCHAR},
      </if>
      <if test="levelId != null">
        #{levelId,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null">
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="levelName != null">
        #{levelName,jdbcType=VARCHAR},
      </if>
      <if test="numberCompliments != null">
        #{numberCompliments,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pcitc.base.stp.equipment.SreInformationDelivery">
    update sre_information_delivery
    <set>
      <if test="researchinstitute != null">
        researchInstitute = #{researchinstitute,jdbcType=VARCHAR},
      </if>
      <if test="informationTitle != null">
        information_title = #{informationTitle,jdbcType=VARCHAR},
      </if>
      <if test="informationType != null">
        information_type = #{informationType,jdbcType=VARCHAR},
      </if>
      <if test="informationPublisher != null">
        information_publisher = #{informationPublisher,jdbcType=VARCHAR},
      </if>
      <if test="informationText != null">
        information_text = #{informationText,jdbcType=VARCHAR},
      </if>
      <if test="informationMonth != null">
        information_month = #{informationMonth,jdbcType=TIMESTAMP},
      </if>
      <if test="informationState != null">
        information_state = #{informationState,jdbcType=VARCHAR},
      </if>
      <if test="sonId != null">
        son_id = #{sonId,jdbcType=VARCHAR},
      </if>
      <if test="levelId != null">
        level_id = #{levelId,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null">
        creation_time = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="levelName != null">
        level_name = #{levelName,jdbcType=VARCHAR},
      </if>
      <if test="numberCompliments != null">
        number_compliments = #{numberCompliments,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pcitc.base.stp.equipment.SreInformationDelivery">
    update sre_information_delivery
    set researchInstitute = #{researchinstitute,jdbcType=VARCHAR},
      information_title = #{informationTitle,jdbcType=VARCHAR},
      information_type = #{informationType,jdbcType=VARCHAR},
      information_publisher = #{informationPublisher,jdbcType=VARCHAR},
      information_text = #{informationText,jdbcType=VARCHAR},
      information_month = #{informationMonth,jdbcType=TIMESTAMP},
      information_state = #{informationState,jdbcType=VARCHAR},
      son_id = #{sonId,jdbcType=VARCHAR},
      level_id = #{levelId,jdbcType=VARCHAR},
      creation_time = #{creationTime,jdbcType=TIMESTAMP},
      level_name = #{levelName,jdbcType=VARCHAR},
      number_compliments = #{numberCompliments,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="getList" resultMap="BaseResultMap" parameterType="Map" >
     select * from sre_information_delivery  <include refid="selectCondition" />    
     <choose>
      <when test="orderBySql != null and orderBySql !=''">${orderBySql}</when>
      <otherwise>
        ORDER BY  information_month   desc
      </otherwise>
     </choose>
     <if test="pageSize != null and pageSize !=''"> limit #{start},#{pageSize} </if>   
   </select>
   
   <sql id="selectCondition">
	   <trim prefix="WHERE" prefixOverrides="AND|OR"> 
	   	 <if test="sonId != null and sonId !='' ">      AND son_id =  #{parentUnitPathIds}</if>
	   	 <if test="researchInstitute != null and researchInstitute !='' ">      AND researchInstitute =  #{parentUnitPathNames}</if>
	   	 <if test="informationType != null and informationType !='' ">      AND information_type =  #{informationType}</if>
	   	 <if test="informationPublisher != null and informationPublisher  !='' ">     AND information_publisher like CONCAT('%',#{informationPublisher},'%')</if>
	   	 <if test="informationTitle != null and informationTitle  !='' ">     AND information_title like CONCAT('%',#{informationTitle},'%')</if>
	   	 <if test="informationMonth != null and informationMonth  !='' ">     AND information_month like CONCAT('%',#{informationMonth},'%')</if>
	   	 <if test="levelId != null and levelId  !='' ">     AND level_id like CONCAT('%',#{levelId},'%')</if>
	 </trim>
	</sql>
</mapper>