<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcitc.mapper.equipment.SrePurchaseMapper">
  <resultMap id="BaseResultMap" type="com.pcitc.base.stp.equipment.SrePurchase">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="purchase_name" jdbcType="VARCHAR" property="purchaseName" />
    <result column="proposer_id" jdbcType="VARCHAR" property="proposerId" />
    <result column="proposer_name" jdbcType="VARCHAR" property="proposerName" />
    <result column="parent_unit_path_id" jdbcType="VARCHAR" property="parentUnitPathId" />
    <result column="parent_unit_path_names" jdbcType="VARCHAR" property="parentUnitPathNames" />
    <result column="depart_name" jdbcType="VARCHAR" property="departName" />
    <result column="depart_code" jdbcType="VARCHAR" property="departCode" />
    <result column="stage" jdbcType="VARCHAR" property="stage" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="equipment_id" jdbcType="VARCHAR" property="equipmentId" />
    <result column="ischeck" jdbcType="VARCHAR" property="ischeck" />
    <result column="project_id" jdbcType="VARCHAR" property="projectId" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="document_doc" jdbcType="VARCHAR" property="documentDoc" />
    <result column="document_doc_arrive_goods" jdbcType="VARCHAR" property="documentDocArriveGoods" />
    <result column="document_doc_contractual_acceptance" jdbcType="VARCHAR" property="documentDocContractualAcceptance" />
  </resultMap>
  <sql id="Base_Column_List">
    id, purchase_name, proposer_id, proposer_name, parent_unit_path_id, parent_unit_path_names, 
    depart_name, depart_code, stage, state, create_date, equipment_id, ischeck, project_id, 
    login_name, document_doc, document_doc_arrive_goods, document_doc_contractual_acceptance
  </sql>
  <sql id="selectCondition">
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="state != null     and state !=''  ">   AND t.state = #{state}</if>
      <if test="proposerName != null and proposerName  !='' ">               AND t.proposer_name like CONCAT('%',#{proposerName},'%')</if>
      <if test="purchaseName != null and purchaseName  !='' ">               AND t.purchase_name like CONCAT('%',#{purchaseName},'%')</if>
      <if test="createDate!= null       and createDate !=''  ">     AND t.create_date = #{createDate}</if>
      <if test="departCode != null        and departCode !=''  ">       AND t.depart_code = #{departCode}</if>
      <if test="sqlStr != null   and sqlStr !='' ">      AND  ${sqlStr}</if>
    </trim>
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sre_purchase
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sre_purchase
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pcitc.base.stp.equipment.SrePurchase">
    insert into sre_purchase (id, purchase_name, proposer_id, 
      proposer_name, parent_unit_path_id, parent_unit_path_names, 
      depart_name, depart_code, stage, 
      state, create_date, equipment_id, 
      ischeck, project_id, login_name, 
      document_doc, document_doc_arrive_goods, document_doc_contractual_acceptance
      )
    values (#{id,jdbcType=VARCHAR}, #{purchaseName,jdbcType=VARCHAR}, #{proposerId,jdbcType=VARCHAR}, 
      #{proposerName,jdbcType=VARCHAR}, #{parentUnitPathId,jdbcType=VARCHAR}, #{parentUnitPathNames,jdbcType=VARCHAR}, 
      #{departName,jdbcType=VARCHAR}, #{departCode,jdbcType=VARCHAR}, #{stage,jdbcType=VARCHAR}, 
      #{state,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{equipmentId,jdbcType=VARCHAR}, 
      #{ischeck,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR}, 
      #{documentDoc,jdbcType=VARCHAR}, #{documentDocArriveGoods,jdbcType=VARCHAR}, #{documentDocContractualAcceptance,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pcitc.base.stp.equipment.SrePurchase">
    insert into sre_purchase
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="purchaseName != null">
        purchase_name,
      </if>
      <if test="proposerId != null">
        proposer_id,
      </if>
      <if test="proposerName != null">
        proposer_name,
      </if>
      <if test="parentUnitPathId != null">
        parent_unit_path_id,
      </if>
      <if test="parentUnitPathNames != null">
        parent_unit_path_names,
      </if>
      <if test="departName != null">
        depart_name,
      </if>
      <if test="departCode != null">
        depart_code,
      </if>
      <if test="stage != null">
        stage,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="equipmentId != null">
        equipment_id,
      </if>
      <if test="ischeck != null">
        ischeck,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="loginName != null">
        login_name,
      </if>
      <if test="documentDoc != null">
        document_doc,
      </if>
      <if test="documentDocArriveGoods != null">
        document_doc_arrive_goods,
      </if>
      <if test="documentDocContractualAcceptance != null">
        document_doc_contractual_acceptance,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="purchaseName != null">
        #{purchaseName,jdbcType=VARCHAR},
      </if>
      <if test="proposerId != null">
        #{proposerId,jdbcType=VARCHAR},
      </if>
      <if test="proposerName != null">
        #{proposerName,jdbcType=VARCHAR},
      </if>
      <if test="parentUnitPathId != null">
        #{parentUnitPathId,jdbcType=VARCHAR},
      </if>
      <if test="parentUnitPathNames != null">
        #{parentUnitPathNames,jdbcType=VARCHAR},
      </if>
      <if test="departName != null">
        #{departName,jdbcType=VARCHAR},
      </if>
      <if test="departCode != null">
        #{departCode,jdbcType=VARCHAR},
      </if>
      <if test="stage != null">
        #{stage,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="equipmentId != null">
        #{equipmentId,jdbcType=VARCHAR},
      </if>
      <if test="ischeck != null">
        #{ischeck,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null">
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="documentDoc != null">
        #{documentDoc,jdbcType=VARCHAR},
      </if>
      <if test="documentDocArriveGoods != null">
        #{documentDocArriveGoods,jdbcType=VARCHAR},
      </if>
      <if test="documentDocContractualAcceptance != null">
        #{documentDocContractualAcceptance,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pcitc.base.stp.equipment.SrePurchase">
    update sre_purchase
    <set>
      <if test="purchaseName != null">
        purchase_name = #{purchaseName,jdbcType=VARCHAR},
      </if>
      <if test="proposerId != null">
        proposer_id = #{proposerId,jdbcType=VARCHAR},
      </if>
      <if test="proposerName != null">
        proposer_name = #{proposerName,jdbcType=VARCHAR},
      </if>
      <if test="parentUnitPathId != null">
        parent_unit_path_id = #{parentUnitPathId,jdbcType=VARCHAR},
      </if>
      <if test="parentUnitPathNames != null">
        parent_unit_path_names = #{parentUnitPathNames,jdbcType=VARCHAR},
      </if>
      <if test="departName != null">
        depart_name = #{departName,jdbcType=VARCHAR},
      </if>
      <if test="departCode != null">
        depart_code = #{departCode,jdbcType=VARCHAR},
      </if>
      <if test="stage != null">
        stage = #{stage,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="equipmentId != null">
        equipment_id = #{equipmentId,jdbcType=VARCHAR},
      </if>
      <if test="ischeck != null">
        ischeck = #{ischeck,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null">
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="documentDoc != null">
        document_doc = #{documentDoc,jdbcType=VARCHAR},
      </if>
      <if test="documentDocArriveGoods != null">
        document_doc_arrive_goods = #{documentDocArriveGoods,jdbcType=VARCHAR},
      </if>
      <if test="documentDocContractualAcceptance != null">
        document_doc_contractual_acceptance = #{documentDocContractualAcceptance,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pcitc.base.stp.equipment.SrePurchase">
    update sre_purchase
    set purchase_name = #{purchaseName,jdbcType=VARCHAR},
      proposer_id = #{proposerId,jdbcType=VARCHAR},
      proposer_name = #{proposerName,jdbcType=VARCHAR},
      parent_unit_path_id = #{parentUnitPathId,jdbcType=VARCHAR},
      parent_unit_path_names = #{parentUnitPathNames,jdbcType=VARCHAR},
      depart_name = #{departName,jdbcType=VARCHAR},
      depart_code = #{departCode,jdbcType=VARCHAR},
      stage = #{stage,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      equipment_id = #{equipmentId,jdbcType=VARCHAR},
      ischeck = #{ischeck,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=VARCHAR},
      login_name = #{loginName,jdbcType=VARCHAR},
      document_doc = #{documentDoc,jdbcType=VARCHAR},
      document_doc_arrive_goods = #{documentDocArriveGoods,jdbcType=VARCHAR},
      document_doc_contractual_acceptance = #{documentDocContractualAcceptance,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="getList" resultMap="BaseResultMap" parameterType="Map" >
    select * from sre_purchase t <include refid="selectCondition" />
    <choose>
      <when test="orderBySql != null and orderBySql !=''">${orderBySql}</when>
      <otherwise>
        ORDER BY  create_date desc
      </otherwise>
    </choose>
    <if test="pageSize != null and pageSize !=''"> limit #{start},#{pageSize} </if>
  </select>
  <select id="getPassList" resultMap="BaseResultMap" parameterType="Map" >
    select * from sre_purchase t where t.state >=${state}
    <if test="proposerName != null and proposerName  !='' ">               AND t.proposer_name like CONCAT('%',#{proposerName},'%')</if>
    <if test="purchaseName != null and purchaseName  !='' ">               AND t.purchase_name like CONCAT('%',#{purchaseName},'%')</if>
    <if test="createDate!= null       and createDate !=''  ">     AND t.create_date = #{createDate}</if>
    <if test="departCode != null        and departCode !=''  ">       AND t.depart_code = #{departCode}</if>
    <if test="sqlStr != null   and sqlStr !='' ">      AND  ${sqlStr}</if>
    <if test="pageSize != null and pageSize !=''"> limit #{start},#{pageSize} </if>
  </select>
</mapper>