<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pcitc.mapper.equipment.SreProjectBasicMapper" >
  <resultMap id="BaseResultMap" type="com.pcitc.base.stp.equipment.SreProjectBasic" >
    <id column="project_id" property="projectId" jdbcType="VARCHAR" />
    <result column="project_code" property="projectCode" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="equipment_ids" property="equipmentIds" jdbcType="VARCHAR" />
    <result column="orders" property="orders" jdbcType="INTEGER" />
    <result column="key_word" property="keyWord" jdbcType="VARCHAR" />
    <result column="apply_money" property="applyMoney" jdbcType="DECIMAL" />
    <result column="check_money" property="checkMoney" jdbcType="DECIMAL" />
    <result column="project_leader" property="projectLeader" jdbcType="VARCHAR" />
    <result column="apply_unit" property="applyUnit" jdbcType="VARCHAR" />
    <result column="is_del" property="isDel" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="audit_status" property="auditStatus" jdbcType="VARCHAR" />
    <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="project_category" property="projectCategory" jdbcType="VARCHAR" />
    <result column="xe_state" property="xeState" jdbcType="VARCHAR" />
    <result column="project_type" property="projectType" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="begin_year" property="beginYear" jdbcType="VARCHAR" />
    <result column="end_year" property="endYear" jdbcType="VARCHAR" />
    <result column="year_money" property="yearMoney" jdbcType="VARCHAR" />
    <result column="first_report_status" property="firstReportStatus" jdbcType="VARCHAR" />
    <result column="review_report_status" property="reviewReportStatus" jdbcType="VARCHAR" />
    <result column="apply_doc" property="applyDoc" jdbcType="VARCHAR" />
    <result column="audit_doc" property="auditDoc" jdbcType="VARCHAR" />
    <result column="invest_doc" property="investDoc" jdbcType="VARCHAR" />
    <result column="task_main_task_content" property="taskMainTaskContent" jdbcType="VARCHAR" />
    <result column="task_content" property="taskContent" jdbcType="VARCHAR" />
    <result column="task_assessment_content" property="taskAssessmentContent" jdbcType="VARCHAR" />
    <result column="task_check_contents" property="taskCheckContents" jdbcType="VARCHAR" />
    <result column="task_doc" property="taskDoc" jdbcType="VARCHAR" />
    <result column="check_content_name" property="checkContentName" jdbcType="VARCHAR" />
    <result column="check_content_doc" property="checkContentDoc" jdbcType="VARCHAR" />
    <result column="check_user" property="checkUser" jdbcType="VARCHAR" />
    <result column="check_date" property="checkDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    project_id, project_code, name, equipment_ids, orders, key_word, apply_money, check_money, 
    project_leader, apply_unit, is_del, create_user_id, create_date, audit_status, update_user_id, 
    update_date, project_category, xe_state, project_type, parent_id, remarks, status, 
    begin_year, end_year, year_money, first_report_status, review_report_status, apply_doc, 
    audit_doc, invest_doc, task_main_task_content, task_content, task_assessment_content, 
    task_check_contents, task_doc, check_content_name, check_content_doc, check_user, 
    check_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pcitc.base.stp.equipment.SreProjectBasicExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from sre_project_basic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sre_project_basic
    where project_id = #{projectId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sre_project_basic
    where project_id = #{projectId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pcitc.base.stp.equipment.SreProjectBasicExample" >
    delete from sre_project_basic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pcitc.base.stp.equipment.SreProjectBasic" >
    insert into sre_project_basic (project_id, project_code, name, 
      equipment_ids, orders, key_word, 
      apply_money, check_money, project_leader, 
      apply_unit, is_del, create_user_id, 
      create_date, audit_status, update_user_id, 
      update_date, project_category, xe_state, 
      project_type, parent_id, remarks, 
      status, begin_year, end_year, 
      year_money, first_report_status, review_report_status, 
      apply_doc, audit_doc, invest_doc, 
      task_main_task_content, task_content, task_assessment_content, 
      task_check_contents, task_doc, check_content_name, 
      check_content_doc, check_user, check_date
      )
    values (#{projectId,jdbcType=VARCHAR}, #{projectCode,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{equipmentIds,jdbcType=VARCHAR}, #{orders,jdbcType=INTEGER}, #{keyWord,jdbcType=VARCHAR}, 
      #{applyMoney,jdbcType=DECIMAL}, #{checkMoney,jdbcType=DECIMAL}, #{projectLeader,jdbcType=VARCHAR}, 
      #{applyUnit,jdbcType=VARCHAR}, #{isDel,jdbcType=VARCHAR}, #{createUserId,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{auditStatus,jdbcType=VARCHAR}, #{updateUserId,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{projectCategory,jdbcType=VARCHAR}, #{xeState,jdbcType=VARCHAR}, 
      #{projectType,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{beginYear,jdbcType=VARCHAR}, #{endYear,jdbcType=VARCHAR}, 
      #{yearMoney,jdbcType=VARCHAR}, #{firstReportStatus,jdbcType=VARCHAR}, #{reviewReportStatus,jdbcType=VARCHAR}, 
      #{applyDoc,jdbcType=VARCHAR}, #{auditDoc,jdbcType=VARCHAR}, #{investDoc,jdbcType=VARCHAR}, 
      #{taskMainTaskContent,jdbcType=VARCHAR}, #{taskContent,jdbcType=VARCHAR}, #{taskAssessmentContent,jdbcType=VARCHAR}, 
      #{taskCheckContents,jdbcType=VARCHAR}, #{taskDoc,jdbcType=VARCHAR}, #{checkContentName,jdbcType=VARCHAR}, 
      #{checkContentDoc,jdbcType=VARCHAR}, #{checkUser,jdbcType=VARCHAR}, #{checkDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pcitc.base.stp.equipment.SreProjectBasic" >
    insert into sre_project_basic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="projectCode != null" >
        project_code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="equipmentIds != null" >
        equipment_ids,
      </if>
      <if test="orders != null" >
        orders,
      </if>
      <if test="keyWord != null" >
        key_word,
      </if>
      <if test="applyMoney != null" >
        apply_money,
      </if>
      <if test="checkMoney != null" >
        check_money,
      </if>
      <if test="projectLeader != null" >
        project_leader,
      </if>
      <if test="applyUnit != null" >
        apply_unit,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="auditStatus != null" >
        audit_status,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="projectCategory != null" >
        project_category,
      </if>
      <if test="xeState != null" >
        xe_state,
      </if>
      <if test="projectType != null" >
        project_type,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="beginYear != null" >
        begin_year,
      </if>
      <if test="endYear != null" >
        end_year,
      </if>
      <if test="yearMoney != null" >
        year_money,
      </if>
      <if test="firstReportStatus != null" >
        first_report_status,
      </if>
      <if test="reviewReportStatus != null" >
        review_report_status,
      </if>
      <if test="applyDoc != null" >
        apply_doc,
      </if>
      <if test="auditDoc != null" >
        audit_doc,
      </if>
      <if test="investDoc != null" >
        invest_doc,
      </if>
      <if test="taskMainTaskContent != null" >
        task_main_task_content,
      </if>
      <if test="taskContent != null" >
        task_content,
      </if>
      <if test="taskAssessmentContent != null" >
        task_assessment_content,
      </if>
      <if test="taskCheckContents != null" >
        task_check_contents,
      </if>
      <if test="taskDoc != null" >
        task_doc,
      </if>
      <if test="checkContentName != null" >
        check_content_name,
      </if>
      <if test="checkContentDoc != null" >
        check_content_doc,
      </if>
      <if test="checkUser != null" >
        check_user,
      </if>
      <if test="checkDate != null" >
        check_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="projectId != null" >
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="projectCode != null" >
        #{projectCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="equipmentIds != null" >
        #{equipmentIds,jdbcType=VARCHAR},
      </if>
      <if test="orders != null" >
        #{orders,jdbcType=INTEGER},
      </if>
      <if test="keyWord != null" >
        #{keyWord,jdbcType=VARCHAR},
      </if>
      <if test="applyMoney != null" >
        #{applyMoney,jdbcType=DECIMAL},
      </if>
      <if test="checkMoney != null" >
        #{checkMoney,jdbcType=DECIMAL},
      </if>
      <if test="projectLeader != null" >
        #{projectLeader,jdbcType=VARCHAR},
      </if>
      <if test="applyUnit != null" >
        #{applyUnit,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="auditStatus != null" >
        #{auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="projectCategory != null" >
        #{projectCategory,jdbcType=VARCHAR},
      </if>
      <if test="xeState != null" >
        #{xeState,jdbcType=VARCHAR},
      </if>
      <if test="projectType != null" >
        #{projectType,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="beginYear != null" >
        #{beginYear,jdbcType=VARCHAR},
      </if>
      <if test="endYear != null" >
        #{endYear,jdbcType=VARCHAR},
      </if>
      <if test="yearMoney != null" >
        #{yearMoney,jdbcType=VARCHAR},
      </if>
      <if test="firstReportStatus != null" >
        #{firstReportStatus,jdbcType=VARCHAR},
      </if>
      <if test="reviewReportStatus != null" >
        #{reviewReportStatus,jdbcType=VARCHAR},
      </if>
      <if test="applyDoc != null" >
        #{applyDoc,jdbcType=VARCHAR},
      </if>
      <if test="auditDoc != null" >
        #{auditDoc,jdbcType=VARCHAR},
      </if>
      <if test="investDoc != null" >
        #{investDoc,jdbcType=VARCHAR},
      </if>
      <if test="taskMainTaskContent != null" >
        #{taskMainTaskContent,jdbcType=VARCHAR},
      </if>
      <if test="taskContent != null" >
        #{taskContent,jdbcType=VARCHAR},
      </if>
      <if test="taskAssessmentContent != null" >
        #{taskAssessmentContent,jdbcType=VARCHAR},
      </if>
      <if test="taskCheckContents != null" >
        #{taskCheckContents,jdbcType=VARCHAR},
      </if>
      <if test="taskDoc != null" >
        #{taskDoc,jdbcType=VARCHAR},
      </if>
      <if test="checkContentName != null" >
        #{checkContentName,jdbcType=VARCHAR},
      </if>
      <if test="checkContentDoc != null" >
        #{checkContentDoc,jdbcType=VARCHAR},
      </if>
      <if test="checkUser != null" >
        #{checkUser,jdbcType=VARCHAR},
      </if>
      <if test="checkDate != null" >
        #{checkDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pcitc.base.stp.equipment.SreProjectBasicExample" resultType="java.lang.Integer" >
    select count(*) from sre_project_basic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sre_project_basic
    <set >
      <if test="record.projectId != null" >
        project_id = #{record.projectId,jdbcType=VARCHAR},
      </if>
      <if test="record.projectCode != null" >
        project_code = #{record.projectCode,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.equipmentIds != null" >
        equipment_ids = #{record.equipmentIds,jdbcType=VARCHAR},
      </if>
      <if test="record.orders != null" >
        orders = #{record.orders,jdbcType=INTEGER},
      </if>
      <if test="record.keyWord != null" >
        key_word = #{record.keyWord,jdbcType=VARCHAR},
      </if>
      <if test="record.applyMoney != null" >
        apply_money = #{record.applyMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.checkMoney != null" >
        check_money = #{record.checkMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.projectLeader != null" >
        project_leader = #{record.projectLeader,jdbcType=VARCHAR},
      </if>
      <if test="record.applyUnit != null" >
        apply_unit = #{record.applyUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.isDel != null" >
        is_del = #{record.isDel,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserId != null" >
        create_user_id = #{record.createUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.auditStatus != null" >
        audit_status = #{record.auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUserId != null" >
        update_user_id = #{record.updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.projectCategory != null" >
        project_category = #{record.projectCategory,jdbcType=VARCHAR},
      </if>
      <if test="record.xeState != null" >
        xe_state = #{record.xeState,jdbcType=VARCHAR},
      </if>
      <if test="record.projectType != null" >
        project_type = #{record.projectType,jdbcType=VARCHAR},
      </if>
      <if test="record.parentId != null" >
        parent_id = #{record.parentId,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.beginYear != null" >
        begin_year = #{record.beginYear,jdbcType=VARCHAR},
      </if>
      <if test="record.endYear != null" >
        end_year = #{record.endYear,jdbcType=VARCHAR},
      </if>
      <if test="record.yearMoney != null" >
        year_money = #{record.yearMoney,jdbcType=VARCHAR},
      </if>
      <if test="record.firstReportStatus != null" >
        first_report_status = #{record.firstReportStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.reviewReportStatus != null" >
        review_report_status = #{record.reviewReportStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.applyDoc != null" >
        apply_doc = #{record.applyDoc,jdbcType=VARCHAR},
      </if>
      <if test="record.auditDoc != null" >
        audit_doc = #{record.auditDoc,jdbcType=VARCHAR},
      </if>
      <if test="record.investDoc != null" >
        invest_doc = #{record.investDoc,jdbcType=VARCHAR},
      </if>
      <if test="record.taskMainTaskContent != null" >
        task_main_task_content = #{record.taskMainTaskContent,jdbcType=VARCHAR},
      </if>
      <if test="record.taskContent != null" >
        task_content = #{record.taskContent,jdbcType=VARCHAR},
      </if>
      <if test="record.taskAssessmentContent != null" >
        task_assessment_content = #{record.taskAssessmentContent,jdbcType=VARCHAR},
      </if>
      <if test="record.taskCheckContents != null" >
        task_check_contents = #{record.taskCheckContents,jdbcType=VARCHAR},
      </if>
      <if test="record.taskDoc != null" >
        task_doc = #{record.taskDoc,jdbcType=VARCHAR},
      </if>
      <if test="record.checkContentName != null" >
        check_content_name = #{record.checkContentName,jdbcType=VARCHAR},
      </if>
      <if test="record.checkContentDoc != null" >
        check_content_doc = #{record.checkContentDoc,jdbcType=VARCHAR},
      </if>
      <if test="record.checkUser != null" >
        check_user = #{record.checkUser,jdbcType=VARCHAR},
      </if>
      <if test="record.checkDate != null" >
        check_date = #{record.checkDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sre_project_basic
    set project_id = #{record.projectId,jdbcType=VARCHAR},
      project_code = #{record.projectCode,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      equipment_ids = #{record.equipmentIds,jdbcType=VARCHAR},
      orders = #{record.orders,jdbcType=INTEGER},
      key_word = #{record.keyWord,jdbcType=VARCHAR},
      apply_money = #{record.applyMoney,jdbcType=DECIMAL},
      check_money = #{record.checkMoney,jdbcType=DECIMAL},
      project_leader = #{record.projectLeader,jdbcType=VARCHAR},
      apply_unit = #{record.applyUnit,jdbcType=VARCHAR},
      is_del = #{record.isDel,jdbcType=VARCHAR},
      create_user_id = #{record.createUserId,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      audit_status = #{record.auditStatus,jdbcType=VARCHAR},
      update_user_id = #{record.updateUserId,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      project_category = #{record.projectCategory,jdbcType=VARCHAR},
      xe_state = #{record.xeState,jdbcType=VARCHAR},
      project_type = #{record.projectType,jdbcType=VARCHAR},
      parent_id = #{record.parentId,jdbcType=VARCHAR},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      begin_year = #{record.beginYear,jdbcType=VARCHAR},
      end_year = #{record.endYear,jdbcType=VARCHAR},
      year_money = #{record.yearMoney,jdbcType=VARCHAR},
      first_report_status = #{record.firstReportStatus,jdbcType=VARCHAR},
      review_report_status = #{record.reviewReportStatus,jdbcType=VARCHAR},
      apply_doc = #{record.applyDoc,jdbcType=VARCHAR},
      audit_doc = #{record.auditDoc,jdbcType=VARCHAR},
      invest_doc = #{record.investDoc,jdbcType=VARCHAR},
      task_main_task_content = #{record.taskMainTaskContent,jdbcType=VARCHAR},
      task_content = #{record.taskContent,jdbcType=VARCHAR},
      task_assessment_content = #{record.taskAssessmentContent,jdbcType=VARCHAR},
      task_check_contents = #{record.taskCheckContents,jdbcType=VARCHAR},
      task_doc = #{record.taskDoc,jdbcType=VARCHAR},
      check_content_name = #{record.checkContentName,jdbcType=VARCHAR},
      check_content_doc = #{record.checkContentDoc,jdbcType=VARCHAR},
      check_user = #{record.checkUser,jdbcType=VARCHAR},
      check_date = #{record.checkDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pcitc.base.stp.equipment.SreProjectBasic" >
    update sre_project_basic
    <set >
      <if test="projectCode != null" >
        project_code = #{projectCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="equipmentIds != null" >
        equipment_ids = #{equipmentIds,jdbcType=VARCHAR},
      </if>
      <if test="orders != null" >
        orders = #{orders,jdbcType=INTEGER},
      </if>
      <if test="keyWord != null" >
        key_word = #{keyWord,jdbcType=VARCHAR},
      </if>
      <if test="applyMoney != null" >
        apply_money = #{applyMoney,jdbcType=DECIMAL},
      </if>
      <if test="checkMoney != null" >
        check_money = #{checkMoney,jdbcType=DECIMAL},
      </if>
      <if test="projectLeader != null" >
        project_leader = #{projectLeader,jdbcType=VARCHAR},
      </if>
      <if test="applyUnit != null" >
        apply_unit = #{applyUnit,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="auditStatus != null" >
        audit_status = #{auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="projectCategory != null" >
        project_category = #{projectCategory,jdbcType=VARCHAR},
      </if>
      <if test="xeState != null" >
        xe_state = #{xeState,jdbcType=VARCHAR},
      </if>
      <if test="projectType != null" >
        project_type = #{projectType,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="beginYear != null" >
        begin_year = #{beginYear,jdbcType=VARCHAR},
      </if>
      <if test="endYear != null" >
        end_year = #{endYear,jdbcType=VARCHAR},
      </if>
      <if test="yearMoney != null" >
        year_money = #{yearMoney,jdbcType=VARCHAR},
      </if>
      <if test="firstReportStatus != null" >
        first_report_status = #{firstReportStatus,jdbcType=VARCHAR},
      </if>
      <if test="reviewReportStatus != null" >
        review_report_status = #{reviewReportStatus,jdbcType=VARCHAR},
      </if>
      <if test="applyDoc != null" >
        apply_doc = #{applyDoc,jdbcType=VARCHAR},
      </if>
      <if test="auditDoc != null" >
        audit_doc = #{auditDoc,jdbcType=VARCHAR},
      </if>
      <if test="investDoc != null" >
        invest_doc = #{investDoc,jdbcType=VARCHAR},
      </if>
      <if test="taskMainTaskContent != null" >
        task_main_task_content = #{taskMainTaskContent,jdbcType=VARCHAR},
      </if>
      <if test="taskContent != null" >
        task_content = #{taskContent,jdbcType=VARCHAR},
      </if>
      <if test="taskAssessmentContent != null" >
        task_assessment_content = #{taskAssessmentContent,jdbcType=VARCHAR},
      </if>
      <if test="taskCheckContents != null" >
        task_check_contents = #{taskCheckContents,jdbcType=VARCHAR},
      </if>
      <if test="taskDoc != null" >
        task_doc = #{taskDoc,jdbcType=VARCHAR},
      </if>
      <if test="checkContentName != null" >
        check_content_name = #{checkContentName,jdbcType=VARCHAR},
      </if>
      <if test="checkContentDoc != null" >
        check_content_doc = #{checkContentDoc,jdbcType=VARCHAR},
      </if>
      <if test="checkUser != null" >
        check_user = #{checkUser,jdbcType=VARCHAR},
      </if>
      <if test="checkDate != null" >
        check_date = #{checkDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where project_id = #{projectId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pcitc.base.stp.equipment.SreProjectBasic" >
    update sre_project_basic
    set project_code = #{projectCode,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      equipment_ids = #{equipmentIds,jdbcType=VARCHAR},
      orders = #{orders,jdbcType=INTEGER},
      key_word = #{keyWord,jdbcType=VARCHAR},
      apply_money = #{applyMoney,jdbcType=DECIMAL},
      check_money = #{checkMoney,jdbcType=DECIMAL},
      project_leader = #{projectLeader,jdbcType=VARCHAR},
      apply_unit = #{applyUnit,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      audit_status = #{auditStatus,jdbcType=VARCHAR},
      update_user_id = #{updateUserId,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      project_category = #{projectCategory,jdbcType=VARCHAR},
      xe_state = #{xeState,jdbcType=VARCHAR},
      project_type = #{projectType,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      begin_year = #{beginYear,jdbcType=VARCHAR},
      end_year = #{endYear,jdbcType=VARCHAR},
      year_money = #{yearMoney,jdbcType=VARCHAR},
      first_report_status = #{firstReportStatus,jdbcType=VARCHAR},
      review_report_status = #{reviewReportStatus,jdbcType=VARCHAR},
      apply_doc = #{applyDoc,jdbcType=VARCHAR},
      audit_doc = #{auditDoc,jdbcType=VARCHAR},
      invest_doc = #{investDoc,jdbcType=VARCHAR},
      task_main_task_content = #{taskMainTaskContent,jdbcType=VARCHAR},
      task_content = #{taskContent,jdbcType=VARCHAR},
      task_assessment_content = #{taskAssessmentContent,jdbcType=VARCHAR},
      task_check_contents = #{taskCheckContents,jdbcType=VARCHAR},
      task_doc = #{taskDoc,jdbcType=VARCHAR},
      check_content_name = #{checkContentName,jdbcType=VARCHAR},
      check_content_doc = #{checkContentDoc,jdbcType=VARCHAR},
      check_user = #{checkUser,jdbcType=VARCHAR},
      check_date = #{checkDate,jdbcType=TIMESTAMP}
    where project_id = #{projectId,jdbcType=VARCHAR}
  </update>
</mapper>