<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pcitc.mapper.equipment.SreProjectAuditMapper" >
  <resultMap id="BaseResultMap" type="com.pcitc.base.stp.equipment.SreProjectAudit" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="projecttaskid" property="projecttaskid" jdbcType="VARCHAR" />
    <result column="projecttask" property="projecttask" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
     <result column="create_userid" property="createUserid" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="VARCHAR" />
     <result column="documentdoc" property="documentdoc" jdbcType="VARCHAR" />
      <result column="documentdoctwo" property="documentdoctwo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, projecttaskid,projecttask, content, create_user, create_date, status,documentdoc,documentdoctwo
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sre_project_audit
    where id = #{id,jdbcType=VARCHAR}
  </select>
   <select id="getlist" resultMap="BaseResultMap" parameterType="Map">
     select * from sre_project_audit t  <include refid="selectCondition" />    
     
       ORDER BY  create_date desc 
        <if test="pageSize != null and pageSize !=''"> limit #{start},#{pageSize} </if>   
   </select>
   <sql id="selectCondition">
	   <trim prefix="WHERE" prefixOverrides="AND|OR"> 
	     <if test="projecttask != null and projecttask!='' ">AND  t.projecttask like CONCAT('%',#{projecttask},'%')</if>
	     <if test="status != null and status!='' ">AND  t.status = #{status,jdbcType=VARCHAR}</if>
	 </trim>
	</sql>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sre_project_audit
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pcitc.base.stp.equipment.SreProjectAudit" >
    insert into sre_project_audit (id, projecttaskid,projecttask, content, create_userid,
      create_user, create_date, status
      )
    values (#{id,jdbcType=VARCHAR}, #{projecttaskid,jdbcType=VARCHAR},#{projecttask,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
    #{createUserid,jdbcType=VARCHAR},    #{createUser,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pcitc.base.stp.equipment.SreProjectAudit" >
    insert into sre_project_audit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="projecttaskid != null" >
        projecttaskid,
      </if>
      <if test="projecttask != null" >
        projecttask,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="projecttaskid != null" >
        #{projecttaskid,jdbcType=VARCHAR},
      </if>
         <if test="projecttask != null" >
        #{projecttask,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pcitc.base.stp.equipment.SreProjectAudit" >
    update sre_project_audit
    <set >
      <if test="projecttaskid != null" >
        projecttaskid = #{projecttaskid,jdbcType=VARCHAR},
      </if>
        <if test="content != null" >
        projecttask = #{projecttask,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pcitc.base.stp.equipment.SreProjectAudit" >
    update sre_project_audit
    set projecttaskid = #{projecttaskid,jdbcType=VARCHAR},
      projecttask = #{projecttask,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR},
      documentdoc=#{documentdoc,jdbcType=VARCHAR},
      documentdoctwo=#{documentdoctwo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <update id="updateAuditById" parameterType="com.pcitc.base.stp.equipment.SreProjectAudit" >
    update sre_project_audit
    set   
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
</mapper>