<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pcitc.mapper.equipment.SreSoftwareAcceptMapper" >
  <resultMap id="BaseResultMap" type="com.pcitc.base.stp.equipment.SreSoftwareAccept" >
    <id column="software_id" property="softwareId" jdbcType="VARCHAR" />
    <result column="software_code" property="softwareCode" jdbcType="VARCHAR" />
    <result column="install_place" property="installPlace" jdbcType="VARCHAR" />
    <result column="software_environment" property="softwareEnvironment" jdbcType="VARCHAR" />
    <result column="equipment_no" property="equipmentNo" jdbcType="VARCHAR" />
    <result column="soft_situation" property="softSituation" jdbcType="VARCHAR" />
    <result column="install_time" property="installTime" jdbcType="TIMESTAMP" />
    <result column="accept_time" property="acceptTime" jdbcType="TIMESTAMP" />
    <result column="equipment_use" property="equipmentUse" jdbcType="VARCHAR" />
    <result column="soft_ware_count" property="softWareCount" jdbcType="INTEGER" />
    <result column="soft_media_count" property="softMediaCount" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="equipment_id" property="equipmentId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    software_id, software_code, install_place, software_environment, equipment_no, soft_situation, 
    install_time, accept_time, equipment_use, soft_ware_count, soft_media_count, create_date, 
    create_user_id, update_date, update_user_id, status, remarks, equipment_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pcitc.base.stp.equipment.SreSoftwareAcceptExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from sre_software_accept
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sre_software_accept
    where software_id = #{softwareId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sre_software_accept
    where software_id = #{softwareId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pcitc.base.stp.equipment.SreSoftwareAcceptExample" >
    delete from sre_software_accept
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pcitc.base.stp.equipment.SreSoftwareAccept" >
    insert into sre_software_accept (software_id, software_code, install_place, 
      software_environment, equipment_no, soft_situation, 
      install_time, accept_time, equipment_use, 
      soft_ware_count, soft_media_count, create_date, 
      create_user_id, update_date, update_user_id, 
      status, remarks, equipment_id
      )
    values (#{softwareId,jdbcType=VARCHAR}, #{softwareCode,jdbcType=VARCHAR}, #{installPlace,jdbcType=VARCHAR}, 
      #{softwareEnvironment,jdbcType=VARCHAR}, #{equipmentNo,jdbcType=VARCHAR}, #{softSituation,jdbcType=VARCHAR}, 
      #{installTime,jdbcType=TIMESTAMP}, #{acceptTime,jdbcType=TIMESTAMP}, #{equipmentUse,jdbcType=VARCHAR}, 
      #{softWareCount,jdbcType=INTEGER}, #{softMediaCount,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, 
      #{createUserId,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{equipmentId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pcitc.base.stp.equipment.SreSoftwareAccept" >
    insert into sre_software_accept
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="softwareId != null" >
        software_id,
      </if>
      <if test="softwareCode != null" >
        software_code,
      </if>
      <if test="installPlace != null" >
        install_place,
      </if>
      <if test="softwareEnvironment != null" >
        software_environment,
      </if>
      <if test="equipmentNo != null" >
        equipment_no,
      </if>
      <if test="softSituation != null" >
        soft_situation,
      </if>
      <if test="installTime != null" >
        install_time,
      </if>
      <if test="acceptTime != null" >
        accept_time,
      </if>
      <if test="equipmentUse != null" >
        equipment_use,
      </if>
      <if test="softWareCount != null" >
        soft_ware_count,
      </if>
      <if test="softMediaCount != null" >
        soft_media_count,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="equipmentId != null" >
        equipment_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="softwareId != null" >
        #{softwareId,jdbcType=VARCHAR},
      </if>
      <if test="softwareCode != null" >
        #{softwareCode,jdbcType=VARCHAR},
      </if>
      <if test="installPlace != null" >
        #{installPlace,jdbcType=VARCHAR},
      </if>
      <if test="softwareEnvironment != null" >
        #{softwareEnvironment,jdbcType=VARCHAR},
      </if>
      <if test="equipmentNo != null" >
        #{equipmentNo,jdbcType=VARCHAR},
      </if>
      <if test="softSituation != null" >
        #{softSituation,jdbcType=VARCHAR},
      </if>
      <if test="installTime != null" >
        #{installTime,jdbcType=TIMESTAMP},
      </if>
      <if test="acceptTime != null" >
        #{acceptTime,jdbcType=TIMESTAMP},
      </if>
      <if test="equipmentUse != null" >
        #{equipmentUse,jdbcType=VARCHAR},
      </if>
      <if test="softWareCount != null" >
        #{softWareCount,jdbcType=INTEGER},
      </if>
      <if test="softMediaCount != null" >
        #{softMediaCount,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="equipmentId != null" >
        #{equipmentId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pcitc.base.stp.equipment.SreSoftwareAcceptExample" resultType="java.lang.Integer" >
    select count(*) from sre_software_accept
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sre_software_accept
    <set >
      <if test="record.softwareId != null" >
        software_id = #{record.softwareId,jdbcType=VARCHAR},
      </if>
      <if test="record.softwareCode != null" >
        software_code = #{record.softwareCode,jdbcType=VARCHAR},
      </if>
      <if test="record.installPlace != null" >
        install_place = #{record.installPlace,jdbcType=VARCHAR},
      </if>
      <if test="record.softwareEnvironment != null" >
        software_environment = #{record.softwareEnvironment,jdbcType=VARCHAR},
      </if>
      <if test="record.equipmentNo != null" >
        equipment_no = #{record.equipmentNo,jdbcType=VARCHAR},
      </if>
      <if test="record.softSituation != null" >
        soft_situation = #{record.softSituation,jdbcType=VARCHAR},
      </if>
      <if test="record.installTime != null" >
        install_time = #{record.installTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.acceptTime != null" >
        accept_time = #{record.acceptTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.equipmentUse != null" >
        equipment_use = #{record.equipmentUse,jdbcType=VARCHAR},
      </if>
      <if test="record.softWareCount != null" >
        soft_ware_count = #{record.softWareCount,jdbcType=INTEGER},
      </if>
      <if test="record.softMediaCount != null" >
        soft_media_count = #{record.softMediaCount,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUserId != null" >
        create_user_id = #{record.createUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUserId != null" >
        update_user_id = #{record.updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.equipmentId != null" >
        equipment_id = #{record.equipmentId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sre_software_accept
    set software_id = #{record.softwareId,jdbcType=VARCHAR},
      software_code = #{record.softwareCode,jdbcType=VARCHAR},
      install_place = #{record.installPlace,jdbcType=VARCHAR},
      software_environment = #{record.softwareEnvironment,jdbcType=VARCHAR},
      equipment_no = #{record.equipmentNo,jdbcType=VARCHAR},
      soft_situation = #{record.softSituation,jdbcType=VARCHAR},
      install_time = #{record.installTime,jdbcType=TIMESTAMP},
      accept_time = #{record.acceptTime,jdbcType=TIMESTAMP},
      equipment_use = #{record.equipmentUse,jdbcType=VARCHAR},
      soft_ware_count = #{record.softWareCount,jdbcType=INTEGER},
      soft_media_count = #{record.softMediaCount,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      create_user_id = #{record.createUserId,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      update_user_id = #{record.updateUserId,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      equipment_id = #{record.equipmentId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pcitc.base.stp.equipment.SreSoftwareAccept" >
    update sre_software_accept
    <set >
      <if test="softwareCode != null" >
        software_code = #{softwareCode,jdbcType=VARCHAR},
      </if>
      <if test="installPlace != null" >
        install_place = #{installPlace,jdbcType=VARCHAR},
      </if>
      <if test="softwareEnvironment != null" >
        software_environment = #{softwareEnvironment,jdbcType=VARCHAR},
      </if>
      <if test="equipmentNo != null" >
        equipment_no = #{equipmentNo,jdbcType=VARCHAR},
      </if>
      <if test="softSituation != null" >
        soft_situation = #{softSituation,jdbcType=VARCHAR},
      </if>
      <if test="installTime != null" >
        install_time = #{installTime,jdbcType=TIMESTAMP},
      </if>
      <if test="acceptTime != null" >
        accept_time = #{acceptTime,jdbcType=TIMESTAMP},
      </if>
      <if test="equipmentUse != null" >
        equipment_use = #{equipmentUse,jdbcType=VARCHAR},
      </if>
      <if test="softWareCount != null" >
        soft_ware_count = #{softWareCount,jdbcType=INTEGER},
      </if>
      <if test="softMediaCount != null" >
        soft_media_count = #{softMediaCount,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="equipmentId != null" >
        equipment_id = #{equipmentId,jdbcType=VARCHAR},
      </if>
    </set>
    where software_id = #{softwareId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pcitc.base.stp.equipment.SreSoftwareAccept" >
    update sre_software_accept
    set software_code = #{softwareCode,jdbcType=VARCHAR},
      install_place = #{installPlace,jdbcType=VARCHAR},
      software_environment = #{softwareEnvironment,jdbcType=VARCHAR},
      equipment_no = #{equipmentNo,jdbcType=VARCHAR},
      soft_situation = #{softSituation,jdbcType=VARCHAR},
      install_time = #{installTime,jdbcType=TIMESTAMP},
      accept_time = #{acceptTime,jdbcType=TIMESTAMP},
      equipment_use = #{equipmentUse,jdbcType=VARCHAR},
      soft_ware_count = #{softWareCount,jdbcType=INTEGER},
      soft_media_count = #{softMediaCount,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      equipment_id = #{equipmentId,jdbcType=VARCHAR}
    where software_id = #{softwareId,jdbcType=VARCHAR}
  </update>
</mapper>