<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcitc.mapper.system.SysCurrencyLogMapper">
  <resultMap id="BaseResultMap" type="com.pcitc.base.system.SysCurrencyLog">
    <id column="data_id" jdbcType="VARCHAR" property="dataId" />
    <result column="log_name" jdbcType="VARCHAR" property="logName" />
    <result column="log_time" jdbcType="VARCHAR" property="logTime" />
    <result column="desc_t1" jdbcType="VARCHAR" property="descT1" />
    <result column="desc_t2" jdbcType="VARCHAR" property="descT2" />
    <result column="desc_t3" jdbcType="VARCHAR" property="descT3" />
    <result column="desc_t4" jdbcType="VARCHAR" property="descT4" />
    <result column="desc_t5" jdbcType="VARCHAR" property="descT5" />
    <result column="data_t1" jdbcType="VARCHAR" property="dataT1" />
    <result column="data_t2" jdbcType="VARCHAR" property="dataT2" />
    <result column="data_t3" jdbcType="VARCHAR" property="dataT3" />
    <result column="data_t4" jdbcType="VARCHAR" property="dataT4" />
    <result column="data_t5" jdbcType="VARCHAR" property="dataT5" />
    <result column="data_t6" jdbcType="VARCHAR" property="dataT6" />
    <result column="data_t7" jdbcType="VARCHAR" property="dataT7" />
    <result column="data_t8" jdbcType="VARCHAR" property="dataT8" />
    <result column="data_t9" jdbcType="VARCHAR" property="dataT9" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    data_id, log_name, log_time, desc_t1, desc_t2, desc_t3, desc_t4, desc_t5, data_t1, 
    data_t2, data_t3, data_t4, data_t5, data_t6, data_t7, data_t8, data_t9
  </sql>
  <select id="selectByExample" parameterType="com.pcitc.base.system.SysCurrencyLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_currency_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_currency_log
    where data_id = #{dataId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_currency_log
    where data_id = #{dataId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pcitc.base.system.SysCurrencyLogExample">
    delete from sys_currency_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pcitc.base.system.SysCurrencyLog">
    insert into sys_currency_log (data_id, log_name, log_time, 
      desc_t1, desc_t2, desc_t3, 
      desc_t4, desc_t5, data_t1, 
      data_t2, data_t3, data_t4, 
      data_t5, data_t6, data_t7, 
      data_t8, data_t9)
    values (#{dataId,jdbcType=VARCHAR}, #{logName,jdbcType=VARCHAR}, #{logTime,jdbcType=VARCHAR}, 
      #{descT1,jdbcType=VARCHAR}, #{descT2,jdbcType=VARCHAR}, #{descT3,jdbcType=VARCHAR}, 
      #{descT4,jdbcType=VARCHAR}, #{descT5,jdbcType=VARCHAR}, #{dataT1,jdbcType=VARCHAR}, 
      #{dataT2,jdbcType=VARCHAR}, #{dataT3,jdbcType=VARCHAR}, #{dataT4,jdbcType=VARCHAR}, 
      #{dataT5,jdbcType=VARCHAR}, #{dataT6,jdbcType=VARCHAR}, #{dataT7,jdbcType=VARCHAR}, 
      #{dataT8,jdbcType=VARCHAR}, #{dataT9,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pcitc.base.system.SysCurrencyLog">
    insert into sys_currency_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dataId != null">
        data_id,
      </if>
      <if test="logName != null">
        log_name,
      </if>
      <if test="logTime != null">
        log_time,
      </if>
      <if test="descT1 != null">
        desc_t1,
      </if>
      <if test="descT2 != null">
        desc_t2,
      </if>
      <if test="descT3 != null">
        desc_t3,
      </if>
      <if test="descT4 != null">
        desc_t4,
      </if>
      <if test="descT5 != null">
        desc_t5,
      </if>
      <if test="dataT1 != null">
        data_t1,
      </if>
      <if test="dataT2 != null">
        data_t2,
      </if>
      <if test="dataT3 != null">
        data_t3,
      </if>
      <if test="dataT4 != null">
        data_t4,
      </if>
      <if test="dataT5 != null">
        data_t5,
      </if>
      <if test="dataT6 != null">
        data_t6,
      </if>
      <if test="dataT7 != null">
        data_t7,
      </if>
      <if test="dataT8 != null">
        data_t8,
      </if>
      <if test="dataT9 != null">
        data_t9,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dataId != null">
        #{dataId,jdbcType=VARCHAR},
      </if>
      <if test="logName != null">
        #{logName,jdbcType=VARCHAR},
      </if>
      <if test="logTime != null">
        #{logTime,jdbcType=VARCHAR},
      </if>
      <if test="descT1 != null">
        #{descT1,jdbcType=VARCHAR},
      </if>
      <if test="descT2 != null">
        #{descT2,jdbcType=VARCHAR},
      </if>
      <if test="descT3 != null">
        #{descT3,jdbcType=VARCHAR},
      </if>
      <if test="descT4 != null">
        #{descT4,jdbcType=VARCHAR},
      </if>
      <if test="descT5 != null">
        #{descT5,jdbcType=VARCHAR},
      </if>
      <if test="dataT1 != null">
        #{dataT1,jdbcType=VARCHAR},
      </if>
      <if test="dataT2 != null">
        #{dataT2,jdbcType=VARCHAR},
      </if>
      <if test="dataT3 != null">
        #{dataT3,jdbcType=VARCHAR},
      </if>
      <if test="dataT4 != null">
        #{dataT4,jdbcType=VARCHAR},
      </if>
      <if test="dataT5 != null">
        #{dataT5,jdbcType=VARCHAR},
      </if>
      <if test="dataT6 != null">
        #{dataT6,jdbcType=VARCHAR},
      </if>
      <if test="dataT7 != null">
        #{dataT7,jdbcType=VARCHAR},
      </if>
      <if test="dataT8 != null">
        #{dataT8,jdbcType=VARCHAR},
      </if>
      <if test="dataT9 != null">
        #{dataT9,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pcitc.base.system.SysCurrencyLogExample" resultType="java.lang.Long">
    select count(*) from sys_currency_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_currency_log
    <set>
      <if test="record.dataId != null">
        data_id = #{record.dataId,jdbcType=VARCHAR},
      </if>
      <if test="record.logName != null">
        log_name = #{record.logName,jdbcType=VARCHAR},
      </if>
      <if test="record.logTime != null">
        log_time = #{record.logTime,jdbcType=VARCHAR},
      </if>
      <if test="record.descT1 != null">
        desc_t1 = #{record.descT1,jdbcType=VARCHAR},
      </if>
      <if test="record.descT2 != null">
        desc_t2 = #{record.descT2,jdbcType=VARCHAR},
      </if>
      <if test="record.descT3 != null">
        desc_t3 = #{record.descT3,jdbcType=VARCHAR},
      </if>
      <if test="record.descT4 != null">
        desc_t4 = #{record.descT4,jdbcType=VARCHAR},
      </if>
      <if test="record.descT5 != null">
        desc_t5 = #{record.descT5,jdbcType=VARCHAR},
      </if>
      <if test="record.dataT1 != null">
        data_t1 = #{record.dataT1,jdbcType=VARCHAR},
      </if>
      <if test="record.dataT2 != null">
        data_t2 = #{record.dataT2,jdbcType=VARCHAR},
      </if>
      <if test="record.dataT3 != null">
        data_t3 = #{record.dataT3,jdbcType=VARCHAR},
      </if>
      <if test="record.dataT4 != null">
        data_t4 = #{record.dataT4,jdbcType=VARCHAR},
      </if>
      <if test="record.dataT5 != null">
        data_t5 = #{record.dataT5,jdbcType=VARCHAR},
      </if>
      <if test="record.dataT6 != null">
        data_t6 = #{record.dataT6,jdbcType=VARCHAR},
      </if>
      <if test="record.dataT7 != null">
        data_t7 = #{record.dataT7,jdbcType=VARCHAR},
      </if>
      <if test="record.dataT8 != null">
        data_t8 = #{record.dataT8,jdbcType=VARCHAR},
      </if>
      <if test="record.dataT9 != null">
        data_t9 = #{record.dataT9,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_currency_log
    set data_id = #{record.dataId,jdbcType=VARCHAR},
      log_name = #{record.logName,jdbcType=VARCHAR},
      log_time = #{record.logTime,jdbcType=VARCHAR},
      desc_t1 = #{record.descT1,jdbcType=VARCHAR},
      desc_t2 = #{record.descT2,jdbcType=VARCHAR},
      desc_t3 = #{record.descT3,jdbcType=VARCHAR},
      desc_t4 = #{record.descT4,jdbcType=VARCHAR},
      desc_t5 = #{record.descT5,jdbcType=VARCHAR},
      data_t1 = #{record.dataT1,jdbcType=VARCHAR},
      data_t2 = #{record.dataT2,jdbcType=VARCHAR},
      data_t3 = #{record.dataT3,jdbcType=VARCHAR},
      data_t4 = #{record.dataT4,jdbcType=VARCHAR},
      data_t5 = #{record.dataT5,jdbcType=VARCHAR},
      data_t6 = #{record.dataT6,jdbcType=VARCHAR},
      data_t7 = #{record.dataT7,jdbcType=VARCHAR},
      data_t8 = #{record.dataT8,jdbcType=VARCHAR},
      data_t9 = #{record.dataT9,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pcitc.base.system.SysCurrencyLog">
    update sys_currency_log
    <set>
      <if test="logName != null">
        log_name = #{logName,jdbcType=VARCHAR},
      </if>
      <if test="logTime != null">
        log_time = #{logTime,jdbcType=VARCHAR},
      </if>
      <if test="descT1 != null">
        desc_t1 = #{descT1,jdbcType=VARCHAR},
      </if>
      <if test="descT2 != null">
        desc_t2 = #{descT2,jdbcType=VARCHAR},
      </if>
      <if test="descT3 != null">
        desc_t3 = #{descT3,jdbcType=VARCHAR},
      </if>
      <if test="descT4 != null">
        desc_t4 = #{descT4,jdbcType=VARCHAR},
      </if>
      <if test="descT5 != null">
        desc_t5 = #{descT5,jdbcType=VARCHAR},
      </if>
      <if test="dataT1 != null">
        data_t1 = #{dataT1,jdbcType=VARCHAR},
      </if>
      <if test="dataT2 != null">
        data_t2 = #{dataT2,jdbcType=VARCHAR},
      </if>
      <if test="dataT3 != null">
        data_t3 = #{dataT3,jdbcType=VARCHAR},
      </if>
      <if test="dataT4 != null">
        data_t4 = #{dataT4,jdbcType=VARCHAR},
      </if>
      <if test="dataT5 != null">
        data_t5 = #{dataT5,jdbcType=VARCHAR},
      </if>
      <if test="dataT6 != null">
        data_t6 = #{dataT6,jdbcType=VARCHAR},
      </if>
      <if test="dataT7 != null">
        data_t7 = #{dataT7,jdbcType=VARCHAR},
      </if>
      <if test="dataT8 != null">
        data_t8 = #{dataT8,jdbcType=VARCHAR},
      </if>
      <if test="dataT9 != null">
        data_t9 = #{dataT9,jdbcType=VARCHAR},
      </if>
    </set>
    where data_id = #{dataId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pcitc.base.system.SysCurrencyLog">
    update sys_currency_log
    set log_name = #{logName,jdbcType=VARCHAR},
      log_time = #{logTime,jdbcType=VARCHAR},
      desc_t1 = #{descT1,jdbcType=VARCHAR},
      desc_t2 = #{descT2,jdbcType=VARCHAR},
      desc_t3 = #{descT3,jdbcType=VARCHAR},
      desc_t4 = #{descT4,jdbcType=VARCHAR},
      desc_t5 = #{descT5,jdbcType=VARCHAR},
      data_t1 = #{dataT1,jdbcType=VARCHAR},
      data_t2 = #{dataT2,jdbcType=VARCHAR},
      data_t3 = #{dataT3,jdbcType=VARCHAR},
      data_t4 = #{dataT4,jdbcType=VARCHAR},
      data_t5 = #{dataT5,jdbcType=VARCHAR},
      data_t6 = #{dataT6,jdbcType=VARCHAR},
      data_t7 = #{dataT7,jdbcType=VARCHAR},
      data_t8 = #{dataT8,jdbcType=VARCHAR},
      data_t9 = #{dataT9,jdbcType=VARCHAR}
    where data_id = #{dataId,jdbcType=VARCHAR}
  </update>
</mapper>