<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pcitc.mapper.financial.ScientificBaseBuildFeeMapper">
	
	
	 <!-- 科研基建支出分析-5年支出趋势 H1AS_KY_CB_1003_01--> 
     <resultMap id="totalScientificBaseBuildFee01ResultMap" type="com.pcitc.base.hana.report.ScientificBaseBuildFee01" >
       <result column="G0ZCMS"         property="g0ZCMS"    jdbcType="VARCHAR" />
       <result column="G0CALY"         property="g0CALY"    jdbcType="VARCHAR" />
       <result column="K0BNZCJE"       property="k0BNZCJE"  jdbcType="VARCHAR" />
     </resultMap>
     
	 <select id="getScientificBaseBuildFee01Report" resultMap="totalScientificBaseBuildFee01ResultMap" parameterType="java.util.Map" >
        SELECT
			 "G0ZCMS",
			 "G0CALY",
			 round(sum("K0BNZCJE")/10000,2) AS "K0BNZCJE" 
		FROM "_SYS_BIC"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY/H1AS_KY_CB_1003_01"('PLACEHOLDER' = ('$$PR_CALMONTH$$',
			 '${month}'),
			 'PLACEHOLDER' = ('$$PR_GSDM$$',
			 '${companyCode}')) 
		GROUP BY
			  "G0ZCMS",
			  "G0CALY"
	 </select>
	 
	 <!-- 科研基建支出分析-同比占比分析 H1AS_KY_CB_1003_02--> 
     <resultMap id="totalScientificBaseBuildFee02ResultMap" type="com.pcitc.base.hana.report.ScientificBaseBuildFee02" >
       <result column="G0GSJC"         property="g0GSJC"    jdbcType="VARCHAR" />
       <result column="K0BNZCJE"       property="k0BNZCJE"  jdbcType="VARCHAR" />
       <result column="K0SNZCJE"       property="k0SNZCJE"  jdbcType="VARCHAR" />
       <result column="K0TBZCJE"       property="k0TBZCJE"  jdbcType="VARCHAR" />
       <result column="K0TBZCBL"       property="k0TBZCBL"  jdbcType="VARCHAR" />
     </resultMap>
     
      <sql id="selectCondition">
	   <trim prefix="WHERE" prefixOverrides="AND|OR"> 
	     <if test="sqlStr != null   and sqlStr !='' "> ${sqlStr}</if>
	      <if test="g0ZCMS != null   and g0ZCMS !='' ">   AND G0ZCMS  in      ${g0ZCMS}</if>
	  </trim>
	 </sql>
	
	 <select id="getScientificBaseBuildFee02Report" resultMap="totalScientificBaseBuildFee02ResultMap" parameterType="java.util.Map" >
        SELECT "G0GSJC",
			 round (sum("K0BNZCJE")/10000,2 ) AS "K0BNZCJE",
			 round (sum("K0SNZCJE")/10000,2 ) AS "K0SNZCJE",
			 round (sum("K0BNZCJE")/10000,2 )-round (sum("K0SNZCJE")/10000,2 ) AS "K0TBZCJE",
			 case when round (sum("K0SNZCJE")/10000,2 )=0 then 0 
			     else round((round (sum("K0BNZCJE")/10000,2 )-round (sum("K0SNZCJE")/10000,2 ))/round (sum("K0SNZCJE")/10000,2 ),4)*100
			 end AS "K0TBZCBL" 
		FROM "_SYS_BIC"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY/H1AS_KY_CB_1003_02"('PLACEHOLDER' = ('$$PR_CALMONTH$$',
			 '${month}'),
			 'PLACEHOLDER' = ('$$PR_GSDM$$',
			 '${companyCode}'))
			<include refid="selectCondition" />  
			
		GROUP BY 
	         "G0GSJC"
	 </select>
	 
	 <!-- 科研基建支出分析-人均指标  H1AS_KY_CB_1003_03--> 
     <resultMap id="totalScientificBaseBuildFee03ResultMap" type="com.pcitc.base.hana.report.ScientificBaseBuildFee03" >
       <result column="G0GSJC"         property="g0GSJC"    jdbcType="VARCHAR" />
       <result column="K0BNZCJE"       property="k0BNZCJE"  jdbcType="VARCHAR" />
       <result column="K0SNZCJE"       property="k0SNZCJE"  jdbcType="VARCHAR" />
       <result column="K0TBZCJE"       property="k0TBZCJE"  jdbcType="VARCHAR" />
       <result column="K0TBZCBL"       property="k0TBZCBL"  jdbcType="VARCHAR" />
     </resultMap>
	 <select id="getScientificBaseBuildFee03Report" resultMap="totalScientificBaseBuildFee03ResultMap" parameterType="java.util.Map" >
		SELECT
			 "G0GSJC",
			 "K0BNFWMJ",
			 sum("K0BNFWRJMJ") AS "K0BNFWRJMJ",
			 sum("K0BNBGRJMJ") AS "K0BNBGRJMJ",
			 sum("K0BNSYRJMJ") AS "K0BNSYRJMJ"
		FROM "_SYS_BIC"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY/H1AS_KY_CB_1003_03"('PLACEHOLDER' = ('$$PR_CALMONTH$$',
			 '${month}'),
			 'PLACEHOLDER' = ('$$PR_GSDM$$',
			 '${companyCode}')) 
			  
		GROUP BY 
			 "G0GSJC",
			 "K0BNFWMJ"
	 </select>
	 
	 
	 
	  
	 <!-- 科研基建支出情况明细表  H1AS_KY_CB_1003_04--> 
     <resultMap id="totalScientificBaseBuildFee04ResultMap" type="com.pcitc.base.hana.report.ScientificBaseBuildFee04" >
       <result column="G0CALP"            property="g0CALP"     jdbcType="VARCHAR" />
       <result column="G0GSJC"            property="g0GSJC"     jdbcType="VARCHAR" />
       <result column="G0ZCMS"            property="g0ZCMS"     jdbcType="VARCHAR" />
       <result column="G0TXT50"           property="g0TXT50"    jdbcType="VARCHAR" />
       <result column="G0PRCTR"           property="g0PRCTR"    jdbcType="VARCHAR" />
       <result column="G0KOSTL"           property="g0KOSTL"    jdbcType="VARCHAR" />
       <result column="G0NCGZYZJE"        property="g0NCGZYZJE"     jdbcType="VARCHAR" />
       <result column="G0LJZCZJJE"        property="g0LJZCZJJE"     jdbcType="VARCHAR" />
       <result column="G0LJTSZJJE"        property="g0LJTSZJJE"     jdbcType="VARCHAR" />
       <result column="G0LJJHWZJJE"       property="g0LJJHWZJJE"    jdbcType="VARCHAR" />
       <result column="G0LJZJZJJE"         property="g0LJZJZJJE"    jdbcType="VARCHAR" />
       <result column="G0LJTJZJJE"         property="g0LJTJZJJE"    jdbcType="VARCHAR" />
       <result column="G0LJCGZJJE"         property="g0LJCGZJJE"    jdbcType="VARCHAR" />
       <result column="G0LJGZYZJE"         property="g0LJGZYZJE"    jdbcType="VARCHAR" />
       <result column="G0LJDJZJJE"         property="g0LJDJZJJE"    jdbcType="VARCHAR" />
       <result column="G0BNZCZJJE"         property="g0BNZCZJJE"    jdbcType="VARCHAR" />
       <result column="G0BNTSZJJE"         property="g0BNTSZJJE"    jdbcType="VARCHAR" />
       <result column="G0BNJHWZJJE"        property="g0BNJHWZJJE"   jdbcType="VARCHAR" />
       <result column="G0BNZJZJJE"         property="g0BNZJZJJE"    jdbcType="VARCHAR" />
        <result column="BNTQ"              property="bNTQ"    jdbcType="VARCHAR" />
         <result column="G0NDJAR"              property="g0NDJAR"    jdbcType="VARCHAR" />
        
        
     </resultMap>
     
	  		
     <sql id="selectCondition02">
	   <trim prefix="WHERE" prefixOverrides="AND|OR"> 
	     <if test="g0TXT50 != null  and g0TXT50 !=''  ">     AND G0TXT50 like '%${g0TXT50}%'</if>
	     <if test="g0ZCMS != null   and g0ZCMS !=''  ">      AND G0ZCMS  like '%${g0ZCMS}%'</if>
	     <if test="sqlStr != null   and sqlStr !='' ">       ${sqlStr}</if>
	 </trim>
	</sql>
	
	
	 <select id="getList" resultMap="totalScientificBaseBuildFee04ResultMap" parameterType="java.util.Map" >
		SELECT
		     ROW_NUMBER() OVER() AS ROW_ID, 
			 "G0CALP",
			 "G0GSDM",
			 "G0GSJC",
			 "G0FLAG",
			 "G0ZCMS",
			 "G0ANLN1",
			 "G0TXT50",
			 "G0NDJAR",
			 "G0PRCTR",
			 "G0KOSTL",
			 "G0ZZDXZC",
			 "G0ZDXZCT",
			 "G0WAERS",
			  -( sum("G0BNZCZJJE")+ sum("G0BNTSZJJE")+ sum("G0BNJHWZJJE") + sum("G0BNZJZJJE") +sum("G0BNTJZJJE")+ sum("G0BNCGZJJE")) BNTQ,
			 sum("G0NCGZYZJE") AS "G0NCGZYZJE",
			 sum("G0LJZCZJJE") AS "G0LJZCZJJE",
			 sum("G0LJTSZJJE") AS "G0LJTSZJJE",
			 sum("G0LJJHWZJJE") AS "G0LJJHWZJJE",
			 sum("G0LJZJZJJE") AS "G0LJZJZJJE",
			 sum("G0LJTJZJJE") AS "G0LJTJZJJE",
			 sum("G0LJCGZJJE") AS "G0LJCGZJJE",
			 sum("G0LJGZYZJE") AS "G0LJGZYZJE",
			 sum("G0LJDJZJJE") AS "G0LJDJZJJE",
			 sum("G0BNZCZJJE") AS "G0BNZCZJJE",
			 sum("G0BNTSZJJE") AS "G0BNTSZJJE",
			 sum("G0BNJHWZJJE") AS "G0BNJHWZJJE",
			 sum("G0BNZJZJJE") AS "G0BNZJZJJE",
			 sum("G0BNTJZJJE") AS "G0BNTJZJJE",
			 sum("G0BNCGZJJE") AS "G0BNCGZJJE",
			 sum("G0BNGZYZJE") AS "G0BNGZYZJE" 
		FROM "_SYS_BIC"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY/H1AS_KY_CB_1004_01"('PLACEHOLDER' = ('$$PR_CALMONTH$$',
			 '${month}'),
			 'PLACEHOLDER' = ('$$PR_GSDM$$',
			 '${companyCode}')) 
			 <include refid="selectCondition02"/>
		GROUP BY "G0CALP",
			 "G0GSDM",
			 "G0GSJC",
			 "G0FLAG",
			 "G0ZCMS",
			 "G0ANLN1",
			 "G0TXT50",
			 "G0NDJAR",
			 "G0PRCTR",
			 "G0KOSTL",
			 "G0ZZDXZC",
			 "G0ZDXZCT",
			 "G0WAERS"
			<if test="pageSize != null and pageSize !=''">  limit ${pageSize} offset  ${start} </if>   
	 </select>
	 
    <select id="getCount" resultType="java.lang.Integer" parameterType="java.util.Map"> 
        SELECT
		   count(*)
		FROM "_SYS_BIC"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY/H1AS_KY_CB_1004_01"('PLACEHOLDER' = ('$$PR_CALMONTH$$',
			 '${month}'),
			 'PLACEHOLDER' = ('$$PR_GSDM$$',
			 '${companyCode}')) 
     </select>
	 
	 
	 

</mapper>