<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pcitc.mapper.equipment.SreProjectYearMapper" >
  <resultMap id="BaseResultMap" type="com.pcitc.base.stp.equipment.SreProjectYear" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="year" property="year" jdbcType="INTEGER" />
    <result column="capital_money" property="capitalMoney" jdbcType="DECIMAL" />
    <result column="project_id" property="projectId" jdbcType="BIGINT" />
    <result column="cost_money" property="costMoney" jdbcType="DECIMAL" />
    <result column="subtotal_money" property="subtotalMoney" jdbcType="DECIMAL" />
    <result column="lead_unit_name" property="leadUnitName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, year, capital_money, project_id, cost_money, subtotal_money, lead_unit_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pcitc.base.stp.equipment.SreProjectYearExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from sre_project_year
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sre_project_year
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sre_project_year
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pcitc.base.stp.equipment.SreProjectYearExample" >
    delete from sre_project_year
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pcitc.base.stp.equipment.SreProjectYear" >
    insert into sre_project_year (id, year, capital_money, 
      project_id, cost_money, subtotal_money, 
      lead_unit_name)
    values (#{id,jdbcType=VARCHAR}, #{year,jdbcType=INTEGER}, #{capitalMoney,jdbcType=DECIMAL}, 
      #{projectId,jdbcType=BIGINT}, #{costMoney,jdbcType=DECIMAL}, #{subtotalMoney,jdbcType=DECIMAL}, 
      #{leadUnitName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pcitc.base.stp.equipment.SreProjectYear" >
    insert into sre_project_year
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="year != null" >
        year,
      </if>
      <if test="capitalMoney != null" >
        capital_money,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="costMoney != null" >
        cost_money,
      </if>
      <if test="subtotalMoney != null" >
        subtotal_money,
      </if>
      <if test="leadUnitName != null" >
        lead_unit_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        #{year,jdbcType=INTEGER},
      </if>
      <if test="capitalMoney != null" >
        #{capitalMoney,jdbcType=DECIMAL},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=BIGINT},
      </if>
      <if test="costMoney != null" >
        #{costMoney,jdbcType=DECIMAL},
      </if>
      <if test="subtotalMoney != null" >
        #{subtotalMoney,jdbcType=DECIMAL},
      </if>
      <if test="leadUnitName != null" >
        #{leadUnitName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pcitc.base.stp.equipment.SreProjectYearExample" resultType="java.lang.Integer" >
    select count(*) from sre_project_year
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sre_project_year
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.year != null" >
        year = #{record.year,jdbcType=INTEGER},
      </if>
      <if test="record.capitalMoney != null" >
        capital_money = #{record.capitalMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.projectId != null" >
        project_id = #{record.projectId,jdbcType=BIGINT},
      </if>
      <if test="record.costMoney != null" >
        cost_money = #{record.costMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.subtotalMoney != null" >
        subtotal_money = #{record.subtotalMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.leadUnitName != null" >
        lead_unit_name = #{record.leadUnitName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sre_project_year
    set id = #{record.id,jdbcType=VARCHAR},
      year = #{record.year,jdbcType=INTEGER},
      capital_money = #{record.capitalMoney,jdbcType=DECIMAL},
      project_id = #{record.projectId,jdbcType=BIGINT},
      cost_money = #{record.costMoney,jdbcType=DECIMAL},
      subtotal_money = #{record.subtotalMoney,jdbcType=DECIMAL},
      lead_unit_name = #{record.leadUnitName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pcitc.base.stp.equipment.SreProjectYear" >
    update sre_project_year
    <set >
      <if test="year != null" >
        year = #{year,jdbcType=INTEGER},
      </if>
      <if test="capitalMoney != null" >
        capital_money = #{capitalMoney,jdbcType=DECIMAL},
      </if>
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=BIGINT},
      </if>
      <if test="costMoney != null" >
        cost_money = #{costMoney,jdbcType=DECIMAL},
      </if>
      <if test="subtotalMoney != null" >
        subtotal_money = #{subtotalMoney,jdbcType=DECIMAL},
      </if>
      <if test="leadUnitName != null" >
        lead_unit_name = #{leadUnitName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pcitc.base.stp.equipment.SreProjectYear" >
    update sre_project_year
    set year = #{year,jdbcType=INTEGER},
      capital_money = #{capitalMoney,jdbcType=DECIMAL},
      project_id = #{projectId,jdbcType=BIGINT},
      cost_money = #{costMoney,jdbcType=DECIMAL},
      subtotal_money = #{subtotalMoney,jdbcType=DECIMAL},
      lead_unit_name = #{leadUnitName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>