<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcitc.mapper.outApi.OutStandardDataMapper">
  <resultMap id="BaseResultMap" type="com.pcitc.base.stp.out.OutStandardData">
    <id column="data_id" jdbcType="VARCHAR" property="dataId" />
    <result column="nd" jdbcType="VARCHAR" property="nd" />
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="criterionchname" jdbcType="VARCHAR" property="criterionchname" />
    <result column="criterionegname" jdbcType="VARCHAR" property="criterionegname" />
    <result column="criterionnumber" jdbcType="VARCHAR" property="criterionnumber" />
    <result column="pubdate" jdbcType="VARCHAR" property="pubdate" />
    <result column="implementdate" jdbcType="VARCHAR" property="implementdate" />
    <result column="data_version" jdbcType="VARCHAR" property="dataVersion" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
    <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
    <result column="data_source" jdbcType="VARCHAR" property="dataSource" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    data_id, nd, id, criterionchname, criterionegname, criterionnumber, pubdate, implementdate, 
    data_version, create_time, update_time, del_flag, data_source
  </sql>
  <select id="selectByExample" parameterType="com.pcitc.base.stp.out.OutStandardDataExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from out_standard_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from out_standard_data
    where data_id = #{dataId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from out_standard_data
    where data_id = #{dataId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pcitc.base.stp.out.OutStandardDataExample">
    delete from out_standard_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pcitc.base.stp.out.OutStandardData">
    insert into out_standard_data (data_id, nd, id, 
      criterionchname, criterionegname, criterionnumber, 
      pubdate, implementdate, data_version, 
      create_time, update_time, del_flag, 
      data_source)
    values (#{dataId,jdbcType=VARCHAR}, #{nd,jdbcType=VARCHAR}, #{id,jdbcType=VARCHAR}, 
      #{criterionchname,jdbcType=VARCHAR}, #{criterionegname,jdbcType=VARCHAR}, #{criterionnumber,jdbcType=VARCHAR}, 
      #{pubdate,jdbcType=VARCHAR}, #{implementdate,jdbcType=VARCHAR}, #{dataVersion,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}, #{delFlag,jdbcType=INTEGER}, 
      #{dataSource,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pcitc.base.stp.out.OutStandardData">
    insert into out_standard_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dataId != null">
        data_id,
      </if>
      <if test="nd != null">
        nd,
      </if>
      <if test="id != null">
        id,
      </if>
      <if test="criterionchname != null">
        criterionchname,
      </if>
      <if test="criterionegname != null">
        criterionegname,
      </if>
      <if test="criterionnumber != null">
        criterionnumber,
      </if>
      <if test="pubdate != null">
        pubdate,
      </if>
      <if test="implementdate != null">
        implementdate,
      </if>
      <if test="dataVersion != null">
        data_version,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="dataSource != null">
        data_source,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dataId != null">
        #{dataId,jdbcType=VARCHAR},
      </if>
      <if test="nd != null">
        #{nd,jdbcType=VARCHAR},
      </if>
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="criterionchname != null">
        #{criterionchname,jdbcType=VARCHAR},
      </if>
      <if test="criterionegname != null">
        #{criterionegname,jdbcType=VARCHAR},
      </if>
      <if test="criterionnumber != null">
        #{criterionnumber,jdbcType=VARCHAR},
      </if>
      <if test="pubdate != null">
        #{pubdate,jdbcType=VARCHAR},
      </if>
      <if test="implementdate != null">
        #{implementdate,jdbcType=VARCHAR},
      </if>
      <if test="dataVersion != null">
        #{dataVersion,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="dataSource != null">
        #{dataSource,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pcitc.base.stp.out.OutStandardDataExample" resultType="java.lang.Long">
    select count(*) from out_standard_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update out_standard_data
    <set>
      <if test="record.dataId != null">
        data_id = #{record.dataId,jdbcType=VARCHAR},
      </if>
      <if test="record.nd != null">
        nd = #{record.nd,jdbcType=VARCHAR},
      </if>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.criterionchname != null">
        criterionchname = #{record.criterionchname,jdbcType=VARCHAR},
      </if>
      <if test="record.criterionegname != null">
        criterionegname = #{record.criterionegname,jdbcType=VARCHAR},
      </if>
      <if test="record.criterionnumber != null">
        criterionnumber = #{record.criterionnumber,jdbcType=VARCHAR},
      </if>
      <if test="record.pubdate != null">
        pubdate = #{record.pubdate,jdbcType=VARCHAR},
      </if>
      <if test="record.implementdate != null">
        implementdate = #{record.implementdate,jdbcType=VARCHAR},
      </if>
      <if test="record.dataVersion != null">
        data_version = #{record.dataVersion,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null">
        del_flag = #{record.delFlag,jdbcType=INTEGER},
      </if>
      <if test="record.dataSource != null">
        data_source = #{record.dataSource,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update out_standard_data
    set data_id = #{record.dataId,jdbcType=VARCHAR},
      nd = #{record.nd,jdbcType=VARCHAR},
      id = #{record.id,jdbcType=VARCHAR},
      criterionchname = #{record.criterionchname,jdbcType=VARCHAR},
      criterionegname = #{record.criterionegname,jdbcType=VARCHAR},
      criterionnumber = #{record.criterionnumber,jdbcType=VARCHAR},
      pubdate = #{record.pubdate,jdbcType=VARCHAR},
      implementdate = #{record.implementdate,jdbcType=VARCHAR},
      data_version = #{record.dataVersion,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=VARCHAR},
      del_flag = #{record.delFlag,jdbcType=INTEGER},
      data_source = #{record.dataSource,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pcitc.base.stp.out.OutStandardData">
    update out_standard_data
    <set>
      <if test="nd != null">
        nd = #{nd,jdbcType=VARCHAR},
      </if>
      <if test="id != null">
        id = #{id,jdbcType=VARCHAR},
      </if>
      <if test="criterionchname != null">
        criterionchname = #{criterionchname,jdbcType=VARCHAR},
      </if>
      <if test="criterionegname != null">
        criterionegname = #{criterionegname,jdbcType=VARCHAR},
      </if>
      <if test="criterionnumber != null">
        criterionnumber = #{criterionnumber,jdbcType=VARCHAR},
      </if>
      <if test="pubdate != null">
        pubdate = #{pubdate,jdbcType=VARCHAR},
      </if>
      <if test="implementdate != null">
        implementdate = #{implementdate,jdbcType=VARCHAR},
      </if>
      <if test="dataVersion != null">
        data_version = #{dataVersion,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="dataSource != null">
        data_source = #{dataSource,jdbcType=VARCHAR},
      </if>
    </set>
    where data_id = #{dataId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pcitc.base.stp.out.OutStandardData">
    update out_standard_data
    set nd = #{nd,jdbcType=VARCHAR},
      id = #{id,jdbcType=VARCHAR},
      criterionchname = #{criterionchname,jdbcType=VARCHAR},
      criterionegname = #{criterionegname,jdbcType=VARCHAR},
      criterionnumber = #{criterionnumber,jdbcType=VARCHAR},
      pubdate = #{pubdate,jdbcType=VARCHAR},
      implementdate = #{implementdate,jdbcType=VARCHAR},
      data_version = #{dataVersion,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=INTEGER},
      data_source = #{dataSource,jdbcType=VARCHAR}
    where data_id = #{dataId,jdbcType=VARCHAR}
  </update>
</mapper>