<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pcitc.mapper.common.CommonMapper">


    <resultMap id="H1AMKYZH100006BaseResultMap" type="com.pcitc.base.hana.report.H1AMKYZH100006" >
       <result column="G0LOGSYS" property="g0LOGSYS" jdbcType="VARCHAR" />
       <result column="G0YEARXM" property="g0YEARXM" jdbcType="VARCHAR" />
       <result column="G0GSDM" property="g0GSDM" jdbcType="VARCHAR" />
       <result column="G0GSJC" property="g0GSJC" jdbcType="VARCHAR" />
       <result column="G0PROJCODE" property="g0PROJCODE" jdbcType="VARCHAR" />
       <result column="G0PROJTXT" property="g0PROJTXT" jdbcType="VARCHAR" />
       <result column="G0PROJCTXT" property="g0PROJCTXT" jdbcType="VARCHAR" />
       <result column="G0WBSCODE" property="g0WBSCODE" jdbcType="VARCHAR" />
       <result column="G0WBSTXT"   property="g0WBSTXT" jdbcType="VARCHAR" />
       <result column="G0WBSCTXT" property="g0WBSCTXT" jdbcType="VARCHAR" />
       <result column="G0XMGLLX"   property="g0XMGLLX" jdbcType="VARCHAR" />
       <result column="G0XMGLLY" property="g0XMGLLY" jdbcType="VARCHAR" />
       <result column="G0XMGLJB" property="g0XMGLJB" jdbcType="VARCHAR" />
       <result column="G0XMLX" property="g0XMLX" jdbcType="VARCHAR" />
       <result column="G0XMLXMS" property="g0XMLXMS" jdbcType="VARCHAR" />
       <result column="G0XMZT" property="g0XMZT" jdbcType="VARCHAR" />
       <result column="G0XMZTMS" property="g0XMZTMS" jdbcType="VARCHAR" />
       <result column="G0STUFE" property="g0STUFE" jdbcType="VARCHAR" />
       <result column="G0PLFAZ" property="g0PLFAZ" jdbcType="VARCHAR" />
       <result column="G0PLSEZ" property="g0PLSEZ" jdbcType="VARCHAR" />
       <result column="G0UPWBSCODE" property="g0UPWBSCODE" jdbcType="VARCHAR" />
       <result column="G0DOWNWBSCODE" property="g0DOWNWBSCODE" jdbcType="VARCHAR" />
       <result column="G0FLAG" property="g0FLAG" jdbcType="VARCHAR" />
       <result column="G0XMDL" property="g0XMDL" jdbcType="VARCHAR" />
       <result column="G0HFBZ" property="g0HFBZ" jdbcType="VARCHAR" />
       <result column="G0XMXZ" property="g0XMXZ" jdbcType="VARCHAR" />
       <result column="G0XMJD" property="g0XMJD" jdbcType="VARCHAR" />
       <result column="G0XMBK" property="g0XMBK" jdbcType="VARCHAR" />
     </resultMap>
     
     


     <!-- 报表名称:项目主数据-科研公司代码   报表编码: H1AM_KY_ZH_1000_01-->
     <resultMap id="companyCodeResultMap" type="com.pcitc.base.hana.report.CompanyCode" >
       <result column="G0GSDM" property="g0GSDM" jdbcType="VARCHAR" />
       <result column="G0GSJC" property="g0GSJC" jdbcType="VARCHAR" />
       <result column="G0DMJC" property="g0DMJC" jdbcType="VARCHAR" />
     </resultMap>
	 <select id="getCompanyCode" resultMap="companyCodeResultMap">
	 SELECT
		 "G0GSDM",
		 "G0GSJC",
		 "G0DMJC",
		 sum("COUNTER") AS "COUNTER" 
	 FROM "_SYS_BIC"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY/H1AM_KY_ZH_1000_01" 
	 GROUP BY "G0GSDM",
		 "G0GSJC",
		 "G0DMJC"
	 </select>
	 
	 
	 <!-- 报表名称:科研公司代码  项目编码: H1AM_KY_ZH_1000_02-->
     <resultMap id="porjectCodeResultMap" type="com.pcitc.base.hana.report.ProjectCode" >
       <result column="G0GSDM" property="g0GSDM" jdbcType="VARCHAR" />
       <result column="G0GSJC" property="g0GSJC" jdbcType="VARCHAR" />
       <result column="G0PROJCODE" property="g0PROJCODE" jdbcType="VARCHAR" />
       <result column="G0PROJTXT" property="g0PROJTXT" jdbcType="VARCHAR" />
       <result column="G0PROJCTXT" property="g0PROJCTXT" jdbcType="VARCHAR" />
       <result column="G0XMGLLX" property="g0XMGLLX" jdbcType="VARCHAR" />
       <result column="G0XMGLLY" property="g0XMGLLY" jdbcType="VARCHAR" />
       <result column="G0XMGLJB" property="g0XMGLJB" jdbcType="VARCHAR" />
       <result column="G0XMLX"   property="g0XMLX" jdbcType="VARCHAR" />
       <result column="G0XMLXMS" property="g0XMLXMS" jdbcType="VARCHAR" />
       <result column="G0XMZT"   property="g0XMZT" jdbcType="VARCHAR" />
       <result column="G0XMZTMS" property="g0XMZTMS" jdbcType="VARCHAR" />
     </resultMap>
	 <select id="getPorjectCode" resultMap="porjectCodeResultMap">
        SELECT
			 distinct
			 "G0XMGLLX"	 
		FROM "_SYS_BIC"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY/H1AM_KY_ZH_1000_02"
	 </select>
	 
	  <!-- 项目类型: H1AM_KY_ZH_1000_02-->
	  <select id="getDicG0XMGLLXList" resultMap="porjectCodeResultMap" parameterType="com.pcitc.base.hana.report.ProjectCode">
	    SELECT
		      distinct
			  "G0XMGLLX"
		FROM "_SYS_BIC"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY/H1AM_KY_ZH_1000_02" 
	 </select>
	 
	 <!-- 项目来源: H1AM_KY_ZH_1000_02-->
	  <select id="getDicG0XMGLLYList" resultMap="porjectCodeResultMap" parameterType="com.pcitc.base.hana.report.ProjectCode">
	    SELECT
		     distinct
			 "G0XMGLLY"
		FROM "_SYS_BIC"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY/H1AM_KY_ZH_1000_02"
	 </select>
	 
	  <!-- 项目级别: H1AM_KY_ZH_1000_02-->
	  <select id="getDicG0XMGLJB_List" resultMap="porjectCodeResultMap" parameterType="com.pcitc.base.hana.report.ProjectCode">
	    SELECT
		     distinct
			 "G0XMGLJB"
		FROM "_SYS_BIC"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY/H1AM_KY_ZH_1000_02"
	 </select>
	 
	 
	 
	 <!--  报表名称:资产类别    H1AM_KY_ZH_1000_04-->
     <resultMap id="dicAssetTypeResultMap" type="com.pcitc.base.hana.report.DicAssetType" >
       <result column="G0ZZDXZC" property="g0ZZDXZC"    jdbcType="VARCHAR" />
       <result column="G0ZDXZCT" property="g0ZDXZCT"  jdbcType="VARCHAR" />
       <result column="G0ZSJZC"  property="g0ZSJZC"   jdbcType="VARCHAR" />
     </resultMap>
	 <select id="getDicAssetTypeList" resultMap="dicAssetTypeResultMap">
	    SELECT  G0ZZDXZC,
			 "G0ZDXZCT",
			 G0ZSJZC
		FROM "_SYS_BIC"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY/H1AM_KY_ZH_1000_04" 
	 </select>
	 
	 	 
	 <!-- 报表名称:供应商: H1AM_KY_ZH_1000_05-->
     <resultMap id="dicSupplyerResultMap" type="com.pcitc.base.hana.report.DicSupplyer" >
       <result column="G0LAND1"  property="g0LAND1" jdbcType="VARCHAR" />
       <result column="G0MCOD3"  property="g0MCOD3" jdbcType="VARCHAR" />
       <result column="G0LIFNR"  property="g0LIFNR" jdbcType="VARCHAR" />
       <result column="G0NAME1"  property="g0NAME1" jdbcType="VARCHAR" />
       <result column="G0GSDM"   property="g0GSDM"  jdbcType="VARCHAR" />
       <result column="G0GSJC"   property="g0GSJC"  jdbcType="VARCHAR" />
       <result column="G0ADRNR"  property="g0ADRNR"  jdbcType="VARCHAR" />
       <result column="G0TELF1"  property="g0TELF1"  jdbcType="VARCHAR" />
       <result column="G0TELFX"  property="g0TELFX"  jdbcType="VARCHAR" />
     </resultMap>
     
      <sql id="selectConditionDicSupplyer">
	   <trim prefix="WHERE" prefixOverrides="AND|OR"> 
	     <if test="g0NAME1 != null   and g0NAME1  !='' ">         AND G0NAME1 like '%${g0NAME1}%' </if>
	     <if test="g0MCOD3 != null   and g0MCOD3  !='' ">         AND G0MCOD3 like '%${g0MCOD3}%'  </if>
	     <if test="sqlStr != null   and sqlStr !='' ">        ${sqlStr}</if>
	 </trim>
	</sql>
	<select id="getDicSupplyerList" resultMap="dicSupplyerResultMap" parameterType="com.pcitc.base.hana.report.DicSupplyer">
	     SELECT
		 distinct
			 "G0LAND1",
			 "G0MCOD3",
			 "G0SORTL",
			 "G0LIFNR",
			 "G0NAME1",
			 "G0KTOKK",
			 "G0GSDM"
		FROM "_SYS_BIC"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY/H1AM_KY_ZH_1000_05" 
		<include refid="selectConditionDicSupplyer" /> 
	 </select>
	 
	 
	 <select id="getDicSupplyerList_table" resultMap="dicSupplyerResultMap"  parameterType="java.util.Map" >
	 SELECT
		 "G0LAND1",
		 "G0MCOD3",
		 "G0SORTL",
		 "G0LIFNR",
		 "G0NAME1",
		 "G0KTOKK",
		 "G0GSDM",
		 "G0GSJC",
		 "G0ADRNR",
		 "G0TELF1",
		 "G0TELFX"
	FROM "_SYS_BIC"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY/H1AM_KY_ZH_1000_05"('PLACEHOLDER' = ('$$PR_GSDM$$',
		 '${companyCode}'))  where "G0KTOKK" not in ('SK97','SK98')
	GROUP BY "G0LAND1",
		 "G0MCOD3",
		 "G0SORTL",
		 "G0LIFNR",
		 "G0NAME1",
		 "G0KTOKK",
		 "G0GSDM",
		 "G0GSJC",
		 "G0ADRNR",
		 "G0TELF1",
		 "G0TELFX"
		<include refid="selectConditionDicSupplyer" /> 
		<if test="pageSize != null and pageSize !=''">  limit ${pageSize} offset  ${start} </if>   
	 </select>
	 
	 
	  <select id="getDicSupplyCount" resultType="int" parameterType="java.util.Map"  >
	  SELECT COUNT(*) FROM(
	      SELECT
		 "G0LAND1",
		 "G0MCOD3",
		 "G0SORTL",
		 "G0LIFNR",
		 "G0NAME1",
		 "G0KTOKK",
		 "G0GSDM",
		 "G0GSJC",
		 "G0ADRNR",
		 "G0TELF1",
		 "G0TELFX"
	FROM "_SYS_BIC"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY/H1AM_KY_ZH_1000_05"('PLACEHOLDER' = ('$$PR_GSDM$$',
		 '${companyCode}'))  where "G0KTOKK" not in ('SK97','SK98')
	GROUP BY "G0LAND1",
		 "G0MCOD3",
		 "G0SORTL",
		 "G0LIFNR",
		 "G0NAME1",
		 "G0KTOKK",
		 "G0GSDM",
		 "G0GSJC",
		 "G0ADRNR",
		 "G0TELF1",
		 "G0TELFX"
		<include refid="selectConditionDicSupplyer" /> 
		)
	 </select>
	 
	 
	 
	 
	 <!-- 获取ERP 信息 -->
	 
	 
	 
	  <resultMap id="ERPResultMap"  type="com.pcitc.base.hana.report.ErpInfo" >
       <result column="G0YEARXM"    property="g0YEARXM" jdbcType="VARCHAR" />
       <result column="G0GSDM"      property="g0GSDM" jdbcType="VARCHAR" />
       <result column="G0GSJC"      property="g0GSJC" jdbcType="VARCHAR" />
       <result column="G0PROJCODE"  property="g0PROJCODE" jdbcType="VARCHAR" />
       <result column="G0PROJTXT"   property="g0PROJTXT" jdbcType="VARCHAR" />
       <result column="G0XMLXMS"    property="g0XMLXMS"  jdbcType="VARCHAR" />
     </resultMap>
     
      <sql id="selectConditionERP">
	     <if test="g0PROJTXT != null   and g0PROJTXT  !='' ">         AND G0PROJTXT like '%${g0PROJTXT}%' </if>
	     <if test="g0GSJC != null   and g0GSJC  !='' ">               AND G0GSJC like    '%${g0GSJC}%' </if>
	     <if test="g0YEARXM != null   and g0YEARXM  !='' ">           AND G0YEARXM =     '${g0YEARXM}' </if>
	     <if test="g0PROJCODE != null   and g0PROJCODE  !='' ">       AND G0PROJCODE =   '${g0PROJCODE}' </if>
	     <if test="sqlStr != null   and sqlStr !='' ">                ${sqlStr}</if>
	</sql>
	
    <select id="getErpInfoList" resultMap="ERPResultMap"  parameterType="java.util.Map" >
	    SELECT
	       "G0YEARXM", 
	         "G0GSDM",   
		     "G0GSJC",  
		     "G0PROJCODE",
		     "G0PROJTXT",  
		     "G0XMLXMS"    
		FROM "H"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY::H1AM_KY_ZH_0000_01.H1AM_KY_ZH_1000_02" 
		WHERE ("G0STUFE" = '1' 
	    AND "G0XMDL" = 'Z')
		<include refid="selectConditionERP" /> 
		<if test="pageSize != null and pageSize !=''">  limit ${pageSize} offset  ${start} </if>   
	 </select>
	 
	  <select id="getErpInfoCount" resultType="int" parameterType="java.util.Map"  >
	  SELECT COUNT(*) FROM(
	     SELECT
       "G0YEARXM", 
         "G0GSDM",  
	     "G0GSJC",   
	     "G0PROJCODE",
	     "G0PROJTXT",  
	     "G0XMLXMS"   
	FROM "H"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY::H1AM_KY_ZH_0000_01.H1AM_KY_ZH_1000_02" 
	WHERE ("G0STUFE" = '1' 
	    AND "G0XMDL" = 'Z')
		<include refid="selectConditionERP" /> 
		)
	 </select>
	 
	 
	 
	 
	  <!-- 获取ERP 信息  END-->
	 
	 
	 <resultMap id="dicSupplyer_stp_ResultMap" type="com.pcitc.base.stp.equipment.SreSupplier" >
        <result column="supplierCode"  property="supplierCode" jdbcType="VARCHAR" />
	    <result column="supplierName"  property="supplierName" jdbcType="VARCHAR" />
	    <result column="cityName"      property="cityName" jdbcType="VARCHAR" />
	    <result column="mobile"        property="mobile" jdbcType="VARCHAR" />
	    <result column="fix"           property="fix" jdbcType="VARCHAR" />
	    <result column="address"       property="address" jdbcType="VARCHAR" />
	    <result column="unitCode"      property="unitCode" jdbcType="VARCHAR" />
	    <result column="unitName"      property="unitName" jdbcType="VARCHAR" />
     </resultMap>
     
    <sql id="selectConditionDic_stp_Supplyer">
	   <trim prefix="WHERE" prefixOverrides="AND|OR"> 
	     "G0KTOKK" not in ('SK97','SK98')
	     <if test="supplierName != null   and supplierName  !='' "> AND G0NAME1 like '%${supplierName}%' </if>
	     <if test="cityName != null   and cityName  !='' ">         AND G0MCOD3 like '%${cityName}%'  </if>
	     <if test="sqlStr != null   and sqlStr !='' ">              ${sqlStr}</if>
	 </trim>
	</sql>
	
	
	 
    <select id="getDicSupplyListByIds" resultMap="dicSupplyer_stp_ResultMap"  parameterType="java.util.Map" >
       SELECT
		 "G0LAND1" AS country,
		 "G0MCOD3" AS cityName,
		 "G0LIFNR" AS supplierCode,
		 "G0NAME1" AS  supplierName,
		 "G0GSDM"  AS unitCode,
		 "G0GSJC"  AS unitName,
		 "G0ADRNR" AS  address,
		 "G0TELF1"  AS mobile,
		 "G0TELFX"  AS fix
	FROM "_SYS_BIC"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY/H1AM_KY_ZH_1000_05"('PLACEHOLDER' = ('$$PR_GSDM$$',
		 '${companyCode}'))  <include refid="selectConditionDic_stp_Supplyer" />  
	GROUP BY "G0LAND1",
		 "G0MCOD3",
		 "G0SORTL",
		 "G0LIFNR",
		 "G0NAME1",
		 "G0KTOKK",
		 "G0GSDM",
		 "G0GSJC",
		 "G0ADRNR",
		 "G0TELF1",
		 "G0TELFX"
      
      
     </select>
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 <resultMap id="sporjectCodeResultMap" type="com.pcitc.base.hana.report.ProjectCode" >
	   <!-- 项目类型 -->
       <result column="G0XMGLLX" property="g0XMGLLX" jdbcType="VARCHAR" />
       <!-- 项目来源 -->
       <result column="G0XMGLLY" property="g0XMGLLY" jdbcType="VARCHAR" />
       <!-- 项目类别 -->
       <result column="G0XMLX"   property="g0XMLX"   jdbcType="VARCHAR" />
       <!--管理级别 -->
       <result column="G0XMGLJB" property="g0XMGLJB" jdbcType="VARCHAR" />
     </resultMap>
	 <select id="getCodeH1AM_KY_ZH_1000_06" resultMap="porjectCodeResultMap" parameterType="java.util.Map">
       SELECT
		     distinct
		     "${type}"
		FROM "_SYS_BIC"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY/H1AM_KY_ZH_1000_06"('PLACEHOLDER' = ('$$PR_CALMONTH$$',
              '${month}'))
	 </select>
	 
	 
	  <select id="getCodeDicBase" resultMap="H1AMKYZH100006BaseResultMap" >
        SELECT
		distinct "G0XMGLLX", "G0XMGLLY", "G0XMLX", "G0XMGLJB"
		FROM "H"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY::H1AM_KY_ZH_0000_01.H1AM_KY_ZH_1000_02" 
		WHERE "G0STUFE" = 1
	 </select>
	 
	 
	 <select id="selectErpProjectListByPage" resultType="java.util.Map"
		parameterType="java.util.Map">
		SELECT
		"G0YEARXM",
		"G0GSDM",
		"G0GSJC",
		"G0PROJCODE",
		"G0PROJTXT",
		"G0PROJCTXT",
		"G0WBSCODE",
		"G0WBSTXT",
		"G0WBSCTXT",
		"G0XMLX",
		"G0XMLXMS",
		"G0XMZT",
		"G0XMZTMS",
		"G0STUFE"
		FROM
		"H"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY::H1AM_KY_ZH_0000_01.H1AM_KY_ZH_1000_02"
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="G0PROJCODE != null  and G0PROJCODE !=''  "> AND G0PROJCODE like '%${G0PROJCODE}%'</if>
			<if test="G0PROJTXT != null   and G0PROJTXT !=''  "> AND G0PROJTXT like '%${G0PROJTXT}%'</if>
			<if test="G0GSDM != null   and G0GSDM !='' "> AND G0GSDM like '%${G0GSDM}%'</if>
			<if test="G0CON != null   and G0CON !='' "> AND G0STUFE = 1 </if>
		</trim>
		<if test="page != null and page !=''"> limit ${limit} offset ${page} </if>
	</select>

	<select id="selectErpProjectListCount" resultType="java.lang.Integer"
		parameterType="java.util.Map">
		SELECT count(*)
		FROM
		"H"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY::H1AM_KY_ZH_0000_01.H1AM_KY_ZH_1000_02"
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="G0PROJCODE != null  and G0PROJCODE !=''  "> AND G0PROJCODE like '%${G0PROJCODE}%'</if>
			<if test="G0PROJTXT != null   and G0PROJTXT !=''  "> AND G0PROJTXT like '%${G0PROJTXT}%'</if>
			<if test="G0GSDM != null   and G0GSDM !='' "> AND G0GSDM like '%${G0GSDM}%'</if>
			<if test="G0CON != null   and G0CON !='' "> AND G0STUFE = 1 </if>
		</trim>
	</select>
	 
	 

</mapper>