<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pcitc.mapper.groupinformation.BlocScientificPlanMapper">


    <resultMap id="BaseResultMap" type="com.pcitc.base.groupinformation.BlocScientificPlan">


        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="publication" jdbcType="VARCHAR" property="publication"/>
        <result column="annual" jdbcType="TIMESTAMP" property="annual"/>
        <result column="pubdate" jdbcType="TIMESTAMP" property="pubdate"/>
        <result column="accessory" jdbcType="VARCHAR" property="accessory"/>
        <result column="deleted" jdbcType="VARCHAR" property="deleted"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="create_user" jdbcType="VARCHAR" property="creator"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="update_user" jdbcType="VARCHAR" property="updator"/>
        <result column="report_type" jdbcType="VARCHAR" property="reportType"/>
        <result column="name_text" jdbcType="VARCHAR" property="nameText"/>
        <result column="create_unit_id" jdbcType="VARCHAR" property="createUnitId"/>
        <result column="create_unit_name" jdbcType="VARCHAR" property="createUnitName"/>
        <result column="secret_level" jdbcType="VARCHAR" property="secretLevel"/>
        <result column="secret_level_text" jdbcType="VARCHAR" property="secretLevelText"/>

    </resultMap>

    <sql id="Base_Column_List">
        id,
        `name`,
        publication,
        annual,
        pubdate,
        accessory,
        deleted,
        create_date,
        create_user,
        update_date,
        update_user,
        report_type,
        create_unit_id,
        create_unit_name,
        secret_level

  </sql>
    <select id="load" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from bloc_scientific_plan where id = #{id,jdbcType=VARCHAR} and deleted != '1'
    </select>


    <update id="delete" parameterType="java.lang.String">
            update bloc_scientific_plan set deleted = '1' where id = #{id}
    </update>


    <insert id="add" parameterType="com.pcitc.base.groupinformation.BlocScientificPlan">
    insert into bloc_scientific_plan (
       id,
      `name`,
       publication,
       annual,
       pubdate,
       accessory,
       deleted,
       create_date,
       create_user,
       update_date,
       update_user,
       report_type,
       create_unit_id,
       create_unit_name,
       secret_level

       )
    values (
      #{id},
      #{name},
      #{publication},
      #{annual},
      #{pubdate},
      #{accessory},
      #{deleted},
      #{createDate},
      #{creator},
      #{updateDate},
      #{updator},
      #{reportType},
      #{createUnitId},
      #{createUnitName},
      #{secretLevel}

      )

  </insert>

    <select id="query" parameterType="java.util.Map" resultMap="BaseResultMap">
        select * from view_bloc_scientific_plan where 1=1
        and deleted != '1'
        <include refid="selectByParam"/>


        <if test="userSecretLevel != null and userSecretLevel !=''  ">
            AND secret_level &lt;= #{userSecretLevel}
        </if>
    </select>


    <select id="query_COUNT" parameterType="java.util.Map" resultType="Long">
        select count(*) from bloc_scientific_plan where 1=1
        and deleted != '1'
        <include refid="selectByParam"/>

        <if test="userSecretLevel != null and userSecretLevel !=''  ">
            AND secret_level &lt;= #{userSecretLevel}
        </if>
    </select>

    <sql id="selectByParam">

        <if test="name != null  ">
            and `name` like CONCAT('%',#{name},'%')
        </if>

        <if test="publication != null and publication != '' ">
            and publication = #{publication}
        </if>

        <if test="annual != null  ">
            and substring(annual,1,7) = #{annual}
        </if>

        <if test="pubdate != null ">
            and pubdate = #{pubdate}
        </if>

        <if test=" accessory != null and  accessory != '' ">
            and accessory = #{ accessory}
        </if>

        <if test="reportType != null and reportType != ''">
            and report_type = #{reportType}
        </if>

        <if test="createUnitId != null  and createUnitId != ''  ">
            and create_unit_id = #{createUnitId}
        </if>

        <if test="createUnitName != null  and createUnitName != ''  ">
            and create_unit_name like CONCAT('%',#{createUnitName},'%')
        </if>

        <if test="childUnitIds != null  and childUnitIds !=''  ">
            AND create_unit_id in
            <foreach item="item" collection="childUnitIds.split(',')" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="secretLevel != null and secretLevel != ''">
            and secret_level = #{secretLevel}
        </if>

    </sql>


    <update id="update" parameterType="com.pcitc.base.groupinformation.BlocScientificPlan">

        update bloc_scientific_plan

        <trim prefix="SET" suffixOverrides=",">

            <if test="name != null  ">
                name = #{name},
            </if>
            <if test="publication != null and publication != '' ">
                publication = #{publication},
            </if>
            <if test="annual != null">
                annual = #{annual},
            </if>
            <if test="pubdate != null ">
                pubdate = #{pubdate},
            </if>
            <if test=" accessory != null and  accessory != '' ">
                accessory = #{ accessory},
            </if>

            <if test="deleted != null">
                deleted = #{deleted},
            </if>
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
            <if test="creator != null">
                create_user = #{creator},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate},
            </if>
            <if test="updator != null">
                update_user = #{updator},
            </if>

            <if test="reportType != null and reportType != ''">
                report_type = #{reportType},
            </if>

            <if test="createUnitId != null and createUnitId != '' ">
                create_unit_id = #{createUnitId},
            </if>
            <if test="createUnitName != null  and createUnitName != ''">
                create_unit_name = #{createUnitName},
            </if>

            <if test="secretLevel != null and secretLevel != ''">
                secret_level = #{secretLevel}
            </if>

        </trim>
        where id = #{id}
    </update>

</mapper>