<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pcitc.mapper.laboratory.LaboratoryBaseMapper">

    <resultMap id="BaseResultMap" type="com.pcitc.base.laboratory.LaboratoryBase">

        <id column="data_id" jdbcType="VARCHAR" property="dataId"/>
        <result column="org_name" jdbcType="VARCHAR" property="orgName"/>
        <result column="dependent_unit" jdbcType="VARCHAR" property="dependentUnit"/>
        <result column="org_name_desc" jdbcType="LONGVARCHAR" property="orgNameDesc"/>
        <result column="laboratory_director" jdbcType="VARCHAR" property="laboratoryDirector"/>
        <result column="director_desc" jdbcType="LONGVARCHAR" property="directorDesc"/>
        <result column="plan_desc" jdbcType="LONGVARCHAR" property="planDesc"/>
        <result column="achievement_desc" jdbcType="LONGVARCHAR" property="achievementDesc"/>
        <result column="achievement_transformation" jdbcType="LONGVARCHAR" property="achievementTransformation"/>
        <result column="sys_flag" jdbcType="VARCHAR" property="sysFlag"/>
        <result column="data_order" jdbcType="INTEGER" property="dataOrder"/>
        <result column="del_flag" jdbcType="INTEGER" property="delFlag"/>
        <result column="create_date" jdbcType="VARCHAR" property="createDate"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="create_user_disp" jdbcType="VARCHAR" property="createUserDisp"/>
        <result column="modify_date" jdbcType="VARCHAR" property="modifyDate"/>
        <result column="modify_user" jdbcType="VARCHAR" property="modifyUser"/>
        <result column="modify_user_disp" jdbcType="VARCHAR" property="modifyUserDisp"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="audit_status" jdbcType="VARCHAR" property="auditStatus"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
        <result column="update_date" jdbcType="VARCHAR" property="updateDate"/>
        <result column="bak1" jdbcType="VARCHAR" property="bak1"/>
        <result column="bak2" jdbcType="VARCHAR" property="bak2"/>
        <result column="bak3" jdbcType="VARCHAR" property="bak3"/>
        <result column="bak4" jdbcType="VARCHAR" property="bak4"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        data_id,
        org_name,
        dependent_unit,
        org_name_desc,
        laboratory_director,
        director_desc,
        plan_desc,
        achievement_desc,
        achievement_transformation,
        sys_flag,
        data_order,
        del_flag,
        create_date,
        create_user,
        create_user_disp,
        modify_date,
        modify_user,
        modify_user_disp,
        status,
        audit_status,
        update_user,
        update_date,
        bak1,
        bak2,
        bak3,
        bak4
</sql>

    <select id="selectByExample" parameterType="com.pcitc.base.laboratory.LaboratoryBaseExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from laboratory_base
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="limit != null">
            <if test="offset != null">
                limit ${offset}, ${limit}
            </if>
            <if test="offset == null">
                limit ${limit}
            </if>
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from laboratory_base
        where data_id = #{dataId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from laboratory_base
        where data_id = #{dataId,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteByExample" parameterType="com.pcitc.base.laboratory.LaboratoryBaseExample">
        delete from laboratory_base
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.pcitc.base.laboratory.LaboratoryBase">
        insert into laboratory_base (
            data_id,
            org_name,
            dependent_unit,
            org_name_desc,
            laboratory_director,
            director_desc,
            plan_desc,
            achievement_desc,
            achievement_transformation,
            sys_flag,
            data_order,
            del_flag,
            create_date,
            create_user,
            create_user_disp,
            modify_date,
            modify_user,
            modify_user_disp,
            status,
            audit_status,
            update_user,
            update_date,
            bak1,
            bak2,
            bak3,
            bak4
        )
        values (

    #{dataId,jdbcType=VARCHAR},
    #{orgName,jdbcType=VARCHAR},
    #{dependentUnit,jdbcType=VARCHAR},
    #{orgNameDesc,jdbcType=LONGVARCHAR},
    #{laboratoryDirector,jdbcType=VARCHAR},
    #{directorDesc,jdbcType=LONGVARCHAR},
    #{planDesc,jdbcType=LONGVARCHAR},
    #{achievementDesc,jdbcType=LONGVARCHAR},
    #{achievementTransformation,jdbcType=LONGVARCHAR},
    #{sysFlag,jdbcType=VARCHAR},
    #{dataOrder,jdbcType=INTEGER},
    #{delFlag,jdbcType=INTEGER},
    #{createDate,jdbcType=VARCHAR},
    #{createUser,jdbcType=VARCHAR},
    #{createUserDisp,jdbcType=VARCHAR},
    #{modifyDate,jdbcType=VARCHAR},
    #{modifyUser,jdbcType=VARCHAR},
    #{modifyUserDisp,jdbcType=VARCHAR},
    #{status,jdbcType=VARCHAR},
    #{auditStatus,jdbcType=VARCHAR},
    #{updateUser,jdbcType=VARCHAR},
    #{updateDate,jdbcType=VARCHAR},
    #{bak1,jdbcType=VARCHAR},
    #{bak2,jdbcType=VARCHAR},
    #{bak3,jdbcType=VARCHAR},
    #{bak4,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.pcitc.base.laboratory.LaboratoryBase">
        insert into laboratory_base
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="dataId != null">
                data_id,
            </if>
            <if test="orgName != null">
                org_name,
            </if>
            <if test="dependentUnit != null">
                dependent_unit,
            </if>
            <if test="orgNameDesc != null">
                org_name_desc,
            </if>
            <if test="laboratoryDirector != null">
                laboratory_director,
            </if>
            <if test="directorDesc != null">
                director_desc,
            </if>
            <if test="planDesc != null">
                plan_desc,
            </if>
            <if test="achievementDesc != null">
                achievement_desc,
            </if>
            <if test="achievementTransformation != null">
                achievement_transformation,
            </if>
            <if test="sysFlag != null">
                sys_flag,
            </if>
            <if test="dataOrder != null">
                data_order,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="createUserDisp != null">
                create_user_disp,
            </if>
            <if test="modifyDate != null">
                modify_date,
            </if>
            <if test="modifyUser != null">
                modify_user,
            </if>
            <if test="modifyUserDisp != null">
                modify_user_disp,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="auditStatus != null">
                audit_status,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
            <if test="bak1 != null">
                bak1,
            </if>
            <if test="bak2 != null">
                bak2,
            </if>
            <if test="bak3 != null">
                bak3,
            </if>
            <if test="bak4 != null">
                bak4
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">


            <if test="dataId != null">
                #{dataId ,jdbcType=VARCHAR},
            </if>
            <if test="orgName != null">
                #{orgName ,jdbcType=VARCHAR},
            </if>
            <if test="dependentUnit != null">
                #{dependentUnit ,jdbcType=VARCHAR},
            </if>
            <if test="orgNameDesc != null">
                #{orgNameDesc ,jdbcType=LONGVARCHAR},
            </if>
            <if test="laboratoryDirector != null">
                #{laboratoryDirector ,jdbcType=VARCHAR},
            </if>
            <if test="directorDesc != null">
                #{directorDesc ,jdbcType=LONGVARCHAR},
            </if>
            <if test="planDesc != null">
                #{planDesc ,jdbcType=LONGVARCHAR},
            </if>
            <if test="achievementDesc != null">
                #{achievementDesc ,jdbcType=LONGVARCHAR},
            </if>
            <if test="achievementTransformation != null">
                #{achievementTransformation ,jdbcType=LONGVARCHAR},
            </if>
            <if test="sysFlag != null">
                #{sysFlag ,jdbcType=VARCHAR},
            </if>
            <if test="dataOrder != null">
                #{dataOrder ,jdbcType=INTEGER},
            </if>
            <if test="delFlag != null">
                #{delFlag ,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                #{createDate ,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                #{createUser ,jdbcType=VARCHAR},
            </if>
            <if test="createUserDisp != null">
                #{createUserDisp ,jdbcType=VARCHAR},
            </if>
            <if test="modifyDate != null">
                #{modifyDate ,jdbcType=VARCHAR},
            </if>
            <if test="modifyUser != null">
                #{modifyUser ,jdbcType=VARCHAR},
            </if>
            <if test="modifyUserDisp != null">
                #{modifyUserDisp ,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status ,jdbcType=VARCHAR},
            </if>
            <if test="auditStatus != null">
                #{auditStatus ,jdbcType=VARCHAR},
            </if>
            <if test="updateUser != null">
                #{updateUser ,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                #{updateDate ,jdbcType=VARCHAR},
            </if>
            <if test="bak1 != null">
                #{bak1 ,jdbcType=VARCHAR},
            </if>
            <if test="bak2 != null">
                #{bak2 ,jdbcType=VARCHAR},
            </if>
            <if test="bak3 != null">
                #{bak3 ,jdbcType=VARCHAR},
            </if>
            <if test="bak4 != null">
                #{bak4 ,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.pcitc.base.laboratory.LaboratoryBaseExample" resultType="java.lang.Long">
        select count(*) from laboratory_base
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update laboratory_base
        <set>

            <if test="record.dataId != null">
                data_id=#{record.dataId,jdbcType=VARCHAR},
            </if>
            <if test="record.orgName != null">
                org_name=#{record.orgName,jdbcType=VARCHAR},
            </if>
            <if test="record.dependentUnit != null">
                dependent_unit=#{record.dependentUnit,jdbcType=VARCHAR},
            </if>
            <if test="record.orgNameDesc != null">
                org_name_desc=#{record.orgNameDesc,jdbcType=LONGVARCHAR},
            </if>
            <if test="record.laboratoryDirector != null">
                laboratory_director=#{record.laboratoryDirector,jdbcType=VARCHAR},
            </if>
            <if test="record.directorDesc != null">
                director_desc=#{record.directorDesc,jdbcType=LONGVARCHAR},
            </if>
            <if test="record.planDesc != null">
                plan_desc=#{record.planDesc,jdbcType=LONGVARCHAR},
            </if>
            <if test="record.achievementDesc != null">
                achievement_desc=#{record.achievementDesc,jdbcType=LONGVARCHAR},
            </if>
            <if test="record.achievementTransformation != null">
                achievement_transformation=#{record.achievementTransformation,jdbcType=LONGVARCHAR},
            </if>
            <if test="record.sysFlag != null">
                sys_flag=#{record.sysFlag,jdbcType=VARCHAR},
            </if>
            <if test="record.dataOrder != null">
                data_order=#{record.dataOrder,jdbcType=INTEGER},
            </if>
            <if test="record.delFlag != null">
                del_flag=#{record.delFlag,jdbcType=INTEGER},
            </if>
            <if test="record.createDate != null">
                create_date=#{record.createDate,jdbcType=VARCHAR},
            </if>
            <if test="record.createUser != null">
                create_user=#{record.createUser,jdbcType=VARCHAR},
            </if>
            <if test="record.createUserDisp != null">
                create_user_disp=#{record.createUserDisp,jdbcType=VARCHAR},
            </if>
            <if test="record.modifyDate != null">
                modify_date=#{record.modifyDate,jdbcType=VARCHAR},
            </if>
            <if test="record.modifyUser != null">
                modify_user=#{record.modifyUser,jdbcType=VARCHAR},
            </if>
            <if test="record.modifyUserDisp != null">
                modify_user_disp=#{record.modifyUserDisp,jdbcType=VARCHAR},
            </if>
            <if test="record.status != null">
                status=#{record.status,jdbcType=VARCHAR},
            </if>
            <if test="record.auditStatus != null">
                audit_status=#{record.auditStatus,jdbcType=VARCHAR},
            </if>
            <if test="record.updateUser != null">
                update_user=#{record.updateUser,jdbcType=VARCHAR},
            </if>
            <if test="record.updateDate != null">
                update_date=#{record.updateDate,jdbcType=VARCHAR},
            </if>
            <if test="record.bak1 != null">
                bak1=#{record.bak1,jdbcType=VARCHAR},
            </if>
            <if test="record.bak2 != null">
                bak2=#{record.bak2,jdbcType=VARCHAR},
            </if>
            <if test="record.bak3 != null">
                bak3=#{record.bak3,jdbcType=VARCHAR},
            </if>
            <if test="record.bak4 != null">
                bak4=#{record.bak4,jdbcType=VARCHAR}
            </if>

        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update laboratory_base
        set
        data_id=#{record.dataId,jdbcType=VARCHAR},
        org_name=#{record.orgName,jdbcType=VARCHAR},
        dependent_unit=#{record.dependentUnit,jdbcType=VARCHAR},
        org_name_desc=#{record.orgNameDesc,jdbcType=LONGVARCHAR},
        laboratory_director=#{record.laboratoryDirector,jdbcType=VARCHAR},
        director_desc=#{record.directorDesc,jdbcType=LONGVARCHAR},
        plan_desc=#{record.planDesc,jdbcType=LONGVARCHAR},
        achievement_desc=#{record.achievementDesc,jdbcType=LONGVARCHAR},
        achievement_transformation=#{record.achievementTransformation,jdbcType=LONGVARCHAR},
        sys_flag=#{record.sysFlag,jdbcType=VARCHAR},
        data_order=#{record.dataOrder,jdbcType=INTEGER},
        del_flag=#{record.delFlag,jdbcType=INTEGER},
        create_date=#{record.createDate,jdbcType=VARCHAR},
        create_user=#{record.createUser,jdbcType=VARCHAR},
        create_user_disp=#{record.createUserDisp,jdbcType=VARCHAR},
        modify_date=#{record.modifyDate,jdbcType=VARCHAR},
        modify_user=#{record.modifyUser,jdbcType=VARCHAR},
        modify_user_disp=#{record.modifyUserDisp,jdbcType=VARCHAR},
        status=#{record.status,jdbcType=VARCHAR},
        audit_status=#{record.auditStatus,jdbcType=VARCHAR},
        update_user=#{record.updateUser,jdbcType=VARCHAR},
        update_date=#{record.updateDate,jdbcType=VARCHAR},
        bak1=#{record.bak1,jdbcType=VARCHAR},
        bak2=#{record.bak2,jdbcType=VARCHAR},
        bak3=#{record.bak3,jdbcType=VARCHAR},
        bak4=#{record.bak4,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.pcitc.base.laboratory.LaboratoryBase">
        update laboratory_base
        <set>

            <if test="orgName != null">
                org_name=#{orgName ,jdbcType=VARCHAR},
            </if>
            <if test="dependentUnit != null">
                dependent_unit=#{dependentUnit ,jdbcType=VARCHAR},
            </if>
            <if test="orgNameDesc != null">
                org_name_desc=#{orgNameDesc ,jdbcType=LONGVARCHAR},
            </if>
            <if test="laboratoryDirector != null">
                laboratory_director=#{laboratoryDirector ,jdbcType=VARCHAR},
            </if>
            <if test="directorDesc != null">
                director_desc=#{directorDesc ,jdbcType=LONGVARCHAR},
            </if>
            <if test="planDesc != null">
                plan_desc=#{planDesc ,jdbcType=LONGVARCHAR},
            </if>
            <if test="achievementDesc != null">
                achievement_desc=#{achievementDesc ,jdbcType=LONGVARCHAR},
            </if>
            <if test="achievementTransformation != null">
                achievement_transformation=#{achievementTransformation ,jdbcType=LONGVARCHAR},
            </if>
            <if test="sysFlag != null">
                sys_flag=#{sysFlag ,jdbcType=VARCHAR},
            </if>
            <if test="dataOrder != null">
                data_order=#{dataOrder ,jdbcType=INTEGER},
            </if>
            <if test="delFlag != null">
                del_flag=#{delFlag ,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                create_date=#{createDate ,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                create_user=#{createUser ,jdbcType=VARCHAR},
            </if>
            <if test="createUserDisp != null">
                create_user_disp=#{createUserDisp ,jdbcType=VARCHAR},
            </if>
            <if test="modifyDate != null">
                modify_date=#{modifyDate ,jdbcType=VARCHAR},
            </if>
            <if test="modifyUser != null">
                modify_user=#{modifyUser ,jdbcType=VARCHAR},
            </if>
            <if test="modifyUserDisp != null">
                modify_user_disp=#{modifyUserDisp ,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status=#{status ,jdbcType=VARCHAR},
            </if>
            <if test="auditStatus != null">
                audit_status=#{auditStatus ,jdbcType=VARCHAR},
            </if>
            <if test="updateUser != null">
                update_user=#{updateUser ,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                update_date=#{updateDate ,jdbcType=VARCHAR},
            </if>
            <if test="bak1 != null">
                bak1=#{bak1 ,jdbcType=VARCHAR},
            </if>
            <if test="bak2 != null">
                bak2=#{bak2 ,jdbcType=VARCHAR},
            </if>
            <if test="bak3 != null">
                bak3=#{bak3 ,jdbcType=VARCHAR},
            </if>
            <if test="bak4 != null">
                bak4=#{bak4 ,jdbcType=VARCHAR}
            </if>
        </set>
        where data_id = #{dataId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.pcitc.base.laboratory.LaboratoryBase">
        update laboratory_base
        set
            org_name=#{orgName,jdbcType=VARCHAR},
            dependent_unit=#{dependentUnit,jdbcType=VARCHAR},
            org_name_desc=#{orgNameDesc,jdbcType=LONGVARCHAR},
            laboratory_director=#{laboratoryDirector,jdbcType=VARCHAR},
            director_desc=#{directorDesc,jdbcType=LONGVARCHAR},
            plan_desc=#{planDesc,jdbcType=LONGVARCHAR},
            achievement_desc=#{achievementDesc,jdbcType=LONGVARCHAR},
            achievement_transformation=#{achievementTransformation,jdbcType=LONGVARCHAR},
            sys_flag=#{sysFlag,jdbcType=VARCHAR},
            data_order=#{dataOrder,jdbcType=INTEGER},
            del_flag=#{delFlag,jdbcType=INTEGER},
            create_date=#{createDate,jdbcType=VARCHAR},
            create_user=#{createUser,jdbcType=VARCHAR},
            create_user_disp=#{createUserDisp,jdbcType=VARCHAR},
            modify_date=#{modifyDate,jdbcType=VARCHAR},
            modify_user=#{modifyUser,jdbcType=VARCHAR},
            modify_user_disp=#{modifyUserDisp,jdbcType=VARCHAR},
            status=#{status,jdbcType=VARCHAR},
            audit_status=#{auditStatus,jdbcType=VARCHAR},
            update_user=#{updateUser,jdbcType=VARCHAR},
            update_date=#{updateDate,jdbcType=VARCHAR},
            bak1=#{bak1,jdbcType=VARCHAR},
            bak2=#{bak2,jdbcType=VARCHAR},
            bak3=#{bak3,jdbcType=VARCHAR},
            bak4=#{bak4,jdbcType=VARCHAR}
        where data_id = #{dataId,jdbcType=VARCHAR}
    </update>
    <!-- 分页查询 -->
    <select id="findSysFileKindByPage" parameterType="com.pcitc.base.laboratory.LaboratoryBase" resultMap="BaseResultMap">

        select
        data_id,
        org_name,
        dependent_unit,
        org_name_desc,
        laboratory_director,
        director_desc,
        plan_desc,
        achievement_desc,
        achievement_transformation,
        sys_flag,
        data_order,
        del_flag,
        create_date,
        create_user,
        create_user_disp,
        modify_date,
        modify_user,
        modify_user_disp,
        status,
        audit_status,
        update_user,
        update_date,
        bak1,
        bak2,
        bak3,
        bak4
        from laboratory_base
        where 1=1
        <if test="dataId!=null and dataId!=''.toString()">
            and data_id like '%${dataId}%'
        </if>
        <if test="orgName!=null and orgName!=''.toString()">
            and org_name like '%${orgName}%'
        </if>
        <if test="dependentUnit!=null and dependentUnit!=''.toString()">
            and dependent_unit like '%${dependentUnit}%'
        </if>
        <if test="orgNameDesc!=null and orgNameDesc!=''.toString()">
            and org_name_desc like '%${orgNameDesc}%'
        </if>
        <if test="laboratoryDirector!=null and laboratoryDirector!=''.toString()">
            and laboratory_director like '%${laboratoryDirector}%'
        </if>
        <if test="directorDesc!=null and directorDesc!=''.toString()">
            and director_desc like '%${directorDesc}%'
        </if>
        <if test="planDesc!=null and planDesc!=''.toString()">
            and plan_desc like '%${planDesc}%'
        </if>
        <if test="achievementDesc!=null and achievementDesc!=''.toString()">
            and achievement_desc like '%${achievementDesc}%'
        </if>
        <if test="achievementTransformation!=null and achievementTransformation!=''.toString()">
            and achievement_transformation like '%${achievementTransformation}%'
        </if>
        <if test="sysFlag!=null and sysFlag!=''.toString()">
            and sys_flag like '%${sysFlag}%'
        </if>
        <if test="dataOrder!=null and dataOrder!=''.toString()">
            and data_order like '%${dataOrder}%'
        </if>
        <if test="delFlag!=null and delFlag!=''.toString()">
            and del_flag like '%${delFlag}%'
        </if>
        <if test="createDate!=null and createDate!=''.toString()">
            and create_date like '%${createDate}%'
        </if>
        <if test="createUser!=null and createUser!=''.toString()">
            and create_user like '%${createUser}%'
        </if>
        <if test="createUserDisp!=null and createUserDisp!=''.toString()">
            and create_user_disp like '%${createUserDisp}%'
        </if>
        <if test="modifyDate!=null and modifyDate!=''.toString()">
            and modify_date like '%${modifyDate}%'
        </if>
        <if test="modifyUser!=null and modifyUser!=''.toString()">
            and modify_user like '%${modifyUser}%'
        </if>
        <if test="modifyUserDisp!=null and modifyUserDisp!=''.toString()">
            and modify_user_disp like '%${modifyUserDisp}%'
        </if>
        <if test="status!=null and status!=''.toString()">
            and status like '%${status}%'
        </if>
        <if test="auditStatus!=null and auditStatus!=''.toString()">
            and audit_status like '%${auditStatus}%'
        </if>
        <if test="updateUser!=null and updateUser!=''.toString()">
            and update_user like '%${updateUser}%'
        </if>
        <if test="updateDate!=null and updateDate!=''.toString()">
            and update_date like '%${updateDate}%'
        </if>
        <if test="bak1!=null and bak1!=''.toString()">
            and bak1 like '%${bak1}%'
        </if>
        <if test="bak2!=null and bak2!=''.toString()">
            and bak2 like '%${bak2}%'
        </if>
        <if test="bak3!=null and bak3!=''.toString()">
            and bak3 like '%${bak3}%'
        </if>
        <if test="bak4!=null and bak4!=''.toString()">
            and bak4 like '%${bak4}%'
        </if>

        <if test="iSortCol!=null and iSortCol!=''.toString()">
            order by ${iSortCol} ${sSortDir_0}
        </if>
    </select>
    <!-- 查询列表 -->
    <select id="findLaboratoryBaseList" parameterType="com.pcitc.base.laboratory.LaboratoryBase" resultMap="BaseResultMap">
        select
        data_id,
        org_name,
        dependent_unit,
        org_name_desc,
        laboratory_director,
        director_desc,
        plan_desc,
        achievement_desc,
        achievement_transformation,
        sys_flag,
        data_order,
        del_flag,
        create_date,
        create_user,
        create_user_disp,
        modify_date,
        modify_user,
        modify_user_disp,
        status,
        audit_status,
        update_user,
        update_date,
        bak1,
        bak2,
        bak3,
        bak4
        from laboratory_base
        where 1=1
        <if test="dataId!=null">
            and data_id = #{dataId,jdbcType=VARCHAR}
        </if>
        <if test="orgName!=null">
            and org_name = #{orgName,jdbcType=VARCHAR}
        </if>
        <if test="dependentUnit!=null">
            and dependent_unit = #{dependentUnit,jdbcType=VARCHAR}
        </if>
        <if test="orgNameDesc!=null">
            and org_name_desc = #{orgNameDesc,jdbcType=VARCHAR}
        </if>
        <if test="laboratoryDirector!=null">
            and laboratory_director = #{laboratoryDirector,jdbcType=VARCHAR}
        </if>
        <if test="directorDesc!=null">
            and director_desc = #{directorDesc,jdbcType=VARCHAR}
        </if>
        <if test="planDesc!=null">
            and plan_desc = #{planDesc,jdbcType=VARCHAR}
        </if>
        <if test="achievementDesc!=null">
            and achievement_desc = #{achievementDesc,jdbcType=VARCHAR}
        </if>
        <if test="achievementTransformation!=null">
            and achievement_transformation = #{achievementTransformation,jdbcType=VARCHAR}
        </if>
        <if test="sysFlag!=null">
            and sys_flag = #{sysFlag,jdbcType=VARCHAR}
        </if>
        <if test="dataOrder!=null">
            and data_order = #{dataOrder,jdbcType=VARCHAR}
        </if>
        <if test="delFlag!=null">
            and del_flag = #{delFlag,jdbcType=VARCHAR}
        </if>
        <if test="createDate!=null">
            and create_date = #{createDate,jdbcType=VARCHAR}
        </if>
        <if test="createUser!=null">
            and create_user = #{createUser,jdbcType=VARCHAR}
        </if>
        <if test="createUserDisp!=null">
            and create_user_disp = #{createUserDisp,jdbcType=VARCHAR}
        </if>
        <if test="modifyDate!=null">
            and modify_date = #{modifyDate,jdbcType=VARCHAR}
        </if>
        <if test="modifyUser!=null">
            and modify_user = #{modifyUser,jdbcType=VARCHAR}
        </if>
        <if test="modifyUserDisp!=null">
            and modify_user_disp = #{modifyUserDisp,jdbcType=VARCHAR}
        </if>
        <if test="status!=null">
            and status = #{status,jdbcType=VARCHAR}
        </if>
        <if test="auditStatus!=null">
            and audit_status = #{auditStatus,jdbcType=VARCHAR}
        </if>
        <if test="updateUser!=null">
            and update_user = #{updateUser,jdbcType=VARCHAR}
        </if>
        <if test="updateDate!=null">
            and update_date = #{updateDate,jdbcType=VARCHAR}
        </if>
        <if test="bak1!=null">
            and bak1 = #{bak1,jdbcType=VARCHAR}
        </if>
        <if test="bak2!=null">
            and bak2 = #{bak2,jdbcType=VARCHAR}
        </if>
        <if test="bak3!=null">
            and bak3 = #{bak3,jdbcType=VARCHAR}
        </if>
        <if test="bak4!=null">
            and bak4 = #{bak4,jdbcType=VARCHAR}
        </if>

        <if test="iSortCol!=null and iSortCol!=''.toString()">
            order by ${iSortCol} ${sSortDir_0}
        </if>
    </select>
</mapper>