<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pcitc.mapper.system.SysCollectMapper" >
  <resultMap id="BaseResultMap" type="com.pcitc.base.system.SysCollect" >
    <id column="data_id" property="dataId" jdbcType="VARCHAR" />
    <result column="collect_url" property="collectUrl" jdbcType="VARCHAR" />
    <result column="collect_name" property="collectName" jdbcType="VARCHAR" />
    <result column="collect_code" property="collectCode" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_code" property="userCode" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="create_person_id" property="createPersonId" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="show_order" property="showOrder" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="is_default" property="isDefault" jdbcType="VARCHAR" />
    <result column="function_id" property="functionId" jdbcType="VARCHAR" />
    <result column="function_code" property="functionCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    data_id, collect_url, collect_name, collect_code, user_id, user_code, user_name, 
    create_person_id, create_date, show_order, status, remarks, update_date, is_default, 
    function_id, function_code
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pcitc.base.system.SysCollectExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from sys_collect
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_collect
    where data_id = #{dataId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_collect
    where data_id = #{dataId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pcitc.base.system.SysCollectExample" >
    delete from sys_collect
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pcitc.base.system.SysCollect" >
    insert into sys_collect (data_id, collect_url, collect_name, 
      collect_code, user_id, user_code, 
      user_name, create_person_id, create_date, 
      show_order, status, remarks, 
      update_date, is_default, function_id, 
      function_code)
    values (#{dataId,jdbcType=VARCHAR}, #{collectUrl,jdbcType=VARCHAR}, #{collectName,jdbcType=VARCHAR}, 
      #{collectCode,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{userCode,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{createPersonId,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{showOrder,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{isDefault,jdbcType=VARCHAR}, #{functionId,jdbcType=VARCHAR}, 
      #{functionCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pcitc.base.system.SysCollect" >
    insert into sys_collect
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dataId != null" >
        data_id,
      </if>
      <if test="collectUrl != null" >
        collect_url,
      </if>
      <if test="collectName != null" >
        collect_name,
      </if>
      <if test="collectCode != null" >
        collect_code,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userCode != null" >
        user_code,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="createPersonId != null" >
        create_person_id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="showOrder != null" >
        show_order,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="isDefault != null" >
        is_default,
      </if>
      <if test="functionId != null" >
        function_id,
      </if>
      <if test="functionCode != null" >
        function_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dataId != null" >
        #{dataId,jdbcType=VARCHAR},
      </if>
      <if test="collectUrl != null" >
        #{collectUrl,jdbcType=VARCHAR},
      </if>
      <if test="collectName != null" >
        #{collectName,jdbcType=VARCHAR},
      </if>
      <if test="collectCode != null" >
        #{collectCode,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userCode != null" >
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="createPersonId != null" >
        #{createPersonId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="showOrder != null" >
        #{showOrder,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDefault != null" >
        #{isDefault,jdbcType=VARCHAR},
      </if>
      <if test="functionId != null" >
        #{functionId,jdbcType=VARCHAR},
      </if>
      <if test="functionCode != null" >
        #{functionCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pcitc.base.system.SysCollectExample" resultType="java.lang.Integer" >
    select count(*) from sys_collect
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_collect
    <set >
      <if test="record.dataId != null" >
        data_id = #{record.dataId,jdbcType=VARCHAR},
      </if>
      <if test="record.collectUrl != null" >
        collect_url = #{record.collectUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.collectName != null" >
        collect_name = #{record.collectName,jdbcType=VARCHAR},
      </if>
      <if test="record.collectCode != null" >
        collect_code = #{record.collectCode,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.userCode != null" >
        user_code = #{record.userCode,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null" >
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.createPersonId != null" >
        create_person_id = #{record.createPersonId,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.showOrder != null" >
        show_order = #{record.showOrder,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDefault != null" >
        is_default = #{record.isDefault,jdbcType=VARCHAR},
      </if>
      <if test="record.functionId != null" >
        function_id = #{record.functionId,jdbcType=VARCHAR},
      </if>
      <if test="record.functionCode != null" >
        function_code = #{record.functionCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_collect
    set data_id = #{record.dataId,jdbcType=VARCHAR},
      collect_url = #{record.collectUrl,jdbcType=VARCHAR},
      collect_name = #{record.collectName,jdbcType=VARCHAR},
      collect_code = #{record.collectCode,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      user_code = #{record.userCode,jdbcType=VARCHAR},
      user_name = #{record.userName,jdbcType=VARCHAR},
      create_person_id = #{record.createPersonId,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      show_order = #{record.showOrder,jdbcType=INTEGER},
      status = #{record.status,jdbcType=VARCHAR},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      is_default = #{record.isDefault,jdbcType=VARCHAR},
      function_id = #{record.functionId,jdbcType=VARCHAR},
      function_code = #{record.functionCode,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pcitc.base.system.SysCollect" >
    update sys_collect
    <set >
      <if test="collectUrl != null" >
        collect_url = #{collectUrl,jdbcType=VARCHAR},
      </if>
      <if test="collectName != null" >
        collect_name = #{collectName,jdbcType=VARCHAR},
      </if>
      <if test="collectCode != null" >
        collect_code = #{collectCode,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userCode != null" >
        user_code = #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="createPersonId != null" >
        create_person_id = #{createPersonId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="showOrder != null" >
        show_order = #{showOrder,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDefault != null" >
        is_default = #{isDefault,jdbcType=VARCHAR},
      </if>
      <if test="functionId != null" >
        function_id = #{functionId,jdbcType=VARCHAR},
      </if>
      <if test="functionCode != null" >
        function_code = #{functionCode,jdbcType=VARCHAR},
      </if>
    </set>
    where data_id = #{dataId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pcitc.base.system.SysCollect" >
    update sys_collect
    set collect_url = #{collectUrl,jdbcType=VARCHAR},
      collect_name = #{collectName,jdbcType=VARCHAR},
      collect_code = #{collectCode,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      user_code = #{userCode,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      create_person_id = #{createPersonId,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      show_order = #{showOrder,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      is_default = #{isDefault,jdbcType=VARCHAR},
      function_id = #{functionId,jdbcType=VARCHAR},
      function_code = #{functionCode,jdbcType=VARCHAR}
    where data_id = #{dataId,jdbcType=VARCHAR}
  </update>
</mapper>