<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcitc.mapper.system.SysLogMapper">
  <resultMap id="BaseResultMap" type="com.pcitc.base.system.SysLog">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="log_time" jdbcType="TIMESTAMP" property="logTime" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="log_ip" jdbcType="VARCHAR" property="logIp" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="log_type" jdbcType="VARCHAR" property="logType" />
    <result column="request_type" jdbcType="VARCHAR" property="requestType" />
    <result column="log_url" jdbcType="VARCHAR" property="logUrl" />
    <result column="opt_describe" jdbcType="VARCHAR" property="optDescribe" />
    <result column="opt_result" jdbcType="VARCHAR" property="optResult" />
    <result column="opt_error" jdbcType="VARCHAR" property="optError" />
    <result column="unit_name" jdbcType="VARCHAR" property="unitName" />
    <result column="user_company" jdbcType="VARCHAR" property="userCompany" />
    <result column="user_type" jdbcType="VARCHAR" property="userType" />
    <result column="unit_id" jdbcType="VARCHAR" property="unitId" /> 
    
  </resultMap>
  <sql id="Base_Column_List">
    id, log_time, user_id, user_name, log_ip, remarks, log_type, request_type, log_url, 
    opt_describe, opt_result, opt_error, unit_name, user_company, user_type,unit_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_log
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_log
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.pcitc.base.system.SysLog" useGeneratedKeys="true">
    insert into sys_log (id,log_time, user_id, user_name, 
      log_ip, remarks, log_type, 
      request_type, log_url, opt_describe, 
      opt_result, opt_error, unit_name, 
      user_company, user_type,unit_id)
    values (
      #{id,jdbcType=VARCHAR},
      #{logTime,jdbcType=TIMESTAMP}, #{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{logIp,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{logType,jdbcType=VARCHAR}, 
      #{requestType,jdbcType=VARCHAR}, #{logUrl,jdbcType=VARCHAR}, #{optDescribe,jdbcType=VARCHAR}, 
      #{optResult,jdbcType=VARCHAR}, #{optError,jdbcType=VARCHAR}, #{unitName,jdbcType=VARCHAR}, 
      #{userCompany,jdbcType=VARCHAR}, #{userType,jdbcType=VARCHAR}, #{unitId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.pcitc.base.system.SysLog" useGeneratedKeys="true">
    insert into sys_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
    
      <if test="id != null">
        id,
      </if>
      <if test="logTime != null">
        log_time,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="logIp != null">
        log_ip,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="logType != null">
        log_type,
      </if>
      <if test="requestType != null">
        request_type,
      </if>
      <if test="logUrl != null">
        log_url,
      </if>
      <if test="optDescribe != null">
        opt_describe,
      </if>
      <if test="optResult != null">
        opt_result,
      </if>
      <if test="optError != null">
        opt_error,
      </if>
      <if test="unitName != null">
        unit_name,
      </if>
      <if test="userCompany != null">
        user_company,
      </if>
      <if test="userType != null">
        user_type,
      </if>
      <if test="unitId != null">
        unit_id,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
    
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="logTime != null">
        #{logTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="logIp != null">
        #{logIp,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="logType != null">
        #{logType,jdbcType=VARCHAR},
      </if>
      <if test="requestType != null">
        #{requestType,jdbcType=VARCHAR},
      </if>
      <if test="logUrl != null">
        #{logUrl,jdbcType=VARCHAR},
      </if>
      <if test="optDescribe != null">
        #{optDescribe,jdbcType=VARCHAR},
      </if>
      <if test="optResult != null">
        #{optResult,jdbcType=VARCHAR},
      </if>
      <if test="optError != null">
        #{optError,jdbcType=VARCHAR},
      </if>
      <if test="unitName != null">
        #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="userCompany != null">
        #{userCompany,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=VARCHAR},
      </if>
      <if test="unitId != null">
        #{unitId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pcitc.base.system.SysLog">
    update sys_log
    <set>
      <if test="logTime != null">
        log_time = #{logTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="logIp != null">
        log_ip = #{logIp,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="logType != null">
        log_type = #{logType,jdbcType=VARCHAR},
      </if>
      <if test="requestType != null">
        request_type = #{requestType,jdbcType=VARCHAR},
      </if>
      <if test="logUrl != null">
        log_url = #{logUrl,jdbcType=VARCHAR},
      </if>
      <if test="optDescribe != null">
        opt_describe = #{optDescribe,jdbcType=VARCHAR},
      </if>
      <if test="optResult != null">
        opt_result = #{optResult,jdbcType=VARCHAR},
      </if>
      <if test="optError != null">
        opt_error = #{optError,jdbcType=VARCHAR},
      </if>
      <if test="unitName != null">
        unit_name = #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="userCompany != null">
        user_company = #{userCompany,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        user_type = #{userType,jdbcType=VARCHAR},
      </if>
      <if test="unitId != null">
        unit_id = #{unitId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pcitc.base.system.SysLog">
    update sys_log
    set log_time = #{logTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      log_ip = #{logIp,jdbcType=VARCHAR},
      unit_id = #{unitId,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      log_type = #{logType,jdbcType=VARCHAR},
      request_type = #{requestType,jdbcType=VARCHAR},
      log_url = #{logUrl,jdbcType=VARCHAR},
      opt_describe = #{optDescribe,jdbcType=VARCHAR},
      opt_result = #{optResult,jdbcType=VARCHAR},
      opt_error = #{optError,jdbcType=VARCHAR},
      unit_name = #{unitName,jdbcType=VARCHAR},
      user_company = #{userCompany,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  
  
  
  
  
    
   <sql id="selectCondition">
	   <trim prefix="WHERE" prefixOverrides="AND|OR"> 
	     <if test="userName != null and userName  !='' ">              AND t.user_name like CONCAT('%',#{userName},'%')</if>
	     <if test="userId != null      and userId !=''  ">           AND t.user_id = #{userId}</if>
	      <if test="logType != null      and logType !=''  ">           AND t.log_type = #{logType}</if>
	     <if test="userType != null       and userType !=''  ">         AND t.user_type = #{userType}</if>
	     <if test="userCompany != null     and userCompany !=''  ">       AND t.user_company = #{userCompany}</if>
	     <if test="unitId != null        and unitId !=''  ">          AND t.unit_id = #{unitId}</if>
	     <if test="unitName != null        and unitName !=''  ">          AND t.unit_name = #{unitName}</if>
	     <if test="beginTime != null     and beginTime !=''  ">       AND DATE_FORMAT(t.`log_time`,'%Y-%m-%d') &gt;= #{beginTime}</if>
	     <if test="endTime != null     and endTime !=''  ">           AND DATE_FORMAT(t.`log_time`,'%Y-%m-%d') &lt;= #{endTime}</if>
         <if test="optResult != null       and optResult !=''">         AND t.opt_result = #{optResult}</if>
         <if test="logName != null       and logName !=''">         AND t.user_name = #{logName}</if>
         <if test="logIp != null       and logIp !=''">         AND t.log_ip = #{logIp}</if>
         <if test="userTypes != null       and userTypes !=''"> 
           AND t.user_type in 
	           <foreach item="item"  collection="userTypes.split(',')"  open="(" separator="," close=")">
			          #{item}
			   </foreach>
			   
         </if>
	 </trim>
	</sql>
	
   <select id="getList" resultMap="BaseResultMap" parameterType="Map" >
     select * from sys_log  t <include refid="selectCondition" />    
     <choose>
      <when test="orderBySql != null and orderBySql !=''">${orderBySql}</when>
      <otherwise>
        ORDER BY  log_time desc
      </otherwise>
     </choose>
     <if test="pageSize != null and pageSize !=''"> limit #{start},#{pageSize} </if>   
   </select>
   
    <select id="getCount" resultType="java.lang.Integer" parameterType="Map" >
      SELECT count(*) FROM sys_log t <include refid="selectCondition"/>
    </select>
  
  
  
</mapper>