.layout-view-content{
  background-color: #001e38;
  padding: 1rem;
  padding-bottom: .5rem;
  height: 100%;
}
.chart-layout.jscWeb {
  height: 100%;
}
.left-date-block {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 9;
}
.left-date-block .layui-input-inline {
  width: 120px;
}
.left-date-block .layui-form-label > .text{
  color: #fff;
}
.left-date-block .laydate-input {
  border-radius: 3px;
  border-color: #00EAFF;
  color: #00EAFF;
  padding-left: 34px;
  padding-right: 10px;
  background: #041E36 url('../../img/date_icon.png') .4rem center no-repeat;
  background-size: auto 70%;
}

.top-chart-layout {
  height: 44%;
  font-size: 0;
}
.bottom-chart-layout {
  height: 56%;
  padding-top: .5rem;
  font-size: 0;
}
.chart-item-layout{
  display: inline-block;
  vertical-align: top;
  width: 26%;
  height: 100%;
}
.sub_title_text {
  font-size: 12px;
  color: #3B6C9A;
  padding-left: .4rem;
}


/* 成果鉴定 */
.achieve_appraisal .appraisal_one {
  width: 48%;
  padding-right: 2rem;
}
.achieve_appraisal .appraisal_four {
  width: 100%;
}

/* 成果转化 */
.achieve_transform .appraisal_one,
.achieve_transform .appraisal_three {
  width: 32%;
  padding: 0;
}
.achieve_transform .appraisal_two,
.achieve_transform .appraisal_four{
  width: 68%;
  padding-left: 2rem;
}

/* 成果报奖 */
.achieve_award .appraisal_one,
.achieve_award .appraisal_two{
  /* width: 30%; */
  padding-right: 2rem;
}
.achieve_award .appraisal_three {
  width: 48%;
}
.achieve_award .appraisal_four {
  width: 74%;
  padding-right: 2rem;
}

/* 科技人才 */
.intelligent_team .appraisal_one {
  width: 40%;
  padding-right: 2rem;
}
.intelligent_team .appraisal_two {
  width: 32%;
  padding-right: 2rem;
}
.intelligent_team .appraisal_three {
  width: 28%;
}
.intelligent_team .appraisal_four {
  width: 100%;
}

/* 质量信息 */
.quality .layout-view-content {
  padding-right: 0;
}
.quality .top-chart-layout{
  height: 56%;
}
.quality .bottom-chart-layout {
  height: 44%;
}
.quality .chart-item-layout {
  width: 33.33%;
  padding-right: 2rem;
}

/* 质量经验 */
.quality_experience .top-chart-layout {
  height: 100%;
}
.quality_experience .chart-item-layout {
  width: 50%;
}
.quality_experience .chart-title-layout{
  text-align: center;
}
