.layout-view-content {
  background-color: #001e38;
  padding: 0 1rem .5rem;
  height: 100%;
}

.chart-layout.jscWeb {
  height: 100%;
}

.left-date-block {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 9;
}

.left-date-block .layui-input-inline {
  width: 120px;
}

.left-date-block .layui-form-label>.text {
  color: #fff;
}

.left-date-block .laydate-input {
  border-radius: 3px;
  border-color: #00EAFF;
  color: #00EAFF;
  padding-left: 34px;
  padding-right: 10px;
  background: #041E36 url('../../img/date_icon.png') .4rem center no-repeat;
  background-size: auto 60%;
}

.top-chart-layout {
  height: 44%;
  font-size: 0;
}

.bottom-chart-layout {
  height: 56%;
  padding-top: .8rem;
  font-size: 0;
}

.chart-item-layout {
  display: inline-block;
  vertical-align: top;
  width: 26%;
  height: 100%;
}

.sub_title_text {
  font-size: 12px;
  color: #3B6C9A;
  padding-left: .4rem;
}

/* 知识产权 */
.zscq_content .chartsBox1 {
  width: 35%;
  padding-right: 3rem;
}

.zscq_content .chartsBox2 {
  width: 65%;
  padding-right: 1.5rem;
}

.zscq_content .chartsBox3 {
  width: 100%;
  padding-right: 1.5rem;
}

/* 成果鉴定 */
.achieve_appraisal .appraisal_one {
  width: 48%;
  padding-right: 2rem;
}

.achieve_appraisal .appraisal_four {
  width: 100%;
}

/* 成果转化 */
.achieve_transform .appraisal_one,
.achieve_transform .appraisal_three {
  width: 32%;
  padding: 0;
}

.achieve_transform .appraisal_two,
.achieve_transform .appraisal_four {
  width: 68%;
  padding-left: 2rem;
}

/* 成果报奖 */
.achieve_award .top-chart-layout {
  height: 52%;
}

.achieve_award .bottom-chart-layout {
  height: 48%;
}

.achieve_award .appraisal_one,
.achieve_award .appraisal_two {
  /* width: 30%; */
  padding-right: 2rem;
}

.achieve_award .appraisal_three {
  width: 48%;
}

.achieve_award .appraisal_four {
  width: 74%;
  padding-right: 2rem;
}

/* 科技人才 */
.intelligent_team .appraisal_one {
  width: 40%;
  padding-right: 2rem;
}

.intelligent_team .appraisal_two {
  width: 32%;
  padding-right: 2rem;
}

.intelligent_team .appraisal_three {
  width: 28%;
}

.intelligent_team .appraisal_four {
  width: 100%;
}

/* 科研平台 */
.kypt_content .chart-item-layout {
  width: 25%;
}

.kypt_content .kyptCharts5 {
  width: 100%;
}

.kypt_content .bottom-chart-layout {
  padding-top: 1.5rem;
}

/* 质量信息 */
.quality .scroll-layout,
.quality .scroll-object,
.quality .scroll-object>li {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.quality .scroll-layout {
  overflow: hidden;
  position: relative;
}

.quality .scroll-object {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  position: relative;
  width: 200%;
  left: 0;
  transition: left .36s ease-out;
}

.quality .scroll-object>li {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.quality .scroll-btn {
  position: absolute;
  top: 50%;
  width: 2rem;
  height: 3rem;
  margin-top: -1rem;
  z-index: 999;
  cursor: pointer;
  background: rgba(0, 0, 0, .3) url('../../img/right.png') center center no-repeat;
  background-size: auto 40%;
  transition: all .18s ease-out;
  display: none;
}

.quality .scroll-btn.left {
  left: .5rem;
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.quality .scroll-btn.right {
  right: .5rem;
}

.quality .scroll-btn.active {
  display: block;
}

.quality .scroll-btn:hover {
  background-color: rgba(0, 0, 0, .5);
}

.quality .layout-view-content {
  padding-right: 1rem;
  padding-left: 2.5rem;
}

.quality .top-chart-layout {
  height: 56%;
}

.quality .bottom-chart-layout {
  height: 44%;
}

.quality .chart-item-layout {
  width: 33.33%;
  padding-right: 2rem;
}

.quality ul.left-date-block {
  width: 100%;
  font-size: 0;
  white-space: nowrap;
  background-color: #093D6D;
}

.quality ul.left-date-block li {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  width: 50%;
  padding: 0 .5rem;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
}

.quality ul.left-date-block .item-value {
  display: inline-block;
  vertical-align: top;
  max-width: 1.5rem;
  text-align: right;
}

.quality ul.left-date-block .dot-text {
  display: inline-block;
  vertical-align: top;
  width: 6px;
}

.quality ul.left-date-block .item-text {
  display: inline-block;
  vertical-align: top;
  max-width: calc(100% - 2rem - 6px);
  /* white-space: normal; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


/* 质量经验 */
.quality_experience .top-chart-layout {
  height: 100%;
}

.quality_experience .chart-item-layout {
  width: 50%;
}

.quality_experience .chart-title-layout {
  text-align: center;
}


/* 饼图图例最小宽度 */
.pie-legend-list .legend-item>.lenend-item-name {
  min-width: 64px;
}

.quality_experience .pie-legend-list {
  white-space: normal;
  height: 44%;
}

.quality_experience .pie-legend-list .legend-item {
  margin: 0;
  padding-bottom: 1rem;
  width: 50%;
  padding-left: 1.2rem;
  white-space: nowrap;
}

.quality_experience .pie-legend-list .legend-item>.lenend-item-name {
  width: calc(100% - 4rem);
}

.chart-mask {
  height: 1rem;
  font-size: 12px;
}

.chart-mask-item {
  box-sizing: content-box;
  display: inline-block;
  height: 0.5rem;
  margin: 0.25rem 0;
  width: 18%;
}

.chart-mask-item span {
  display: inline-block;
  float: left;
  width: 70%;
  height: 100%;
}

.chart-mask-item .chart-mask-item-left {
  width: 30%;
}

.chart-mask-item .chart-mask-item-right {
  color: #3B6C9A;
  line-height: 0.5rem;
  padding-left: 4px;
}

.chart-mask .chart-mask-item:nth-of-type(1) .chart-mask-item-left {
  background-image: linear-gradient(#FE486D, #FFA164);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#FE486D, endColorstr=#FFA164)";
}
.chart-mask .chart-mask-item:nth-of-type(2) .chart-mask-item-left {
  background-image: linear-gradient(#6E03E5, #AE3AFF);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#6E03E5, endColorstr=#AE3AFF)";
}
.chart-mask .chart-mask-item:nth-of-type(3) .chart-mask-item-left {
  background-image: linear-gradient(#00C8DD, #07EDE2);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#00C8DD, endColorstr=#07EDE2)";
}
.chart-mask .chart-mask-item:nth-of-type(4) .chart-mask-item-left {
  background-image: linear-gradient(#FFC600, #FFEA00);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#FFC600, endColorstr=#FFEA00)";
}
.chart-mask .chart-mask-item:nth-of-type(5) .chart-mask-item-left {
  background-image: linear-gradient(#0AFF16, #A1FF01);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#0AFF16, endColorstr=#A1FF01)";
}

.chart-data-empty {
  color: #fff;
  text-align: center;
  background-color: rgba(255, 255, 255, .03);
}


/*成果管理*/
.color-gj {
  background: #D86436;
}

.color-sb{
  background: #EBDD51;
}

.color-jt {
  background: #306BF0;
}

.color-sh {
  background: #0DA8D4;
}

.chart-item-layout {
  padding-left: 2rem;
}

.top-left-content {
  width: 60%;
}

.top-right-content {
  width: 40%;
}

#achieve-award .content-title{
  position: relative;
  width: 30%;
}

#achieve-award .text {
  position: absolute;
  left: 10px;
  color: #44A5FF;
  font-size: 1rem;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2rem;
  line-height: 2rem;
}

#achieve-award .rectangle {
  border: 1px solid;
  height: 2rem;
  transform: skewX(-15deg);
  width: 4rem;
  border-image: -webkit-linear-gradient(to right, #4BB5FF , #327CAD, rgba(75, 181, 255, 0.4), rgb(0, 30, 56)) 1;
  border-image: -moz-linear-gradient(to right, #4BB5FF , #327CAD, rgba(75, 181, 255, 0.4), rgb(0, 30, 56)) 1;
  border-image: linear-gradient(to right, #4BB5FF , #327CAD, rgba(75, 181, 255, 0.4), rgb(0, 30, 56)) 1;
  border-right: none;
  position: absolute;
  top: 0;
  left: 0;
}

.count-year-title {
  display: flex;
}

.count-year-title ul li{
  height: 2rem;
  line-height: 2rem;
  font-size: 14px;
  color: #ffffff;
  display: inline-block;
  padding: 0 30px;
  position: relative;
  cursor: pointer;
}

.count-year-title ul li .award-rectangle {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 29%;
}

.achieve-detail {
  padding: 0 2rem;
  width: 100%;
  height: 100%;
  padding-bottom: 0.6rem;
}

.achieve-detail-table {
  height: calc(100% - 60px);
  width: 100%;
  margin-top: 60px;
  overflow: auto;
  box-sizing: border-box;
}

.achieve-detail-table table {
  width: 100%;
}

.achieve-detail-table table tr{
  border:1px solid rgba(30,83,137,0.4);
  height: 46px;
  line-height: 46px;
}

.achieve-detail-table table tr th, .achieve-detail-table table tr td {
  border: none;
  font-family:PingFang SC;
  font-size:14px;
  color:rgba(255,255,255,1);
  text-align: center;
}

.achieve-detail-table table tr th{
  font-weight:600;
}

.achieve-detail-table table tr td{
  font-weight:400;
}

