* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body { overflow: auto; }
.main_layout_block {
    height: 100%;
    font-size: 0;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    background: url('../../img/header_bottom_bg.png') center top no-repeat;
    background-size: 110% auto;
}
.main_layout_block > .main_cols {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    white-space: normal;
    padding-top: 2rem;
}
.main_layout_block > .main_cols.left {
    width: 31%;
    padding-left: 2rem;
}
.main_layout_block > .main_cols.center {
    width: 32%;
    padding-left: .5rem;
}
.main_layout_block > .main_cols.right {
    width: 37%;
    padding-left: 4rem;
    padding-right: 2rem;
}
.main_cols.left .item-layout{
   height: 32%; 
}
.main_cols.left .item-layout:first-child {
    height: 34%;
}
.main_cols .page-layout-title{
    margin-left: -1rem;
}
.kypt_charts, .achieve_charts{
    height: calc(100% - 3rem);
    margin-right: 1rem;
    max-width: 22rem;
}
.patent_charts, .progress-layout{
    height: calc(100% - 3rem);
}
.kyxm_charts{
    margin-top: .4rem;
    height: calc(100% - 3rem);
}

.kypt_charts .pie-legend-list .legend-item > .lenend-item-name,
.achieve_charts .pie-legend-list .legend-item > .lenend-item-name {
    min-width: 100px;
}
.pie-legend-list > .ib-block {
    padding-top: .6rem;
}

.main_cols.center .item-layout.top{
    height: 34%;
    padding-left: 1rem;
}
.main_cols.right .item-layout.top {
    height: 40%;
    padding-left: 1rem;
}
.main_cols.center .item-layout.middle{
    height: 40%;
    padding-left: 1rem;
}
.main_cols.right .item-layout.middle {
    height: 34%;
    padding-left: 1rem;
}
.main_cols.center .item-layout.bottom,
.main_cols.right .item-layout.bottom {
    height: 26%;
    padding-left: 1rem;
}
.main_cols.center .card_item_list {
    padding-top: 1rem;
}
.progress-layout > table {
    color: #fff;
    font-size: .7rem;
    max-width: 100%;
}
.progress-layout > table > tbody tr td {
    height: 2rem;
}
.progress-layout > table > tbody > tr:first-child td {
    height: 1rem;
}
.progress-layout td.item-name {
    white-space: nowrap;
    text-align: right;
}
.progress-layout .progress-bar {
    width: 50%;
    padding: 0 .6rem;
}
.progress-layout .number-text{
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: .5rem;
}
.progress-layout .number-text.title{
    font-size: 12px;
}
.progress-layout .number-text.value {
    font-family: Impact;
}
.progress-layout .number-text.totale {
    color: rgba(51, 85, 117, 1);
    font-family: Impact;
}
.layui-progress-big,
.layui-progress-big .layui-progress-bar {
    border-radius: 9px;
}
.layui-progress-big.layui-progress {
    height: .9rem;
    border-radius: .45rem;
}
.layui-progress-big.layui-progress .layui-progress-bar{
    height: 100%;
    border-radius: .45rem;
    top: 0;
}
.layui-progress.layui-bg-one {
    background: rgba(212, 101, 53, .3);
}
.layui-progress.layui-bg-one .layui-progress-bar {
    background: rgba(212, 101, 53, 1);
}
.layui-progress.layui-bg-two {
    background: rgba(88, 150, 252, .3);
}
.layui-progress.layui-bg-two .layui-progress-bar {
    background: rgba(88, 150, 252, 1);
}
.layui-progress.layui-bg-three {
    background: rgba(158, 222, 211, .3);
}
.layui-progress.layui-bg-three .layui-progress-bar {
    background: rgba(158, 222, 211, 1);
}
.layui-progress.layui-bg-four {
    background: rgba(239, 236, 86, .3);
}
.layui-progress.layui-bg-four .layui-progress-bar {
    background: rgba(239, 236, 86, 1);
}

.page-layout-title {
    display: block;
}
.page-layout-title > .text {
    display: inline-block;
    vertical-align: middle;
    font-size: .8rem;
    font-weight: bold;
    color: #3db3f9;
    min-width: 120px;
    height: 2.2rem;
    line-height: 1.8rem;
    padding: .2rem 0 .2rem 1.2rem;
    background: url(../img/title_bg.png) no-repeat left center;
    background-size: auto 112%;
}
.number_item_list {
    font-size: 0;
    padding-top: .8rem;
}

.number_item_list .item_number {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    color: #fff;
    padding-top: .5rem;
    padding-bottom: .8rem;
}
.number_item_list .item_number .number {
    font-size: 2rem;
    line-height: 1.8rem;
    height: 1.8rem;
    display: inline-block;
    vertical-align: bottom;
    font-family: Impact;
}
.number_item_list .item_number .unit{
    font-size: .7rem;
    line-height: .7rem;
    height: .7rem;
    display: inline-block;
    vertical-align: bottom;
    padding-left: 4px;
}
.number_item_list .item_name_text{
    padding-top: .5rem;
    font-size: .7rem;
    line-height: .8rem;
    height: 1.3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card_item_list {
    overflow: hidden;
}
.card_item_list .card-row {
    margin: 0  -0.4rem;
    white-space: nowrap;
}
.card_item_list .card-item {
    display: inline-block;
    vertical-align: top;
    padding: 0 .4rem;
    width: 25%;
    height: 8.4rem;
    cursor: pointer;
}
.card_item_list .card-item .card-title {
    background-color: #0084ff;
    color: #fff;
    font-size: .8rem;
    font-weight: bold;
    text-align: center;
    height: 1.8rem;
    line-height: 1.8rem;
}
.card_item_list .card-item .card-content {
    text-align: center;
    border: 1px #0084ff solid;
    border-top-width: 0;
    height: calc(100% - 1.8rem);
}
.card_item_list .card-item .card-number-text {
    font-size: 2rem;
    line-height: 1.8rem;
    height: 1.8rem;
    font-family: Impact;
}
.card_item_list .card-item .cart-number-unit{
    display: inline-block;
    vertical-align: top;
    margin-top: .5rem;
    padding: .3rem .5rem 0;
    border-top: 1px #fff solid;
    font-size: .7rem;
}
.card_item_list .orange .card-title {
    background-color: #D89339;
}
.card_item_list .orange .card-content {
    border-color: #D89339;
}
.card_item_list .green .card-title {
    background-color: #31AB09;
}
.card_item_list .green .card-content {
    border-color: #31AB09;
}
.card_item_list .lightBlue .card-title {
    background-color: #25A9CA;
}
.card_item_list .lightBlue .card-content {
    border-color: #25A9CA;
}

/* 科研能力页面 start */

.main_layout_block.kynl_layout {
    background: none;
}
.kynl_layout .kynl_row.top {
    height: 48%;
}
.kynl_layout .kynl_row.bottom {
    height: 52%;
}
.kynl_row.top .item-layout {
    width: 34%;
    height: 100%;
    padding-left: 2rem;
    vertical-align: top;
    display: inline-block;
}
.kynl_row.top .item-layout:last-child {
    width: 66%;
    padding-left: 4rem;
    padding-right: 2rem;
}
.kynl_row.bottom .item-layout {
    padding-left: 2rem;
    height: 100%;
    padding-right: 2rem;
}
.kynl_kjrc_charts, .kynl_kypt_table, .kynl_dwfb_charts {
    height: calc(100% - 3rem);
    margin-top: .5rem;
}
.kynl_layout .tab-btn {
    display: inline-block;
    vertical-align: middle;
    height: 1.5rem;
    line-height: 1.5rem;
    background-color: #4597E1;
    opacity: .3;
    color: #fff;
    text-align: center;
    min-width: 6rem;
    cursor: pointer;
    margin-left: .5rem;
    transition: opacity .24s ease-out;
    font-size: .7rem;
}
.kynl_layout .tab-btn:hover {
    opacity: .5;
}
.kynl_layout .tab-btn.selected,
.kynl_layout .tab-btn.selected:hover {
    opacity: 1;
}
.page-layout-title > .tab-btn:first-child {
    margin-left: 2rem;
}
.kynl_layout table.fixed-layout {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid rgba(0, 159, 226, .2);
    border-width: 1px 1px 0 0;
}
.kynl_layout table.fixed-layout th,
.kynl_layout table.fixed-layout td {
    border: 1px solid rgba(0, 159, 226, .2);
    border-width: 0 0 1px 1px;
    height: 2rem;
    font-size: .8rem;
    font-weight: normal;
    color: #fff;
    background: none;
    padding-left: 2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}
.kynl_layout table.fixed-layout th {
    background: rgba(28, 115, 176, 0.2);
}
.kynl_row.top .item-layout:last-child .page-layout-title {
    margin-left: -0.5rem;
}
.kynl_row .kynl_kypt_table {
    padding-top: 1rem;
}
.kynl_kypt_table table.fixed-layout th.kyptName,
.kynl_kypt_table table.fixed-layout td.kyptName {
    width: 25%;
}
.kynl_kypt_table table.fixed-layout th.nuitName,
.kynl_kypt_table table.fixed-layout td.nuitName {
    width: 32%;
}
.kynl_kypt_table .table-scroll-layout {
    height: calc(100% - 3rem);
    overflow: auto;
}

/* 科研能力页面 end */
