.table-left{
    width: 100%;
	color:#fff;
	top:715px;
	left:120px;
	background-color:rgba(13,59,101,0.2);
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.table-left thead tr{
	background:rgba(0,73,155,1);
}
.table-left thead td,.table-right thead td{
	color:rgba(255,255,255,1);
}
.table-left tbody tr:nth-child(even),.table-right tbody tr:nth-child(even){
	background:rgba(0,73,155,0.4);
    
}
.table-left td,.table-right td{
	height: 2rem;
	line-height: 2rem;
	text-align:center;
	/* width: 115px; */
	font-size: .8rem;
	font-family:'myFont1';
	font-weight: 400;
	color:rgba(255,255,255,1);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.table-left thead td {
	font-weight: bold;
}
.table-left .name,.table-right .name{
	/* width:170px; */
}
.table-right .left{
	text-align:left;
}