<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcitc.mapper.standardmaintain.StandardMaintainMapper">
  <resultMap id="StandardMaintainMap" type="com.pcitc.base.standardmaintain.StandardMaintain">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="plan_num" jdbcType="VARCHAR" property="planNum" />
    <result column="plan_chinese_name" jdbcType="VARCHAR" property="planChineseName" />
    <result column="plan_english_name" jdbcType="VARCHAR" property="planEnglishName" />
    <result column="release_year" jdbcType="VARCHAR" property="releaseYear" />
    <result column="standard_type" jdbcType="VARCHAR" property="standardType" />
    <result column="standard_type_text" jdbcType="VARCHAR" property="standardTypeText" />
    <result column="chief_editor_unit" jdbcType="VARCHAR" property="chiefEditorUnit" />
    <result column="chief_editor_unit_text" jdbcType="VARCHAR" property="chiefEditorUnitText" />
    <result column="partake_editor_unit" jdbcType="VARCHAR" property="partakeEditorUnit" />
    <result column="partake_editor_unit_text" jdbcType="VARCHAR" property="partakeEditorUnitText" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <result column="level_text" jdbcType="VARCHAR" property="levelText" />
    <result column="update_status" jdbcType="VARCHAR" property="updateStatus" />
    <result column="update_status_text" jdbcType="VARCHAR" property="updateStatusText" />
    <result column="file_status" jdbcType="VARCHAR" property="fileStatus" />
    <result column="file_status_text" jdbcType="VARCHAR" property="fileStatusText" />
    <result column="is_publish" jdbcType="VARCHAR" property="isPublish" />
    <result column="is_publish_text" jdbcType="VARCHAR" property="isPublishText" />
    <result column="manage_org" jdbcType="VARCHAR" property="manageOrg" />
    <result column="technical_committee" jdbcType="VARCHAR" property="technicalCommittee" />
    <result column="technical_committee_text" jdbcType="VARCHAR" property="technicalCommitteeText" />
    <result column="putUnder_unit" jdbcType="VARCHAR" property="putUnderUnit" />
    <result column="putUnder_unit_text" jdbcType="VARCHAR" property="putUnderUnitText" />
    <result column="consult_standard" jdbcType="VARCHAR" property="consultStandard" />
    <result column="uniformity_degree" jdbcType="VARCHAR" property="uniformityDegree" />
    <result column="to_replaced_standard" jdbcType="VARCHAR" property="toReplacedStandard" />
    <result column="standard_num" jdbcType="VARCHAR" property="standardNum" />
    <result column="standard_name" jdbcType="VARCHAR" property="standardName" />
    <result column="english_name" jdbcType="VARCHAR" property="englishName" />
    <result column="publish_date" jdbcType="TIMESTAMP" property="publishDate" />
    <result column="effective_date" jdbcType="TIMESTAMP" property="effectiveDate" />
    <result column="is_publish_english_edition" jdbcType="VARCHAR" property="isPublishEnglishEdition" />
    <result column="is_publish_english_edition_text" jdbcType="VARCHAR" property="isPublishEnglishEditionText" />
    <result column="in_research_status" jdbcType="VARCHAR" property="inResearchStatus" />
    <result column="in_research_status_text" jdbcType="VARCHAR" property="inResearchStatusText" />
    <result column="put_under_unit" jdbcType="VARCHAR" property="putUnderUnit" />
    <result column="put_under_unit_text" jdbcType="VARCHAR" property="putUnderUnitText" />
    <result column="replace_standard" jdbcType="VARCHAR" property="replaceStandard" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="update_user" jdbcType="VARCHAR" property="updator"/>
    <result column="deleted" jdbcType="VARCHAR" property="deleted"/>
    <result column="create_user" jdbcType="VARCHAR" property="creator"/>
    <result column="create_unit_id" jdbcType="VARCHAR" property="createUnitId"/>
    <result column="create_unit_name" jdbcType="VARCHAR" property="createUnitName"/>
    <result column="secret_level" jdbcType="VARCHAR" property="secretLevel"/>
    <result column="secret_level_text" jdbcType="VARCHAR" property="secretLevelText"/>
    <result column="knowledge_scope" jdbcType="VARCHAR" property="knowledgeScope"/>
    <result column="knowledge_person" jdbcType="VARCHAR" property="knowledgePerson"/>
  </resultMap>


  <select id="load" parameterType="java.lang.String" resultMap="StandardMaintainMap">
        select  * from view_standard_maintain where id = #{id} and deleted != '1'
    </select>

  <select id="query" parameterType="java.util.Map" resultMap="StandardMaintainMap">
    select  * from view_standard_maintain where 1=1
    and deleted != '1'
    <include refid="selectByParam" />
    order by publish_date desc
  </select>


  <select id="query_COUNT" parameterType="java.util.Map" resultType="Long">
    select  count(*) from standard_maintain where 1=1
    and deleted != '1'
    <include refid="selectByParam" />
  </select>


  <sql id="selectByParam">
    <if test="planNum != null and planNum != '' " >
      and plan_num like CONCAT('%',#{planNum},'%')
    </if>
    <if test="planChineseName != null and planChineseName != '' " >
      and plan_chinese_name like CONCAT('%',#{planChineseName},'%')
    </if>
    <if test="standardNum != null and standardNum != ''" >
      and standard_num like CONCAT('%',#{standardNum},'%')
    </if>
    <if test="standardName != null and standardName != '' ">
      and standard_name like CONCAT('%',#{standardName},'%')
    </if>
    <if test="isPublish != null and isPublish != '' ">
      and is_publish = #{isPublish}
    </if>
    and (secret_level = '0' or (
    secret_level <![CDATA[<=]]> #{userSecretLevel}
    <if test='skipKnowledgeScope=="0"'>
      and FIND_IN_SET(#{userName}, knowledge_scope) &lt; 0
    </if>
    ))

    <if test="childUnitIds != null  and childUnitIds !=''  ">
      AND create_unit_id in
      <foreach item="item"  collection="childUnitIds.split(',')"  open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
  </sql>


  <insert id="add" parameterType="com.pcitc.base.standardmaintain.StandardMaintain">
        insert into standard_maintain(
        id,
        plan_num,
        plan_chinese_name,
        plan_english_name,
        release_year,
        standard_type,
        chief_editor_unit,
        partake_editor_unit,
        level,
        update_status,
        file_status,
        is_publish,
        manage_org,
        technical_committee,
        put_under_unit,
        consult_standard,
        uniformity_degree,
        to_replaced_standard,
        standard_num,
        standard_name,
        english_name,
        publish_date,
        effective_date,
        is_publish_english_edition,
        in_research_status,
        create_user,
        create_date,
        update_date,
        deleted,
        update_user,
        create_unit_id,
        create_unit_name,
        secret_level,
        knowledge_scope,
        knowledge_person,
        replace_standard
        ) values(#{id},#{planNum},#{planChineseName},#{planEnglishName},#{releaseYear},#{standardType},#{chiefEditorUnit},#{partakeEditorUnit},
        #{level},#{updateStatus},#{fileStatus},#{isPublish},#{manageOrg},#{technicalCommittee},#{putUnderUnit},#{consultStandard},#{uniformityDegree},
        #{toReplacedStandard},#{standardNum},#{standardName},#{englishName},#{publishDate},#{effectiveDate},#{isPublishEnglishEdition},#{inResearchStatus},
        #{creator}, #{createDate},#{updateDate},#{deleted},#{updator},#{createUnitId},#{createUnitName},#{secretLevel},#{knowledgeScope},#{knowledgePerson},#{replaceStandard})
    </insert>

  <update id="update" parameterType="com.pcitc.base.standardmaintain.StandardMaintain">
    update standard_maintain
    <trim prefix="SET" suffixOverrides=",">
      <if test="planNum != null and planNum != '' " >
        plan_num = #{planNum},
      </if>
      <if test="planChineseName != null and planChineseName != '' " >
        plan_chinese_name = #{planChineseName},
      </if>
      <if test="planEnglishName != null and planEnglishName != ''" >
        plan_english_name = #{planEnglishName},
      </if>
      <if test="releaseYear != null and releaseYear != ''" >
        release_year = #{releaseYear},
      </if>
      <if test="standardType != null and standardType != '' " >
        standard_type = #{standardType},
      </if>
      <if test="inResearchStatus != null and inResearchStatus != '' " >
        in_research_status = #{inResearchStatus},
      </if>
      <if test="chiefEditorUnit != null and chiefEditorUnit != ''" >
        chief_editor_unit = #{chiefEditorUnit,jdbcType=VARCHAR},
      </if>
      <if test="partakeEditorUnit != null and partakeEditorUnit != ''" >
        partake_editor_unit = #{partakeEditorUnit},
      </if>
      <if test="level != null and level != ''" >
        level = #{level},
      </if>
      <if test="updateStatus != null and updateStatus != ''" >
        update_status = #{updateStatus},
      </if>
      <if test="fileStatus != null and fileStatus != ''" >
        file_status = #{fileStatus},
      </if>
      <if test="isPublish != null and isPublish != ''" >
        is_publish = #{isPublish},
      </if>
      <if test="manageOrg != null and manageOrg != ''" >
        manage_org = #{manageOrg},
      </if>
      <if test="technicalCommittee != null and technicalCommittee != ''" >
        technical_committee = #{technicalCommittee},
      </if>
      <if test="putUnderUnit != null and putUnderUnit != ''" >
        put_under_unit = #{putUnderUnit},
      </if>
      <if test="consultStandard != null and consultStandard != ''" >
        consult_standard = #{consultStandard},
      </if>
      <if test="uniformityDegree != null and uniformityDegree != ''" >
        uniformity_degree = #{uniformityDegree},
      </if>
      <if test="toReplacedStandard != null and toReplacedStandard != ''" >
        to_replaced_standard = #{toReplacedStandard},
      </if>
      <if test="standardNum != null and standardNum != ''" >
        standard_num = #{standardNum},
      </if>
      <if test="standardName != null and standardName != ''" >
        standard_name = #{standardName},
      </if>
      <if test="englishName != null and englishName != ''" >
        english_name = #{englishName},
      </if>
      <if test="publishDate != null" >
        publish_date = #{publishDate},
      </if>
      <if test="effectiveDate != null " >
        effective_date = #{effectiveDate},
      </if>
      <if test="isPublishEnglishEdition != null and isPublishEnglishEdition != ''" >
        is_publish_english_edition = #{isPublishEnglishEdition},
      </if>
      <if test="updateDate != null " >
        update_date = #{updateDate},
      </if>
      <if test="deleted != null and deleted != ''" >
        deleted = #{deleted},
      </if>
      <if test="updator != null and updator != ''" >
        update_user = #{updator},
      </if>
      <if test="createUnitId != null and createUnitId != ''" >
        create_unit_id = #{createUnitId},
      </if>
      <if test="createUnitName != null and createUnitName != ''" >
        create_unit_name = #{createUnitName},
      </if>
      <if test="replaceStandard != null and replaceStandard != ''" >
        replace_standard = #{replaceStandard},
      </if>
    </trim>
    where id = #{id}
  </update>

  <update id="delete" parameterType="java.lang.String">
    update standard_maintain set deleted = '1' where id in
    <foreach item="item"  collection="ids.split(',')"  open="(" separator="," close=")">
      #{item}
    </foreach>
  </update>

</mapper>