<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pcitc.mapper.treatise.TreatiseInfoMapper">

    <resultMap id="TreatiseBaseMap" type="com.pcitc.base.treatiseinfo.TreatiseInfo">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="theme" jdbcType="VARCHAR" property="theme"/>
        <result column="key_word" jdbcType="VARCHAR" property="keyWord"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="author" jdbcType="VARCHAR" property="author"/>
        <result column="unit" jdbcType="VARCHAR" property="unit"/>
        <result column="unit_text" jdbcType="VARCHAR" property="unitText"/>
        <result column="journal_name" jdbcType="VARCHAR" property="journalName"/>
        <result column="journal_level" jdbcType="TIMESTAMP" property="journalLevel"/>
        <result column="journal_level_text" jdbcType="VARCHAR" property="journalLevelText"/>
        <result column="influencing_factors" jdbcType="VARCHAR" property="influencingFactors"/>
        <result column="summary" jdbcType="VARCHAR" property="summary"/>

        <result column="publish_date" jdbcType="TIMESTAMP" property="publishDate"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="update_user" jdbcType="VARCHAR" property="updator"/>
        <result column="deleted" jdbcType="VARCHAR" property="deleted"/>
        <result column="create_user" jdbcType="VARCHAR" property="creator"/>
        <result column="create_unit_id" jdbcType="VARCHAR" property="createUnitId"/>
        <result column="create_unit_name" jdbcType="VARCHAR" property="createUnitName"/>
        <result column="secret_level" jdbcType="VARCHAR" property="secretLevel"/>
        <result column="secret_level_text" jdbcType="VARCHAR" property="secretLevelText"/>
        <result column="knowledge_scope" jdbcType="VARCHAR" property="knowledgeScope"/>
        <result column="knowledge_person" jdbcType="VARCHAR" property="knowledgePerson"/>

    </resultMap>


    <sql id="TreatiseBase_Column_List">
        id,
        theme,
        key_word,
        title,
        author,
        unit,
        journal_name,
        journal_level,
        influencing_factors,
        summary,
        publish_date,
        create_date,
        create_user,
        update_date,
        deleted,
        update_user,
        create_unit_id,
        create_unit_name,
        secret_level,
        knowledge_scope,
        knowledge_person
       </sql>

    <select id="load" parameterType="java.lang.String" resultMap="TreatiseBaseMap">
        select  * from view_treatise where id = #{id} and deleted != '1'
    </select>

    <select id="query" parameterType="java.util.Map" resultMap="TreatiseBaseMap">
        select  * from view_treatise where 1=1
        and deleted != '1'
        <include refid="selectByParam" />
        order by create_date desc
    </select>


    <select id="query_COUNT" parameterType="java.util.Map" resultType="Long">
        select  count(*) from treatise where 1=1
        and deleted != '1'
        <include refid="selectByParam" />
    </select>


    <sql id="selectByParam">
        <if test="theme != null and theme != '' " >
            and theme like CONCAT('%',#{theme},'%')
        </if>
        <if test="title != null and title != '' " >
            and title like CONCAT('%',#{title},'%')
        </if>
        <if test="author != null and author != ''" >
            and author like CONCAT('%',#{author},'%')
        </if>
        <if test="unit != null and unit != ''" >
            and unit like CONCAT('%',#{unit},'%')
        </if>
        <if test="journalName != null and journalName != '' " >
            and journal_name like CONCAT('%',#{journalName},'%')
        </if>
        <if test="journalLevel != null and journalLevel != '' " >
            and journal_level = #{journalLevel}
        </if>
        <if test="affiliatedUnit != null and affiliatedUnit != '' " >
            and affiliated_unit = #{affiliatedUnit}
        </if>

        <if test="secretLevel != null and secretLevel != '' ">
            and secret_level = #{secretLevel}
        </if>
        <if test="publishDate != null " >
            and DATE_FORMAT(publish_date,'%Y-%m-%d')  = DATE_FORMAT(#{publishDate},'%Y-%m-%d')
        </if>
        and (secret_level = '0' or (
        secret_level <![CDATA[<=]]> #{userSecretLevel}
        <if test='skipKnowledgeScope=="0"'>
            and FIND_IN_SET(#{userName}, knowledge_scope) &lt; 0
        </if>
        ))

        <if test="childUnitIds != null  and childUnitIds !=''  ">
            AND create_unit_id in
            <foreach item="item"  collection="childUnitIds.split(',')"  open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </sql>


    <insert id="add" parameterType="com.pcitc.base.treatiseinfo.TreatiseInfo">
        insert into treatise(
        id,
        theme,
        key_word,
        title,
        author,
        unit,
        journal_name,
        journal_level,
        influencing_factors,
        summary,
        publish_date,
        create_date,
        create_user,
        update_date,
        deleted,
        update_user,
        create_unit_id,
        create_unit_name,
        secret_level,
        knowledge_scope,
        knowledge_person
        ) values(#{id},#{theme},#{keyWord},#{title},#{author},#{unit},#{journalName},#{journalLevel},#{influencingFactors},#{summary},#{publishDate},#{createDate},#{creator},
         #{updateDate},#{deleted},#{updator},#{createUnitId},#{createUnitName},#{secretLevel},#{knowledgeScope},#{knowledgePerson})
    </insert>

    <update id="update" parameterType="com.pcitc.base.treatiseinfo.TreatiseInfo">
        update treatise
        <trim prefix="SET" suffixOverrides=",">
            <if test="theme != null and theme != '' " >
                theme = #{theme},
            </if>
            <if test="keyWord != null and keyWord != '' " >
                key_word = #{keyWord},
            </if>
            <if test="title != null and title != ''" >
                title = #{title},
            </if>
            <if test="author != null and author != ''" >
                author = #{author},
            </if>
            <if test="unit != null and unit != ''" >
                unit = #{unit},
            </if>
            <if test="journalName != null and journalName != ''" >
                journal_name = #{journalName},
            </if>
            <if test="journalLevel != null and journalLevel != ''" >
                journal_level = #{journalLevel},
            </if>
            <if test="influencingFactors != null and influencingFactors != ''" >
                influencing_factors = #{influencingFactors},
            </if>
            <if test="publishDate != null" >
                publish_date = #{publishDate},
            </if>
            <if test="summary != null and summary != ''" >
                summary = #{summary},
            </if>
            <if test="deleted != null and deleted != ''" >
                deleted = #{deleted},
            </if>
            <if test="createUnitId != null and createUnitId != ''" >
                create_unit_id = #{createUnitId,jdbcType=VARCHAR},
            </if>
            <if test="createUnitName != null and createUnitName != ''" >
                create_unit_name = #{createUnitName,jdbcType=VARCHAR},
            </if>
            <if test="secretLevel != null and secretLevel != ''" >
                secret_level = #{secretLevel,jdbcType=VARCHAR},
            </if>
            <if test="updator != null and updator != ''" >
                update_user = #{updator},
            </if>
            <if test="updateDate != null " >
                update_date = #{updateDate},
            </if>
        </trim>
        where id = #{id}
    </update>

    <update id="delete" parameterType="java.lang.String">
            update treatise set deleted = '1' where id in
        <foreach item="item"  collection="ids.split(',')"  open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

</mapper>