
.header-block-line {
    width: 100%;
    height: 1px;
    background: #D7DDE0;
    margin-bottom: 32px;
}
.header-block {
   display: table;
   width: 100%;
   table-layout: fixed;
   height: 92px;
}

.header-block-item {
    display: table-cell;
   vertical-align: top;
   font-size: 0;
}
.header-block-item:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 72px;
	font-size: 0;
}
.header-block .header-block-item:nth-child(2) {
	padding-left: 36px;
	width: calc(33.33% + 36px);
	position: relative;
}
.header-block .header-block-item:nth-child(2):after {
	content: '';
	display: block;
	position: absolute;
	left: 18px;
	height:72px;
	top: 0;
    border-left: 1px dashed #CECBCB;
}
.header-block-item> div {
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	width: calc(33.33% - 21px);
	text-align: center;
}
.header-block-item> div:nth-child(1) {
	width: 60px;
}
.header-block-item div:first-child p{
    font-size:20px;
    font-family:PingFang-SC-Bold,PingFang-SC;
    font-weight:bold;
    color:rgba(70,72,75,1);
    line-height:28px;
}

.header-block-item p {
    font-size:14px;
    font-family:PingFang-SC-Medium,PingFang-SC;
    font-weight:500;
    color:rgba(70,72,75,1);
    line-height:20px;
}

.header-block-item p span {
    font-size:30px;
    font-family:Flama-Book,Flama;
    font-weight:normal;
    /* color:rgba(10,161,255,1); */
    line-height:37px;
}