<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pcitc.mapper.achieve.AchieveBaseMapper">

    <resultMap id="AchieveBaseMap" type="com.pcitc.base.achieve.AchieveBase">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="achieve_name" jdbcType="VARCHAR" property="achieveName"/>
        <result column="tech_type" jdbcType="VARCHAR" property="techType"/>
        <result column="finish_unit_name" jdbcType="VARCHAR" property="finishUnitName"/>
        <result column="finish_unit_name_text" jdbcType="VARCHAR" property="finishUnitNameText"/>
        <result column="finish_date" jdbcType="VARCHAR" property="finishDate"/>
        <result column="project_channel" jdbcType="VARCHAR" property="projectChannel"/>
        <result column="brief" jdbcType="VARCHAR" property="brief"/>
        <result column="achieve_trans_type" jdbcType="VARCHAR" property="achieveTransType"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="contact_info" jdbcType="VARCHAR" property="contactInfo"/>
        <result column="unit_advice" jdbcType="VARCHAR" property="unitAdvice"/>
        <result column="audit_status" jdbcType="VARCHAR" property="auditStatus"/>
        <result column="del_status" jdbcType="VARCHAR" property="deleted"/>
        <result column="approval_doc" jdbcType="VARCHAR" property="approvalDoc"/>
        <result column="public_doc" jdbcType="VARCHAR" property="publicDoc"/>
        <result column="create_user" jdbcType="VARCHAR" property="creator"/>
        <result column="team_person" jdbcType="VARCHAR" property="teamPerson"/>
        <result column="is_public" jdbcType="VARCHAR" property="isPublic"/>
        <result column="work_info" jdbcType="VARCHAR" property="workInfo"/>
        <result column="affiliated_unit" jdbcType="VARCHAR" property="affiliatedUnit"/>
        <result column="affiliated_unit_text " jdbcType="VARCHAR" property="affiliatedUnitText"/>
        <result column="create_unit_id" jdbcType="VARCHAR" property="createUnitId"/>
        <result column="create_unit_name" jdbcType="VARCHAR" property="createUnitName"/>

        <result column="tech_type_text" jdbcType="VARCHAR" property="techTypeText"/>
        <result column="achieve_trans_type_text" jdbcType="VARCHAR" property="achieveTransTypeText"/>
        <result column="audit_status_text" jdbcType="VARCHAR" property="auditStatusText"/>
        <result column="secret_level" jdbcType="VARCHAR" property="secretLevel"/>
        <result column="secret_level_text" jdbcType="VARCHAR" property="secretLevelText"/>

        <result column="knowledge_scope" jdbcType="VARCHAR" property="knowledgeScope"/>
        <result column="knowledge_person" jdbcType="VARCHAR" property="knowledgePerson"/>

    </resultMap>


    <sql id="AchieveBase_Column_List">
        id,
        achieve_name,
        tech_type,
        finish_unit_name,
        finish_date,
        project_channel,
        brief,
        achieve_trans_type,
        create_time,
        contact_info,
        unit_advice,
        audit_status,
        del_status,
        approval_doc,
        public_doc,
        create_user,
        team_person,
        is_public,
        work_info,
        affiliated_unit,
        affiliated_unit_text ,
        create_unit_id,
        create_unit_name,
        secret_level,
        knowledge_scope,
        knowledge_person
       </sql>

    <select id="load" parameterType="java.lang.String" resultMap="AchieveBaseMap">
        select  * from view_achieve_base where id = #{id} and del_status != '1'
    </select>

    <select id="query" parameterType="java.util.Map" resultMap="AchieveBaseMap">
        select  * from view_achieve_base where 1=1
        and del_status != '1'
        <include refid="selectByParam" />
        order by create_time desc
    </select>


    <select id="query_COUNT" parameterType="java.util.Map" resultType="Long">
        select  count(*) from achieve_base where 1=1
        and del_status != '1'
        <include refid="selectByParam" />
    </select>


    <sql id="selectByParam">
        <if test="achieveName != null and achieveName != '' " >
            and achieve_name like CONCAT('%',#{achieveName},'%')
        </if>
        <if test="finishUnitName != null and finishUnitName != '' " >
            and finish_unit_name = #{finishUnitName}
        </if>
        <if test="auditStatus != null and auditStatus != '' " >
            and audit_status = #{auditStatus}
        </if>
        <if test="isPublic != null and isPublic != '' " >
            and is_public = #{isPublic}
        </if>
        <if test="affiliatedUnit != null and affiliatedUnit != '' " >
            and affiliated_unit = #{affiliatedUnit}
        </if>
        <if test="startDate != null and startDate != '' " >
            and finish_date <![CDATA[>=]]> #{startDate}
        </if>
        <if test="endDate != null and endDate != '' " >
            and finish_date <![CDATA[<=]]> #{endDate}
        </if>

        <if test="secretLevel != null and secretLevel != '' ">
            and secret_level = #{secretLevel}
        </if>
        and (secret_level = '0' or (
        secret_level <![CDATA[<=]]> #{userSecretLevel}
        <if test='skipKnowledgeScope=="0"'>
            and FIND_IN_SET(#{userName}, knowledge_scope) &lt; 0
        </if>
        ))

        <if test="childUnitIds != null  and childUnitIds !=''  ">
            AND treatisecreate_unit_id in
            <foreach item="item"  collection="childUnitIds.split(',')"  open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </sql>


    <insert id="add" parameterType="com.pcitc.base.achieve.AchieveBase">
        insert into achieve_base(
        id,
        achieve_name,
        tech_type,
        finish_unit_name,
        finish_date,
        project_channel,
        brief,
        achieve_trans_type,
        create_time,
        contact_info,
        unit_advice,
        audit_status,
        del_status,
        approval_doc,
        public_doc,
        create_user,
        team_person,
        is_public,
        work_info,
        affiliated_unit,
        create_unit_id,
        create_unit_name,
        secret_level,
        knowledge_scope,
        knowledge_person
        ) values(#{id},#{achieveName},#{techType},#{finishUnitName},#{finishDate},#{projectChannel},#{brief},#{achieveTransType},#{createDate},#{contactInfo},#{unitAdvice},
         #{auditStatus},#{deleted},#{approvalDoc},#{publicDoc},#{creator},#{teamPerson},#{isPublic},#{workInfo},#{affiliatedUnit},#{createUnitId},#{createUnitName},#{secretLevel},#{knowledgeScope},#{knowledgePerson})
    </insert>

    <update id="update" parameterType="com.pcitc.base.achieve.AchieveBase">
        update achieve_base
        <trim prefix="SET" suffixOverrides=",">
            <if test="achieveName != null and achieveName != '' " >
                achieve_name = #{achieveName},
            </if>
            <if test="techType != null and techType != '' " >
                tech_type = #{techType},
            </if>
            <if test="finishDate != null" >
                finish_date = #{finishDate},
            </if>
            <if test="finishUnitName != null" >
                finish_unit_name = #{finishUnitName},
            </if>
            <if test="projectChannel != null and projectChannel != ''" >
                project_channel = #{projectChannel},
            </if>
            <if test="brief != null and brief != ''" >
                brief = #{brief},
            </if>
            <if test="achieveTransType != null and achieveTransType != ''" >
                achieve_trans_type = #{achieveTransType},
            </if>
            <if test="contactInfo != null and contactInfo != ''" >
                contact_info = #{contactInfo},
            </if>
            <if test="unitAdvice != null and unitAdvice != ''" >
                unit_advice = #{unitAdvice},
            </if>
            <if test="auditStatus != null and auditStatus != ''" >
                audit_status = #{auditStatus},
            </if>
            <if test="deleted != null and deleted != ''" >
                del_status = #{deleted},
            </if>
            <if test="teamPerson != null " >
                team_person = #{teamPerson},
            </if>
            <if test="isPublic != null and isPublic != ''" >
                is_public = #{isPublic},
            </if>
            <if test="workInfo != null and workInfo != ''" >
                work_info = #{workInfo},
            </if>
            <if test="affiliatedUnit != null and affiliatedUnit != ''" >
                affiliated_unit = #{affiliatedUnit},
            </if>
            <if test="createUnitId != null and createUnitId != ''" >
                create_unit_id = #{createUnitId,jdbcType=VARCHAR},
            </if>
            <if test="createUnitName != null and createUnitName != ''" >
                create_unit_name = #{createUnitName,jdbcType=VARCHAR},
            </if>
            <if test="secretLevel != null and secretLevel != ''" >
                secret_level = #{secretLevel,jdbcType=VARCHAR},
            </if>
            <if test="knowledgeScope != null and knowledgeScope != ''" >
                knowledge_scope = #{knowledgeScope},
            </if>
            <if test="knowledgePerson != null and knowledgePerson != ''" >
                knowledge_person = #{knowledgePerson}
            </if>
        </trim>
        where id = #{id}
    </update>

    <update id="delete" parameterType="java.lang.String">
            update achieve_base set del_status = '1' where id = #{id}
    </update>

    <update id="updatePublicStatus" parameterType="java.util.Map">
        update achieve_base set is_public = #{status} where id = #{id}
    </update>


</mapper>