<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcitc.mapper.patent.PatentInfoMapper">
  <resultMap id="BaseResultMap" type="com.pcitc.base.patent.PatentInfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="unit_name" jdbcType="VARCHAR" property="unitName" />
    <result column="applicant" jdbcType="VARCHAR" property="applicant" />
    <result column="patent_name" jdbcType="VARCHAR" property="patentName" />
    <result column="inventor" jdbcType="VARCHAR" property="inventor" />
    <result column="application_type" jdbcType="VARCHAR" property="applicationType" />
    <result column="patent_type" jdbcType="VARCHAR" property="patentType" />
    <result column="legal_status" jdbcType="VARCHAR" property="legalStatus" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="application_number" jdbcType="VARCHAR" property="applicationNumber" />
    <result column="patent_range" jdbcType="VARCHAR" property="patentRange" />
    <result column="agency" jdbcType="VARCHAR" property="agency" />
    <result column="entry_person" jdbcType="VARCHAR" property="entryPerson" />
    <result column="application_date" jdbcType="TIMESTAMP" property="applicationDate" />
    <result column="entry_date" jdbcType="TIMESTAMP" property="entryDate" />
    <result column="application_cost" jdbcType="DECIMAL" property="applicationCost" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="application_of_patent_transformation" jdbcType="VARCHAR" property="applicationOfPatentTransformation" />
    <result column="major_application" jdbcType="VARCHAR" property="majorApplication" />
    <result column="unenforced_reason" jdbcType="VARCHAR" property="unenforcedReason" />
    <result column="licensee" jdbcType="VARCHAR" property="licensee" />
    <result column="licensee_mode" jdbcType="VARCHAR" property="licenseeMode" />
    <result column="licensee_profit" jdbcType="DECIMAL" property="licenseeProfit" />
    <result column="assignor" jdbcType="VARCHAR" property="assignor" />
    <result column="assign_profit" jdbcType="DECIMAL" property="assignProfit" />
    <result column="file" jdbcType="VARCHAR" property="files" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="updator" jdbcType="VARCHAR" property="updator" />
    <result column="deleted" jdbcType="VARCHAR" property="deleted" />
    <result column="country" jdbcType="VARCHAR" property="country" />
	<result column="technical_field" jdbcType="VARCHAR" property="technicalField" />

    <result column="application_of_patent_transformation_text" jdbcType="VARCHAR" property="applicationOfPatentTransformationText" />
    <result column="application_type_text" jdbcType="VARCHAR" property="applicationTypeText" />
    <result column="patent_type_text" jdbcType="VARCHAR" property="patentTypeText" />
    <result column="legal_status_text" jdbcType="VARCHAR" property="legalStatusText" />
    <result column="country_text" jdbcType="VARCHAR" property="countryText" />
	<result column="unit_name_text" jdbcType="VARCHAR" property="unitNameText" />
	<result column="technical_field_text" jdbcType="VARCHAR" property="technicalFieldText" />
    <result column="technical_field_index" jdbcType="VARCHAR" property="technicalFieldIndex" />
    <result column="create_unit_id" jdbcType="VARCHAR" property="createUnitId" />
    <result column="create_unit_name" jdbcType="VARCHAR" property="createUnitName" />

    <result column="secret_level" jdbcType="VARCHAR" property="secretLevel"/>
    <result column="secret_level_text" jdbcType="VARCHAR" property="secretLevelText"/>
    <result column="knowledge_scope" jdbcType="VARCHAR" property="knowledgeScope"/>
    <result column="knowledge_person" jdbcType="VARCHAR" property="knowledgePerson"/>
    <result column="expiration_date" jdbcType="TIMESTAMP" property="expirationDate" />


    <result column="out_id" jdbcType="VARCHAR" property="outId" />
    <result column="input_type" jdbcType="VARCHAR" property="inputType" />
    <result column="authorization_date" jdbcType="TIMESTAMP" property="authorizationDate" />
    <result column="termination_date" jdbcType="TIMESTAMP" property="terminationDate" />
    <result column="legal_status_update_time" jdbcType="TIMESTAMP" property="legalStatusUpdateTime" />
    <result column="application_technology_technology" jdbcType="VARCHAR" property="applicationTechnologyTechnology" />
    <result column="project_background" jdbcType="VARCHAR" property="projectBackground" />
    <result column="establishment_department" jdbcType="VARCHAR" property="establishmentDepartment" />
    <result column="project_number" jdbcType="VARCHAR" property="projectNumber" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="application_technology_products" jdbcType="VARCHAR" property="applicationTechnologyProducts" />
    <result column="application_model_product_name" jdbcType="VARCHAR" property="applicationModelProductName" />
    <result column="application_subsystem_name" jdbcType="VARCHAR" property="applicationSubsystemName" />
    <result column="name_of_components_and_supporting_materials" jdbcType="VARCHAR" property="nameOfComponentsAndSupportingMaterials" />
    <result column="main_classification_number" jdbcType="VARCHAR" property="mainClassificationNumber" />
    <result column="sub_category_number" jdbcType="VARCHAR" property="subCategoryNumber" />
    <result column="priority_right" jdbcType="VARCHAR" property="priorityRight" />
    <result column="joint_applicant" jdbcType="VARCHAR" property="jointApplicant" />
    <result column="public_announcement_no" jdbcType="VARCHAR" property="publicAnnouncementNo" />
    <result column="explainer" jdbcType="VARCHAR" property="explain" />
    <result column="legal_person_code" jdbcType="VARCHAR" property="legalPersonCode" />

  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, unit_name,
    applicant, patent_name,
    inventor, application_type,
    patent_type,
    legal_status, date,
     application_number,
     patent_range, agency,
     entry_person, application_date,
    entry_date, application_cost,
     remark, summary,
      application_of_patent_transformation,
    major_application,
    unenforced_reason,
    licensee, licensee_mode,
    licensee_profit, assignor,
    assign_profit,
    file, creator,
    create_date, update_date,
    updator, deleted,country,
    application_of_patent_transformation_text,
    patent_type_text,
    country_text,application_type_text,
    legal_status_text,
    unit_name_text,
    technical_field,
    technical_field_text,
    technical_field_index,
    create_unit_id,
    create_unit_name,
    secret_level,
    secret_level_text,
    knowledge_scope,
    knowledge_person,
    expiration_date,out_id,input_type,authorization_date,
    termination_date,legal_status_update_time,application_technology_technology,
    project_background,establishment_department,
    project_number,project_name,application_technology_products,
    application_model_product_name,application_subsystem_name,
    name_of_components_and_supporting_materials,main_classification_number
    sub_category_number,priority_right,joint_applicant,
    public_announcement_no,explainer,
    legal_person_code
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from view_patent_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    update patent_info set deleted = '1'
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.pcitc.base.patent.PatentInfo">
    insert into patent_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="unitName != null">
        unit_name,
      </if>
      <if test="applicant != null">
        applicant,
      </if>
      <if test="patentName != null">
        patent_name,
      </if>
      <if test="inventor != null">
        inventor,
      </if>
      <if test="applicationType != null">
        application_type,
      </if>
      <if test="patentType != null">
        patent_type,
      </if>
      <if test="legalStatus != null">
        legal_status,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="applicationNumber != null">
        application_number,
      </if>
      <if test="patentRange != null">
        patent_range,
      </if>
      <if test="agency != null">
        agency,
      </if>
      <if test="entryPerson != null">
        entry_person,
      </if>
      <if test="applicationDate != null">
        application_date,
      </if>
      <if test="entryDate != null">
        entry_date,
      </if>
      <if test="applicationCost != null">
        application_cost,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="summary != null">
        summary,
      </if>
      <if test="applicationOfPatentTransformation != null">
        application_of_patent_transformation,
      </if>
      <if test="majorApplication != null">
        major_application,
      </if>
      <if test="unenforcedReason != null">
        unenforced_reason,
      </if>
      <if test="licensee != null">
        licensee,
      </if>
      <if test="licenseeMode != null">
        licensee_mode,
      </if>
      <if test="licenseeProfit != null">
        licensee_profit,
      </if>
      <if test="assignor != null">
        assignor,
      </if>
      <if test="assignProfit != null">
        assign_profit,
      </if>
      <if test="files != null">
        file,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="updator != null">
        updator,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="country != null">
        country,
      </if>
	  
	  <if test="technicalField != null">
        technical_field,
      </if>
	  <if test="technicalFieldText != null">
        technical_field_text,
      </if>
      <if test="technicalFieldIndex != null">
        technical_field_index,
      </if>
      <if test="createUnitId != null">
        create_unit_id,
      </if>
      <if test="createUnitName != null">
        create_unit_name,
      </if>

      <if test="secretLevel != null">
        secret_level,
      </if>
      <if test="knowledgeScope != null">
        knowledge_scope,
      </if>
      <if test="knowledgePerson != null">
        knowledge_person,
      </if>
      <if test="expirationDate != null">
        expiration_date,
      </if>


      <if test="outId != null">
        out_id,
      </if>
      <if test="inputType != null">
        input_type,
      </if>
      <if test="authorizationDate != null">
        authorization_date,
      </if>
      <if test="terminationDate != null">
        termination_date,
      </if>
      <if test="legalStatusUpdateTime != null">
        legal_status_update_time,
      </if>
      <if test="applicationTechnologyTechnology != null">
        application_technology_technology,
      </if>
      <if test="projectBackground != null">
        project_background,
      </if>
      <if test="establishmentDepartment != null">
        establishment_department,
      </if>
      <if test="projectNumber != null">
        project_number,
      </if>
      <if test="projectName != null">
        project_name,
      </if>
      <if test="applicationTechnologyProducts != null">
        application_technology_products,
      </if>
      <if test="applicationModelProductName != null">
        application_model_product_name,
      </if>
      <if test="applicationSubsystemName != null">
        application_subsystem_name,
      </if>
      <if test="nameOfComponentsAndSupportingMaterials != null">
        name_of_components_and_supporting_materials,
      </if>
      <if test="mainClassificationNumber != null">
        main_classification_number,
      </if>
      <if test="subCategoryNumber != null">
        sub_category_number,
      </if>
      <if test="priorityRight != null">
        priority_right,
      </if>
      <if test="jointApplicant != null">
        joint_applicant,
      </if>
      <if test="publicAnnouncementNo != null">
        public_announcement_no,
      </if>
      <if test="explain != null">
        explainer,
      </if>
      <if test="legalPersonCode != null">
        legal_person_code
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="unitName != null">
        #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="applicant != null">
        #{applicant,jdbcType=VARCHAR},
      </if>
      <if test="patentName != null">
        #{patentName,jdbcType=VARCHAR},
      </if>
      <if test="inventor != null">
        #{inventor,jdbcType=VARCHAR},
      </if>
      <if test="applicationType != null">
        #{applicationType,jdbcType=VARCHAR},
      </if>
      <if test="patentType != null">
        #{patentType,jdbcType=VARCHAR},
      </if>
      <if test="legalStatus != null">
        #{legalStatus,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="applicationNumber != null">
        #{applicationNumber,jdbcType=VARCHAR},
      </if>
      <if test="patentRange != null">
        #{patentRange,jdbcType=VARCHAR},
      </if>
      <if test="agency != null">
        #{agency,jdbcType=VARCHAR},
      </if>
      <if test="entryPerson != null">
        #{entryPerson,jdbcType=VARCHAR},
      </if>
      <if test="applicationDate != null">
        #{applicationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="entryDate != null">
        #{entryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="applicationCost != null">
        #{applicationCost,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="applicationOfPatentTransformation != null">
        #{applicationOfPatentTransformation,jdbcType=VARCHAR},
      </if>
      <if test="majorApplication != null">
        #{majorApplication,jdbcType=VARCHAR},
      </if>
      <if test="unenforcedReason != null">
        #{unenforcedReason,jdbcType=VARCHAR},
      </if>
      <if test="licensee != null">
        #{licensee,jdbcType=VARCHAR},
      </if>
      <if test="licenseeMode != null">
        #{licenseeMode,jdbcType=VARCHAR},
      </if>
      <if test="licenseeProfit != null">
        #{licenseeProfit,jdbcType=DECIMAL},
      </if>
      <if test="assignor != null">
        #{assignor,jdbcType=VARCHAR},
      </if>
      <if test="assignProfit != null">
        #{assignProfit,jdbcType=DECIMAL},
      </if>
      <if test="files != null">
        #{files,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null">
        #{updator,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
      #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
	  <if test="technicalField != null">
        #{technicalField,jdbcType=VARCHAR},
      </if>
	  <if test="technicalFieldText != null">
        #{technicalFieldText,jdbcType=VARCHAR},
      </if>
      <if test="technicalFieldIndex != null">
        #{technicalFieldIndex,jdbcType=VARCHAR},
      </if>
      <if test="createUnitId != null">
        #{createUnitId,jdbcType=VARCHAR},
      </if>
      <if test="createUnitName != null">
        #{createUnitName,jdbcType=VARCHAR},
      </if>
      <if test="secretLevel != null">
        #{secretLevel,jdbcType=VARCHAR},
      </if>
      <if test="knowledgeScope != null">
        #{knowledgeScope,jdbcType=VARCHAR},
      </if>
      <if test="knowledgePerson != null">
        #{knowledgePerson,jdbcType=VARCHAR},
      </if>
      <if test="expirationDate != null">
        #{expirationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="outId != null">
        #{outId,jdbcType=VARCHAR},
      </if>
      <if test="inputType != null">
        #{inputType,jdbcType=VARCHAR},
      </if>
      <if test="authorizationDate != null">
        #{authorizationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="terminationDate != null">
        #{terminationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="legalStatusUpdateTime != null">
        #{legalStatusUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applicationTechnologyTechnology != null">
        #{applicationTechnologyTechnology,jdbcType=VARCHAR},
      </if>
      <if test="projectBackground != null">
        #{projectBackground,jdbcType=VARCHAR},
      </if>
      <if test="establishmentDepartment != null">
        #{establishmentDepartment,jdbcType=VARCHAR},
      </if>
      <if test="projectNumber != null">
        #{projectNumber,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="applicationTechnologyProducts != null">
        #{applicationTechnologyProducts,jdbcType=VARCHAR},
      </if>
      <if test="applicationModelProductName != null">
        #{applicationModelProductName,jdbcType=VARCHAR},
      </if>
      <if test="applicationSubsystemName != null">
        #{applicationSubsystemName,jdbcType=VARCHAR},
      </if>
      <if test="nameOfComponentsAndSupportingMaterials != null">
        #{nameOfComponentsAndSupportingMaterials,jdbcType=VARCHAR},
      </if>
      <if test="mainClassificationNumber != null">
        #{mainClassificationNumber,jdbcType=VARCHAR},
      </if>
      <if test="subCategoryNumber != null">
        #{subCategoryNumber,jdbcType=VARCHAR},
      </if>
      <if test="priorityRight != null">
        #{priorityRight,jdbcType=VARCHAR},
      </if>
      <if test="jointApplicant != null">
        #{jointApplicant,jdbcType=VARCHAR},
      </if>
      <if test="publicAnnouncementNo != null">
        #{publicAnnouncementNo,jdbcType=VARCHAR},
      </if>
      <if test="explain != null">
        #{explain,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonCode != null">
        #{legalPersonCode,jdbcType=VARCHAR}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.pcitc.base.patent.PatentInfo">
    update patent_info
    set user_id = #{userId,jdbcType=VARCHAR},
      unit_name = #{unitName,jdbcType=VARCHAR},
      applicant = #{applicant,jdbcType=VARCHAR},
      patent_name = #{patentName,jdbcType=VARCHAR},
      inventor = #{inventor,jdbcType=VARCHAR},
      application_type = #{applicationType,jdbcType=VARCHAR},
      patent_type = #{patentType,jdbcType=VARCHAR},
      legal_status = #{legalStatus,jdbcType=VARCHAR},
      date = #{date,jdbcType=TIMESTAMP},
      application_number = #{applicationNumber,jdbcType=VARCHAR},
      patent_range = #{patentRange,jdbcType=VARCHAR},
      agency = #{agency,jdbcType=VARCHAR},
      entry_person = #{entryPerson,jdbcType=VARCHAR},
      application_date = #{applicationDate,jdbcType=TIMESTAMP},
      entry_date = #{entryDate,jdbcType=TIMESTAMP},
      application_cost = #{applicationCost,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
      application_of_patent_transformation = #{applicationOfPatentTransformation,jdbcType=VARCHAR},
      major_application = #{majorApplication,jdbcType=VARCHAR},
      unenforced_reason = #{unenforcedReason,jdbcType=VARCHAR},
      licensee = #{licensee,jdbcType=VARCHAR},
      licensee_mode = #{licenseeMode,jdbcType=VARCHAR},
      licensee_profit = #{licenseeProfit,jdbcType=DECIMAL},
      assignor = #{assignor,jdbcType=VARCHAR},
      assign_profit = #{assignProfit,jdbcType=DECIMAL},
      file = #{files,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      updator = #{updator,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
	  technical_field = #{technicalField,jdbcType=VARCHAR},
	  technical_field_text = #{technicalFieldText,jdbcType=VARCHAR},
	  technical_field_index = #{technicalFieldIndex,jdbcType=VARCHAR},
	  create_unit_id = #{createUnitId,jdbcType=VARCHAR},
	  create_unit_name = #{createUnitName,jdbcType=VARCHAR},
	  secret_level = #{secretLevel,jdbcType=VARCHAR},
	  knowledge_scope = #{knowledgeScope,jdbcType=VARCHAR},
	  knowledge_person = #{knowledgePerson,jdbcType=VARCHAR},
	  expiration_date = #{expirationDate,jdbcType=TIMESTAMP},
	  out_id = #{outId,jdbcType=VARCHAR},
	  input_type = #{inputType,jdbcType=VARCHAR},
	  authorization_date = #{authorizationDate,jdbcType=TIMESTAMP},
	  termination_date = #{terminationDate,jdbcType=TIMESTAMP},
	  legal_status_update_time = #{legalStatusUpdateTime,jdbcType=TIMESTAMP},
	  application_technology_technology = #{applicationTechnologyTechnology,jdbcType=VARCHAR},
	  project_background = #{projectBackground,jdbcType=VARCHAR},
	  establishment_department = #{establishmentDepartment,jdbcType=VARCHAR},
	  project_number = #{projectNumber,jdbcType=VARCHAR},
	  project_name = #{projectName,jdbcType=VARCHAR},
	  application_technology_products = #{applicationTechnologyProducts,jdbcType=VARCHAR},
	  application_model_product_name = #{applicationModelProductName,jdbcType=VARCHAR},
	  application_subsystem_name = #{applicationSubsystemName,jdbcType=VARCHAR},
	  name_of_components_and_supporting_materials = #{nameOfComponentsAndSupportingMaterials,jdbcType=VARCHAR},
	  main_classification_number = #{mainClassificationNumber,jdbcType=VARCHAR},
	  sub_category_number = #{subCategoryNumber,jdbcType=VARCHAR},
	  priority_right = #{priorityRight,jdbcType=VARCHAR},
	  joint_applicant = #{jointApplicant,jdbcType=VARCHAR},
	  public_announcement_no = #{publicAnnouncementNo,jdbcType=VARCHAR},
	  explainer = #{explain,jdbcType=VARCHAR},
	  legal_person_code = #{legalPersonCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
</update>

  <select id="queryPatentList" parameterType="java.util.Map" resultMap="BaseResultMap">
    select  <include refid="Base_Column_List"/> from view_patent_info where 1=1
    <include refid="selectByParam" />
    and deleted != '1'
  </select>

  <select id="queryPatentList_COUNT" parameterType="java.util.Map" resultType="Long">
    select  count(*) from patent_info where 1=1
    and deleted != '1'
    <include refid="selectByParam" />


  </select>

  <sql id="selectByParam">
    <if test="unitName != null and unitName != '' " >
      and unit_name like CONCAT('%',#{unitName},'%')
    </if>
    <if test="applicationType != null and applicationType != '' " >
      and application_type = #{applicationType}
    </if>
    <if test="patentType != null and patentType != '' " >
      and patent_type = #{patentType}
    </if>
    <if test="applicationNumber != null and applicationNumber != '' " >
      and application_number = #{applicationNumber}
    </if>
    <if test="patentName != null and patentName != '' " >
      and patent_name like CONCAT('%',#{patentName},'%')
    </if>
    <if test="applicant != null and applicant != '' " >
      and applicant = #{applicant}
    </if>
    <if test="inventor != null and inventor != '' " >
      and inventor = #{inventor}
    </if>
    <if test="applicationDateStart != null and applicationDateStart != '' " >
      and application_date &gt;= #{applicationDateStart}
    </if>
    <if test="applicationDateEnd != null and applicationDateEnd != '' " >
      and application_date &lt;= #{applicationDateEnd}
    </if>
    <if test="technicalFieldIndex != null and technicalFieldIndex != '' " >
      AND technical_field_index like CONCAT(#{technicalFieldIndex},'%')
    </if>

    <if test="childUnitIds != null          and childUnitIds !=''  ">
      AND create_unit_id in
      <foreach item="item"  collection="childUnitIds.split(',')"  open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>

    <if test="secretLevel != null and secretLevel != ''" >
      and secret_level = #{secretLevel}
    </if>
    <if test="userSecretLevel != null and userSecretLevel !=''  ">
      AND secret_level &lt;= #{userSecretLevel}
    </if>

    and (secret_level = '0' or (
    secret_level <![CDATA[<=]]> #{userSecretLevel}
    <if test='skipKnowledgeScope=="0"'>
      and FIND_IN_SET(#{userName}, knowledge_scope) &lt; 0
    </if>
    ))

  </sql>
</mapper>