<div class="layui-row layui-col-space20 scope-layout">
  <div class="layui-col-xs8 layui-col-sm6 layui-col-md6">
    <div class="layui-form-item" style="margin-top: 0;">
      <label class="layui-form-label label-required"><span class="text">知悉范围：</span></label>
      <div class="layui-input-block layui-input-block-scope">
        <input type="text" name="knowledgeScope"> <!-- 登录账号 -->
        <input type="hidden" name="knowledgePerson"> <!-- 人员姓名 -->
        <div class="layui-input sed-item-layout">
          <div class="item-list-data" active-item>
            <label class="sed-item-list">
              <span class="name-item"></span>
              <span class="delete-item"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="layui-col-xs4 layui-col-sm6 layui-col-md6">
    <div class="layui-input-inline layui-input-block-scope">
      <div class="layui-input"><span class="link-text" _show-table="false" label-id="downPlan">添加</span></div>
    </div>
  </div>
  <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 hide-table-layout">
    <div class="layui-form-item" style="margin-top: 0;">
      <div class="layui-input-block">
        <label class="layui-form-label auto"><span class="text">姓名/单位：</span></label>
        <div class="layui-input-inline"><input type="type" class="layui-input" _name="search_name" /></div>
        <div class="layui-input-inline">
          <button class="layui-btn border-blue search-data-btn" type="button">搜索</button>
        </div>
      </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-input-block">
        <table></table>
        <div class="table-page-layout"></div>
      </div>
    </div>
  </div>
</div>
