<div class="layui-row layui-col-space20 scope-layout">
  <div class="layui-col-xs8 layui-col-sm6 layui-col-md6">
    <div class="layui-form-item">
      <label class="layui-form-label label-required"><span class="text">知悉范围：</span></label>
      <div class="layui-input-block">
        <div class="layui-input sed-item-layout">
          <div class="item-list-data" active-item>
            <label class="sed-item-list">
              <span class="name-item"></span>
              <span class="delete-item"></span>
            </label>
          </div>
          <input type="type" class="item-list-input" name="search_name" />
        </div>
      </div>
    </div>
  </div>
  <div class="layui-col-xs4 layui-col-sm6 layui-col-md6">
    <div class="layui-input-inline">
      <button type="button" label-id="downPlan" class="layui-btn border-blue">手工配置</button>
    </div>
  </div>
  <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 hide-table" hide-table>
    <table></table>

    <div class="table-page-layout"></div>
  </div>
</div>
