.record_input_page {
  padding-bottom: 96px;
  padding-top: 1px;
}
.layui-table-view .layui-table {
  min-width: 100%;
}
#record_list_table .layui-table-view .layui-table td {
  padding: 0;
}
.layui-table thead th:last-child {
  border-right: none;
}
.layui-table-view .layui-table-body .layui-table-cell {
  min-width: calc(100% - 5px);
  height: 40px;
  line-height: 40px;
  white-space: nowrap;
}
.layui-input-block .layui-table-view .layui-table-cell {
  height: 28px;
  line-height: 28px;
}
.layui-table-cell .options-list{
  height: 40px;
  font-size: 0;
}
.maintain_list > .view-title-layout,
.record_input_page form > .view-title-layout {
  padding-top: 40px;
  padding-bottom: 24px;
  position: relative;
}
.maintain_list > .view-title-layout .text,
.record_input_page form > .view-title-layout .text {
  background-color: #fff;
  position: relative;
  height: 100%;
  line-height: 30px;
  padding-right: 10px;
  font-weight: bold;
  font-size: 18px;
  color: #46484B;
}
.view-title-layout .text .flow_link_id{
  font-size: 14px;
  font-weight: normal;
  padding-left: 30px;
  text-decoration: underline;
}

.maintain_list > .view-title-layout::before,
.record_input_page form > .view-title-layout::before {
  content: '';
  display: block;
  left: 0;
  top: 56px;
  position: absolute;
  width: 100%;
  border-top: 1px #D4D7D8 dashed;
}
.view-title-layout > .right.flow_link {
  position: relative;
  padding-right: 16px;
  padding-left: 16px;
  background-color: #fff;
}

.options-list .link-text{
  height: 18px;
  line-height: 18px;
  display: block;
  font-size: 12px;
}
.options-list .link-text:last-child{
  margin-right: 0;
}
.layui-col-xs12 .view-row-title{
  padding-top: 10px;
  padding-bottom: 12px;
  line-height: 1;
  margin-left: 144px;
}
.view-page-submit-btn-box {
  position: fixed;
  z-index: 9;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px 20px;
  background-color: #fff;
  text-align: right;
  border-top: 1px #e8e8e8 solid;
  box-shadow: 0 1px 7px -1px rgba(0,0,0, .1);
}
.record_pdf{
  padding-bottom: 0 !important;
}
.view-pt0{
  padding-top: 0 !important;
}