.record_input_page {
  padding-bottom: 96px;
  padding-top: 1px;
}
.layui-table-view .layui-table {
  min-width: 100%;
}
.layui-table thead th:last-child {
  border-right: none;
}
.layui-table-view .layui-table-cell{
  height: auto;
  min-width: calc(100% - 5px);
}
.layui-table-cell .options-list{
  padding-bottom: 1px;
  padding-top: 6px;
}
.maintain_list > .view-title-layout,
.record_input_page form > .view-title-layout {
  padding-top: 40px;
  padding-bottom: 24px;
  position: relative;
}
.maintain_list > .view-title-layout .text,
.record_input_page form > .view-title-layout .text {
  background-color: #fff;
  position: relative;
  height: 100%;
  line-height: 30px;
  padding-right: 10px;
  font-weight: bold;
  font-size: 18px;
  color: #46484B;
}
.maintain_list > .view-title-layout::before,
.record_input_page form > .view-title-layout::before {
  content: '';
  display: block;
  left: 0;
  top: 54px;
  position: absolute;
  width: 100%;
  border-top: 2px #D4D7D8 dashed;
}

.options-list .link-text{
  line-height: 18px;
  display: block;
  margin-bottom: 5px;
}
.layui-col-xs12 .view-row-title{
  padding-top: 10px;
  padding-bottom: 12px;
  line-height: 1;
  margin-left: 144px;
}
.view-page-submit-btn-box {
  position: fixed;
  z-index: 9;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px 20px;
  background-color: #fff;
  text-align: right;
  border-top: 1px #e8e8e8 solid;
  box-shadow: 0 1px 7px -1px rgba(0,0,0, .1);
}


.hide-form-item {
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.hide-form-item.show {
  overflow: visible;
  visibility: visible;
}