* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background-color: #e2e2e2;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.3);
}
html, body {
  height: 100%;
  width: 100%;
  font-size: 14px;
  padding: 0;
  margin: 0;
  border: none;
}
html {
  font-size: 20px;
}
@media screen and (max-width: 1366px) {
  html {
    font-size: 14.22px;
  }
}


body:not(.layui-layout-body) {
  overflow: auto;
  padding-top: 1px;
}
body > .layui-layout{
  height: 100%;
}
.layui-layout-admin .layui-body{
  position: relative;
  height: calc(100% - 104px);
  width: calc(100% - 200px);
  top: auto;
  bottom: auto;
  font-size: 0;
}
.layout-view-content {
  padding: 20px;
  background-color: #ffffff;
  min-height: calc(100% - 19px);
}
.layout-view-content.auto {
  min-height: auto;
}
.layout-view-content.dialog{
  padding: 30px;
	min-height: auto;
	height: calc(100% - 61px);
	overflow: auto;
}
.layout-view-content .dialog-footer-btn{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	border-top: 1px #e8e8e8 solid;
	padding: 10px 40px 10px 20px;
	text-align: right;
}
.layout-view-content.label-dialog .layui-form-label,
.layout-view-content.dialog .layui-form-label {
	width: 120px;
	max-width: 120px;
}
.layout-view-content.label-dialog .layui-input-block,
.layout-view-content.dialog .layui-input-block{
	margin-left: 120px;
}
.layout-view-content.min-label .layui-form-label{
	width: 108px;
	max-width: 108px;
}
.layout-view-content.min-label .layui-input-block{
	margin-left: 108px;
}


.hide-block {
	display: none !important;
}
.ib-block {
  display: inline-block;
  vertical-align: middle;
}
.middle-block {
  font-size: 0;
  white-space: nowrap;
}
.middle-block::before{
  content: '';
  height: 100%;
  width: 0;
  float: none;
  padding: 0;
  margin: 0;
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
}

.view-title-layout {
  font-size: 0;
  padding-top: 30px;
  padding-bottom: 12px;
}
.view-title-layout::after{
  content: '';
  display: block;
  clear: both;
  padding: 0;
  margin: 0;
}
.view-title-layout.view-pt0 {
  padding-top: 8px;
  padding-bottom: 12px;
}
.view-title-layout > .right {
  float: right;
  height: 30px;
  white-space: nowrap;
}
.view-title-layout > .right::before {
  display: inline-block;
  vertical-align: middle;
  content: '';
  width: 0;
  height: 100%;
}
.view-title-layout > .right > button,
.view-title-layout > .right > .layui-btn{
  display: inline-block;
  vertical-align: middle;
}
.view-title-layout > .layui-btn,
.view-title-layout > button,
.view-title-layout > .ib-button{
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.view-title-layout > .right > .ib-button {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
}

.view-title-layout > .text,
.view-title-layout > .sub-text{
  font-size: 16px;
  color: #333;
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  margin-right: 10px;
}
.view-title-layout > .sub-text {
  font-size: 14px;
}

.button-dialog-box {
  padding: 15px 20px;
  border-top: 1px #e8e8e8 solid;
  text-align: right;
}
.dilog-block{
  display: none;
  position: relative;
  min-height: 100%;
}
.dilog-block > .layui-form {
  display: block;
  padding: 10px 20px;
}
.dilog-block .button-dialog-box{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.elementHide {
	display: none !important;
}
.font0 { font-size: 0; }
.font14 { font-size: 14px; }
.font16 { font-size: 16px; }
.font18 { font-size: 18px; }
.font20 { font-size: 20px; }
.font24 { font-size: 24px; }

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-red {
  color: #FF2626;
}
.link-text {
  color: #0AA1FF;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  transition: opacity .24s ease-out;
}
.link-text:hover {
  opacity: .8;
}
a.link-text:hover {
  text-decoration: underline;
  color: #0AA1FF;
}
.layui-fold-btn{
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #0AA1FF;
  cursor: pointer;
  margin-left: 8px;
  position: relative;
  padding-right: 20px;
}
.layui-fold-btn::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border: 1px #0AA1FF solid;
  border-width: 1px 0 0 1px;
  transform-origin: 2px 2px;
  -ms-transform-origin: 2px 2px;
  transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: 0;
}

.layui-form[fold-panel="open"]  .layui-fold-btn::before{
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  margin-top: -2px;
}

/* 下拉目录树 */
.xm-select-parent .xm-input {
  border-color: #D4D7D8;
  border-radius: 5px;
}
.xm-select-parent dl dd > i.icon-expand{
  visibility: hidden !important;
}
.x-tree-item-parent > .x-tree-icon {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border: 1px #1E9FFF solid;
  border-radius: 2px;
  line-height: 14px;
  text-align: center;
  font-size: 18px;
  color: #1E9FFF;
  overflow: hidden;
}
.x-tree-item-parent > .x-tree-icon::before {
  content: '-';
  display: inline;
}
.x-tree-item-parent > i {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  left: auto !important;
  top: auto !important;
  margin: 0;
  margin-left: 6px;
  border: 1px #1E9FFF solid !important;
}
.x-tree-item-parent > span {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 44px);
  padding-left: 10px;
}
dd[xm-tree-hidn] > .x-tree-item-parent > .x-tree-icon::before {
  content: '+';
}
.xm-select-radio div.xm-form-checkbox > i {
  display: none;
}
.xm-select-radio div.xm-form-checkbox > span {
  padding: 0 2px;
}
.xm-select-radio dd.xm-select-this:hover,
.xm-select-radio dd.xm-select-this {
  background-color: #1890FF !important;
}
.xm-select-radio dd.xm-select-this .xm-form-checkbox > span {
  color: #fff !important;
}

/* 下拉目录树end */

/* 滚动特效样式 start */
.itemScroll-box {
  padding: 0 40px;
  position: relative;
}
.itemScroll-box .itemScroll {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-size: 0;
}
.itemScroll-box .itemBlock {
  display: inline-block;
  height: 100%;
  white-space: nowrap;
  position: relative;
}
.itemScroll-box .itemBlock > li {
  min-width: 76px;
  height: 100%;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
.itemScroll-box .itemBtn {
  position: absolute;
  display: block;
  width: 12px;
  height: 14px;
  overflow: hidden;
  top: 50%;
  margin-top: -12px;
  border-radius: 3px;
  z-index: 3;
}
.itemScroll-box .itemBtn::before{
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  background-color: #c4d5e8;
  transform: rotate(45deg);
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -7px;
  margin-left: -7px;
}
.itemScroll-box .left-btn{
  left: 24px;
}
.itemScroll-box .right-btn{
  right: 24px;
  transform: rotate(180deg)
}
.itemScroll-box .itemBtn.active{
  cursor: pointer;
}
.itemScroll-box .itemBtn.active::before{
  background-color: #4fa4fa;
}
.itemScroll-box .itemBtn.active:hover{
  opacity: .8;
}


/* 滚动特效样式 end */

/* 附件上传相关样式 */
.file-options {
  font-size: 0;
  text-align: center;
}
.file-options-delete,
.file-options-delete:hover,
.file-options-delete:active {
  color: #FF2626;
  margin-right: 15px;
  font-size: 14px;
}
.file-options-download {
  font-size: 14px;
}
.img-view-block {
  font-size: 0 !important;
  height: 130px;
  border: 1px #0AA1FF dashed;
  border-radius: 4px;
  overflow: hidden;
  text-align: center;
  position: relative;
}
.img-view-block > img {
  height: 100%;
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
  border: none;
  visibility: hidden;
  position: absolute;
}
.img-view-block.success > img {
  visibility: visible;
  position: relative;
}
.img-view-block .file-img-btn {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  padding: 0 15px;
}
.img-view-block.success > .file-img-btn {
  display: none;
}
.img-view-block .file-img-btn .btn-icon {
  display: block;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  position: relative;
}
.img-view-block .file-img-btn .btn-icon::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 0;
  background-color: #ABB0BB;
}
.img-view-block .file-img-btn .btn-icon::before {
  content: '';
  display: block;
  height: 100%;
  width: 2px;
  position: absolute;
  left: 50%;
  margin-left: -1px;
  top: 0;
  background-color: #ABB0BB;
}
.img-view-block .file-img-btn .btn-text{
  display: block;
  font-size: 14px;
  color: #ABB0BB;
  white-space: nowrap;
  padding-top: 15px;
}
.img-view-block .file-img-btn:hover .btn-icon::before,
.img-view-block .file-img-btn:hover .btn-icon::after{
  background-color: #0AA1FF;
}
.img-view-block .file-img-btn:hover .btn-text{
  color: #0AA1FF;
}
.img-view-block .file-img-del{
  position: absolute;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  transition: all .24s ease-out;
  top: 0;
  right: 0;
  width: 100%;
  visibility: hidden;
}
.img-view-block .file-img-del .del {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  padding: 0 12px;
  line-height: 24px;
  color: #fff;
  cursor: pointer;
}
.img-view-block.success:hover .file-img-del {
  background-color: rgba(0, 0, 0, .35);
  visibility: visible;
}

table tr td a.layui-table-link,
table tr td a {
  text-decoration: underline !important;
  cursor: pointer;
}


.http-error-content {
  position: relative;
  padding: 30px 20px;
  padding-bottom: 0;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
}
.http-error-content * {
  box-sizing: border-box;
}
.http-error-content::after{
  content: '';
  display: block;
  clear: both;
  padding: 0;
  font-size: 0;
  margin: 0;
}
.http-error-content .error-icon-block{
 width: 48px;
 line-height: 30px;
 color: #FF2626;
 position: absolute;
 left: 20px;
 top: 30px;
 text-align: left;
}
.http-error-content .error-icon-block > i {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  border-radius: 15px;
  border: 2px #FF2626 solid;
  text-align: center;
}
.http-error-content .error-content{
  height: 100%;
  text-align: left;
  margin-left: 48px;
}
.http-error-content .error-title-text{
  font-size: 16px;
  line-height: 24px;
  color: #333;
  font-weight: bold;
}
.http-error-content ul {
  height: calc(100% - 24px);
  padding-right: 30px;
  overflow: auto;
}
.http-error-content li {
  padding-top: 6px;
  font-size: 0;
}
.http-error-content .error-text {
  display: block;
  white-space: normal;
  line-height: 18px;
  font-size: 14px;
  color: #666;
}
.import-input {
  position: relative;
}
.import-input .import-error-block{
  height: calc(100% - 60px);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.import-error-block .http-error-content{
  width: 560px;
  padding-top: 0;
  display: inline-block;
  vertical-align: middle;
  height: auto;
}
.import-error-block .error-icon-block {
  top: 0;
}
.import-error-block .error-title-text{
  line-height: 30px;
  border-bottom: 1px #e8e8e8 solid;
}
.import-error-block ul{
  padding-bottom: 10px;
}
.import-error-block .http-error-content  li{
  padding-top: 24px;
}

/* 图形图表样式布局 */
.chart-layout {
  height: 300px;
  padding-top: 30px;
  position: relative;
}
.chart-layout .chart-title-layout {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 30px;
  font-size: 0;
}
.chart-layout .chart-title-layout::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0;
}
.chart-layout .chart-title-layout > .text {
  font-size: 16px;
  font-weight: bold;
  color: #46484B;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.chart-layout .chart-title-layout .right {
  position: absolute;
  right: 0;
  top:0;
  height: 100%;
}
.chart-layout .chart-block {
  display: block;
  height: 100%;
}
.chart-layout.jscWeb {
  padding-top: 2rem;
}
.chart-layout.jscWeb .chart-title-layout{
  height: 2rem;
  line-height: 2rem;
}
.chart-layout.jscWeb .chart-title-layout > .text {
  color: #44A5FF;
  font-size: 1rem;
}

.secret-level-line { 
  border-top: dashed 1px #D4D7D8;
  margin-bottom: 30px;
  margin-top:30px;
  margin-left:10px;
}
.secret-level-helper {
  color: #B1B1B2;
  line-height: 29px;
}

.dense{
  border-bottom: 1px dotted  #ccc; 
}

.layui-form-select .layui-edge{
  border-width: 5px;
}
.xm-select-parent .xm-select-sj{
border-width: 5px;
}


/* 饼图图例样式 */
.pie-legend-list {
  position: absolute;
  z-index: 9;
}
.pie-legend-list.horizontal,
.pie-legend-list.left{
  left: 0;
}
.pie-legend-list.bottom{
  bottom: 0;
}
.pie-legend-list.right{
  right: 0;
}
.pie-legend-list.vertical,
.pie-legend-list.top{
  top: 0;
}
.pie-legend-list .legend-item {
  display: inline-block;
  vertical-align: top;
  padding-bottom: .6rem;
  position: relative;
  overflow: hidden;
  font-size: 0;
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
  transition: all .18s ease-out;
}
.pie-legend-list .legend-item:hover {
  opacity: .75;
}

.pie-legend-list .legend-item input {
  position: absolute;
  right: 110%;
  bottom: 110%;
}
.pie-legend-list .legend-item > span {
  display: inline-block;
  vertical-align: middle;
  margin-right: .4rem;
  font-size: 14px;
  line-height: 16px;
}
.pie-legend-list .legend-item > span:last-child{
  margin-right: 0;
}
.pie-legend-list.vertical{
  height: 100%;
}
.pie-legend-list.vertical .legend-item{
  display: block;
}
.pie-legend-list.horizontal{
  width: 100%;
}
.pie-legend-list.horizontal .legend-item{
  margin-right: 1rem;
}
.pie-legend-list .lenend-item-icon{
  width: 14px;
  height: 14px;
  border-radius: 2px;
}
.pie-legend-list .legend-item.selected,
.pie-legend-list .legend-item.selected:hover{
  opacity: .6 !important;
}
.pie-legend-list .legend-item.selected > .lenend-item-icon{
  background: #ccc !important;
}
.pie-legend-list .legend-item.selected > span{
  color: #ccc !important;
}
.pie-legend-list .legend-item > .lenend-item-name{
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 知悉范围* --- start --- */
.sed-item-layout{
  font-size: 0 !important;
  height: auto;
}
.item-list-data {
  padding-top: 4px;
  display: inline-block;
  vertical-align: middle;
  min-height: 28px;
}
.item-list-input{
  display: inline-block;
  vertical-align: middle;
  border: none;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  color: #333;
}
.sed-item-list{
  display: inline-block;
  vertical-align: top;
  padding: 2px 4px;
  padding-right: 20px;
  position: relative;
  background-color: #E6F4FF;
  margin-right: 5px;
  margin-bottom: 4px;
}
.sed-item-list .name-item {
  display: block;
  font-size: 14px;
  line-height: 16px;
  white-space: nowrap;
  max-width: 80px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sed-item-list .delete-item {
  display: block;
  position: absolute;
  right: 6px;
  width: 7px;
  height: 8px;
  top: 6px;
  cursor: pointer;
  zoom: 1;
  opacity: .7;
  background: url('../images/dialog-close.png') no-repeat center center;
  background-size: 100% 100%;
}
.scope-layout .table-page-layout {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 1px;
}
.scope-layout .layui-laypage {
  margin: 0;
}
.scope-layout .layui-laypage a,
.scope-layout .layui-laypage span {
  margin-bottom: 0;
}
.scope-layout.layui-row {
  padding-bottom: 0;
}
/* 知悉范围* --- end --- */

@media screen and (max-width: 1366px) {
  .pie-legend-list .legend-item > span {
    font-size: 12px;
    line-height: 14px;
  }
  .pie-legend-list .lenend-item-icon {
    width: 12px;
    height: 12px;
  }
}