.layout-view-content.dialog {
    padding: 20px 30px;
    min-height: auto;
    height: calc(100% - 61px);
    overflow: auto;
}
.layout-view-content .dialog-footer-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px #e8e8e8 solid;
    padding: 10px 40px 10px 20px;
    text-align: right;
    box-sizing: border-box;
}
.layui-btn {
    height: 30px;
    line-height: 30px;
    min-width: 72px;
    padding: 0 11px;
    text-align: center;
    border-radius: 3px;
    background-color: #fff;
    border: 1px #C9C9C9 solid;
    transition: all .24s ease-out;
}
.layui-btn.layui-btn-normal {
    background-color: #1890FF;
    border-color: #1890FF;
    color: #fff;
}
.layui-btn:not(:disabled):not(.border-red):active, .layui-btn:not(:disabled):not(.border-red):hover {
    box-shadow: 0 0 3px #1890FF;
    -ms-box-shadow: 0 0 3px #1890FF;
}
.layui-btn:not(.border-blue):not(.border-red):not(.layui-btn-normal):hover {
    border-color: #1890FF;
    color: #1890FF;
}
.layui-form-label,.layui-input, .layui-select,.layui-textarea{
    font-size: 14px;
    border-radius: 5px;
}
.must-fill{
    position: static;
    padding-right: 6px;
}
.box-body{
    padding-right: 0;
}
.layui-input:not(:disabled):hover, .layui-input:not(:disabled):active, .laydate-input:not(:disabled):hover, .laydate-input:not(:disabled):active, .layui-textarea:not(:disabled):hover, .layui-textarea:not(:disabled):active {
    border-color: #0AA1FF !important;
    box-shadow: 0 0 7px -3px #0AA1FF;
    -ms-box-shadow: 0 0 7px -3px #0AA1FF;
}
.dialog-footer-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    border-top: 1px #e8e8e8 solid;
    padding: 15px 40px 15px 20px;
    text-align: right;
    font-size: 0;
}
.dialog-footer-btn:after {
	content: '';
	display: block;
	clear: both;
}
.formBox .searchBox {
    margin-top: 0;
    margin-bottom: 10px;
}
.tableToolBoxF{
    height: 30px;
    margin: 10px 0 5px;
}
.layui-layer-setwin a{
    width: 12px;
    height: 12px;
}

/* 知悉范围* --- start --- */
.item-list-data {
    padding-top: 4px;
    display: inline-block;
    vertical-align: middle;
    min-height: 28px;
}
.item-list-input{
    display: inline-block;
    vertical-align: middle;
    border: none;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    color: #333;
}
.sed-item-list{
    display: inline-block;
    vertical-align: top;
    padding: 2px 4px;
    padding-right: 20px;
    position: relative;
    background-color: #E6F4FF;
    margin-right: 5px;
    margin-bottom: 4px;
}
.sed-item-list .name-item {
    display: block;
    font-size: 14px;
    line-height: 16px;
    white-space: nowrap;
    max-width: 80px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.sed-item-list .delete-item {
    display: block;
    position: absolute;
    right: 6px;
    width: 7px;
    height: 8px;
    top: 6px;
    cursor: pointer;
    zoom: 1;
    opacity: .7;
    background: url('../images/dialog-close.png') no-repeat center center;
    background-size: 100% 100%;
}
.scope-layout .table-page-layout {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 1px;
}
.scope-layout .layui-laypage {
    margin: 0;
}
.scope-layout .layui-laypage a,
.scope-layout .layui-laypage span {
    margin-bottom: 0;
}
.scope-layout.layui-row {
    padding-bottom: 0;
}
.layui-input-block-scope{
    position: relative;
}
.layui-input-block-scope .layui-input{
    position: relative;
    background: none !important;
    border-width: 0 !important;
    padding: 1px;
    padding-left: 10px;
    font-size: 0 !important;
    height: auto;
}
.layui-input-block-scope > input {
    width: 100% !important;
    height: 100% !important;
    padding: 0;
    margin: 0;
    font-size: 0 !important;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px #D4D7D8 solid;
    border-radius: 5px;
    background-color: #fff;
}

/* 知悉范围* --- end --- */

@media screen and (max-width: 1366px) {
    .pie-legend-list .legend-item > span {
        font-size: 12px;
        line-height: 14px;
    }
    .pie-legend-list .lenend-item-icon {
        width: 12px;
        height: 12px;
    }
}
.link-text {
    color: #0AA1FF;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    transition: opacity .24s ease-out;    position: relative;
    top: 6px;
}
.layui-input-block-scope .layui-input {
    position: relative;
    background: none !important;
    border-width: 0 !important;
    padding: 1px;
    padding-left: 10px;
    font-size: 0 !important;
    height: auto;
}
.layui-input-block-scope {
    position: relative;
}
.layui-input-block{min-height: 28px}
#scope_list_layout .layui-input:hover{border-color:#fff !important;box-shadow:none}
#scope_list_layout  .layui-input-block-scope .layui-input{box-shadow:none}