.layout-view-content{
	position: relative;
}
.treeBox {
	position: absolute;
	left: 0;
	top: 0;
	width: 240px;
	height: 100%;
}
.treeBox .sercah-block {
	height: 48px;
	padding: 12px 12px 6px;
}
.treeBox .layui-side-scroll{
	width: auto;
    margin-top: 18px;
    height: calc(100% - 18px);
    border: 1px #e8e8e8 solid;
    margin-left: 16px;
    padding-top: 10px;
}
.treeTableBox  {
	margin-left: 250px;
}
.table-page-layout {
	text-align: right;
	padding-top: 10px;
}