.addKY_project .radio-tab-box{
	padding-bottom: 10px;
}
.addKY_project .radio-tab-box .layui-form-radio{
	margin-right: 40px;
	line-height: 20px;
}
.addKY_project .unInput-layout-box{
	padding-top: 10px;
}
.tips-dialog-content {
	height: 100%;
	padding: 20px;
	padding-bottom: 0;
	display: none;
	text-align: center;
}
.tips-dialog-content > .text {
	display: inline-block;
	vertical-align: middle;
	line-height: 20px;
	max-width: 99%;
	font-size: 14px;
}