.projectAnalysis {
  padding-top: 20px;
}
@media screen and (min-width: 1300px) {
  .projectAnalysis .chart-title-layout{
    padding-left: 30px;
  }
  .projectAnalysis .chart-title-layout .right {
    right: 90px;
  }
  .projectAnalysis .chart-layout .chart-block {
    margin-left: 40px;
    margin-right: 90px;
  }
}
.projectAnalysis .projectMonth{
  padding-top: 72px;
}
.projectAnalysis .left-date-block{
  position: absolute;
  left: 30px;
  margin-top: 10px;
  top: 100%;
  z-index: 9;
}
.projectAnalysis .chart-title-layout .right .layui-input-inline{
  width: 120px;
}