<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pcitc.mapper.researchplatform.PlatformMapper">

    <resultMap id="BaseResultMap" type="com.pcitc.base.researchplatform.PlatformInfoModel">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="platform_name" jdbcType="VARCHAR" property="platformName"/>
        <result column="research_field" jdbcType="VARCHAR" property="researchField"/>
        <result column="supporting_institutions" jdbcType="VARCHAR" property="supportingInstitutions"/>
        <result column="research_funds" jdbcType="DECIMAL" property="researchFunds"/>
        <result column="platform_introduction" jdbcType="VARCHAR" property="platformIntroduction"/>
        <result column="person_liable" jdbcType="VARCHAR" property="personLiable"/>
        <result column="platform_type" jdbcType="VARCHAR" property="type"/>
        <result column="team_Introduction" jdbcType="VARCHAR" property="teamIntroduction"/>
        <result column="overall_situation" jdbcType="VARCHAR" property="overallSituation"/>
        <result column="platform_scoring" jdbcType="INTEGER" property="platformScoring"/>
        <result column="level" jdbcType="VARCHAR" property="level"/>
        <result column="create_user" jdbcType="VARCHAR" property="creator"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="updator" jdbcType="VARCHAR" property="updator"/>
        <result column="deleted" jdbcType="VARCHAR" property="deleted"/>
        <result column="img_id" jdbcType="VARCHAR" property="imgId"/>
        <result column="project_count" jdbcType="INTEGER" property="projectCount"/>
        <result column="achievement_count" jdbcType="INTEGER" property="achievementCount"/>

        <result column="create_unit_id" jdbcType="VARCHAR" property="createUnitId"/>
        <result column="create_unit_name" jdbcType="VARCHAR" property="createUnitName"/>
        <result column="research_field_text" jdbcType="VARCHAR" property="researchFieldText"/>
        <result column="supporting_institutions_text" jdbcType="VARCHAR" property="supportingInstitutionsText"/>
        <result column="platform_type_text" jdbcType="VARCHAR" property="typeText"/>
        <result column="level_text" jdbcType="VARCHAR" property="levelText"/>

        <result column="secret_level" jdbcType="VARCHAR" property="secretLevel"/>
        <result column="secret_level_text" jdbcType="VARCHAR" property="secretLevelText"/>
        <result column="knowledge_scope" jdbcType="VARCHAR" property="knowledgeScope"/>
        <result column="knowledge_person" jdbcType="VARCHAR" property="knowledgePerson"/>
        
        <result column="nameCount" jdbcType="INTEGER" property="nameCount"/>
        
        
        
        
    </resultMap>


    <sql id="Base_Column_List">
        id,
        platform_name,
        research_field,
        supporting_institutions,
        research_funds,
        platform_introduction,
        person_liable,
        platform_type,
        team_Introduction,
        overall_situation,
        platform_scoring,
        level,
        img_id,
        create_user,
        create_date,
        update_date,
        updator,
        deleted,
        create_unit_id,
        create_unit_name,
        secret_level,
        knowledge_scope,
        knowledge_person
       </sql>

    <select id="scienceStatistics" parameterType="java.util.Map" resultType="java.util.Map">
        select * from view_science_plan_report
        where 1=1
        <if test="year != null and year != '' " >
            and annualYear = #{year}
        </if>
        <if test="unitId != null and unitId != '' " >
            and unitId = #{unitId}
        </if>

    </select>

    <select id="load" parameterType="java.lang.String" resultMap="BaseResultMap">
        select  * from view_kypt_info where id = #{id} and deleted != '1'
    </select>

    <select id="query" parameterType="java.util.Map" resultMap="BaseResultMap">
        select  t1.*,(SELECT count(*) FROM kypt_project  WHERE kypt_project.platform_id = t1.id and deleted != '1' ) AS project_count,
        (SELECT count(*) FROM kypt_achievement  WHERE kypt_achievement.platform_id = t1.id and deleted != '1' ) AS achievement_count
        from view_kypt_info t1 where 1=1
        and deleted != '1'
        <include refid="selectByParam" />
        order by create_date desc

    </select>

    <select id="query_COUNT" parameterType="java.util.Map" resultType="Long">
        select  count(*) from kypt_info where 1=1
        and deleted != '1'
        <include refid="selectByParam" />

    </select>



    <sql id="selectByParam">
        <if test="platformName != null and platformName != '' " >
            and platform_name like CONCAT('%',#{platformName},'%')
        </if>
        <if test="supportingInstitutions != null and supportingInstitutions != '' " >
            and supporting_institutions = #{supportingInstitutions}
        </if>
        <if test="personLiable != null and personLiable != '' " >
            and person_liable like CONCAT('%',#{personLiable},'%')
        </if>
        <if test="researchField != null and researchField != '' " >
            and  exists (select 1 from tfm_type a join (
            select type_index from tfm_type where status = 1 and FIND_IN_SET(type_code, #{researchField}) >0
            ) b on a.type_index like CONCAT(b.type_index, '%')
            where a.status = 1
            and FIND_IN_SET(a.type_code, research_field) > 0)
        </if>
        <if test="platformScorinHigh != null and platformScorinHigh != '' " >
            and platform_scoring &lt;= #{platformScorinHigh}
        </if>
        <if test="platformScorinLow != null and platformScorinLow != '' " >
            and platform_scoring &gt;= #{platformScorinLow}
        </if>
        <if test="level != null and level != '' " >
            and level = #{level,jdbcType=VARCHAR}
        </if>

        <if test="childUnitIds != null          and childUnitIds !=''  ">
            AND create_unit_id in
            <foreach item="item"  collection="childUnitIds.split(',')"  open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>


        <if test="secretLevel != null and secretLevel != '' ">
            and secret_level = #{secretLevel}
        </if>
        and (secret_level = '0' or (
            secret_level <![CDATA[<=]]> #{userSecretLevel}
            <if test='skipKnowledgeScope=="0"'>
                and FIND_IN_SET(#{userName}, knowledge_scope) &lt; 0
            </if>
        ))

        <if test="condition != null and condition !=''  ">
            ${condition}
        </if>

    </sql>
    
    
    <!-- 新加 对外接口 -->
    <sql id="selectCondition">
        <if test="platformName != null and platformName != '' " >
            and platform_name like CONCAT('%',#{platformName},'%')
        </if>
        <if test="supportingInstitutions != null and supportingInstitutions != '' " >
            and supporting_institutions = #{supportingInstitutions}
        </if>
        <if test="personLiable != null and personLiable != '' " >
            and person_liable like CONCAT('%',#{personLiable},'%')
        </if>
        <if test="researchField != null and researchField != '' " >
            and  exists (select 1 from tfm_type a join (
            select type_index from tfm_type where status = 1 and FIND_IN_SET(type_code, #{researchField}) >0
            ) b on a.type_index like CONCAT(b.type_index, '%')
            where a.status = 1
            and FIND_IN_SET(a.type_code, research_field) > 0)
        </if>
        <if test="platformScorinHigh != null and platformScorinHigh != '' " >
            and platform_scoring &lt;= #{platformScorinHigh}
        </if>
        <if test="platformScorinLow != null and platformScorinLow != '' " >
            and platform_scoring &gt;= #{platformScorinLow}
        </if>
        <if test="level != null and level != '' " >
            and level = #{level,jdbcType=VARCHAR}
        </if>

        <if test="childUnitIds != null          and childUnitIds !=''  ">
            AND create_unit_id in
            <foreach item="item"  collection="childUnitIds.split(',')"  open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="secretLevel != null and secretLevel != '' ">
            and secret_level = #{secretLevel}
        </if>
        <if test="userSecretLevel != null and userSecretLevel !=''  ">        
	         AND (secret_level &lt;= #{userSecretLevel} OR  secret_level ='0')
	    </if>
    </sql>
    <select id="queryPlatformListApi" parameterType="java.util.Map" resultMap="BaseResultMap">
        select  t1.*,(SELECT count(*) FROM kypt_project  WHERE kypt_project.platform_id = t1.id ) AS project_count,
        (SELECT count(*) FROM kypt_achievement  WHERE kypt_achievement.platform_id = t1.id ) AS achievement_count
        from view_kypt_info t1 where 1=1
        and deleted != '1'
        <include refid="selectCondition" />
    </select>
    <!-- 新加 对外接口  end -->
    
    
   
    
    


    <insert id="add" parameterType="com.pcitc.base.researchplatform.PlatformInfoModel">
        insert into kypt_info(
        id,
        platform_name,
        research_field,
        supporting_institutions,
        research_funds,
        platform_introduction,
        person_liable,
        platform_type,
        team_Introduction,
        overall_situation,
        platform_scoring,
        img_id,level,
        create_user,
        create_date,
        update_date,
        updator,deleted,
        research_field_text,
        create_unit_id,
        create_unit_name,
        secret_level,
        knowledge_scope,
        knowledge_person
        )
         values(
         #{id},#{platformName},
         #{researchField},
         #{supportingInstitutions},
         #{researchFunds},
         #{platformIntroduction},
         #{personLiable},#{type},
         #{teamIntroduction},
         #{overallSituation},
         #{platformScoring},
         #{imgId},#{level},
         #{creator},#{createDate},
         #{updateDate},
         #{updator},#{deleted},
         #{researchFieldText},
         #{createUnitId},
         #{createUnitName},
         #{secretLevel},
         #{knowledgeScope},
         #{knowledgePerson}

          )
    </insert>

    <update id="update" parameterType="com.pcitc.base.researchplatform.PlatformInfoModel">
        update kypt_info
        <trim prefix="SET" suffixOverrides=",">
            img_id = #{imgId,jdbcType=VARCHAR},
            <if test="platformName != null and platformName != '' " >
                platform_name = #{platformName},
            </if>
            <if test="researchField != null and researchField != '' " >
                research_field = #{researchField},
            </if>
            <if test="supportingInstitutions != null and supportingInstitutions != ''" >
                supporting_institutions = #{supportingInstitutions},
            </if>
            <if test="researchFunds != null and researchFunds != ''" >
                research_funds = #{researchFunds},
            </if>
            <if test="platformIntroduction != null and platformIntroduction != ''" >
                platform_introduction = #{platformIntroduction},
            </if>
            <if test="personLiable != null and personLiable != ''" >
                person_liable = #{personLiable},
            </if>
            <if test="type != null and type != ''" >
                platform_type = #{type},
            </if>
            <if test="teamIntroduction != null and teamIntroduction != ''" >
                team_Introduction = #{teamIntroduction},
            </if>
            <if test="overallSituation != null and overallSituation != ''" >
                overall_situation = #{overallSituation},
            </if>
            <if test="platformScoring != null and platformScoring != ''" >
                platform_scoring = #{platformScoring},
            </if>
            <if test="level != null and level != ''" >
                level = #{level},
            </if>
            <if test="updateDate != null " >
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updator != null and updator != ''" >
                updator = #{updator,jdbcType=VARCHAR},
            </if>
            <if test="deleted != null and deleted != ''" >
                deleted = #{deleted,jdbcType=VARCHAR},
            </if>
            <if test="researchFieldText != null and researchFieldText != ''" >
                research_field_text = #{researchFieldText,jdbcType=VARCHAR},
            </if>

            <if test="secretLevel != null and secretLevel != ''" >
                secret_level = #{secretLevel},
            </if>
            
            

        </trim>
        where id = #{id}
    </update>

    <select id="selectPaltinfoCount" parameterType="java.util.Map" resultType="java.util.Map">
        select count(1) as count, 'achievement' as count_type from kypt_achievement where platform_id =#{id} and deleted != '1'
        <if test="childUnitIds != null          and childUnitIds !=''  ">
            AND create_unit_id in
            <foreach item="item"  collection="childUnitIds.split(',')"  open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="secretLevel != null and secretLevel != '' ">
            and secret_level = #{secretLevel}
        </if>
        and (secret_level = '0' or (
        secret_level <![CDATA[<=]]> #{userSecretLevel}
        <if test='skipKnowledgeScope=="0"'>
            and FIND_IN_SET(#{userName}, knowledge_scope) &lt; 0
        </if>
        ))
        union all
        select count(1) as count, 'patent' as count_type from kypt_patent where platform_id =#{id} and deleted != '1'
        <if test="childUnitIds != null          and childUnitIds !=''  ">
            AND create_unit_id in
            <foreach item="item"  collection="childUnitIds.split(',')"  open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="secretLevel != null and secretLevel != '' ">
            and secret_level = #{secretLevel}
        </if>
        and (secret_level = '0' or (
        secret_level <![CDATA[<=]]> #{userSecretLevel}
        <if test='skipKnowledgeScope=="0"'>
            and FIND_IN_SET(#{userName}, knowledge_scope) &lt; 0
        </if>
        ))
        union all
        select count(1) as count, 'project' as count_type from kypt_project where platform_id =#{id} and deleted != '1'
        <if test="childUnitIds != null          and childUnitIds !=''  ">
            AND create_unit_id in
            <foreach item="item"  collection="childUnitIds.split(',')"  open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="secretLevel != null and secretLevel != '' ">
            and secret_level = #{secretLevel}
        </if>
        
        
        union all
        select count(1) as count, 'treatise' as count_type from kypt_treatise where platform_id =#{id} and deleted != '1'
        <if test="childUnitIds != null          and childUnitIds !=''  ">
            AND create_unit_id in
            <foreach item="item"  collection="childUnitIds.split(',')"  open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="secretLevel != null and secretLevel != '' ">
            and secret_level = #{secretLevel}
        </if>
        
        union all
        select count(1) as count, 'member' as count_type from kypt_member where platform_id =#{id} and deleted != '1'
        <if test="childUnitIds != null          and childUnitIds !=''  ">
            AND create_unit_id in
            <foreach item="item"  collection="childUnitIds.split(',')"  open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="secretLevel != null and secretLevel != '' ">
            and secret_level = #{secretLevel}
        </if>
    </select>

    <update id="delete" parameterType="java.lang.String">
            update kypt_info set deleted = '1' where id = #{id}
    </update>

    <insert id="excelData2MemoryDB" parameterType="java.util.List">
        insert into kypt_info_memory(
        id,
        platform_name,
        research_field,
        supporting_institutions,
        research_funds,
        platform_introduction,
        team_Introduction,
        overall_situation,
        person_liable,
        platform_scoring,
        level,
        deleted,
        create_user,
        create_date
        )values
        <foreach collection="list" item="plf" separator=",">
            (
            #{plf.id},
            #{plf.platformName},
            #{plf.researchField},
            #{plf.supportingInstitutions},
            #{plf.researchFunds},
            #{plf.platformIntroduction},
            #{plf.teamIntroduction},
            #{plf.overallSituation},
            #{plf.personLiable},
            #{plf.platformScoring},
            #{plf.level},
            #{plf.deleted},
            #{plf.creator},
            #{plf.createDate}
            )
        </foreach>
    </insert>

    <select id="handlerKyptInfoImport" parameterType="java.lang.String" resultMap="BaseResultMap">
        call handler_kypt_import(#{batchId})
    </select>




    <select id="getKyptInfoGrupCountList"  resultMap="BaseResultMap">
        SELECT * FROM (
		 SELECT t.`name`,t.`num_value` FROM sys_dictionary t WHERE t.`parent_code`='ROOT_KJPT_PTJB'
		)t1 
		LEFT JOIN (
		SELECT t.`level`,COUNT(*) nameCount FROM kypt_info t GROUP BY t.`level`
		) t2 ON t1.num_value=t2.`level` 
    </select>


</mapper>