<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pcitc.mapper.researchplatform.PlatformLeaderMapper">

    <resultMap id="BaseResultMap" type="com.pcitc.base.researchplatform.PlatformLeaderModel">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="platform_id" jdbcType="VARCHAR" property="platformId"/>
        <result column="base_id" jdbcType="VARCHAR" property="baseId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="post" jdbcType="DECIMAL" property="post"/>
        <result column="work_unit" jdbcType="VARCHAR" property="workUnit"/>
        <result column="major" jdbcType="VARCHAR" property="major"/>
        <result column="deleted" jdbcType="VARCHAR" property="deleted"/>
        <result column="create_user" jdbcType="VARCHAR" property="creator"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="update_user" jdbcType="VARCHAR" property="updator"/>
		<result column="work_unit_text" jdbcType="VARCHAR" property="workUnitText"/>
        <result column="create_unit_id" jdbcType="VARCHAR" property="createUnitId"/>
        <result column="create_unit_name" jdbcType="VARCHAR" property="createUnitName"/>

        <result column="secret_level" jdbcType="VARCHAR" property="secretLevel"/>
        <result column="secret_level_text" jdbcType="VARCHAR" property="secretLevelText"/>
        <result column="knowledge_scope" jdbcType="VARCHAR" property="knowledgeScope"/>
        <result column="knowledge_person" jdbcType="VARCHAR" property="knowledgePerson"/>
    </resultMap>


    <sql id="Base_Column_List">
        id,
        platform_id,
        base_id,
        name,
        post,
        work_unit,
        major,
        deleted,
        create_user,
        create_date,
        update_user,
        update_date,
        create_unit_id,
        create_unit_name,
        secret_level,
        knowledge_scope,
        knowledge_person

       </sql>

    <select id="load" parameterType="java.lang.String" resultMap="BaseResultMap">
        select  * from view_kypt_leader where id = #{id}
    </select>

    <select id="query" parameterType="java.util.Map" resultMap="BaseResultMap">
        select  * from view_kypt_leader where 1=1 and platform_id = #{platformId}
        <if test="baseIds !=null">
            and base_id in (
                <foreach collection="baseIds"  index="index"  item="id"  separator=",">
                    #{id}
                </foreach>
            )
        </if>

        <if test="secretLevel != null and secretLevel != '' ">
            and secret_level = #{secretLevel}
        </if>
        and (secret_level = '0' or (
        secret_level <![CDATA[<=]]> #{userSecretLevel}
        <if test='skipKnowledgeScope=="0"'>
            and FIND_IN_SET(#{userName}, knowledge_scope) &lt; 0
        </if>
        ))
    </select>

    <select id="query_COUNT" parameterType="java.util.Map" resultType="Long">
        select  count(*) from kypt_leader where 1=1 and platform_id = #{platformId}
        and deleted != '1'

        <if test="secretLevel != null and secretLevel != '' ">
            and secret_level = #{secretLevel}
        </if>
    </select>


    <insert id="add" parameterType="com.pcitc.base.researchplatform.PlatformLeaderModel">
        insert into kypt_leader(
        id,
        platform_id,
        base_id,
        name,
        post,
        work_unit,
        major,
        deleted,
        create_date,
        create_user,
        update_date,
        update_user,
        create_unit_id,
        create_unit_name,
        secret_level,
        knowledge_scope,
        knowledge_person
        )
         values(
         #{id},
         #{platformId},
         #{baseId},
         #{name},
         #{post},
         #{workUnit},
         #{major},
         #{deleted},
         #{createDate},
         #{creator},
         #{updateDate},
         #{updator},
         #{createUnitId},
         #{createUnitName},
         #{secretLevel},
         #{knowledgeScope},
         #{knowledgePerson}
         )
    </insert>

    <update id="update" parameterType="com.pcitc.base.researchplatform.PlatformLeaderModel">
        update kypt_leader
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != '' " >
                name = #{name},
            </if>
            <if test="post != null and post != '' " >
                post = #{post},
            </if>
            <if test="workUnit != null and workUnit != ''" >
                work_unit = #{workUnit},
            </if>
            <if test="major != null and major != ''" >
                major = #{major},
            </if>

            <if test="secretLevel != null and secretLevel != ''" >
                secret_level = #{secretLevel},
            </if>


        </trim>
        where id = #{id}
    </update>

    <update id="delete" parameterType="java.lang.String">
            update kypt_leader set deleted = '1' where id = #{id}
    </update>

    <insert id="batchSave" parameterType="java.util.List">
        insert into kypt_leader(
        id,platform_id,
        base_id,name,post,
        work_unit,major,deleted,
        create_date,create_user,
        update_date,update_user,
        create_unit_id,
        create_unit_name,
        secret_level)
        values
        <foreach collection="list" item="km" separator=",">
            (#{km.id},
            #{km.platformId},
            #{km.baseId},
            #{km.name},
            #{km.post},
            #{km.workUnit},
            #{km.major},
            #{km.deleted},
            #{km.createDate},
            #{km.creator},
            #{km.updateDate},
            #{km.updator},
            #{km.createUnitId},
            #{km.createUnitName},
            #{km.secretLevel}

            )
        </foreach>
    </insert>

</mapper>