<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pcitc.mapper.researchplatform.PlatformMemberMapper">

    <resultMap id="BaseResultMap" type="com.pcitc.base.researchplatform.PlatformMemberModel">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="platform_id" jdbcType="VARCHAR" property="platformId"/>
        <result column="base_id" jdbcType="VARCHAR" property="baseId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="birth" jdbcType="DECIMAL" property="birth"/>
        <result column="education" jdbcType="VARCHAR" property="education"/>
        <result column="technical_title" jdbcType="VARCHAR" property="technicalTitle"/>
        <result column="graduate_school" jdbcType="VARCHAR" property="graduateSchool"/>
        <result column="major_studied" jdbcType="VARCHAR" property="majorStudied"/>
        <result column="post_name" jdbcType="VARCHAR" property="postName"/>
        <result column="assume_office" jdbcType="VARCHAR" property="assumeOffice"/>
        <result column="work_unit" jdbcType="VARCHAR" property="workUnit"/>
        <result column="work_unit_text" jdbcType="VARCHAR" property="workUnitText"/>
        <result column="deleted" jdbcType="VARCHAR" property="deleted"/>
        <result column="create_user" jdbcType="VARCHAR" property="creator"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="update_user" jdbcType="VARCHAR" property="updator"/>
		<result column="education_text" jdbcType="VARCHAR" property="educationText"/>
        <result column="create_unit_id" jdbcType="VARCHAR" property="createUnitId"/>
        <result column="create_unit_name" jdbcType="VARCHAR" property="createUnitName"/>

        <result column="secret_level" jdbcType="VARCHAR" property="secretLevel"/>
        <result column="secret_level_text" jdbcType="VARCHAR" property="secretLevelText"/>
        <result column="knowledge_scope" jdbcType="VARCHAR" property="knowledgeScope"/>
        <result column="knowledge_person" jdbcType="VARCHAR" property="knowledgePerson"/>
    </resultMap>


    <sql id="Base_Column_List">
        id,
        platform_id,
        base_id,
        name,
        birth,
        education,
        technical_title,
        graduate_school,
        major_studied,
        post_name,
        assume_office,
        work_unit,
        deleted,
        create_user,
        create_date,
        update_user,
        update_date,
        create_unit_id,
        create_unit_name,
        secret_level,
        knowledge_scope,
        knowledge_person
       </sql>

    <select id="load" parameterType="java.lang.String" resultMap="BaseResultMap">
        select  * from view_kypt_member where id = #{id} and deleted != '1'
    </select>

    <select id="query" parameterType="java.util.Map" resultMap="BaseResultMap">
        select  * from view_kypt_member where 1=1 and platform_id = #{platformId}
        <if test="baseIds !=null">
            and base_id in (
                <foreach collection="baseIds"  index="index"  item="id"  separator=",">
                    #{id}
                </foreach>
            )

        </if>
            and deleted != '1'

        <if test="secretLevel != null and secretLevel != '' ">
            and secret_level = #{secretLevel}
        </if>
        and (secret_level = '0' or (
        secret_level <![CDATA[<=]]> #{userSecretLevel}
        <if test='skipKnowledgeScope=="0"'>
            and FIND_IN_SET(#{userName}, knowledge_scope)
        </if>
        ))
    </select>


    <insert id="add" parameterType="com.pcitc.base.researchplatform.PlatformMemberModel">
        insert into kypt_member(
        id,platform_id,
        base_id,name,
        birth,
        education,
        technical_title,
        graduate_school,
        major_studied,
        post_name,
        assume_office,
        work_unit,
        deleted,
        create_date,
        create_user,
        update_date,
        update_user,
        create_unit_id,
        create_unit_name,
        secret_level,
        knowledge_scope,
        knowledge_person
        )
         values(
         #{id},
         #{platformId},
         #{baseId},
         #{name},
         #{birth},
         #{education},
         #{technicalTitle},
         #{graduateSchool},
         #{majorStudied},
         #{postName},
         #{assumeOffice},
         #{workUnit},
         #{deleted},
         #{createDate},
         #{creator},
         #{updateDate},
         #{updator},
         #{createUnitId},
         #{createUnitName},
         #{secretLevel},
         #{knowledgeScope},
         #{knowledgePerson}
         )
    </insert>

    <update id="update" parameterType="com.pcitc.base.researchplatform.PlatformProjectModel">
        update kypt_member
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != '' ">
                name = #{name},
            </if>
            <if test="education != null and education != '' " >
                education = #{education},
            </if>
            <if test="technicalTitle != null and technicalTitle != '' " >
                technical_title = #{technicalTitle},
            </if>
            <if test="graduateSchool != null and graduateSchool != ''" >
                graduate_school = #{graduateSchool},
            </if>
            <if test="majorStudied != null and majorStudied != ''" >
                major_studied = #{majorStudied},
            </if>
            <if test="postName != null and postName != ''" >
                post_name = #{postName},
            </if>
            <if test="assumeOffice != null and assumeOffice != ''" >
                assume_office = #{assumeOffice},
            </if>
            <if test="workUnit != null and workUnit != ''" >
                work_unit = #{workUnit},
            </if>

            <if test="secretLevel != null and secretLevel != ''" >
                secret_level = #{secretLevel},
            </if>
            <if test="knowledgeScope != null and knowledgeScope != ''" >
                knowledge_scope = #{knowledgeScope},
            </if>
            <if test="knowledgePerson != null and knowledgePerson != ''" >
                knowledge_person = #{knowledgePerson}
            </if>

        </trim>
        where id = #{id}
    </update>

    <update id="delete" parameterType="java.lang.String">
            update kypt_member set deleted = '1' where id = #{id}
    </update>

    <insert id="batchSave" parameterType="java.util.List">
        insert into kypt_member(
        id,platform_id,
        base_id,name,birth,
        education,technical_title,
        graduate_school,
        major_studied,
        post_name,assume_office,
        work_unit,deleted,
        create_date,create_user,
        update_date,update_user,
        secret_level
        ) values
        <foreach collection="list" item="km" separator=",">
            (#{km.id},
            #{km.platformId},
            #{km.baseId},#{km.name},
            #{km.birth},#{km.education},
            #{km.technicalTitle},
            #{km.graduateSchool},
            #{km.majorStudied},
            #{km.postName},
            #{km.assumeOffice},
            #{km.workUnit},
            #{km.deleted},
            #{km.createDate},
            #{km.creator},
            #{km.updateDate},
            #{km.updator},
            #{km.secretLevel}
            )
        </foreach>
    </insert>

    <update id="updateMemberRole">
        update kypt_member set role = #{role}
        where id in (
        <foreach collection="ids"  item="id"  separator=",">
            #{id}
        </foreach>
        )
    </update>

</mapper>