<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pcitc.mapper.researchplatform.PlatformAchievementMapper">

    <resultMap id="BaseResultMap" type="com.pcitc.base.researchplatform.PlatformAchievementModel">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="platform_id" jdbcType="VARCHAR" property="platformId"/>
        <result column="base_id" jdbcType="VARCHAR" property="baseId"/>
        <result column="achievement_name" jdbcType="VARCHAR" property="achievementName"/>
        <result column="achievement_type" jdbcType="VARCHAR" property="achievementType"/>
        <result column="achievement_type_text" jdbcType="VARCHAR" property="achievementTypeText"/>
        <result column="applicant_unit" jdbcType="VARCHAR" property="applicantUnit"/>
        <result column="applicant_unit_text" jdbcType="VARCHAR" property="applicantUnitText"/>
        <result column="applicant_year" jdbcType="VARCHAR" property="applicantYear"/>
        <result column="deleted" jdbcType="VARCHAR" property="deleted"/>
        <result column="create_user" jdbcType="VARCHAR" property="creator"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="update_user" jdbcType="VARCHAR" property="updator"/>
        <result column="create_unit_id" jdbcType="VARCHAR" property="createUnitId"/>
        <result column="create_unit_name" jdbcType="VARCHAR" property="createUnitName"/>
    </resultMap>


    <sql id="Base_Column_List">
        id,
        platform_id,
        base_id,
        achievement_name,
        achievement_type,
        applicant_unit,
        applicant_year,
        deleted,
        create_user,
        create_date,
        update_user,
        update_date,
        create_unit_id,
        create_unit_name
       </sql>

    <select id="load" parameterType="java.lang.String" resultMap="BaseResultMap">
        select  * from view_kypt_achievement where id = #{id} and deleted != '1'
    </select>

    <select id="query" parameterType="java.util.Map" resultMap="BaseResultMap">
        select  * from view_kypt_achievement where 1=1 and platform_id = #{platformId}
            and deleted != '1'
        AND create_unit_id in
        <foreach item="item"  collection="childUnitIds.split(',')"  open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="query_COUNT" parameterType="java.util.Map" resultType="Long">
        select  count(*) from kypt_achievement where 1=1 and platform_id = #{platformId}
            and deleted != '1'
        AND create_unit_id in
        <foreach item="item"  collection="childUnitIds.split(',')"  open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>



    <insert id="add" parameterType="com.pcitc.base.researchplatform.PlatformTreatiseModel">
        insert into kypt_achievement(id,platform_id,base_id,achievement_name,achievement_type,applicant_unit,applicant_year,deleted,create_user,create_date,update_date,update_user,create_unit_id,create_unit_name)
         values(#{id},#{platformId},#{baseId},#{achievementName},#{achievementType},#{applicantUnit},#{applicantYear},#{deleted},#{creator},#{createDate},#{updateDate},#{updator},#{createUnitId},#{createUnitName})
    </insert>

    <update id="update" parameterType="com.pcitc.base.researchplatform.PlatformProjectModel">
        update kypt_achievement
        <trim prefix="SET" suffixOverrides=",">
            <if test="achievementName != null and achievementName != '' " >
                achievement_name = #{achievementName},
            </if>
            <if test="achievementType != null and achievementType != '' " >
                achievement_type = #{achievementType},
            </if>
            <if test="applicantUnit != null and applicantUnit != ''" >
                applicant_unit = #{applicantUnit},
            </if>
            <if test="applicantYear != null and applicantYear != ''" >
                applicant_year = #{applicantYear},
            </if>
        </trim>
        where id = #{id}
    </update>

    <insert id="batchSave" parameterType="java.util.List">
        insert into kypt_achievement(id,platform_id,base_id,achievement_name,achievement_type,applicant_unit,applicant_year,deleted,create_user,create_date,update_date,update_user,create_unit_id,create_unit_name) values
        <foreach collection="list" item="ka" separator=",">
            (#{ka.id},#{ka.platformId},#{ka.baseId},#{ka.achievementName},#{ka.achievementType},#{ka.applicantUnit},#{ka.applicantYear},#{ka.deleted},#{ka.creator},#{ka.createDate},#{ka.updateDate},#{ka.updator},#{ka.createUnitId},#{ka.createUnitName})
        </foreach>
    </insert>

    <update id="delete" parameterType="java.lang.String">
            update kypt_achievement set deleted = '1' where id = #{id}
    </update>
</mapper>