<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pcitc.mapper.other.HomePayMapper">
	
	
	 <!-- H1AM_KY_SY_1001_01--> 
     <resultMap id="H1AMKYSY100109ResultMap" type="com.pcitc.base.hana.report.H1AMKYSY100109" >
       <result column="G0GSDM"         property="g0GSDM"          jdbcType="VARCHAR" />
       <result column="G0GSJC"         property="g0GSJC"          jdbcType="VARCHAR" />
       <result column="G0PROJCODE"     property="g0PROJCODE"      jdbcType="VARCHAR" />
       <result column="G0YEARXM"       property="g0YEARXM"        jdbcType="VARCHAR" />
       <result column="G0PROJTXT"      property="g0PROJTXT"       jdbcType="VARCHAR" />
       <result column="G0XMGLLX"       property="g0XMGLLX"        jdbcType="VARCHAR" />
       <result column="G0XMGLLY"       property="g0XMGLLY"        jdbcType="VARCHAR" />
       <result column="G0XMGLJB"       property="g0XMGLJB"        jdbcType="VARCHAR" />
       <result column="G0XMLX"         property="g0XMLX"          jdbcType="VARCHAR" />
       <result column="G0XMZT"         property="g0XMZT"          jdbcType="VARCHAR" />
       <result column="G0XMZTMS"       property="g0XMZTMS"        jdbcType="VARCHAR" />
       <result column="G0GSSP"         property="g0GSSP"          jdbcType="VARCHAR" />
       <result column="G0XMDL"         property="g0XMDL"          jdbcType="VARCHAR" />
    
       <result column="K0BNXMWJSL"     property="k0BNXMWJSL"          jdbcType="VARCHAR" />
       <result column="K0BNXMYQSL"     property="k0BNXMYQSL"          jdbcType="VARCHAR" />
       <result column="K0BNXMZCSL"     property="k0BNXMZCSL"          jdbcType="VARCHAR" />
       <result column="K0BNXMWGSL"     property="k0BNXMWGSL"          jdbcType="VARCHAR" />
       <result column="K0BNXMXJYKSL"   property="k0BNXMXJYKSL"        jdbcType="VARCHAR" />
       <result column="K0BNXMXJSLSL"   property="k0BNXMXJSLSL"        jdbcType="VARCHAR" />
       <result column="K0BNXMXJZDSL"   property="k0BNXMXJZDSL"        jdbcType="VARCHAR" />
       <result column="K0BNXMXJGJSL"   property="k0BNXMXJGJSL"        jdbcType="VARCHAR" />
       <result column="K0BNXMXJSL"     property="k0BNXMXJSL"          jdbcType="VARCHAR" />
       <result column="K0BNXMXKSL"     property="k0BNXMXKSL"          jdbcType="VARCHAR" />
       <result column="K0BNXMZXSL"     property="k0BNXMZXSL"          jdbcType="VARCHAR" />
       <result column="K0SNJTBL"       property="k0SNJTBL"            jdbcType="VARCHAR" />
       <result column="K0XMXJGJBL"     property="k0XMXJGJBL"          jdbcType="VARCHAR" />
       <result column="K0XMXJZDBL"     property="k0XMXJZDBL"          jdbcType="VARCHAR" />
       <result column="K0XMXJSLBL"     property="k0XMXJSLBL"          jdbcType="VARCHAR" />
       <result column="K0XMXJYKBL"     property="k0XMXJYKBL"          jdbcType="VARCHAR" />
       <result column="K0XMZXSL"       property="k0XMZXSL"          jdbcType="VARCHAR" />
       <result column="XKXJ"           property="kKXJ"          jdbcType="VARCHAR" />
       <result column="K0BNXMXKSLK0BNXMXJSL"     property="k0BNXMXKSLK0BNXMXJSL"          jdbcType="VARCHAR" />
       <result column="K0BNYSJHJE"     property="k0BNYSJHJE"        jdbcType="VARCHAR" />
       <result column="K0BNXKJE"       property="k0BNXKJE"          jdbcType="VARCHAR" />
       <result column="K0BNXJJE"       property="k0BNXJJE"          jdbcType="VARCHAR" />
       <result column="K0BNZBJE"       property="k0BNZBJE"          jdbcType="VARCHAR" />
       <result column="K0BNFYJE"       property="k0BNFYJE"          jdbcType="VARCHAR" />
              
        
        
				
        
     </resultMap>
     
     
     
     
     <resultMap id="H1AMKYSY10010902ResultMap" type="com.pcitc.base.hana.report.H1AMKYSY10010902" >
       <result column="G0GSDM"         property="g0GSDM"          jdbcType="VARCHAR" />
       <result column="G0GSJC"         property="g0GSJC"          jdbcType="VARCHAR" />
       <result column="G0PROJCODE"     property="g0PROJCODE"      jdbcType="VARCHAR" />
       <result column="G0YEARXM"       property="g0YEARXM"        jdbcType="VARCHAR" />
       <result column="G0PROJTXT"      property="g0PROJTXT"       jdbcType="VARCHAR" />
       <result column="G0XMGLLX"       property="g0XMGLLX"        jdbcType="VARCHAR" />
       <result column="G0XMGLLY"       property="g0XMGLLY"        jdbcType="VARCHAR" />
       <result column="G0XMGLJB"       property="g0XMGLJB"        jdbcType="VARCHAR" />
       <result column="G0XMLX"         property="g0XMLX"          jdbcType="VARCHAR" />
       <result column="G0XMZT"         property="g0XMZT"          jdbcType="VARCHAR" />
       <result column="G0XMZTMS"       property="g0XMZTMS"        jdbcType="VARCHAR" />
       <result column="G0GSSP"         property="g0GSSP"          jdbcType="VARCHAR" />
       <result column="G0XMDL"         property="g0XMDL"          jdbcType="VARCHAR" />
    
       <result column="K0BNXMWJSL"     property="k0BNXMWJSL"          jdbcType="DECIMAL" />
       <result column="K0BNXMYQSL"     property="k0BNXMYQSL"          jdbcType="DECIMAL" />
       <result column="K0BNXMZCSL"     property="k0BNXMZCSL"          jdbcType="DECIMAL" />
       <result column="K0BNXMWGSL"     property="k0BNXMWGSL"          jdbcType="DECIMAL" />
       <result column="K0BNXMXJYKSL"   property="k0BNXMXJYKSL"        jdbcType="DECIMAL" />
       <result column="K0BNXMXJSLSL"   property="k0BNXMXJSLSL"        jdbcType="DECIMAL" />
       <result column="K0BNXMXJZDSL"   property="k0BNXMXJZDSL"        jdbcType="DECIMAL" />
       <result column="K0BNXMXJGJSL"   property="k0BNXMXJGJSL"        jdbcType="DECIMAL" />
       <result column="K0BNXMXJSL"     property="k0BNXMXJSL"          jdbcType="DECIMAL" />
       <result column="K0BNXMXKSL"     property="k0BNXMXKSL"          jdbcType="DECIMAL" />
       <result column="K0BNXMZXSL"     property="k0BNXMZXSL"          jdbcType="DECIMAL" />
       <result column="K0SNJTBL"       property="k0SNJTBL"            jdbcType="DECIMAL" />
       <result column="K0XMXJGJBL"     property="k0XMXJGJBL"          jdbcType="DECIMAL" />
       <result column="K0XMXJZDBL"     property="k0XMXJZDBL"          jdbcType="DECIMAL" />
       <result column="K0XMXJSLBL"     property="k0XMXJSLBL"          jdbcType="DECIMAL" />
       <result column="K0XMXJYKBL"     property="k0XMXJYKBL"          jdbcType="DECIMAL" />
       <result column="K0XMZXSL"       property="k0XMZXSL"          jdbcType="DECIMAL" />
       <result column="XKXJ"           property="kKXJ"          jdbcType="DECIMAL" />
       <result column="K0BNXMXKSLK0BNXMXJSL"     property="k0BNXMXKSLK0BNXMXJSL"          jdbcType="DECIMAL" />
       <result column="K0BNYSJHJE"     property="k0BNYSJHJE"        jdbcType="DECIMAL" />
       <result column="K0BNXKJE"       property="k0BNXKJE"          jdbcType="DECIMAL" />
       <result column="K0BNXJJE"       property="k0BNXJJE"          jdbcType="DECIMAL" />
       <result column="K0BNZBJE"       property="k0BNZBJE"          jdbcType="DECIMAL" />
       <result column="K0BNFYJE"       property="k0BNFYJE"          jdbcType="DECIMAL" />
              
        
        
				
        
     </resultMap>
     
     
     
     
     <!--  按项目数量 -->
     <select id="getPayByCountBar" resultMap="H1AMKYSY100109ResultMap" parameterType="java.util.Map" >
	       select
				     "G0XMDL",
				     round(sum("K0BNYSJHJE"),2) AS "K0BNYSJHJE",
				     round(sum("K0BNXKJE"), 2) AS "K0BNXKJE",
				     round(sum("K0BNXJJE"), 2) AS "K0BNXJJE" 
				from ( SELECT
				     case when "G0XMDL" = 'F' 
				    then '费用性 ' when "G0XMDL" = 'Z' 
				    then '资本性 ' 
				    end as "G0XMDL",
				     round( sum("K0BNGLFPHJECB")/10000,
				    2) AS "K0BNYSJHJE",
				     case when "G0XMXZ" LIKE '%新开%' 
				    THEN round( sum("K0BNGLFPHJECB")/10000,
				    2) 
				    END AS "K0BNXKJE",
				     case when "G0XMXZ" not LIKE '%新开%' 
				    then round( sum("K0BNGLFPHJECB")/10000,
				    2) 
				    end AS "K0BNXJJE" 
				    FROM ( SELECT
				     "G0GSSP",
				     "G0GSJC",
				     "G0XMXZ",
				     "G0XMDL",
				     "G0GSOR",
				     sum("K0BNYSJHJE") AS "K0BNYSJHJE",
				     sum("K0BNGLFPHJECB") AS "K0BNGLFPHJECB" 
				        FROM "_SYS_BIC"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY/H1AM_KY_SY_1001_01"('PLACEHOLDER' = ('$$PR_CALMONTH$$',
				     '${month}'),
				     'PLACEHOLDER' = ('$$PR_GSDM$$',
				     '${companyCode}')) 
				        group by "G0GSSP",
				    "G0GSJC",
				     "G0XMDL",
				    "G0GSOR",
				    "G0XMXZ" 
				        UNION ALL SELECT
				     "G0GSSP",
				     "G0GSJC",
				     "G0XMXZ",
				     "G0XMDL",
				     "G0GSOR",
				     sum("K0BNYSJHJE") AS "K0BNYSJHJE",
				     sum("K0BNGLFPHJECB") AS "K0BNGLFPHJECB" 
				        FROM "_SYS_BIC"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY/H1AM_KY_SY_1001_04"('PLACEHOLDER' = ('$$PR_CALMONTH$$',
				     '${month}'),
				     'PLACEHOLDER' = ('$$PR_GSDM$$',
				     '${companyCode}')) 
				        group by "G0GSSP",
				     "G0GSJC",
				    "G0XMDL",
				    "G0GSOR",
				    "G0XMXZ" ) 
				    group by "G0XMDL",
				    "G0XMXZ" ) 
				group by "G0XMDL"
	       
	    
	    
	    
			<!-- select 
			"G0XMDL",
			 round(sum("K0BNYSJHJE"),2) AS "K0BNYSJHJE",
	         round(sum("K0BNXKJE"),2) AS "K0BNXKJE",
	         round(sum("K0BNXJJE"),2)  AS "K0BNXJJE"
			from
			(
			  
			    SELECT   
			                           case when  "G0XMDL" = 'F' then '费用性 '
					                       when  "G0XMDL" = 'Z' then '资本性 '
					                   end as     "G0XMDL",
			                           round( sum("K0BNGLFPHJECB")/10000,2)  AS "K0BNYSJHJE",
			                           case when  "G0XMXZ" LIKE '%新开%' THEN round( sum("K0BNGLFPHJECB")/10000,2) 
					                   END AS "K0BNXKJE",   
					                   case when  "G0XMXZ" LIKE '%结转%'  then round( sum("K0BNGLFPHJECB")/10000,2) 
					                   end  AS "K0BNXJJE"    
			                FROM
			                (
			                SELECT
			                       "G0GSSP",
			                       "G0GSJC",
			                       "G0XMXZ",
			                       "G0XMDL",
			                       "G0GSOR",
			                     sum("K0BNYSJHJE")         AS "K0BNYSJHJE",     
			                      sum("K0BNGLFPHJECB")     AS "K0BNGLFPHJECB"
			                     FROM "_SYS_BIC"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY/H1AM_KY_SY_1001_01"('PLACEHOLDER' = ('$$PR_CALMONTH$$',
			                         '${month}'),
			                         'PLACEHOLDER' = ('$$PR_GSDM$$',
			                         '${companyCode}')) 
			                     group by "G0GSSP","G0GSJC", "G0XMDL","G0GSOR","G0XMXZ"
			                 UNION ALL 
			                  SELECT
			                      "G0GSSP",
			                      "G0GSJC",
			                      "G0XMXZ",                  
			                      "G0XMDL",
			                      "G0GSOR",
			                     sum("K0BNYSJHJE")         AS "K0BNYSJHJE",
			                     sum("K0BNGLFPHJECB")      AS "K0BNGLFPHJECB"
			                     FROM "_SYS_BIC"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY/H1AM_KY_SY_1001_04"('PLACEHOLDER' = ('$$PR_CALMONTH$$',
			                         '${month}'),
			                         'PLACEHOLDER' = ('$$PR_GSDM$$',
			                         '${companyCode}')) 
			                     group by "G0GSSP", "G0GSJC","G0XMDL","G0GSOR","G0XMXZ"       
			                  )
			                  group by  "G0XMDL","G0XMXZ"
			  )   group by  "G0XMDL" -->
	  </select>
	  
	   <select id="getPayByCountPie" resultMap="H1AMKYSY100109ResultMap" parameterType="java.util.Map" >
	       
			select 
			"G0XMDL",
			round(sum("K0BNYSJHJE"),2) as K0BNYSJHJE
			--round(sum("K0BNXKJE"),2),
			--round(sum("K0BNXJJE"),2) 
			from
			(
			    SELECT   
			                  case when  "G0XMDL" = 'F' then '费用性 '
					                       when  "G0XMDL" = 'Z' then '资本性 '
					                  end as     "G0XMDL",
			                   round( sum("K0BNGLFPHJECB")/10000,2)  AS "K0BNYSJHJE",
			                           case when  "G0XMXZ" LIKE '%新开%' THEN round( sum("K0BNGLFPHJECB")/10000,2) 
					                   END AS "K0BNXKJE",   
					                   case when  "G0XMXZ" LIKE '%结转%'  then round( sum("K0BNGLFPHJECB")/10000,2) 
					                   end  AS "K0BNXJJE"    
			                FROM
			                (
			                SELECT
			                       "G0GSSP",
			                       "G0GSJC",
			                       "G0XMXZ",
			                       "G0XMDL",
			                       "G0GSOR",
			                     sum("K0BNYSJHJE")         AS "K0BNYSJHJE",     
			                      sum("K0BNGLFPHJECB")     AS "K0BNGLFPHJECB"
			                     FROM "_SYS_BIC"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY/H1AM_KY_SY_1001_01"('PLACEHOLDER' = ('$$PR_CALMONTH$$',
			                         '${month}'),
			                         'PLACEHOLDER' = ('$$PR_GSDM$$',
			                         '${companyCode}')) 
			                     group by "G0GSSP","G0GSJC", "G0XMDL","G0GSOR","G0XMXZ"
			                 UNION ALL 
			                  SELECT
			                      "G0GSSP",
			                      "G0GSJC",
			                      "G0XMXZ",                  
			                      "G0XMDL",
			                      "G0GSOR",
			                     sum("K0BNYSJHJE")         AS "K0BNYSJHJE",
			                     sum("K0BNGLFPHJECB")      AS "K0BNGLFPHJECB"
			                     FROM "_SYS_BIC"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY/H1AM_KY_SY_1001_04"('PLACEHOLDER' = ('$$PR_CALMONTH$$',
			                         '${month}'),
			                         'PLACEHOLDER' = ('$$PR_GSDM$$',
			                         '${companyCode}')) 
			                     group by "G0GSSP", "G0GSJC","G0XMDL","G0GSOR","G0XMXZ"       
			                  )
			                  group by  "G0XMDL","G0XMXZ"
			  )   group by  "G0XMDL"
	   </select>
	  
	 <select id="getPayByCountCricle" resultMap="H1AMKYSY100109ResultMap" parameterType="java.util.Map" >
	 SELECT "G0XMXZ",  "G0XMDL", sum("K0BNYSJHJE") AS "K0BNYSJHJE"  FROM 
	  (
	     select
			    ROW_NUMBER() OVER() AS id,
				      case when "G0XMXZ" LIKE '%新开%'  then '新开课题' 
				         else  '结转课题'
				      end as "G0XMXZ",
				     "G0XMDL",
				     round(IFNULL(sum("K0BNYSJHJE"),
				    0),
				    2) as K0BNYSJHJE,
				     round(IFNULL(sum("K0BNXKJE"),
				    0),
				    2) as K0BNXKJE,
				     round(IFNULL(sum("K0BNXJJE"),
				    0),
				    2) as K0BNXJJE 
				from ( SELECT
				     "G0XMXZ",
				     case when "G0XMDL" = 'F' 
				    then '费用性 ' when "G0XMDL" = 'Z' 
				    then '资本性 ' 
				    end as "G0XMDL",
				     round( sum("K0BNGLFPHJECB")/10000,
				    2) AS "K0BNYSJHJE",
				     case when "G0XMXZ" LIKE '%新开%' 
				    THEN round( sum("K0BNGLFPHJECB")/10000,
				    2) 
				    END AS "K0BNXKJE",
				     case when "G0XMXZ" not LIKE '%新开%' 
				    then round( sum("K0BNGLFPHJECB")/10000,
				    2) 
				    end AS "K0BNXJJE" 
				    FROM ( SELECT
				     "G0GSSP",
				     "G0GSJC",
				     "G0XMXZ",
				     "G0XMDL",
				     "G0GSOR",
				     sum("K0BNYSJHJE") AS "K0BNYSJHJE",
				     sum("K0BNGLFPHJECB") AS "K0BNGLFPHJECB" 
				        FROM "_SYS_BIC"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY/H1AM_KY_SY_1001_01"('PLACEHOLDER' = ('$$PR_CALMONTH$$',
				     '${month}'),
				     'PLACEHOLDER' = ('$$PR_GSDM$$',
				     '${companyCode}')) 
				        group by "G0GSSP",
				    "G0GSJC",
				     "G0XMDL",
				    "G0GSOR",
				    "G0XMXZ" 
				        UNION ALL SELECT
				     "G0GSSP",
				     "G0GSJC",
				     "G0XMXZ",
				     "G0XMDL",
				     "G0GSOR",
				     sum("K0BNYSJHJE") AS "K0BNYSJHJE",
				     sum("K0BNGLFPHJECB") AS "K0BNGLFPHJECB" 
				        FROM "_SYS_BIC"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY/H1AM_KY_SY_1001_04"('PLACEHOLDER' = ('$$PR_CALMONTH$$',
				     '${month}'),
				     'PLACEHOLDER' = ('$$PR_GSDM$$',
				     '${companyCode}')) 
				        group by "G0GSSP",
				     "G0GSJC",
				    "G0XMDL",
				    "G0GSOR",
				    "G0XMXZ" ) 
				    group by "G0XMDL",
				    "G0XMXZ" ) 
				group by "G0XMDL",
				    "G0XMXZ"
				    
		) GROUP BY  "G0XMXZ", "G0XMDL" ORDER BY  "G0XMXZ", "G0XMDL"
	 </select>
	 
	 
	 <!--  按单位 -->
	  <select id="getPayByUnitBar" resultMap="H1AMKYSY100109ResultMap" parameterType="java.util.Map" >
	      SELECT 
		   A."G0GSSP",
		  IFNULL(sum(B."K0BNZBJE"),0) AS "K0BNZBJE",
		  IFNULL(sum(B."K0BNFYJE"),0) AS "K0BNFYJE"
		   FROM 
		   (
		          select 
		          distinct
		          "G0GSSP",
		          CASE WHEN "G0GSSP" LIKE '直属研究院' THEN 1
		               WHEN "G0GSSP" LIKE '分子公司' THEN 2
		               WHEN "G0GSSP" LIKE '集团单位' THEN 3
		               WHEN "G0GSSP" LIKE '外部单位' THEN 4 
		               WHEN "G0GSSP" LIKE '盈科' THEN 5
		               WHEN "G0GSSP" LIKE '休斯顿研发中心' THEN 6
		               WHEN "G0GSSP" LIKE '中东研发中心' THEN 7
		               WHEN "G0GSSP" LIKE '集团公司合计' THEN 8
		               WHEN "G0GSSP" LIKE '资产公司合计' THEN 9              
		          END        AS  "G0GSOR"
		         from "H"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY::H1AM_KY_ZH_0000_01.H1AM_KY_ZH_1000_03"
		         where   "G0MXMC" = 'H1AM_KY_ZH_1000_03' 
		    ) AS A 
		    LEFT JOIN 
		    (
							select 
							"G0GSSP",
							round(sum("K0BNYSJHJE"),2) AS K0BNYSJHJE,
							round(sum("K0BNZBJE"),2) AS K0BNZBJE,
							round(sum("K0BNFYJE"),2) AS  K0BNFYJE
							from
							( 
							    SELECT   
							                 "G0GSSP",
							                   round( sum("K0BNGLFPHJECB")/10000,2)  AS "K0BNYSJHJE",
							                   case when  "G0XMDL" = 'Z' THEN round( sum("K0BNGLFPHJECB")/10000,2) 
									           END AS "K0BNZBJE",   
									           case when  "G0XMDL" = 'F'  then round( sum("K0BNGLFPHJECB")/10000,2) 
									           end  AS "K0BNFYJE"    
							                FROM
							                (
							                SELECT
							                       "G0GSSP",
							                       "G0GSJC",
							                       "G0XMXZ",
							                       "G0XMDL",
							                       "G0GSOR",
							                     sum("K0BNYSJHJE")         AS "K0BNYSJHJE",     
							                      sum("K0BNGLFPHJECB")     AS "K0BNGLFPHJECB"
							                     FROM "_SYS_BIC"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY/H1AM_KY_SY_1001_01"('PLACEHOLDER' = ('$$PR_CALMONTH$$',
							                         '${month}'),
							                         'PLACEHOLDER' = ('$$PR_GSDM$$',
							                         '${companyCode}')) 
							                     group by "G0GSSP","G0GSJC", "G0XMDL","G0GSOR","G0XMXZ"
							                 UNION ALL 
							                  SELECT
							                      "G0GSSP",
							                      "G0GSJC",
							                      "G0XMXZ",                  
							                      "G0XMDL",
							                      "G0GSOR",
							                     sum("K0BNYSJHJE")         AS "K0BNYSJHJE",
							                     sum("K0BNGLFPHJECB")      AS "K0BNGLFPHJECB"
							                     FROM "_SYS_BIC"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY/H1AM_KY_SY_1001_04"('PLACEHOLDER' = ('$$PR_CALMONTH$$',
							                         '${month}'),
							                         'PLACEHOLDER' = ('$$PR_GSDM$$',
							                         '${companyCode}')) 
							                     group by "G0GSSP", "G0GSJC","G0XMDL","G0GSOR","G0XMXZ"       
							                  )
							                  group by  "G0GSSP","G0XMDL"
							  )   group by  "G0GSSP"
		
		    )   AS B 
		    ON A."G0GSSP" = B."G0GSSP"
		    GROUP BY A."G0GSSP",A."G0GSOR"
		    ORDER BY "G0GSOR" 
	  </select>
	  
	  <select id="getPayByUnitPie" resultMap="H1AMKYSY100109ResultMap" parameterType="java.util.Map" >
	        SELECT 
		   A."G0GSSP",
		  IFNULL(sum(B."K0BNYSJHJE"),0) AS "K0BNYSJHJE"
		   FROM 
		   (
		          select 
		          distinct
		          "G0GSSP",
		          CASE WHEN "G0GSSP" LIKE '直属研究院' THEN 1
		               WHEN "G0GSSP" LIKE '分子公司' THEN 2
		               WHEN "G0GSSP" LIKE '集团单位' THEN 3
		               WHEN "G0GSSP" LIKE '外部单位' THEN 4 
		               WHEN "G0GSSP" LIKE '盈科' THEN 5
		               WHEN "G0GSSP" LIKE '休斯顿研发中心' THEN 6
		               WHEN "G0GSSP" LIKE '中东研发中心' THEN 7
		               WHEN "G0GSSP" LIKE '二、集团公司合计' THEN 8
		               WHEN "G0GSSP" LIKE '三、资产公司合计' THEN 9              
		          END        AS  "G0GSOR"
		         from "H"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY::H1AM_KY_ZH_0000_01.H1AM_KY_ZH_1000_03"
		         where   "G0MXMC" = 'H1AM_KY_ZH_1000_03' 
		    ) AS A 
		    LEFT JOIN 
		    (
							select 
							"G0GSSP",
							round(sum("K0BNYSJHJE"),2) AS K0BNYSJHJE,
							round(sum("K0BNZBJE"),2) AS K0BNZBJE,
							round(sum("K0BNFYJE"),2) AS  K0BNFYJE
							from
							( 
							    SELECT   
							                 "G0GSSP",
							                   round( sum("K0BNGLFPHJECB")/10000,2)  AS "K0BNYSJHJE",
							                   case when  "G0XMDL" = 'Z' THEN round( sum("K0BNGLFPHJECB")/10000,2) 
									           END AS "K0BNZBJE",   
									           case when  "G0XMDL" = 'F'  then round( sum("K0BNGLFPHJECB")/10000,2) 
									           end  AS "K0BNFYJE"    
							                FROM
							                (
							                SELECT
							                       "G0GSSP",
							                       "G0GSJC",
							                       "G0XMXZ",
							                       "G0XMDL",
							                       "G0GSOR",
							                     sum("K0BNYSJHJE")         AS "K0BNYSJHJE",     
							                      sum("K0BNGLFPHJECB")     AS "K0BNGLFPHJECB"
							                     FROM "_SYS_BIC"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY/H1AM_KY_SY_1001_01"('PLACEHOLDER' = ('$$PR_CALMONTH$$',
							                         '${month}'),
							                         'PLACEHOLDER' = ('$$PR_GSDM$$',
							                         '${companyCode}')) 
							                     group by "G0GSSP","G0GSJC", "G0XMDL","G0GSOR","G0XMXZ"
							                 UNION ALL 
							                  SELECT
							                      "G0GSSP",
							                      "G0GSJC",
							                      "G0XMXZ",                  
							                      "G0XMDL",
							                      "G0GSOR",
							                     sum("K0BNYSJHJE")         AS "K0BNYSJHJE",
							                     sum("K0BNGLFPHJECB")      AS "K0BNGLFPHJECB"
							                     FROM "_SYS_BIC"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY/H1AM_KY_SY_1001_04"('PLACEHOLDER' = ('$$PR_CALMONTH$$',
							                         '${month}'),
							                         'PLACEHOLDER' = ('$$PR_GSDM$$',
							                         '${companyCode}')) 
							                     group by "G0GSSP", "G0GSJC","G0XMDL","G0GSOR","G0XMXZ"       
							                  )
							                  group by  "G0GSSP","G0XMDL"
							  )   group by  "G0GSSP"
		
		    )   AS B 
		    ON A."G0GSSP" = B."G0GSSP"
		    GROUP BY A."G0GSSP",A."G0GSOR"
		    ORDER BY "G0GSOR" 
	  </select>
	  <!-- 只要8大研究院 ,支出 K0BNGLFPHJECB替换K0BNYSJHJE -->
	  <select id="getPayByUnitCricle" resultMap="H1AMKYSY100109ResultMap" parameterType="java.util.Map" >
	  
	   select 
	       ROW_NUMBER() OVER() AS id, 
			"G0XMDL",
			"G0GSSP",
			"G0GSJC",
			
			round(sum("K0BNYSJHJE"),2) as K0BNYSJHJE
			from
			( 
			    SELECT      "G0GSSP", "G0GSJC",
			                  case when  "G0XMDL" = 'F' then '费用性 '
					                       when  "G0XMDL" = 'Z' then '资本性 '
					                  end as     "G0XMDL",
			                   round( sum("K0BNGLFPHJECB")/10000,2)  AS "K0BNYSJHJE",
			                           case when  "G0XMXZ" LIKE '%新开%' THEN round( sum("K0BNGLFPHJECB")/10000,2) 
					                   END AS "K0BNXKJE",   
					                   case when  "G0XMXZ" LIKE '%结转%'  then round( sum("K0BNGLFPHJECB")/10000,2) 
					                   end  AS "K0BNXJJE"    
			                FROM
			                (
			                SELECT
			                       "G0GSSP",
			                       "G0GSJC",
			                       "G0XMXZ",
			                       "G0XMDL",
			                       "G0GSOR",
			                     sum("K0BNYSJHJE")         AS "K0BNYSJHJE",     
			                      sum("K0BNGLFPHJECB")     AS "K0BNGLFPHJECB"
			                     FROM "_SYS_BIC"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY/H1AM_KY_SY_1001_01"('PLACEHOLDER' = ('$$PR_CALMONTH$$',
			                         '${month}'),
			                         'PLACEHOLDER' = ('$$PR_GSDM$$',
			                         '${companyCode}')) 
			                     group by "G0GSSP","G0GSJC", "G0XMDL","G0GSOR","G0XMXZ"
			                 UNION ALL 
			                  SELECT
			                      "G0GSSP",
			                      "G0GSJC",
			                      "G0XMXZ",                  
			                      "G0XMDL",
			                      "G0GSOR",
			                     sum("K0BNYSJHJE")         AS "K0BNYSJHJE",
			                     sum("K0BNGLFPHJECB")      AS "K0BNGLFPHJECB"
			                     FROM "_SYS_BIC"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY/H1AM_KY_SY_1001_04"('PLACEHOLDER' = ('$$PR_CALMONTH$$',
			                         '${month}'),
			                         'PLACEHOLDER' = ('$$PR_GSDM$$',
			                         '${companyCode}')) 
			                     group by "G0GSSP", "G0GSJC","G0XMDL","G0GSOR","G0XMXZ"       
			                  )
			                  group by  "G0XMDL","G0XMXZ","G0GSJC","G0GSSP"
			  )   group by  "G0GSJC","G0XMDL","G0GSSP"
			  
	      
	  </select> 
	  
	  
	  <!--  按分布 只要8大研究院  支出 K0BNGLFPHJECB 替换K0BNYSJHJE-->
	 <select id="getPayByDistributeBar" resultMap="H1AMKYSY100109ResultMap" parameterType="java.util.Map" >
	   select 
			 "G0GSJC",
			round(sum("K0BNYSJHJE"),2) as K0BNYSJHJE,
			round(sum("K0BNZBJE"),2) as K0BNZBJE,
			round(sum("K0BNFYJE"),2) as K0BNFYJE 
			from
			( 
			    SELECT   
			                  "G0GSJC",
			                  "G0GSOR",
			                   round( sum("K0BNGLFPHJECB")/10000,2)  AS "K0BNYSJHJE",
			                   case when  "G0XMDL" = 'Z' THEN round( sum("K0BNGLFPHJECB")/10000,2) 
					           END AS "K0BNZBJE",   
					           case when  "G0XMDL" = 'F'  then round( sum("K0BNGLFPHJECB")/10000,2) 
					           end  AS "K0BNFYJE"    
		
			                FROM
			                (
			                SELECT
			                       "G0GSSP",
			                       "G0GSJC",
			                       "G0XMXZ",
			                       "G0XMDL",
			                       "G0GSOR",
			                     sum("K0BNYSJHJE")         AS "K0BNYSJHJE",     
			                      sum("K0BNGLFPHJECB")     AS "K0BNGLFPHJECB"
			                     FROM "_SYS_BIC"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY/H1AM_KY_SY_1001_01"('PLACEHOLDER' = ('$$PR_CALMONTH$$',
			                         '${month}'),
			                         'PLACEHOLDER' = ('$$PR_GSDM$$',
			                         '${companyCode}')) 
			                     group by "G0GSSP","G0GSJC", "G0XMDL","G0GSOR","G0XMXZ"
			                 UNION ALL 
			                  SELECT
			                      "G0GSSP",
			                      "G0GSJC",
			                      "G0XMXZ",                  
			                      "G0XMDL",
			                      "G0GSOR",
			                     sum("K0BNYSJHJE")         AS "K0BNYSJHJE",
			                     sum("K0BNGLFPHJECB")      AS "K0BNGLFPHJECB"
			                     FROM "_SYS_BIC"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY/H1AM_KY_SY_1001_04"('PLACEHOLDER' = ('$$PR_CALMONTH$$',
			                         '${month}'),
			                         'PLACEHOLDER' = ('$$PR_GSDM$$',
			                         '${companyCode}')) 
			                     group by "G0GSSP", "G0GSJC","G0XMDL","G0GSOR","G0XMXZ"       
			                  )
			                  group by  "G0GSJC","G0XMDL","G0GSOR"
			  )   group by   "G0GSJC","G0GSOR"
			  ORDER BY "G0GSOR"
	   
	  </select>
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  <sql id="selectCondition02">
	     <trim prefix="WHERE" prefixOverrides="AND|OR"> 
	     <if test="g0PROJTXT != null  and g0PROJTXT !='' ">            AND G0PROJTXT like '%${g0PROJTXT}%'</if>
	     <if test="g0GSDM != null   and g0GSDM !=''  ">                AND G0GSDM  = '${g0GSDM}'</if>
	     <if test="sqlStr != null   and sqlStr !='' ">                 ${sqlStr}</if>
	     <if test="g0XMGLLX != null   and g0XMGLLX !=''  ">            AND G0XMGLLX  = '${g0XMGLLX}'</if>
	     <if test="g0XMGLLY != null   and g0XMGLLY !=''  ">            AND G0XMGLLY  = '${g0XMGLLY}'</if>
	     <if test="g0XMGLJB != null   and g0XMGLJB !=''  ">            AND G0XMGLJB  = '${g0XMGLJB}'</if>
	     <if test="g0XMLXMS != null   and g0XMLXMS !=''  ">            AND G0XMLXMS  = '${g0XMLXMS}'</if>
	     <if test="g0XMZTMS != null   and g0XMZTMS !=''  ">            AND G0XMZTMS  = '${g0XMZTMS}'</if> 
	   </trim>
	</sql>
	  
	  
     
	 <select id="getTableList" resultMap="H1AMKYSY100109ResultMap" parameterType="java.util.Map" >
	    select
							 "G0CALD",
							 "G0GSDM",
							 "G0GSJC",
							 "G0FLAG",
							 "G0PROJCODE",
							 "G0PROJTXT",
							 "G0XMGLLX",
							 "G0XMGLLY",
							 "G0XMGLJB",
							 "G0XMLX",
							 "G0XMLXMS",
							 "G0XMZT",
							 "G0XMZTMS",
							 "G0XMXZ",
							 "G0XMDL",
							 "G0XMJD",
							 round(sum("K0BNYSJHJE"),0) AS "K0BNYSJHJE",
							 round(sum("K0BNGLFPHJECB"),0) AS "K0BNGLFPHJECB",
							 round(sum("K0BNYSL"),0) AS "K0BNYSL",
							 round(sum("K0BNYSJY"),0) AS "K0BNYSJY",
							 round(sum("K0LJYSL"),0) AS "K0LJYSL",
							 round(sum("K0ZTYSJE"),0) AS "K0ZTYSJE",
							 round(sum("K0LJYSJY") ,0)AS "K0LJYSJY"
			
			from
			(
			        SELECT
							 "G0CALD",
							 "G0GSDM",
							 "G0GSJC",
							 "G0FLAG",
							 "G0PROJCODE",
							 "G0PROJTXT",
							 "G0XMGLLX",
							 "G0XMGLLY",
							 "G0XMGLJB",
							 "G0XMLX",
							 "G0XMLXMS",
							 "G0XMZT",
							 "G0XMZTMS",
							 "G0XMXZ",
							 "G0XMDL",
							 "G0XMJD",
							 round(sum("K0BNYSJHJE"),0) AS "K0BNYSJHJE",
							 round(sum("K0BNGLFPHJECB"),0) AS "K0BNGLFPHJECB",
							 round(sum("K0BNYSL"),0) AS "K0BNYSL",
							 round(sum("K0BNYSJY"),0) AS "K0BNYSJY",
							 round(sum("K0LJYSL"),0) AS "K0LJYSL",
							 round(sum("K0ZTYSJE"),0) AS "K0ZTYSJE",
							 round(sum("K0LJYSJY") ,0)AS "K0LJYSJY"
						FROM "_SYS_BIC"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY/H1AM_KY_SY_1001_01"('PLACEHOLDER' = ('$$PR_CALMONTH$$',
							 '${month}'),
							 'PLACEHOLDER' = ('$$PR_GSDM$$',
							 '${companyCode}')) 
						<include refid="selectCondition02"/>
						GROUP BY "G0CALD",
							 "G0GSDM",
							 "G0GSJC",
							 "G0FLAG",
							 "G0PROJCODE",
							 "G0PROJTXT",
							 "G0XMGLLX",
							 "G0XMGLLY",
							 "G0XMGLJB",
							 "G0XMLX",
							 "G0XMLXMS",
							 "G0XMZT",
							 "G0XMZTMS",
							 "G0XMXZ",
							 "G0XMDL",
							 "G0XMJD" 
				
				union all 
				
			    SELECT
							 "G0CALD",
							 "G0GSDM",
							 "G0GSJC",
							 "G0FLAG",
							 "G0PROJCODE",
							 "G0PROJTXT",
							 "G0XMGLLX",
							 "G0XMGLLY",
							 "G0XMGLJB",
							 "G0XMLX",
							 "G0XMLXMS",
							 "G0XMZT",
							 "G0XMZTMS",
							 "G0XMXZ",
							 "G0XMDL",
							 "G0XMJD",
							 round(sum("K0BNYSJHJE"),0) AS "K0BNYSJHJE",
							 round(sum("K0BNGLFPHJECB"),0) AS "K0BNGLFPHJECB",
							 round(sum("K0BNYSL"),0) AS "K0BNYSL",
							 round(sum("K0BNYSJY"),0) AS "K0BNYSJY",
							 round(sum("K0LJYSL"),0) AS "K0LJYSL",
							 round(sum("K0ZTYSJE"),0) AS "K0ZTYSJE",
							 round(sum("K0LJYSJY") ,0)AS "K0LJYSJY"
						FROM "_SYS_BIC"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY/H1AM_KY_SY_1001_04"('PLACEHOLDER' = ('$$PR_CALMONTH$$',
							 '${month}'),
							 'PLACEHOLDER' = ('$$PR_GSDM$$',
							 '${companyCode}')) 
						<include refid="selectCondition02"/>
						GROUP BY "G0CALD",
							 "G0GSDM",
							 "G0GSJC",
							 "G0FLAG",
							 "G0PROJCODE",
							 "G0PROJTXT",
							 "G0XMGLLX",
							 "G0XMGLLY",
							 "G0XMGLJB",
							 "G0XMLX",
							 "G0XMLXMS",
							 "G0XMZT",
							 "G0XMZTMS",
							 "G0XMXZ",
							 "G0XMDL",
							 "G0XMJD" 				 
				   )
				GROUP BY "G0CALD",
						 "G0GSDM",
						 "G0GSJC",
						 "G0FLAG",
						 "G0PROJCODE",
						 "G0PROJTXT",
						 "G0XMGLLX",
						 "G0XMGLLY",
						 "G0XMGLJB",
						 "G0XMLX",
						 "G0XMLXMS",
						 "G0XMZT",
						 "G0XMZTMS",
						 "G0XMXZ",
						 "G0XMDL",
						 "G0XMJD" 		
	    <if test="pageSize != null and pageSize !=''">  limit ${pageSize} offset  ${start} </if>   
	 </select>
	 
    <select id="getTableCount" resultType="java.lang.Integer" parameterType="java.util.Map"> 
         select count(*) from (
         select
							 "G0CALD",
							 "G0GSDM",
							 "G0GSJC",
							 "G0FLAG",
							 "G0PROJCODE",
							 "G0PROJTXT",
							 "G0XMGLLX",
							 "G0XMGLLY",
							 "G0XMGLJB",
							 "G0XMLX",
							 "G0XMLXMS",
							 "G0XMZT",
							 "G0XMZTMS",
							 "G0XMXZ",
							 "G0XMDL",
							 "G0XMJD",
							 round(sum("K0BNYSJHJE"),0) AS "K0BNYSJHJE",
							 round(sum("K0BNGLFPHJECB"),0) AS "K0BNGLFPHJECB",
							 round(sum("K0BNYSL"),0) AS "K0BNYSL",
							 round(sum("K0BNYSJY"),0) AS "K0BNYSJY",
							 round(sum("K0LJYSL"),0) AS "K0LJYSL",
							 round(sum("K0ZTYSJE"),0) AS "K0ZTYSJE",
							 round(sum("K0LJYSJY") ,0)AS "K0LJYSJY"
			
			from
			(
			        SELECT
							 "G0CALD",
							 "G0GSDM",
							 "G0GSJC",
							 "G0FLAG",
							 "G0PROJCODE",
							 "G0PROJTXT",
							 "G0XMGLLX",
							 "G0XMGLLY",
							 "G0XMGLJB",
							 "G0XMLX",
							 "G0XMLXMS",
							 "G0XMZT",
							 "G0XMZTMS",
							 "G0XMXZ",
							 "G0XMDL",
							 "G0XMJD",
							 round(sum("K0BNYSJHJE"),0) AS "K0BNYSJHJE",
							 round(sum("K0BNGLFPHJECB"),0) AS "K0BNGLFPHJECB",
							 round(sum("K0BNYSL"),0) AS "K0BNYSL",
							 round(sum("K0BNYSJY"),0) AS "K0BNYSJY",
							 round(sum("K0LJYSL"),0) AS "K0LJYSL",
							 round(sum("K0ZTYSJE"),0) AS "K0ZTYSJE",
							 round(sum("K0LJYSJY") ,0)AS "K0LJYSJY"
						FROM "_SYS_BIC"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY/H1AM_KY_SY_1001_01"('PLACEHOLDER' = ('$$PR_CALMONTH$$',
							 '${month}'),
							 'PLACEHOLDER' = ('$$PR_GSDM$$',
							 '${companyCode}')) 
						<include refid="selectCondition02"/>
						GROUP BY "G0CALD",
							 "G0GSDM",
							 "G0GSJC",
							 "G0FLAG",
							 "G0PROJCODE",
							 "G0PROJTXT",
							 "G0XMGLLX",
							 "G0XMGLLY",
							 "G0XMGLJB",
							 "G0XMLX",
							 "G0XMLXMS",
							 "G0XMZT",
							 "G0XMZTMS",
							 "G0XMXZ",
							 "G0XMDL",
							 "G0XMJD" 
				
				union all 
				
			    SELECT
							 "G0CALD",
							 "G0GSDM",
							 "G0GSJC",
							 "G0FLAG",
							 "G0PROJCODE",
							 "G0PROJTXT",
							 "G0XMGLLX",
							 "G0XMGLLY",
							 "G0XMGLJB",
							 "G0XMLX",
							 "G0XMLXMS",
							 "G0XMZT",
							 "G0XMZTMS",
							 "G0XMXZ",
							 "G0XMDL",
							 "G0XMJD",
							 round(sum("K0BNYSJHJE"),0) AS "K0BNYSJHJE",
							 round(sum("K0BNGLFPHJECB"),0) AS "K0BNGLFPHJECB",
							 round(sum("K0BNYSL"),0) AS "K0BNYSL",
							 round(sum("K0BNYSJY"),0) AS "K0BNYSJY",
							 round(sum("K0LJYSL"),0) AS "K0LJYSL",
							 round(sum("K0ZTYSJE"),0) AS "K0ZTYSJE",
							 round(sum("K0LJYSJY") ,0)AS "K0LJYSJY"
						FROM "_SYS_BIC"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY/H1AM_KY_SY_1001_04"('PLACEHOLDER' = ('$$PR_CALMONTH$$',
							 '${month}'),
							 'PLACEHOLDER' = ('$$PR_GSDM$$',
							 '${companyCode}')) 
						<include refid="selectCondition02"/>
						GROUP BY "G0CALD",
							 "G0GSDM",
							 "G0GSJC",
							 "G0FLAG",
							 "G0PROJCODE",
							 "G0PROJTXT",
							 "G0XMGLLX",
							 "G0XMGLLY",
							 "G0XMGLJB",
							 "G0XMLX",
							 "G0XMLXMS",
							 "G0XMZT",
							 "G0XMZTMS",
							 "G0XMXZ",
							 "G0XMDL",
							 "G0XMJD" 				 
				   )
				GROUP BY "G0CALD",
						 "G0GSDM",
						 "G0GSJC",
						 "G0FLAG",
						 "G0PROJCODE",
						 "G0PROJTXT",
						 "G0XMGLLX",
						 "G0XMGLLY",
						 "G0XMGLJB",
						 "G0XMLX",
						 "G0XMLXMS",
						 "G0XMZT",
						 "G0XMZTMS",
						 "G0XMXZ",
						 "G0XMDL",
						 "G0XMJD" 	
						 )
     </select>
     
	  <!-- 支出 -->
	  <select id="pay_01" resultMap="H1AMKYSY10010902ResultMap" parameterType="java.util.Map" >
	       select
				     "G0XMDL",
				     round(round(sum("K0BNXKJE")/100000000,2)+round(sum("K0BNXJJE")/100000000,2),2) AS "K0BNYSJHJE",
				     round(sum("K0BNXKJE")/100000000,2) AS "K0BNXKJE",
				     round(sum("K0BNXJJE")/100000000,2) AS "K0BNXJJE" 
				from ( SELECT
				     case when "G0XMDL" = 'F' then '费用性 '
				          when "G0XMDL" = 'Z' then '资本性 ' 
				    end as "G0XMDL",
				     sum("K0BNGLFPHJECB") AS "K0BNYSJHJE",
				     case when "G0XMXZ" LIKE '%新开%' 
				          THEN sum("K0BNGLFPHJECB")
				     END AS "K0BNXKJE",
				     case when "G0XMXZ" not LIKE '%新开%' 
				       then sum("K0BNGLFPHJECB")
				    end AS "K0BNXJJE" 
				    FROM (
				     SELECT
				     "G0GSSP",
				     "G0GSJC",
				     "G0XMXZ",
				     "G0XMDL",
				     "G0GSOR",
				     sum("K0BNYSJHJE") AS "K0BNYSJHJE",
				     sum("K0BNGLFPHJECB") AS "K0BNGLFPHJECB" 
				        FROM "_SYS_BIC"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY/H1AM_KY_SY_1001_01"('PLACEHOLDER' = ('$$PR_CALMONTH$$',
				     '${month}'),
				     'PLACEHOLDER' = ('$$PR_GSDM$$',
				     '${companyCode}')) 
				        group by "G0GSSP",
				     "G0GSJC",
				     "G0XMDL",
				     "G0GSOR",
				     "G0XMXZ" 
				        UNION ALL SELECT
				     "G0GSSP",
				     "G0GSJC",
				     "G0XMXZ",
				     "G0XMDL",
				     "G0GSOR",
				     sum("K0BNYSJHJE") AS "K0BNYSJHJE",
				     sum("K0BNGLFPHJECB") AS "K0BNGLFPHJECB" 
				        FROM "_SYS_BIC"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY/H1AM_KY_SY_1001_04"('PLACEHOLDER' = ('$$PR_CALMONTH$$',
				     '${month}'),
				     'PLACEHOLDER' = ('$$PR_GSDM$$',
				     '${companyCode}')) 
				        group by "G0GSSP",
				     "G0GSJC",
				     "G0XMDL",
				     "G0GSOR",
				     "G0XMXZ" ) 
				    group by "G0XMDL",
				     "G0XMXZ" ) 
				group by "G0XMDL"
	  </select>
	  
	  
	   <select id="pay_02" resultMap="H1AMKYSY100109ResultMap" parameterType="java.util.Map" >
	    SELECT
		     "G0XMXZ",
		     "G0XMDL",
		    round(sum("K0BNYSJHJE")/100000000,2) AS "K0BNYSJHJE" 
		FROM ( select
		     ROW_NUMBER() OVER() AS id,
		     case when "G0XMXZ" LIKE '%新开%' 
		    then '新开课题' 
		    else '结转课题' 
		    end as "G0XMXZ",
		     "G0XMDL",
		     IFNULL(sum("K0BNYSJHJE"),0) as K0BNYSJHJE,
		     IFNULL(sum("K0BNXKJE"),0)   as K0BNXKJE,
		     IFNULL(sum("K0BNXJJE"),0)   as K0BNXJJE 
		    from ( SELECT
		     "G0XMXZ",
		     case when "G0XMDL" = 'F' 
		        then '费用性 ' when "G0XMDL" = 'Z' 
		        then '资本性 ' 
		        end as "G0XMDL",
		      sum("K0BNGLFPHJECB") AS "K0BNYSJHJE",
		     case when "G0XMXZ" LIKE '%新开%' 
		        THEN  sum("K0BNGLFPHJECB") 
		        END AS "K0BNXKJE",
		     case when "G0XMXZ" not LIKE '%新开%' 
		        then sum("K0BNGLFPHJECB") 
		        end AS "K0BNXJJE" 
		        FROM ( SELECT
		     "G0GSSP",
		     "G0GSJC",
		     "G0XMXZ",
		     "G0XMDL",
		     "G0GSOR",
		     sum("K0BNYSJHJE") AS "K0BNYSJHJE",
		     sum("K0BNGLFPHJECB") AS "K0BNGLFPHJECB" 
		            FROM "_SYS_BIC"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY/H1AM_KY_SY_1001_01"('PLACEHOLDER' = ('$$PR_CALMONTH$$',
		     '${month}'),
		     'PLACEHOLDER' = ('$$PR_GSDM$$',
		     '${companyCode}')) 
		            group by "G0GSSP",
		     "G0GSJC",
		     "G0XMDL",
		     "G0GSOR",
		     "G0XMXZ" 
		            UNION ALL SELECT
		     "G0GSSP",
		     "G0GSJC",
		     "G0XMXZ",
		     "G0XMDL",
		     "G0GSOR",
		     sum("K0BNYSJHJE") AS "K0BNYSJHJE",
		     sum("K0BNGLFPHJECB") AS "K0BNGLFPHJECB" 
		            FROM "_SYS_BIC"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY/H1AM_KY_SY_1001_04"('PLACEHOLDER' = ('$$PR_CALMONTH$$',
		     '${month}'),
		     'PLACEHOLDER' = ('$$PR_GSDM$$',
		     '${companyCode}')) 
		            group by "G0GSSP",
		     "G0GSJC",
		     "G0XMDL",
		     "G0GSOR",
		     "G0XMXZ" ) 
		        group by "G0XMDL",
		     "G0XMXZ" ) 
		    group by "G0XMDL",
		     "G0XMXZ" ) 
		GROUP BY "G0XMXZ",
		     "G0XMDL" 
		ORDER BY "G0XMXZ",
		     "G0XMDL"
	 </select>
	  
	  <select id="pay_03" resultMap="H1AMKYSY100109ResultMap" parameterType="java.util.Map" >
	   select
			    "G0GSJC",
			     
			     round(sum("K0BNYSJHJE")/100000000,4)   as K0BNYSJHJE,
			     
			     round(sum("K0BNZBJE")/100000000,4)   as K0BNZBJE,
			     round(sum("K0BNFYJE")/100000000,4)  as K0BNFYJE 
			from ( SELECT
			     "G0GSJC",
			     "G0GSOR",
			      sum("K0BNGLFPHJECB")AS "K0BNYSJHJE",
			     case when "G0XMDL" = 'Z' 
			    THEN  sum("K0BNGLFPHJECB")
			    END AS "K0BNZBJE",
			     case when "G0XMDL" = 'F' 
			    then  sum("K0BNGLFPHJECB")
			    end AS "K0BNFYJE" 
			    FROM ( SELECT
			     "G0GSSP",
			     "G0GSJC",
			     "G0XMXZ",
			     "G0XMDL",
			     "G0GSOR",
			     sum("K0BNYSJHJE") AS "K0BNYSJHJE",
			     sum("K0BNGLFPHJECB") AS "K0BNGLFPHJECB" 
			        FROM "_SYS_BIC"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY/H1AM_KY_SY_1001_01"('PLACEHOLDER' = ('$$PR_CALMONTH$$',
			     '${month}'),
			     'PLACEHOLDER' = ('$$PR_GSDM$$',
			     '${companyCode}')) 
			        group by "G0GSSP",
			    "G0GSJC",
			     "G0XMDL",
			    "G0GSOR",
			    "G0XMXZ" 
			        UNION ALL SELECT
			     "G0GSSP",
			     "G0GSJC",
			     "G0XMXZ",
			     "G0XMDL",
			     "G0GSOR",
			     sum("K0BNYSJHJE") AS "K0BNYSJHJE",
			     sum("K0BNGLFPHJECB") AS "K0BNGLFPHJECB" 
			        FROM "_SYS_BIC"."SINOPEC.ZBYY.KJBYY.001_KYGLFXYY/H1AM_KY_SY_1001_04"('PLACEHOLDER' = ('$$PR_CALMONTH$$',
			     '${month}'),
			     'PLACEHOLDER' = ('$$PR_GSDM$$',
			     '${companyCode}')) 
			        group by "G0GSSP",
			     "G0GSJC",
			    "G0XMDL",
			    "G0GSOR",
			    "G0XMXZ" ) 
			    group by "G0GSJC",
			    "G0XMDL",
			    "G0GSOR" ) 
			   
			group by "G0GSJC",
			    "G0GSOR" 
			ORDER BY "G0GSOR"


	   
	  </select>
	  
	  
     
</mapper>